# MMC Implementation

## Correct Implementation

In [1]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import warnings
import skmob
from tqdm import tqdm
import sys
sys.path.append('../')
from src.geo_utils import (get_clusters_from_tdf,
                            assign_tdf_points_to_clusters,
                            get_mmc_transitions,
                            get_stationary_vector)
import os
import pickle

In [2]:
from src.geo_utils import (analyze_dates_with_events,
                           analyze_number_of_events, 
                           analyze_number_of_events_per_day, 
                           analyze_space_drift, 
                           analyze_speed_drift,
                           analyze_time_drift,
                          get_mean_distance_bw_clusters)

In [3]:
pd.set_option('max_columns',50)
pd.set_option('max_rows',100)

In [4]:
warnings.filterwarnings('ignore')

In [5]:
def get_distance(row):
    lat, lng, lat_last, lng_last = row['lat'], row['lng'], row['lat_last'], row['lng_last']
    return skmob.utils.utils.distance((lat, lng), (lat_last, lng_last))

### Evaluation of Implementation

In [ ]:
# Reading all the DataFrames and consolidating it into one
data_files = sorted([x for x in os.listdir('../data/') if 'geo_' in x])

data = pd.DataFrame()
for data_file in tqdm(data_files):
    data_i = pd.read_csv(f'../data/{data_file}')
    data = data.append(data_i)
data = data.reset_index(drop=True)

In [ ]:
# Homogenizing the dataset format

geo_columns = ['user', 'hour', 'lat', 'lng']

data['hour'] = data['date'] + ' ' + data['time']
data['hour'] = pd.to_datetime(data['hour'])
data['user'] = data['user_id'].map(int)

data = data[geo_columns]
data = data.drop_duplicates()
data = data.groupby(['user','hour'], as_index=False).nth(0)
data = data.reset_index(drop=True)


# Estimating distance and time differences

data[['lat_last','lng_last']] = data.groupby('user').shift(1)[['lat','lng']]
data['seconds_diff'] = data.groupby('user')['hour'].diff(1).dt.seconds

data['distance_to_last_km'] = data.apply(get_distance, axis=1) 
data['speed_mps'] = data['distance_to_last_km'] / data['seconds_diff'] * 1000

In [ ]:
data.info()

In [ ]:
del data['lat_last'], data['lng_last']

In [ ]:
data.head()

- El 99% de los registros están distanciados entre 0 y 5 segundos

#### Saving Data

In [ ]:
# Saving Data
data.to_parquet('../data/geolife_consolidated.parquet', index=False)

#### Loading Data (backup)

In [6]:
# Loading Data
data = pd.read_parquet('../data/geolife_consolidated.parquet')

In [7]:
data['date'] = data['hour'].dt.date

In [8]:
def analyze_time_drift(data):
    '''Analiza la distribución de la variación de tiempo (segundos) entre evento y evento'''
    
    # Distribución de número de eventos
    serie_seconds_events = data['seconds_diff'].value_counts()
    serie_seconds_events_log = np.log10(serie_seconds_events)

    print(serie_seconds_events)
    print()
    print(serie_seconds_events.quantile([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.99, 1]))

    fig = plt.figure(figsize=(15,4))
    fig.add_subplot(1,2,1)
    data['seconds_diff'].hist(bins=100)
    plt.ylabel('Numero de Eventos')
    plt.xlabel('Delta de Segundos')
    
    fig.add_subplot(1,2,2)

    serie_seconds_events_log.hist(bins=30)
    plt.title('Distribución de eventos según drift en segundos (log10)');
    plt.ylabel('Numero de Eventos')
    plt.xlabel('Delta de Segundos (log10 scale)');
    

def analyze_space_drift(data):
    '''Analiza la distribución de la variación de distancia (Km) entre evento y evento'''

    serie_distance_events = data['distance_to_last_km'].value_counts()
    serie_distance_events_log = np.log10(serie_distance_events)
    
    print(serie_distance_events)
    print()
    print(serie_distance_events.quantile([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.99, 1]))

    fig = plt.figure(figsize=(15,4))
    fig.add_subplot(1,2,1)
    data['distance_to_last_km'].hist(bins=100)
    plt.ylabel('Numero de Eventos')
    plt.xlabel('Delta de KM');
    
    fig.add_subplot(1,2,2)

    serie_distance_events_log.hist(bins=30)
    plt.title('Distribución de eventos según drift de distancia (log10)');
    plt.ylabel('Numero de Eventos')
    plt.xlabel('Delta de KM (log10 scale)');
    
    
def analyze_speed_drift(data):
    '''Analiza la velocidad (metros por segundo) de cada evento'''

    serie_speed = data['speed_mps']
    serie_speed_log = np.log10(serie_speed+1)
    
    print(serie_speed.quantile([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.99, 1]))

    fig = plt.figure(figsize=(15,4))
    
    fig.add_subplot(1,2,1)
    serie_speed.hist(bins=100)
    plt.title('Distribución de eventos según velocidad');
    plt.ylabel('Numero de Eventos')
    plt.xlabel('Velocidad');
    
    fig.add_subplot(1,2,2)
    serie_speed_log.hist(bins=30)
    plt.title('Distribución de eventos según velocidad (log10)');
    plt.ylabel('Numero de Eventos')
    plt.xlabel('Velocidad (log10 scale)');
    
    
def analyze_number_of_events_per_day(data):
    '''Analiza la distribución de la variación de tiempo (segundos) entre evento y evento'''

    # Distribución de número de eventos
    df_events_per_day = data.groupby(['date','user'], as_index=False).size()
    
    serie_user_events_per_day = df_events_per_day['size']
    serie_user_events_per_day_log = np.log10(serie_user_events_per_day)

    print(serie_user_events_per_day)
    print()
    print(df_events_per_day['size'].quantile([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.99, 1]))

    fig = plt.figure(figsize=(15,4))

    fig.add_subplot(1,2,1)
    serie_user_events_per_day.hist(bins=30)
    plt.title('Distribución de número de eventos por usuarios por día');
    plt.ylabel('Numero de Usuarios')
    plt.xlabel('Número de eventos en un día')    
    
    fig.add_subplot(1,2,2)
    serie_user_events_per_day_log.hist(bins=30)
    plt.title('Distribución de número de eventos por usuarios por día (log10)');
    plt.ylabel('Numero de Usuarios')
    plt.xlabel('Número de eventos en un día (log10 scale)')
    
def analyze_number_of_events(data):
    # Distribución de número de eventos
    serie_user_events = data['user'].value_counts()
    serie_user_events_log = np.log10(serie_user_events)

    print(serie_user_events)
    print()
    print(serie_user_events.quantile([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 0.95, 0.99, 1]))

    fig = plt.figure(figsize=(15,4))

    fig.add_subplot(1,2,1)
    serie_user_events.hist(bins=30)
    plt.title('Distribución de usuarios según Nro de Eventos');
    plt.ylabel('Numero de Usuarios')
    plt.xlabel('Número de eventos')    
    
    fig.add_subplot(1,2,2)
    serie_user_events_log.hist(bins=30)
    plt.title('Distribución de usuarios según Nro de Eventos (log10)');
    plt.ylabel('Numero de Usuarios')
    plt.xlabel('Número de eventos (log10 scale)')
    

def analyze_dates_with_events(data):
    # Distribución de número de eventos
    serie_user_events = data[['user','date']].drop_duplicates()['user'].value_counts()
    serie_user_events_log = np.log10(serie_user_events)

    print(serie_user_events)

    fig = plt.figure(figsize=(15,4))
    fig.add_subplot(1,2,1)
    serie_user_events.hist(bins=30)
    plt.title('Distribución de usuarios según Nro de Días con Eventos');
    plt.ylabel('Numero de Usuarios')
    plt.xlabel('Número de Días con eventos')
    
    fig.add_subplot(1,2,2)

    serie_user_events_log.hist(bins=30)
    plt.title('Distribución de usuarios según Nro de Días con Eventos (log10)');
    plt.ylabel('Numero de Usuarios')
    plt.xlabel('Número de eventos (log10 scale)')

In [ ]:
analyze_number_of_events(data)

In [ ]:
analyze_number_of_events_per_day(data)

In [ ]:
analyze_dates_with_events(data)

In [ ]:
analyze_space_drift(data)

In [ ]:
analyze_space_drift(data)

In [ ]:
analyze_speed_drift(data)

#### Latitud y Longitud

In [ ]:
data['lat'].hist(bins=50)

In [ ]:
data['lng'].hist(bins=50)

In [ ]:
data.shape

- Datashader

In [ ]:
dd = data.sample(20000)

In [ ]:
import seaborn as sns

In [ ]:
sns.scatterplot(data=dd, x='lng', y='lat')

In [ ]:
sns.kdeplot(data=dd, x='lat', y='lng', fill=True)

__Escenarios:__
- Base
- Filtro por país
- Filtro por tiempo en lugar

__Acuerdos__
- Quitar usuarios con menos de 1000 eventos
- Probar los 3 escenarios

In [9]:
def filter_min_events_per_user(_df, min_events, user_col = 'user'):
    print('Datos iniciales:')
    print('# Registros: {:,}'.format(_df.shape[0]), '\t|', '# Usuarios: {}'.format(_df[user_col].nunique()))
    print('-'*70)
    users_to_del = _df.groupby(user_col)[user_col].count()[_df.groupby(user_col)[user_col].count()<min_events].index
    _df = _df[~_df[user_col].isin(users_to_del)]
    
    print('Datos finales:')
    print('# Registros: {:,}'.format(_df.shape[0]), '\t|', '# Usuarios: {}'.format(_df[user_col].nunique()))
    print('-'*70)
    return _df

In [10]:
data = filter_min_events_per_user(data, 1000)

Datos iniciales:
# Registros: 24,178,078 	| # Usuarios: 182
----------------------------------------------------------------------
Datos finales:
# Registros: 24,167,443 	| # Usuarios: 158
----------------------------------------------------------------------

In [11]:
def filter_min_days_per_user(_df, min_days, user_col = 'user', date_col  = 'date'):
    print('Datos iniciales:')
    print('# Registros: {:,}'.format(_df.shape[0]), '\t|', '# Usuarios: {}'.format(_df[user_col].nunique()))
    print('-'*70)
    users_to_del = _df.groupby(user_col)[date_col].nunique()[_df.groupby(user_col)[date_col].nunique()<min_days].index
    _df = _df[~_df[user_col].isin(users_to_del)]
    
    print('Datos finales:')
    print('# Registros: {:,}'.format(_df.shape[0]), '\t|', '# Usuarios: {}'.format(_df[user_col].nunique()))
    print('-'*70)
    return _df

In [12]:
data = filter_min_days_per_user(data, 10)

Datos iniciales:
# Registros: 24,167,443 	| # Usuarios: 158
----------------------------------------------------------------------
Datos finales:
# Registros: 23,576,497 	| # Usuarios: 120
----------------------------------------------------------------------

In [ ]:
analyze_number_of_events_per_day(data)

In [13]:
from skmob.preprocessing import (filtering, 
                                 detection, 
                                 compression, 
                                 clustering)

In [ ]:
# Creating a Trajectory DF to analyze the impact of filtering by velocity
trgeo = skmob.TrajDataFrame(
    data[data['user']==1], 
    datetime='hour',
    user_id='user'
)

In [ ]:
del trgeo
gc.collect()

In [ ]:
#Aproximadamente reducir a 10%

In [14]:
import datetime

In [15]:
def get_mmc_clusters_stavectors(geo):
    '''Get MMC Clusters and Stationary Vectors
    
    Parameters
    ----------
        geo (pd.Dataframe): Dataframe of 1 user_id. Must contain only the columns: ['user', 'hour', 'lat', 'lng']
    
    Returns
    -------
        clusters (pd.Dataframe): Dataframe with the clusters and the stationary value
        m (folium.folium.Map): Map generated with the clusters on it.
    '''
    # TDF Definition
    trgeo = skmob.TrajDataFrame(
        geo, 
        datetime='hour',
        user_id='user'
    )

    # Cluster Generation
    clusters, m = get_clusters_from_tdf(
        trgeo,
        verbose=True,
        max_speed_kmh= 0.1,
        detect_stops=False,
        compress=False ,
        minutes_for_a_stop=2,
        spatial_radius_km=0.2,
        spatial_radius_compress_km=.2,
        cluster_radius_km=0.5,
        min_samples=2
    )

    # Cluster Assignation
    trgeo_cl, distances = assign_tdf_points_to_clusters(
        tdf=trgeo, 
        clusters=clusters
    )

    # Generation of Transit Dataframe
    transit_df = get_mmc_transitions(trgeo_cl)

    # Generation of Transit Matrix
    #transit_df = transit_df[transit_df['cluster'].isin(transit_df['cluster_next'].unique())]
    #transit_df = transit_df[transit_df['cluster_next'].isin(transit_df['cluster'].unique())]
    display(transit_df)
    
    #Lógica adicional para añadir entradas o salidas y hacer simétrica la matriz
    
    #Registros cuyos clusters nunca aparecen como salida
    cluster_mode = transit_df['cluster_next'].mode()[0] # Cluster más frecuente
    df_never_next= transit_df[~transit_df['cluster'].isin(transit_df['cluster_next'].unique())]
    df_never_next['cluster_next'] = df_never_next['cluster']
    df_never_next['cluster'] = cluster_mode
    if(df_never_next.shape[0]>0):
        print('\nMostrando registros ficticios ')
        df_never_next['datetime'] = df_never_next['datetime']  - datetime.timedelta(milliseconds = 10)
        display(df_never_next)
        
        transit_df = pd.concat([transit_df,df_never_next], ignore_index=True ).sort_values(by='datetime')
        
    #Registros cuyos clusters nunca aparecen como inicio
    df_never_ini= transit_df[~transit_df['cluster_next'].isin(transit_df['cluster'].unique())]
    df_never_ini['cluster'] = df_never_ini['cluster_next']
    df_never_ini['cluster_next'] = cluster_mode
    if(df_never_ini.shape[0]>0):
        print('\nMostrando registros ficticios')
        df_never_ini['datetime'] = df_never_ini['datetime']  + datetime.timedelta(milliseconds = 10)
        
        display(df_never_ini)
        transit_df = pd.concat([transit_df,df_never_ini], ignore_index=True ).sort_values(by='datetime')
    
    #transit_df.loc[transit_df['cluster_next'].isnull(),'cluster_next'] = 0
    transit_matrix = pd.crosstab(transit_df['cluster'], 
                                 transit_df['cluster_next'],
                                 normalize='index')
    display(transit_matrix)


    



    
    return clusters, m, transit_matrix, transit_df

#Versión antigua
def get_mmc_clusters_stavectors(geo):
    '''Get MMC Clusters and Stationary Vectors
    
    Parameters
    ----------
        geo (pd.Dataframe): Dataframe of 1 user_id. Must contain only the columns: ['user', 'hour', 'lat', 'lng']
    
    Returns
    -------
        clusters (pd.Dataframe): Dataframe with the clusters and the stationary value
        m (folium.folium.Map): Map generated with the clusters on it.
    '''
    # TDF Definition
    trgeo = skmob.TrajDataFrame(
        geo, 
        datetime='hour',
        user_id='user'
    )

    # Cluster Generation
    clusters, m = get_clusters_from_tdf(
        trgeo,
        verbose=True,
        max_speed_kmh= 0.1,
        detect_stops=False,
        compress=False ,
        minutes_for_a_stop=2,
        spatial_radius_km=0.2,
        spatial_radius_compress_km=.2,
        cluster_radius_km=0.5,
        min_samples=2
    )

    # Cluster Assignation
    trgeo_cl, distances = assign_tdf_points_to_clusters(
        tdf=trgeo, 
        clusters=clusters
    )

    # Generation of Transit Dataframe
    transit_df = get_mmc_transitions(trgeo_cl)

    # Generation of Transit Matrix
    #transit_df = transit_df[transit_df['cluster'].isin(transit_df['cluster_next'].unique())]
    #transit_df = transit_df[transit_df['cluster_next'].isin(transit_df['cluster'].unique())]
    display(transit_df)
    transit_df.loc[transit_df['cluster_next'].isnull(),'cluster_next'] = 0
    transit_matrix = pd.crosstab(transit_df['cluster'], 
                                 transit_df['cluster_next'],
                                 normalize='index').values
    display(pd.DataFrame(transit_matrix))
    

    #Lógica adicional para remover clusters sin salida o entrada
    
    
    
    
    
    
    ##Retiramos las filas que tienen solo ceros y una columna con 1
    if (transit_matrix.shape[0]>2 ):
        print('Revisando filas de la Matriz de transición...')
        print('mostrando clusters iniciales')
        display(clusters)
        rows_to_drop = (transit_matrix==0).sum(axis=1)==(transit_matrix.shape[1]-1)#todos los valores en 0 excepto 1
        rows_to_drop = [idx for idx,row in enumerate(rows_to_drop) if row]
        
        if len(rows_to_drop)>0:
            for row in rows_to_drop:
                print('Eliminando la fila {}'.format(row))
                if(row < transit_matrix.shape[0]):
                    transit_matrix = np.delete(transit_matrix,row,0)
                    print('{} eliminada de la fila de la transit_matrix')
                if(row < transit_matrix.shape[1]):
                    transit_matrix = np.delete(transit_matrix,row,1)
                    print('{} eliminada de la Columna de la transit_matrix')

                    
            print('Transit matrix actual:')
            display(pd.DataFrame(transit_matrix))

            clusters=clusters.drop(rows_to_drop, axis=0  )
            print('clusters {} eliminados'.format(rows_to_drop))

    if(transit_matrix.shape[1]>2):    
        ##Retiramos las columnas que tienen solo ceros una fila con 1
        print('Revisando columnas de la Matriz de transición...')
        print('mostrando clusters iniciales')
        display(clusters)
        cols_to_drop = (transit_matrix==0).sum(axis=0)==(transit_matrix.shape[0]-1)
        cols_to_drop = [idx for idx,col in enumerate(cols_to_drop) if col]
        print(cols_to_drop)
        
        if len(cols_to_drop)>0: 
            for col in cols_to_drop:
                if(col < transit_matrix.shape[0]):
                    transit_matrix = np.delete(transit_matrix,col,0)
                    print('{} eliminada de la fila de la transit_matrix')
                if(col < transit_matrix.shape[1]):
                    transit_matrix = np.delete(transit_matrix,col,1)
                    print('{} eliminada de la Columna de la transit_matrix')

            clusters=clusters[~clusters['cluster'].isin(cols_to_drop)]

            print('clusters {} eliminados'.format(cols_to_drop))
            print('Transit matrix actual:')
            display(pd.DataFrame(transit_matrix))



    
    return clusters, m, transit_matrix, transit_df

In [16]:
data['user'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  22,  23,  24,  25,  26,
        28,  29,  30,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
        42,  43,  44,  46,  50,  51,  52,  55,  56,  57,  58,  61,  62,
        63,  64,  65,  66,  67,  68,  71,  73,  74,  75,  78,  79,  81,
        82,  83,  84,  85,  88,  89,  91,  92,  93,  94,  95,  96,  97,
        99, 101, 102, 103, 104, 110, 111, 112, 113, 114, 115, 119, 122,
       125, 126, 128, 130, 131, 134, 135, 136, 138, 139, 140, 141, 142,
       144, 147, 150, 153, 154, 155, 157, 158, 159, 163, 165, 167, 168,
       169, 174, 179])

In [17]:
# Extraction of clusters top 10
geo_clusters = {}
geo_clusters_img = {}
geo_clusters_transit = {}
geo_clusters_transit_df = {}
users = sorted(data['user'].unique())
for user in tqdm(users):
    print('Procesando user {}'.format(user))
    try: 
        geo = data[data['user']==user].reset_index(drop=True).copy()

        clusters, m, transit_matrix, transit_df = get_mmc_clusters_stavectors(geo)

        geo_clusters[user] = clusters
        geo_clusters_img[user] = m
        geo_clusters_transit[user] = transit_matrix
        geo_clusters_transit_df[user] = transit_df
        print('Procesamiento del user {} TERMINADO...'.format(user))
        print('-'*100 + '\n')
    except:
        print('Error en la generación de clusters del user {}'.format(user))

  0%|                                                   | 0/120 [00:00<?, ?it/s]

Procesando user 0
INFO: Noise Filtering applied
INFO: Clusters generated
(173870, 5) (379, 5) (379, 5) (379, 5) (379, 6)
INFO: 12 clusters generated.

  0%|                                                    | 0/12 [00:00<?, ?it/s]
  8%|███▋                                        | 1/12 [00:02<00:30,  2.77s/it]
 17%|███████▎                                    | 2/12 [00:05<00:27,  2.77s/it]
 25%|███████████                                 | 3/12 [00:08<00:24,  2.77s/it]
 33%|██████████████▋                             | 4/12 [00:11<00:22,  2.77s/it]
 42%|██████████████████▎                         | 5/12 [00:13<00:19,  2.77s/it]
 50%|██████████████████████                      | 6/12 [00:16<00:16,  2.78s/it]
 58%|█████████████████████████▋                  | 7/12 [00:19<00:13,  2.78s/it]
 67%|█████████████████████████████▎              | 8/12 [00:22<00:11,  2.78s/it]
 75%|█████████████████████████████████           | 9/12 [00:24<00:08,  2.77s/it]
 83%|███████████████████████████████████▊       | 10/12 [00:27<00:05,  2.76s/it]
 92%|███████████████████████████████████████▍   | 11/12 [00:30<00:02,  2.76s/it]
100%|███████████████████████████████████████████| 12/12 [00:33<00:00,  2.77s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
14,0,2008-10-23 02:54:15,39.984523,116.316188,2008-10-23,d_cl_11,d_cl_10,d_cl_11-d_cl_10
1874,0,2008-10-26 14:57:27,39.911518,116.304580,2008-10-26,d_cl_10,d_cl_08,d_cl_10-d_cl_08
3171,0,2008-10-28 02:37:21,40.004826,116.305323,2008-10-28,d_cl_08,d_cl_05,d_cl_08-d_cl_05
3506,0,2008-10-29 09:37:08,39.985720,116.326921,2008-10-29,d_cl_05,d_cl_09,d_cl_05-d_cl_09
3626,0,2008-10-29 09:46:43,39.966701,116.327688,2008-10-29,d_cl_09,d_cl_08,d_cl_09-d_cl_08
5630,0,2008-11-04 03:11:48,40.005072,116.305368,2008-11-04,d_cl_08,d_cl_05,d_cl_08-d_cl_05
6088,0,2008-11-10 03:40:42,39.989265,116.327001,2008-11-10,d_cl_05,d_cl_08,d_cl_05-d_cl_08
7428,0,2008-11-11 02:19:44,40.005079,116.305286,2008-11-11,d_cl_08,d_cl_00,d_cl_08-d_cl_00
8148,0,2008-11-12 04:33:12,40.001598,116.323275,2008-11-12,d_cl_00,d_cl_07,d_cl_00-d_cl_07
8729,0,2008-11-13 14:01:26,40.015449,116.324462,2008-11-13,d_cl_07,d_cl_00,d_cl_07-d_cl_00
13862,0,2009-03-30 09:43:25,40.004910,116.324348,2009-03-30,d_cl_00,d_cl_07,d_cl_00-d_cl_07
13936,0,2009-03-30 10:10:25,40.014803,116.324156,2009-03-30,d_cl_07,d_cl_00,d_cl_07-d_cl_00
16852,0,2009-04-02 10:20:16,40.002456,116.326136,2009-04-02,d_cl_00,d_cl_05,d_cl_00-d_cl_05
18245,0,2009-04-03 07:51:40,39.985802,116.326813,2009-04-03,d_cl_05,d_cl_06,d_cl_05-d_cl_06
18449,0,2009-04-03 08:13:10,39.986112,116.370697,2009-04-03,d_cl_06,d_cl_03,d_cl_06-d_cl_03
19309,0,2009-04-03 09:34:20,39.987970,116.427473,2009-04-03,d_cl_03,d_cl_06,d_cl_03-d_cl_06
19441,0,2009-04-03 09:45:05,39.986153,116.366518,2009-04-03,d_cl_06,d_cl_00,d_cl_06-d_cl_00
20200,0,2009-04-03 11:08:15,40.002390,116.322236,2009-04-03,d_cl_00,d_cl_11,d_cl_00-d_cl_11
29567,0,2009-04-04 10:20:19,39.982964,116.318533,2009-04-04,d_cl_11,d_cl_00,d_cl_11-d_cl_00
31848,0,2009-04-05 05:37:18,40.002495,116.326066,2009-04-05,d_cl_00,d_cl_02,d_cl_00-d_cl_02
32264,0,2009-04-05 06:55:53,39.981657,116.333155,2009-04-05,d_cl_02,d_cl_09,d_cl_02-d_cl_09
35023,0,2009-04-05 12:56:28,39.969061,116.327894,2009-04-05,d_cl_09,d_cl_05,d_cl_09-d_cl_05
35121,0,2009-04-05 13:04:13,39.989313,116.327004,2009-04-05,d_cl_05,d_cl_00,d_cl_05-d_cl_00
35341,0,2009-04-05 13:22:03,40.003839,116.322310,2009-04-05,d_cl_00,d_cl_11,d_cl_00-d_cl_11
35832,0,2009-04-06 02:52:32,39.984245,116.320069,2009-04-06,d_cl_11,d_cl_06,d_cl_11-d_cl_06
35910,0,2009-04-06 03:04:42,39.986074,116.370345,2009-04-06,d_cl_06,d_cl_03,d_cl_06-d_cl_03
36903,0,2009-04-06 05:03:30,39.988082,116.427897,2009-04-06,d_cl_03,d_cl_06,d_cl_03-d_cl_06
37005,0,2009-04-06 05:11:45,39.986225,116.367205,2009-04-06,d_cl_06,d_cl_11,d_cl_06-d_cl_11
37149,0,2009-04-06 05:31:45,39.984722,116.316206,2009-04-06,d_cl_11,d_cl_00,d_cl_11-d_cl_00
47818,0,2009-04-14 10:32:16,40.001561,116.324461,2009-04-14,d_cl_00,d_cl_02,d_cl_00-d_cl_02
49886,0,2009-04-15 09:15:23,39.982857,116.332483,2009-04-15,d_cl_02,d_cl_00,d_cl_02-d_cl_00
53236,0,2009-04-18 17:28:13,40.003363,116.321891,2009-04-18,d_cl_00,d_cl_02,d_cl_00-d_cl_02
55986,0,2009-04-19 11:56:27,39.982733,116.332520,2009-04-19,d_cl_02,d_cl_00,d_cl_02-d_cl_00
58101,0,2009-04-22 02:44:14,40.001626,116.324534,2009-04-22,d_cl_00,d_cl_05,d_cl_00-d_cl_05
58508,0,2009-04-22 04:04:28,39.989126,116.327008,2009-04-22,d_cl_05,d_cl_00,d_cl_05-d_cl_00
61185,0,2009-04-25 01:02:46,40.002001,116.325340,2009-04-25,d_cl_00,d_cl_02,d_cl_00-d_cl_02
66063,0,2009-04-26 08:44:10,39.982795,116.332134,2009-04-26,d_cl_02,d_cl_00,d_cl_02-d_cl_00
68608,0,2009-04-29 01:12:34,40.002378,116.326166,2009-04-29,d_cl_00,d_cl_07,d_cl_00-d_cl_07
68650,0,2009-04-29 01:22:41,40.015313,116.325310,2009-04-29,d_cl_07,d_cl_00,d_cl_07-d_cl_00
69539,0,2009-04-29 10:10:02,40.004986,116.324373,2009-04-29,d_cl_00,d_cl_05,d_cl_00-d_cl_05
70034,0,2009-04-29 12:52:45,39.985804,116.326509,2009-04-29,d_cl_05,d_cl_06,d_cl_05-d_cl_06
70200,0,2009-04-29 13:10:35,39.986028,116.370568,2009-04-29,d_cl_06,d_cl_03,d_cl_06-d_cl_03
71217,0,2009-04-29 15:24:40,39.987830,116.427265,2009-04-29,d_cl_03,d_cl_06,d_cl_03-d_cl_06
71303,0,2009-04-29 15:31:40,39.986120,116.367171,2009-04-29,d_cl_06,d_cl_11,d_cl_06-d_cl_11
71389,0,2009-04-29 15:38:35,39.984682,116.316868,2009-04-29,d_cl_11,d_cl_05,d_cl_11-d_cl_05
72569,0,2009-04-30 05:03:57,39.985758,116.326829,2009-04-30,d_cl_05,d_cl_09,d_cl_05-d_cl_09
74544,0,2009-04-30 11:15:25,39.968883,116.327943,2009-04-30,d_cl_09,d_cl_08,d_cl_09-d_cl_08
76604,0,2009-05-01 08:29:44,40.006957,116.302630,2009-05-01,d_cl_08,d_cl_02,d_cl_08-d_cl_02
79310,0,2009-05-02 13:00:44,39.982617,116.332383,2009-05-02,d_cl_02,d_cl_06,d_cl_02-d_cl_06
80338,0,2009-05-03 04:23:26,39.986152,116.370687,2009-05-03,d_cl_06,d_cl_03,d_cl_06-d_cl_03
81409,0,2009-05-03 06:29:17,39.987977,116.427939,2009-05-03,d_cl_03,d_cl_06,d_cl_03-d_cl_06
81507,0,2009-05-03 06:37:17,39.986117,116.366386,2009-05-03,d_cl_06,d_cl_05,d_cl_06-d_cl_05
81648,0,2009-05-03 06:48:27,39.989133,116.326660,2009-05-03,d_cl_05,d_cl_00,d_cl_05-d_cl_00
95818,0,2009-05-21 13:51:34,40.004927,116.323573,2009-05-21,d_cl_00,d_cl_05,d_cl_00-d_cl_05
96154,0,2009-05-21 23:15:18,39.985847,116.326896,2009-05-21,d_cl_05,d_cl_06,d_cl_05-d_cl_06
96385,0,2009-05-21 23:41:58,39.986132,116.370230,2009-05-21,d_cl_06,d_cl_03,d_cl_06-d_cl_03
102990,0,2009-05-23 12:51:54,39.987900,116.427449,2009-05-23,d_cl_03,d_cl_06,d_cl_03-d_cl_06
103095,0,2009-05-23 13:00:14,39.986181,116.367418,2009-05-23,d_cl_06,d_cl_05,d_cl_06-d_cl_05
103249,0,2009-05-23 13:12:39,39.989289,116.327024,2009-05-23,d_cl_05,d_cl_00,d_cl_05-d_cl_00
106388,0,2009-05-27 08:05:50,40.002337,116.326107,2009-05-27,d_cl_00,d_cl_02,d_cl_00-d_cl_02
106533,0,2009-05-27 08:37:27,39.979505,116.332949,2009-05-27,d_cl_02,d_cl_09,d_cl_02-d_cl_09
111405,0,2009-05-28 11:27:04,39.968588,116.327924,2009-05-28,d_cl_09,d_cl_02,d_cl_09-d_cl_02
113239,0,2009-05-30 12:33:31,39.982416,116.332488,2009-05-30,d_cl_02,d_cl_00,d_cl_02-d_cl_00
117346,0,2009-06-04 10:27:24,40.002343,116.326095,2009-06-04,d_cl_00,d_cl_05,d_cl_00-d_cl_05
117481,0,2009-06-04 12:05:40,39.985958,116.327378,2009-06-04,d_cl_05,d_cl_06,d_cl_05-d_cl_06
117550,0,2009-06-04 12:11:15,39.986186,116.370293,2009-06-04,d_cl_06,d_cl_03,d_cl_06-d_cl_03
118871,0,2009-06-05 01:54:12,39.987883,116.427670,2009-06-05,d_cl_03,d_cl_06,d_cl_03-d_cl_06
118952,0,2009-06-05 02:00:57,39.986191,116.366804,2009-06-05,d_cl_06,d_cl_05,d_cl_06-d_cl_05
119039,0,2009-06-05 02:08:12,39.988770,116.326885,2009-06-05,d_cl_05,d_cl_00,d_cl_05-d_cl_00
122578,0,2009-06-08 09:38:21,40.005021,116.324320,2009-06-08,d_cl_00,d_cl_05,d_cl_00-d_cl_05
123456,0,2009-06-09 00:47:45,39.985739,116.327044,2009-06-09,d_cl_05,d_cl_06,d_cl_05-d_cl_06
123772,0,2009-06-09 03:06:36,39.986271,116.366691,2009-06-09,d_cl_06,d_cl_05,d_cl_06-d_cl_05
123849,0,2009-06-09 03:12:56,39.989113,116.326891,2009-06-09,d_cl_05,d_cl_00,d_cl_05-d_cl_00
127699,0,2009-06-11 01:27:45,40.001561,116.324382,2009-06-11,d_cl_00,d_cl_02,d_cl_00-d_cl_02
129021,0,2009-06-11 14:29:19,39.980100,116.332832,2009-06-11,d_cl_02,d_cl_01,d_cl_02-d_cl_01
129471,0,2009-06-11 22:18:24,39.991986,116.346891,2009-06-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
130421,0,2009-06-12 22:08:16,40.005014,116.324064,2009-06-12,d_cl_00,d_cl_04,d_cl_00-d_cl_04
135893,0,2009-06-14 08:04:30,40.024906,116.316723,2009-06-14,d_cl_04,d_cl_00,d_cl_04-d_cl_00
137227,0,2009-06-15 18:35:36,40.005002,116.324211,2009-06-15,d_cl_00,d_cl_11,d_cl_00-d_cl_11
137645,0,2009-06-16 06:33:12,39.984204,116.320587,2009-06-16,d_cl_11,d_cl_05,d_cl_11-d_cl_05
137710,0,2009-06-16 06:38:27,39.989270,116.327029,2009-06-16,d_cl_05,d_cl_00,d_cl_05-d_cl_00
145847,0,2009-06-22 13:06:35,40.004940,116.323666,2009-06-22,d_cl_00,d_cl_11,d_cl_00-d_cl_11
146576,0,2009-06-23 05:42:22,39.984352,116.320636,2009-06-23,d_cl_11,d_cl_05,d_cl_11-d_cl_05
147002,0,2009-06-23 09:44:14,39.989274,116.327005,2009-06-23,d_cl_05,d_cl_00,d_cl_05-d_cl_00
148973,0,2009-06-24 21:59:48,40.004960,116.324578,2009-06-24,d_cl_00,d_cl_06,d_cl_00-d_cl_06
149461,0,2009-06-25 09:13:08,39.985926,116.370389,2009-06-25,d_cl_06,d_cl_03,d_cl_06-d_cl_03
161086,0,2009-06-29 07:50:45,39.987910,116.427696,2009-06-29,d_cl_03,d_cl_06,d_cl_03-d_cl_06
161180,0,2009-06-29 07:58:25,39.986104,116.367257,2009-06-29,d_cl_06,d_cl_05,d_cl_06-d_cl_05
161330,0,2009-06-29 08:10:15,39.989301,116.326695,2009-06-29,d_cl_05,d_cl_00,d_cl_05-d_cl_00
163389,0,2009-07-01 04:48:14,40.004980,116.324339,2009-07-01,d_cl_00,d_cl_01,d_cl_00-d_cl_01
165578,0,2009-07-02 06:31:08,39.992007,116.346828,2009-07-02,d_cl_01,d_cl_00,d_cl_01-d_cl_00
171667,0,2009-07-05 03:07:47,40.002370,116.326162,2009-07-05,d_cl_00,d_cl_05,d_cl_00-d_cl_05
171829,0,2009-07-05 03:35:50,39.985879,116.326953,2009-07-05,d_cl_05,d_cl_09,d_cl_05-d_cl_09
172120,0,2009-07-05 04:50:46,39.968733,116.327912,2009-07-05,d_cl_09,d_cl_05,d_cl_09-d_cl_05

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11
cluster,,,,,,,,,,,,
d_cl_00,0.000000,0.043478,0.26087,0.000000,0.043478,0.304348,0.043478,0.130435,0.000000,0.000000,0.000000,0.173913
d_cl_01,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_02,0.500000,0.125000,0.00000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.250000,0.000000,0.000000
d_cl_03,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.500000,0.000000,0.00000,0.000000,0.000000,0.000000,0.277778,0.000000,0.055556,0.166667,0.000000,0.000000
d_cl_06,0.066667,0.000000,0.00000,0.466667,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.133333
d_cl_07,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.250000,0.000000,0.25000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.000000,0.20000,0.000000,0.000000,0.400000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000
d_cl_10,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
d_cl_11,0.285714,0.000000,0.00000,0.000000,0.000000,0.428571,0.142857,0.000000,0.000000,0.000000,0.142857,0.000000

  1%|▎                                        | 1/120 [00:39<1:19:01, 39.84s/it]

Procesamiento del user 0 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 1
INFO: Noise Filtering applied
INFO: Clusters generated
(108607, 5) (3305, 5) (3305, 5) (3305, 5) (3305, 6)
INFO: 5 clusters generated.

  0%|                                                     | 0/5 [00:00<?, ?it/s]
 20%|█████████                                    | 1/5 [00:01<00:06,  1.71s/it]
 40%|██████████████████                           | 2/5 [00:03<00:05,  1.73s/it]
 60%|███████████████████████████                  | 3/5 [00:05<00:03,  1.73s/it]
 80%|████████████████████████████████████         | 4/5 [00:06<00:01,  1.73s/it]
100%|█████████████████████████████████████████████| 5/5 [00:08<00:00,  1.73s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
45,1,2008-10-23 05:56:03,39.983088,116.321126,2008-10-23,d_cl_04,d_cl_00,d_cl_04-d_cl_00
3122,1,2008-10-24 23:51:17,40.015387,116.305513,2008-10-24,d_cl_00,d_cl_01,d_cl_00-d_cl_01
9928,1,2008-10-25 11:11:42,40.002850,116.309122,2008-10-25,d_cl_01,d_cl_00,d_cl_01-d_cl_00
17955,1,2008-10-27 23:33:49,40.012718,116.308224,2008-10-27,d_cl_00,d_cl_01,d_cl_00-d_cl_01
18949,1,2008-10-28 13:30:11,40.002891,116.309191,2008-10-28,d_cl_01,d_cl_00,d_cl_01-d_cl_00
30627,1,2008-11-03 23:48:23,40.015384,116.305509,2008-11-03,d_cl_00,d_cl_01,d_cl_00-d_cl_01
32880,1,2008-11-04 14:26:06,40.002860,116.309041,2008-11-04,d_cl_01,d_cl_00,d_cl_01-d_cl_00
33203,1,2008-11-04 23:57:34,40.013085,116.308646,2008-11-04,d_cl_00,d_cl_01,d_cl_00-d_cl_01
33415,1,2008-11-05 00:11:59,39.999913,116.308981,2008-11-05,d_cl_01,d_cl_00,d_cl_01-d_cl_00
43474,1,2008-11-08 04:02:04,40.013115,116.308660,2008-11-08,d_cl_00,d_cl_01,d_cl_00-d_cl_01
43729,1,2008-11-08 04:20:52,39.999413,116.308998,2008-11-08,d_cl_01,d_cl_03,d_cl_01-d_cl_03
46378,1,2008-11-08 11:13:01,39.989884,116.309823,2008-11-08,d_cl_03,d_cl_02,d_cl_03-d_cl_02
46843,1,2008-11-08 11:30:24,40.012122,116.319356,2008-11-08,d_cl_02,d_cl_00,d_cl_02-d_cl_00
47224,1,2008-11-09 03:53:39,40.012979,116.308559,2008-11-09,d_cl_00,d_cl_01,d_cl_00-d_cl_01
47463,1,2008-11-09 04:09:06,39.999381,116.308898,2008-11-09,d_cl_01,d_cl_03,d_cl_01-d_cl_03
49189,1,2008-11-09 09:14:09,39.989906,116.309872,2008-11-09,d_cl_03,d_cl_01,d_cl_03-d_cl_01
49314,1,2008-11-09 09:19:14,40.002938,116.309018,2008-11-09,d_cl_01,d_cl_00,d_cl_01-d_cl_00
49671,1,2008-11-10 23:41:40,40.015413,116.305651,2008-11-10,d_cl_00,d_cl_02,d_cl_00-d_cl_02
49924,1,2008-11-10 23:58:46,40.011850,116.323915,2008-11-10,d_cl_02,d_cl_00,d_cl_02-d_cl_00
53685,1,2008-11-13 23:53:35,40.013153,116.308657,2008-11-13,d_cl_00,d_cl_01,d_cl_00-d_cl_01
55022,1,2008-11-14 14:18:54,40.002934,116.309079,2008-11-14,d_cl_01,d_cl_00,d_cl_01-d_cl_00
55339,1,2008-11-15 00:40:10,40.015422,116.305494,2008-11-15,d_cl_00,d_cl_02,d_cl_00-d_cl_02
55567,1,2008-11-15 00:58:27,40.011877,116.323859,2008-11-15,d_cl_02,d_cl_00,d_cl_02-d_cl_00
60983,1,2008-11-16 03:08:43,40.015444,116.305578,2008-11-16,d_cl_00,d_cl_01,d_cl_00-d_cl_01
63321,1,2008-11-16 06:31:45,40.002909,116.308975,2008-11-16,d_cl_01,d_cl_00,d_cl_01-d_cl_00
63855,1,2008-11-17 00:07:08,40.015404,116.305508,2008-11-17,d_cl_00,d_cl_02,d_cl_00-d_cl_02
64126,1,2008-11-17 00:33:28,40.011905,116.323923,2008-11-17,d_cl_02,d_cl_00,d_cl_02-d_cl_00
67794,1,2008-11-17 23:55:56,40.015401,116.305559,2008-11-17,d_cl_00,d_cl_02,d_cl_00-d_cl_02
68046,1,2008-11-18 00:10:33,40.011913,116.323820,2008-11-18,d_cl_02,d_cl_01,d_cl_02-d_cl_01
69166,1,2008-11-18 14:11:26,40.002958,116.308952,2008-11-18,d_cl_01,d_cl_00,d_cl_01-d_cl_00
69475,1,2008-11-18 23:55:09,40.015422,116.305537,2008-11-18,d_cl_00,d_cl_02,d_cl_00-d_cl_02
69711,1,2008-11-19 00:08:23,40.011841,116.323899,2008-11-19,d_cl_02,d_cl_01,d_cl_02-d_cl_01
71510,1,2008-11-19 13:44:50,40.002858,116.308948,2008-11-19,d_cl_01,d_cl_00,d_cl_01-d_cl_00
72056,1,2008-11-19 22:12:18,40.013843,116.306512,2008-11-19,d_cl_00,d_cl_01,d_cl_00-d_cl_01
72485,1,2008-11-20 12:56:09,40.002819,116.308928,2008-11-20,d_cl_01,d_cl_00,d_cl_01-d_cl_00
72823,1,2008-11-21 00:01:04,40.015407,116.305484,2008-11-21,d_cl_00,d_cl_02,d_cl_00-d_cl_02
73044,1,2008-11-21 00:18:48,40.011785,116.323862,2008-11-21,d_cl_02,d_cl_00,d_cl_02-d_cl_00
83172,1,2008-12-07 10:01:04,40.015436,116.305556,2008-12-07,d_cl_00,d_cl_02,d_cl_00-d_cl_02
83398,1,2008-12-07 10:14:56,40.011837,116.323891,2008-12-07,d_cl_02,d_cl_01,d_cl_02-d_cl_01
84577,1,2008-12-07 13:54:18,40.002896,116.308923,2008-12-07,d_cl_01,d_cl_00,d_cl_01-d_cl_00
86018,1,2008-12-09 00:25:46,40.015348,116.305510,2008-12-09,d_cl_00,d_cl_02,d_cl_00-d_cl_02
86268,1,2008-12-09 00:46:49,40.012030,116.323939,2008-12-09,d_cl_02,d_cl_01,d_cl_02-d_cl_01
92684,1,2008-12-09 14:26:44,40.002887,116.308925,2008-12-09,d_cl_01,d_cl_00,d_cl_01-d_cl_00
93000,1,2008-12-10 00:18:53,40.015416,116.305543,2008-12-10,d_cl_00,d_cl_02,d_cl_00-d_cl_02
93227,1,2008-12-10 00:39:41,40.011925,116.323935,2008-12-10,d_cl_02,d_cl_03,d_cl_02-d_cl_03
94319,1,2008-12-10 09:26:43,39.989893,116.309785,2008-12-10,d_cl_03,d_cl_01,d_cl_03-d_cl_01
94450,1,2008-12-10 09:32:52,40.002921,116.309059,2008-12-10,d_cl_01,d_cl_00,d_cl_01-d_cl_00
95298,1,2008-12-11 00:08:56,40.015395,116.305579,2008-12-11,d_cl_00,d_cl_02,d_cl_00-d_cl_02
95568,1,2008-12-11 00:23:16,40.011873,116.323805,2008-12-11,d_cl_02,d_cl_01,d_cl_02-d_cl_01
96807,1,2008-12-11 11:58:55,40.002951,116.309014,2008-12-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
97087,1,2008-12-12 00:14:21,40.015424,116.305522,2008-12-12,d_cl_00,d_cl_02,d_cl_00-d_cl_02
97308,1,2008-12-12 00:29:45,40.011865,116.323955,2008-12-12,d_cl_02,d_cl_01,d_cl_02-d_cl_01
99334,1,2008-12-12 14:44:02,40.002926,116.308981,2008-12-12,d_cl_01,d_cl_00,d_cl_01-d_cl_00
99653,1,2008-12-13 09:30:04,40.013134,116.308647,2008-12-13,d_cl_00,d_cl_01,d_cl_00-d_cl_01
102807,1,2008-12-13 13:40:08,40.002915,116.308985,2008-12-13,d_cl_01,d_cl_00,d_cl_01-d_cl_00

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
45,1,2008-10-23 05:56:02.990,39.983088,116.321126,2008-10-23,d_cl_00,d_cl_04,d_cl_04-d_cl_00

cluster_next   d_cl_00   d_cl_01   d_cl_02   d_cl_03   d_cl_04
cluster
d_cl_00       0.000000  0.454545  0.500000  0.000000  0.045455
d_cl_01       0.888889  0.000000  0.000000  0.111111  0.000000
d_cl_02       0.416667  0.500000  0.000000  0.083333  0.000000
d_cl_03       0.000000  0.666667  0.333333  0.000000  0.000000
d_cl_04       1.000000  0.000000  0.000000  0.000000  0.000000

  2%|▋                                          | 2/120 [00:52<46:49, 23.81s/it]

Procesamiento del user 1 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 2
INFO: Noise Filtering applied
INFO: Clusters generated
(248214, 5) (229, 5) (229, 5) (229, 5) (229, 6)
INFO: 8 clusters generated.

  0%|                                                     | 0/8 [00:00<?, ?it/s]
 12%|█████▋                                       | 1/8 [00:03<00:27,  3.92s/it]
 25%|███████████▎                                 | 2/8 [00:07<00:23,  3.92s/it]
 38%|████████████████▉                            | 3/8 [00:11<00:19,  3.92s/it]
 50%|██████████████████████▌                      | 4/8 [00:15<00:15,  3.96s/it]
 62%|████████████████████████████▏                | 5/8 [00:19<00:11,  3.95s/it]
 75%|█████████████████████████████████▊           | 6/8 [00:23<00:07,  3.95s/it]
 88%|███████████████████████████████████████▍     | 7/8 [00:27<00:03,  3.97s/it]
100%|█████████████████████████████████████████████| 8/8 [00:31<00:00,  3.95s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
2066,2,2008-10-24 00:16:31,39.924516,116.338145,2008-10-24,d_cl_01,d_cl_00,d_cl_01-d_cl_00
3329,2,2008-10-24 05:35:08,39.900798,116.386350,2008-10-24,d_cl_00,d_cl_03,d_cl_00-d_cl_03
3827,2,2008-10-24 11:24:05,39.933117,116.349591,2008-10-24,d_cl_03,d_cl_07,d_cl_03-d_cl_07
5090,2,2008-10-24 14:06:43,39.936596,116.328452,2008-10-24,d_cl_07,d_cl_01,d_cl_07-d_cl_01
10689,2,2008-10-26 03:03:13,39.924455,116.337976,2008-10-26,d_cl_01,d_cl_00,d_cl_01-d_cl_00
...,...,...,...,...,...,...,...,...
243410,2,2009-03-19 14:47:05,39.926201,116.337364,2009-03-19,d_cl_01,d_cl_02,d_cl_01-d_cl_02
243651,2,2009-03-21 02:24:24,39.906799,116.346513,2009-03-21,d_cl_02,d_cl_00,d_cl_02-d_cl_00
244077,2,2009-03-21 11:20:10,39.898053,116.384192,2009-03-21,d_cl_00,d_cl_02,d_cl_00-d_cl_02
244822,2,2009-03-21 11:43:53,39.910328,116.346426,2009-03-21,d_cl_02,d_cl_01,d_cl_02-d_cl_01
245466,2,2009-03-21 12:11:34,39.926360,116.336576,2009-03-21,d_cl_01,d_cl_04,d_cl_01-d_cl_04

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
245466,2,2009-03-21 12:11:34.010,39.92636,116.336576,2009-03-21,d_cl_04,d_cl_01,d_cl_01-d_cl_04

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07
cluster,,,,,,,,
d_cl_00,0.000000,0.115385,0.730769,0.076923,0.000000,0.012821,0.051282,0.012821
d_cl_01,0.739583,0.000000,0.093750,0.062500,0.010417,0.000000,0.010417,0.083333
d_cl_02,0.045455,0.954545,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.076923,0.769231,0.000000,0.000000,0.000000,0.000000,0.076923,0.076923
d_cl_04,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.333333,0.000000,0.000000,0.166667,0.000000,0.166667,0.000000,0.333333
d_cl_07,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

  2%|█                                        | 3/120 [01:34<1:02:35, 32.09s/it]

Procesamiento del user 2 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 3
INFO: Noise Filtering applied
INFO: Clusters generated
(485226, 5) (757, 5) (757, 5) (757, 5) (757, 6)
INFO: 13 clusters generated.

  0%|                                                    | 0/13 [00:00<?, ?it/s]
  8%|███▍                                        | 1/13 [00:07<01:32,  7.70s/it]
 15%|██████▊                                     | 2/13 [00:15<01:24,  7.67s/it]
 23%|██████████▏                                 | 3/13 [00:23<01:16,  7.69s/it]
 31%|█████████████▌                              | 4/13 [00:30<01:09,  7.68s/it]
 38%|████████████████▉                           | 5/13 [00:38<01:01,  7.69s/it]
 46%|████████████████████▎                       | 6/13 [00:46<00:54,  7.72s/it]
 54%|███████████████████████▋                    | 7/13 [00:54<00:46,  7.74s/it]
 62%|███████████████████████████                 | 8/13 [01:01<00:38,  7.75s/it]
 69%|██████████████████████████████▍             | 9/13 [01:09<00:30,  7.73s/it]
 77%|█████████████████████████████████          | 10/13 [01:17<00:23,  7.74s/it]
 85%|████████████████████████████████████▍      | 11/13 [01:24<00:15,  7.73s/it]
 92%|███████████████████████████████████████▋   | 12/13 [01:32<00:07,  7.72s/it]
100%|███████████████████████████████████████████| 13/13 [01:40<00:00,  7.72s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
5327,3,2008-10-27 09:25:37,39.998481,116.326243,2008-10-27,d_cl_00,d_cl_02,d_cl_00-d_cl_02
6385,3,2008-10-27 13:38:42,39.977541,116.333128,2008-10-27,d_cl_02,d_cl_00,d_cl_02-d_cl_00
11364,3,2008-10-31 06:18:26,40.000098,116.327264,2008-10-31,d_cl_00,d_cl_01,d_cl_00-d_cl_01
13214,3,2008-10-31 10:45:00,39.992215,116.346789,2008-10-31,d_cl_01,d_cl_00,d_cl_01-d_cl_00
15209,3,2008-11-02 05:19:13,39.998627,116.326274,2008-11-02,d_cl_00,d_cl_08,d_cl_00-d_cl_08
...,...,...,...,...,...,...,...,...
472536,3,2009-06-29 07:58:25,39.986104,116.367257,2009-06-29,d_cl_05,d_cl_00,d_cl_05-d_cl_00
474838,3,2009-07-01 11:08:43,39.999833,116.327396,2009-07-01,d_cl_00,d_cl_01,d_cl_00-d_cl_01
476934,3,2009-07-02 06:31:08,39.992007,116.346828,2009-07-02,d_cl_01,d_cl_00,d_cl_01-d_cl_00
483726,3,2009-07-05 05:10:16,40.000766,116.328177,2009-07-05,d_cl_00,d_cl_10,d_cl_00-d_cl_10
485067,3,2009-07-05 07:35:36,39.988941,116.309947,2009-07-05,d_cl_10,d_cl_00,d_cl_10-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12
cluster,,,,,,,,,,,,,
d_cl_00,0.000000,0.175676,0.229730,0.00,0.040541,0.108108,0.000000,0.000000,0.081081,0.027027,0.270270,0.000000,0.067568
d_cl_01,0.666667,0.000000,0.222222,0.00,0.000000,0.000000,0.000000,0.055556,0.055556,0.000000,0.000000,0.000000,0.000000
d_cl_02,0.653846,0.115385,0.000000,0.00,0.000000,0.000000,0.000000,0.076923,0.038462,0.000000,0.038462,0.038462,0.038462
d_cl_03,0.000000,0.000000,0.000000,0.00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.500000,0.000000,0.250000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000
d_cl_05,0.400000,0.000000,0.000000,0.45,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.050000
d_cl_06,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.333333,0.333333,0.333333,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.071429,0.000000,0.035714,0.00,0.000000,0.000000,0.142857,0.000000,0.000000,0.714286,0.035714,0.000000,0.000000
d_cl_09,0.105263,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.342105,0.000000,0.473684,0.000000,0.078947
d_cl_10,0.534884,0.023256,0.046512,0.00,0.000000,0.023256,0.000000,0.000000,0.023256,0.348837,0.000000,0.000000,0.000000
d_cl_11,1.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.400000,0.000000,0.000000,0.00,0.100000,0.200000,0.000000,0.000000,0.200000,0.000000,0.100000,0.000000,0.000000

  3%|█▎                                       | 4/120 [03:45<2:17:51, 71.31s/it]

Procesamiento del user 3 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 4
INFO: Noise Filtering applied
INFO: Clusters generated
(439397, 5) (800, 5) (800, 5) (800, 5) (800, 6)
INFO: 7 clusters generated.

  0%|                                                     | 0/7 [00:00<?, ?it/s]
 14%|██████▍                                      | 1/7 [00:07<00:42,  7.04s/it]
 29%|████████████▊                                | 2/7 [00:13<00:34,  6.99s/it]
 43%|███████████████████▎                         | 3/7 [00:20<00:27,  6.96s/it]
 57%|█████████████████████████▋                   | 4/7 [00:27<00:20,  6.96s/it]
 71%|████████████████████████████████▏            | 5/7 [00:34<00:13,  6.96s/it]
 86%|██████████████████████████████████████▌      | 6/7 [00:41<00:06,  6.98s/it]
100%|█████████████████████████████████████████████| 7/7 [00:48<00:00,  6.98s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
1928,4,2008-10-26 06:54:32,40.001036,116.324963,2008-10-26,d_cl_00,d_cl_01,d_cl_00-d_cl_01
2610,4,2008-10-26 14:08:37,39.977448,116.333909,2008-10-26,d_cl_01,d_cl_00,d_cl_01-d_cl_00
2988,4,2008-10-27 05:55:15,40.002099,116.326541,2008-10-27,d_cl_00,d_cl_03,d_cl_00-d_cl_03
3685,4,2008-10-27 07:51:27,39.984111,116.310379,2008-10-27,d_cl_03,d_cl_00,d_cl_03-d_cl_00
18802,4,2008-11-05 20:35:39,40.004220,116.324443,2008-11-05,d_cl_00,d_cl_04,d_cl_00-d_cl_04
...,...,...,...,...,...,...,...,...
433379,4,2009-07-25 04:23:38,39.984272,116.306238,2009-07-25,d_cl_03,d_cl_06,d_cl_03-d_cl_06
434581,4,2009-07-25 10:48:06,39.957855,116.341094,2009-07-25,d_cl_06,d_cl_01,d_cl_06-d_cl_01
434633,4,2009-07-25 10:52:26,39.977083,116.333584,2009-07-25,d_cl_01,d_cl_00,d_cl_01-d_cl_00
435068,4,2009-07-26 02:56:53,40.000971,116.323988,2009-07-26,d_cl_00,d_cl_03,d_cl_00-d_cl_03
437615,4,2009-07-26 13:01:24,39.984278,116.310319,2009-07-26,d_cl_03,d_cl_00,d_cl_03-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06
cluster,,,,,,,
d_cl_00,0.000000,0.259259,0.037037,0.592593,0.086420,0.0000,0.024691
d_cl_01,0.531250,0.000000,0.000000,0.062500,0.000000,0.0000,0.406250
d_cl_02,1.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000
d_cl_03,0.884615,0.057692,0.000000,0.000000,0.038462,0.0000,0.019231
d_cl_04,0.800000,0.100000,0.000000,0.100000,0.000000,0.0000,0.000000
d_cl_05,0.000000,0.000000,0.000000,0.000000,1.000000,0.0000,0.000000
d_cl_06,0.437500,0.437500,0.000000,0.062500,0.000000,0.0625,0.000000

  4%|█▋                                       | 5/120 [05:01<2:19:56, 73.01s/it]

Procesamiento del user 4 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 5
INFO: Noise Filtering applied
INFO: Clusters generated
(109046, 5) (314, 5) (314, 5) (314, 5) (314, 6)
INFO: 2 clusters generated.

  0%|                                                     | 0/2 [00:00<?, ?it/s]
 50%|██████████████████████▌                      | 1/2 [00:01<00:01,  1.74s/it]
100%|█████████████████████████████████████████████| 2/2 [00:03<00:00,  1.80s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
27388,5,2008-11-01 16:41:39,40.001105,116.324589,2008-11-01,d_cl_00,d_cl_01,d_cl_00-d_cl_01
27499,5,2008-11-02 04:16:11,40.005667,116.335670,2008-11-02,d_cl_01,d_cl_00,d_cl_01-d_cl_00
62003,5,2008-11-27 00:24:07,40.001089,116.327428,2008-11-27,d_cl_00,d_cl_01,d_cl_00-d_cl_01
62011,5,2008-11-27 00:25:22,40.006796,116.334450,2008-11-27,d_cl_01,d_cl_00,d_cl_01-d_cl_00
62565,5,2008-11-27 07:18:39,40.000527,116.327080,2008-11-27,d_cl_00,d_cl_01,d_cl_00-d_cl_01
62566,5,2008-11-27 08:17:24,40.004776,116.333158,2008-11-27,d_cl_01,d_cl_00,d_cl_01-d_cl_00
107714,5,2009-02-28 03:39:40,40.000748,116.327035,2009-02-28,d_cl_00,d_cl_01,d_cl_00-d_cl_01
107731,5,2009-02-28 03:44:20,40.005550,116.335503,2009-02-28,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next  d_cl_00  d_cl_01
cluster
d_cl_00           0.0      1.0
d_cl_01           1.0      0.0

  5%|██                                       | 6/120 [05:08<1:35:50, 50.44s/it]

Procesamiento del user 5 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 6
INFO: Noise Filtering applied
INFO: Clusters generated
(31830, 5) (76, 5) (76, 5) (76, 5) (76, 6)
INFO: 4 clusters generated.

  0%|                                                     | 0/4 [00:00<?, ?it/s]
 25%|███████████▎                                 | 1/4 [00:00<00:01,  2.07it/s]
 50%|██████████████████████▌                      | 2/4 [00:00<00:00,  2.06it/s]
 75%|█████████████████████████████████▊           | 3/4 [00:01<00:00,  1.88it/s]
100%|█████████████████████████████████████████████| 4/4 [00:02<00:00,  1.95it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
92,6,2008-10-23 07:07:05,39.984248,116.322444,2008-10-23,d_cl_03,d_cl_00,d_cl_03-d_cl_00
365,6,2008-10-24 10:51:18,39.982554,116.346848,2008-10-24,d_cl_00,d_cl_02,d_cl_00-d_cl_02
2048,6,2008-10-25 06:06:30,39.918977,116.303938,2008-10-25,d_cl_02,d_cl_00,d_cl_02-d_cl_00
5371,6,2008-11-05 11:53:58,39.981906,116.342307,2008-11-05,d_cl_00,d_cl_01,d_cl_00-d_cl_01
6028,6,2008-11-06 06:38:31,39.960441,116.340483,2008-11-06,d_cl_01,d_cl_00,d_cl_01-d_cl_00
10789,6,2008-11-12 11:51:42,39.982794,116.342671,2008-11-12,d_cl_00,d_cl_01,d_cl_00-d_cl_01
11157,6,2008-11-13 06:21:55,39.961223,116.339768,2008-11-13,d_cl_01,d_cl_00,d_cl_01-d_cl_00
12929,6,2008-11-16 06:07:49,39.982195,116.346976,2008-11-16,d_cl_00,d_cl_02,d_cl_00-d_cl_02
13444,6,2008-11-16 06:49:18,39.918702,116.303780,2008-11-16,d_cl_02,d_cl_00,d_cl_02-d_cl_00
15763,6,2008-11-19 11:50:53,39.982055,116.342364,2008-11-19,d_cl_00,d_cl_01,d_cl_00-d_cl_01
20818,6,2008-11-21 15:04:33,39.960821,116.340073,2008-11-21,d_cl_01,d_cl_00,d_cl_01-d_cl_00
22058,6,2008-12-03 11:35:36,39.981717,116.342353,2008-12-03,d_cl_00,d_cl_02,d_cl_00-d_cl_02
27511,6,2008-12-07 12:56:55,39.921823,116.304700,2008-12-07,d_cl_02,d_cl_00,d_cl_02-d_cl_00

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
92,6,2008-10-23 07:07:04.990,39.984248,116.322444,2008-10-23,d_cl_00,d_cl_03,d_cl_03-d_cl_00

cluster_next  d_cl_00   d_cl_01   d_cl_02   d_cl_03
cluster
d_cl_00           0.0  0.428571  0.428571  0.142857
d_cl_01           1.0  0.000000  0.000000  0.000000
d_cl_02           1.0  0.000000  0.000000  0.000000
d_cl_03           1.0  0.000000  0.000000  0.000000

  6%|██▍                                      | 7/120 [05:11<1:05:42, 34.89s/it]

Procesamiento del user 6 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 7
INFO: Noise Filtering applied
INFO: Clusters generated
(85531, 5) (168, 5) (168, 5) (168, 5) (168, 6)
INFO: 3 clusters generated.

  0%|                                                     | 0/3 [00:00<?, ?it/s]
 33%|███████████████                              | 1/3 [00:01<00:02,  1.43s/it]
 67%|██████████████████████████████               | 2/3 [00:02<00:01,  1.43s/it]
100%|█████████████████████████████████████████████| 3/3 [00:04<00:00,  1.39s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
6693,7,2008-10-28 00:26:57,39.979299,116.339879,2008-10-28,d_cl_00,d_cl_02,d_cl_00-d_cl_02
6905,7,2008-10-28 00:50:57,39.975765,116.327612,2008-10-28,d_cl_02,d_cl_01,d_cl_02-d_cl_01
9970,7,2008-10-28 07:59:37,39.969863,116.348194,2008-10-28,d_cl_01,d_cl_00,d_cl_01-d_cl_00
24531,7,2008-11-04 03:02:44,39.978867,116.341925,2008-11-04,d_cl_00,d_cl_02,d_cl_00-d_cl_02
24656,7,2008-11-04 03:28:17,39.975567,116.323703,2008-11-04,d_cl_02,d_cl_00,d_cl_02-d_cl_00
41239,7,2008-11-11 03:09:26,39.978723,116.341806,2008-11-11,d_cl_00,d_cl_02,d_cl_00-d_cl_02
44677,7,2008-11-11 10:23:06,39.975509,116.327579,2008-11-11,d_cl_02,d_cl_00,d_cl_02-d_cl_00
46561,7,2008-11-14 03:04:47,39.978653,116.341377,2008-11-14,d_cl_00,d_cl_02,d_cl_00-d_cl_02
50255,7,2008-11-14 10:25:57,39.975645,116.327685,2008-11-14,d_cl_02,d_cl_00,d_cl_02-d_cl_00
53525,7,2008-11-18 16:16:09,39.978999,116.342152,2008-11-18,d_cl_00,d_cl_02,d_cl_00-d_cl_02
56481,7,2008-11-19 10:25:42,39.974866,116.327722,2008-11-19,d_cl_02,d_cl_00,d_cl_02-d_cl_00
60504,7,2008-11-23 12:21:15,39.981767,116.340912,2008-11-23,d_cl_00,d_cl_01,d_cl_00-d_cl_01
67987,7,2008-12-06 12:11:31,39.970115,116.348277,2008-12-06,d_cl_01,d_cl_00,d_cl_01-d_cl_00
71867,7,2008-12-10 12:48:02,39.980260,116.339458,2008-12-10,d_cl_00,d_cl_01,d_cl_00-d_cl_01
75063,7,2008-12-11 06:19:02,39.969849,116.348434,2008-12-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
75296,7,2008-12-11 07:25:56,39.978901,116.338572,2008-12-11,d_cl_00,d_cl_02,d_cl_00-d_cl_02
75480,7,2008-12-11 07:44:46,39.975254,116.323230,2008-12-11,d_cl_02,d_cl_00,d_cl_02-d_cl_00

cluster_next   d_cl_00   d_cl_01  d_cl_02
cluster
d_cl_00       0.000000  0.250000     0.75
d_cl_01       1.000000  0.000000     0.00
d_cl_02       0.833333  0.166667     0.00

  7%|██▊                                        | 8/120 [05:17<48:12, 25.83s/it]

Procesamiento del user 7 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 8
INFO: Noise Filtering applied
INFO: Clusters generated
(77908, 5) (60, 5) (60, 5) (60, 5) (60, 6)
INFO: 7 clusters generated.

  0%|                                                     | 0/7 [00:00<?, ?it/s]
 14%|██████▍                                      | 1/7 [00:01<00:07,  1.28s/it]
 29%|████████████▊                                | 2/7 [00:02<00:06,  1.29s/it]
 43%|███████████████████▎                         | 3/7 [00:03<00:05,  1.29s/it]
 57%|█████████████████████████▋                   | 4/7 [00:05<00:03,  1.28s/it]
 71%|████████████████████████████████▏            | 5/7 [00:06<00:02,  1.25s/it]
 86%|██████████████████████████████████████▌      | 6/7 [00:07<00:01,  1.26s/it]
100%|█████████████████████████████████████████████| 7/7 [00:08<00:00,  1.27s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
300,8,2008-10-24 12:02:33,39.979849,116.327392,2008-10-24,d_cl_00,d_cl_04,d_cl_00-d_cl_04
1047,8,2008-10-24 13:29:10,39.965917,116.337977,2008-10-24,d_cl_04,d_cl_02,d_cl_04-d_cl_02
1164,8,2008-10-24 13:31:40,39.966196,116.350913,2008-10-24,d_cl_02,d_cl_05,d_cl_02-d_cl_05
1473,8,2008-10-24 13:48:01,39.960431,116.363269,2008-10-24,d_cl_05,d_cl_02,d_cl_05-d_cl_02
1707,8,2008-10-24 13:53:43,39.967215,116.348310,2008-10-24,d_cl_02,d_cl_00,d_cl_02-d_cl_00
4247,8,2008-10-25 10:54:33,39.979375,116.328669,2008-10-25,d_cl_00,d_cl_06,d_cl_00-d_cl_06
4873,8,2008-10-25 11:32:35,39.985319,116.343740,2008-10-25,d_cl_06,d_cl_01,d_cl_06-d_cl_01
5978,8,2008-10-25 23:01:56,39.985683,116.348665,2008-10-25,d_cl_01,d_cl_06,d_cl_01-d_cl_06
6021,8,2008-10-25 23:02:39,39.985479,116.339186,2008-10-25,d_cl_06,d_cl_00,d_cl_06-d_cl_00
6884,8,2008-10-26 11:30:37,39.979424,116.328612,2008-10-26,d_cl_00,d_cl_03,d_cl_00-d_cl_03
7391,8,2008-10-26 11:49:07,39.975107,116.363281,2008-10-26,d_cl_03,d_cl_05,d_cl_03-d_cl_05
7823,8,2008-10-26 12:18:55,39.957986,116.360421,2008-10-26,d_cl_05,d_cl_00,d_cl_05-d_cl_00
10032,8,2008-10-28 12:38:48,39.981168,116.326716,2008-10-28,d_cl_00,d_cl_06,d_cl_00-d_cl_06
10247,8,2008-10-28 12:46:16,39.985168,116.343623,2008-10-28,d_cl_06,d_cl_01,d_cl_06-d_cl_01
10289,8,2008-10-28 12:46:58,39.985560,116.353175,2008-10-28,d_cl_01,d_cl_00,d_cl_01-d_cl_00
15887,8,2008-10-30 06:21:58,39.982210,116.327217,2008-10-30,d_cl_00,d_cl_06,d_cl_00-d_cl_06
16008,8,2008-10-30 06:24:37,39.985329,116.343656,2008-10-30,d_cl_06,d_cl_01,d_cl_06-d_cl_01
16049,8,2008-10-30 06:25:18,39.985622,116.353086,2008-10-30,d_cl_01,d_cl_02,d_cl_01-d_cl_02
16845,8,2008-10-30 07:15:53,39.966501,116.346889,2008-10-30,d_cl_02,d_cl_04,d_cl_02-d_cl_04
16943,8,2008-10-30 07:17:48,39.966715,116.333542,2008-10-30,d_cl_04,d_cl_00,d_cl_04-d_cl_00
17997,8,2008-11-01 04:18:52,39.981526,116.327673,2008-11-01,d_cl_00,d_cl_06,d_cl_00-d_cl_06
18114,8,2008-11-01 04:20:59,39.985174,116.343655,2008-11-01,d_cl_06,d_cl_02,d_cl_06-d_cl_02
18325,8,2008-11-01 04:24:39,39.966343,116.350723,2008-11-01,d_cl_02,d_cl_05,d_cl_02-d_cl_05
19106,8,2008-11-01 05:51:59,39.958969,116.359028,2008-11-01,d_cl_05,d_cl_00,d_cl_05-d_cl_00
20384,8,2008-11-01 11:31:32,39.982215,116.327253,2008-11-01,d_cl_00,d_cl_06,d_cl_00-d_cl_06
20547,8,2008-11-01 11:34:52,39.985404,116.343780,2008-11-01,d_cl_06,d_cl_01,d_cl_06-d_cl_01
20640,8,2008-11-01 11:36:58,39.986171,116.353136,2008-11-01,d_cl_01,d_cl_04,d_cl_01-d_cl_04
22563,8,2008-11-02 11:36:24,39.966417,116.333385,2008-11-02,d_cl_04,d_cl_00,d_cl_04-d_cl_00
23036,8,2008-11-02 12:01:17,39.981912,116.329129,2008-11-02,d_cl_00,d_cl_05,d_cl_00-d_cl_05
23088,8,2008-11-04 13:09:28,39.960445,116.363282,2008-11-04,d_cl_05,d_cl_02,d_cl_05-d_cl_02
23356,8,2008-11-04 13:15:47,39.966400,116.346708,2008-11-04,d_cl_02,d_cl_04,d_cl_02-d_cl_04
23427,8,2008-11-04 13:16:58,39.966462,116.333468,2008-11-04,d_cl_04,d_cl_00,d_cl_04-d_cl_00
23745,8,2008-11-05 08:36:24,39.979324,116.328775,2008-11-05,d_cl_00,d_cl_04,d_cl_00-d_cl_04
26138,8,2008-11-05 12:10:05,39.966152,116.337887,2008-11-05,d_cl_04,d_cl_02,d_cl_04-d_cl_02
26215,8,2008-11-05 12:11:22,39.966160,116.350978,2008-11-05,d_cl_02,d_cl_05,d_cl_02-d_cl_05
27291,8,2008-11-05 14:02:28,39.960376,116.363326,2008-11-05,d_cl_05,d_cl_02,d_cl_05-d_cl_02
27703,8,2008-11-05 14:24:08,39.967262,116.348362,2008-11-05,d_cl_02,d_cl_00,d_cl_02-d_cl_00
30456,8,2008-11-08 05:33:36,39.982641,116.327932,2008-11-08,d_cl_00,d_cl_06,d_cl_00-d_cl_06
30588,8,2008-11-08 05:36:18,39.985172,116.343621,2008-11-08,d_cl_06,d_cl_02,d_cl_06-d_cl_02
30813,8,2008-11-08 05:40:16,39.966340,116.350859,2008-11-08,d_cl_02,d_cl_05,d_cl_02-d_cl_05
32933,8,2008-11-09 09:19:35,39.957973,116.361398,2008-11-09,d_cl_05,d_cl_03,d_cl_05-d_cl_03
33558,8,2008-11-09 10:02:23,39.975342,116.358753,2008-11-09,d_cl_03,d_cl_00,d_cl_03-d_cl_00
34030,8,2008-11-10 13:17:55,39.979357,116.328590,2008-11-10,d_cl_00,d_cl_04,d_cl_00-d_cl_04
34351,8,2008-11-10 13:34:38,39.966103,116.337931,2008-11-10,d_cl_04,d_cl_02,d_cl_04-d_cl_02
34447,8,2008-11-10 13:36:35,39.966113,116.350873,2008-11-10,d_cl_02,d_cl_05,d_cl_02-d_cl_05
34852,8,2008-11-11 03:06:53,39.961426,116.361543,2008-11-11,d_cl_05,d_cl_01,d_cl_05-d_cl_01
37544,8,2008-11-11 08:53:49,39.985651,116.348706,2008-11-11,d_cl_01,d_cl_06,d_cl_01-d_cl_06
37592,8,2008-11-11 08:54:37,39.985449,116.339111,2008-11-11,d_cl_06,d_cl_00,d_cl_06-d_cl_00
37965,8,2008-11-12 04:11:21,39.982569,116.327807,2008-11-12,d_cl_00,d_cl_06,d_cl_00-d_cl_06
38070,8,2008-11-12 04:13:13,39.985207,116.343624,2008-11-12,d_cl_06,d_cl_02,d_cl_06-d_cl_02
38253,8,2008-11-12 04:16:17,39.964322,116.347196,2008-11-12,d_cl_02,d_cl_00,d_cl_02-d_cl_00
41182,8,2008-11-12 10:13:35,39.979364,116.328716,2008-11-12,d_cl_00,d_cl_04,d_cl_00-d_cl_04
41508,8,2008-11-12 10:25:35,39.966105,116.337988,2008-11-12,d_cl_04,d_cl_02,d_cl_04-d_cl_02
41652,8,2008-11-12 10:30:14,39.966194,116.350899,2008-11-12,d_cl_02,d_cl_05,d_cl_02-d_cl_05
42056,8,2008-11-12 10:47:00,39.957981,116.360384,2008-11-12,d_cl_05,d_cl_00,d_cl_05-d_cl_00
44759,8,2008-11-14 06:57:49,39.982131,116.327156,2008-11-14,d_cl_00,d_cl_06,d_cl_00-d_cl_06
44919,8,2008-11-14 07:01:27,39.985049,116.343633,2008-11-14,d_cl_06,d_cl_01,d_cl_06-d_cl_01
46486,8,2008-11-14 11:06:02,39.985587,116.348621,2008-11-14,d_cl_01,d_cl_06,d_cl_01-d_cl_06
46540,8,2008-11-14 11:06:56,39.985380,116.339205,2008-11-14,d_cl_06,d_cl_00,d_cl_06-d_cl_00
47018,8,2008-11-15 07:29:21,39.979909,116.327333,2008-11-15,d_cl_00,d_cl_04,d_cl_00-d_cl_04
47333,8,2008-11-15 07:41:04,39.966198,116.338007,2008-11-15,d_cl_04,d_cl_02,d_cl_04-d_cl_02
47446,8,2008-11-15 07:43:29,39.966224,116.350942,2008-11-15,d_cl_02,d_cl_05,d_cl_02-d_cl_05
49561,8,2008-11-15 14:09:45,39.957949,116.360422,2008-11-15,d_cl_05,d_cl_02,d_cl_05-d_cl_02
49767,8,2008-11-15 14:14:37,39.967227,116.348380,2008-11-15,d_cl_02,d_cl_00,d_cl_02-d_cl_00
50167,8,2008-11-17 09:20:29,39.979384,116.328493,2008-11-17,d_cl_00,d_cl_04,d_cl_00-d_cl_04
50466,8,2008-11-17 09:39:55,39.965941,116.337939,2008-11-17,d_cl_04,d_cl_02,d_cl_04-d_cl_02
50629,8,2008-11-17 09:44:01,39.966198,116.350974,2008-11-17,d_cl_02,d_cl_05,d_cl_02-d_cl_05
51486,8,2008-11-17 10:36:26,39.958001,116.360294,2008-11-17,d_cl_05,d_cl_02,d_cl_05-d_cl_02
51821,8,2008-11-17 10:50:01,39.967355,116.348533,2008-11-17,d_cl_02,d_cl_00,d_cl_02-d_cl_00
52436,8,2008-11-17 23:03:52,39.979359,116.329457,2008-11-17,d_cl_00,d_cl_05,d_cl_00-d_cl_05
53338,8,2008-11-18 01:52:17,39.958008,116.360272,2008-11-18,d_cl_05,d_cl_02,d_cl_05-d_cl_02
53540,8,2008-11-18 01:57:34,39.967339,116.348429,2008-11-18,d_cl_02,d_cl_00,d_cl_02-d_cl_00
53974,8,2008-11-18 04:14:12,39.982272,116.327310,2008-11-18,d_cl_00,d_cl_06,d_cl_00-d_cl_06
55535,8,2008-11-18 06:02:10,39.985013,116.339254,2008-11-18,d_cl_06,d_cl_00,d_cl_06-d_cl_00
56349,8,2008-11-19 01:24:04,39.979354,116.328612,2008-11-19,d_cl_00,d_cl_02,d_cl_00-d_cl_02
59616,8,2008-11-19 03:33:31,39.967349,116.348528,2008-11-19,d_cl_02,d_cl_00,d_cl_02-d_cl_00
61793,8,2008-11-19 08:27:25,39.981996,116.327024,2008-11-19,d_cl_00,d_cl_06,d_cl_00-d_cl_06
61978,8,2008-11-19 08:32:24,39.985307,116.343728,2008-11-19,d_cl_06,d_cl_01,d_cl_06-d_cl_01
64172,8,2008-11-20 02:30:25,39.985842,116.348565,2008-11-20,d_cl_01,d_cl_06,d_cl_01-d_cl_06
64275,8,2008-11-20 02:33:02,39.985602,116.339110,2008-11-20,d_cl_06,d_cl_00,d_cl_06-d_cl_00
66837,8,2008-12-01 06:01:58,39.981666,116.330659,2008-12-01,d_cl_00,d_cl_06,d_cl_00-d_cl_06
67017,8,2008-12-05 11:19:51,39.985125,116.343706,2008-12-05,d_cl_06,d_cl_02,d_cl_06-d_cl_02
68595,8,2008-12-05 13:49:04,39.967303,116.348380,2008-12-05,d_cl_02,d_cl_00,d_cl_02-d_cl_00
68944,8,2008-12-06 06:27:26,39.982220,116.327227,2008-12-06,d_cl_00,d_cl_06,d_cl_00-d_cl_06
69072,8,2008-12-06 06:29:49,39.985147,116.343642,2008-12-06,d_cl_06,d_cl_02,d_cl_06-d_cl_02
69297,8,2008-12-06 06:33:43,39.966219,116.350943,2008-12-06,d_cl_02,d_cl_05,d_cl_02-d_cl_05
70298,8,2008-12-06 10:29:52,39.960490,116.363212,2008-12-06,d_cl_05,d_cl_02,d_cl_05-d_cl_02
70668,8,2008-12-06 10:38:47,39.966447,116.346738,2008-12-06,d_cl_02,d_cl_04,d_cl_02-d_cl_04
70812,8,2008-12-06 10:44:05,39.966469,116.333445,2008-12-06,d_cl_04,d_cl_00,d_cl_04-d_cl_00
72400,8,2008-12-10 07:01:55,39.979350,116.329020,2008-12-10,d_cl_00,d_cl_02,d_cl_00-d_cl_02
74553,8,2008-12-11 05:08:24,39.966366,116.346816,2008-12-11,d_cl_02,d_cl_04,d_cl_02-d_cl_04
74635,8,2008-12-11 05:09:49,39.966456,116.333416,2008-12-11,d_cl_04,d_cl_00,d_cl_04-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06
cluster,,,,,,,
d_cl_00,0.000000,0.000000,0.086957,0.043478,0.260870,0.086957,0.521739
d_cl_01,0.142857,0.000000,0.142857,0.000000,0.142857,0.000000,0.571429
d_cl_02,0.380952,0.000000,0.000000,0.000000,0.190476,0.428571,0.000000
d_cl_03,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000
d_cl_04,0.454545,0.000000,0.545455,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.250000,0.083333,0.583333,0.083333,0.000000,0.000000,0.000000
d_cl_06,0.312500,0.375000,0.312500,0.000000,0.000000,0.000000,0.000000

  8%|███▏                                       | 9/120 [05:28<39:15, 21.22s/it]

Procesamiento del user 8 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 9
INFO: Noise Filtering applied
INFO: Clusters generated
(84615, 5) (184, 5) (184, 5) (184, 5) (184, 6)
INFO: 2 clusters generated.

  0%|                                                     | 0/2 [00:00<?, ?it/s]
 50%|██████████████████████▌                      | 1/2 [00:01<00:01,  1.38s/it]
100%|█████████████████████████████████████████████| 2/2 [00:02<00:00,  1.34s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
379,9,2008-10-24 11:02:42,40.048611,116.30187,2008-10-24,d_cl_01,d_cl_00,d_cl_01-d_cl_00

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
379,9,2008-10-24 11:02:41.990,40.048611,116.30187,2008-10-24,d_cl_00,d_cl_01,d_cl_01-d_cl_00

cluster_next  d_cl_00  d_cl_01
cluster
d_cl_00           0.0      1.0
d_cl_01           1.0      0.0

  8%|███▌                                      | 10/120 [05:33<29:45, 16.23s/it]

Procesamiento del user 9 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 10
INFO: Noise Filtering applied
INFO: Clusters generated
(931815, 5) (85, 5) (85, 5) (85, 5) (85, 6)
INFO: 35 clusters generated.

  0%|                                                    | 0/35 [00:00<?, ?it/s]
  3%|█▎                                          | 1/35 [00:14<08:24, 14.84s/it]
  6%|██▌                                         | 2/35 [00:29<08:07, 14.77s/it]
  9%|███▊                                        | 3/35 [00:44<07:51, 14.72s/it]
 11%|█████                                       | 4/35 [00:59<07:37, 14.76s/it]
 14%|██████▎                                     | 5/35 [01:13<07:22, 14.73s/it]
 17%|███████▌                                    | 6/35 [01:28<07:09, 14.80s/it]
 20%|████████▊                                   | 7/35 [01:43<06:53, 14.77s/it]
 23%|██████████                                  | 8/35 [01:57<06:37, 14.71s/it]
 26%|███████████▎                                | 9/35 [02:12<06:20, 14.64s/it]
 29%|████████████▎                              | 10/35 [02:27<06:06, 14.67s/it]
 31%|█████████████▌                             | 11/35 [02:41<05:50, 14.61s/it]
 34%|██████████████▋                            | 12/35 [02:56<05:35, 14.58s/it]
 37%|███████████████▉                           | 13/35 [03:10<05:21, 14.60s/it]
 40%|█████████████████▏                         | 14/35 [03:25<05:05, 14.54s/it]
 43%|██████████████████▍                        | 15/35 [03:39<04:50, 14.53s/it]
 46%|███████████████████▋                       | 16/35 [03:54<04:36, 14.53s/it]
 49%|████████████████████▉                      | 17/35 [04:08<04:21, 14.55s/it]
 51%|██████████████████████                     | 18/35 [04:23<04:08, 14.59s/it]
 54%|███████████████████████▎                   | 19/35 [04:38<03:54, 14.68s/it]
 57%|████████████████████████▌                  | 20/35 [04:53<03:41, 14.77s/it]
 60%|█████████████████████████▊                 | 21/35 [05:08<03:27, 14.80s/it]
 63%|███████████████████████████                | 22/35 [05:23<03:12, 14.80s/it]
 66%|████████████████████████████▎              | 23/35 [05:37<02:57, 14.81s/it]
 69%|█████████████████████████████▍             | 24/35 [05:52<02:42, 14.79s/it]
 71%|██████████████████████████████▋            | 25/35 [06:07<02:27, 14.71s/it]
 74%|███████████████████████████████▉           | 26/35 [06:21<02:11, 14.66s/it]
 77%|█████████████████████████████████▏         | 27/35 [06:36<01:57, 14.63s/it]
 80%|██████████████████████████████████▍        | 28/35 [06:50<01:42, 14.60s/it]
 83%|███████████████████████████████████▋       | 29/35 [07:05<01:27, 14.61s/it]
 86%|████████████████████████████████████▊      | 30/35 [07:19<01:12, 14.60s/it]
 89%|██████████████████████████████████████     | 31/35 [07:34<00:58, 14.59s/it]
 91%|███████████████████████████████████████▎   | 32/35 [07:49<00:43, 14.57s/it]
 94%|████████████████████████████████████████▌  | 33/35 [08:03<00:29, 14.56s/it]
 97%|█████████████████████████████████████████▊ | 34/35 [08:18<00:14, 14.57s/it]
100%|███████████████████████████████████████████| 35/35 [08:33<00:00, 14.66s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
4,10,2007-08-04 03:30:36,39.921672,116.472342,2007-08-04,d_cl_03,d_cl_34,d_cl_03-d_cl_34
7268,10,2007-08-28 17:13:41,39.901133,116.421953,2007-08-28,d_cl_34,d_cl_27,d_cl_34-d_cl_27
7304,10,2007-08-28 17:14:31,39.901233,116.429813,2007-08-28,d_cl_27,d_cl_33,d_cl_27-d_cl_33
7360,10,2007-08-28 17:15:41,39.896913,116.434713,2007-08-28,d_cl_33,d_cl_30,d_cl_33-d_cl_30
7394,10,2007-08-28 17:17:05,39.885303,116.428213,2007-08-28,d_cl_30,d_cl_31,d_cl_30-d_cl_31
...,...,...,...,...,...,...,...,...
930680,10,2009-03-21 04:38:55,39.856289,116.459595,2009-03-21,d_cl_04,d_cl_07,d_cl_04-d_cl_07
930702,10,2009-03-21 04:39:20,39.846984,116.472868,2009-03-21,d_cl_07,d_cl_02,d_cl_07-d_cl_02
930722,10,2009-03-21 04:57:43,39.215089,117.165413,2009-03-21,d_cl_02,d_cl_00,d_cl_02-d_cl_00
930777,10,2009-03-21 04:58:44,39.191013,117.186916,2009-03-21,d_cl_00,d_cl_22,d_cl_00-d_cl_22
930852,10,2009-03-21 05:00:07,39.164556,117.204510,2009-03-21,d_cl_22,d_cl_17,d_cl_22-d_cl_17

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21,d_cl_22,d_cl_23,d_cl_24,d_cl_25,d_cl_26,d_cl_27,d_cl_28,d_cl_29,d_cl_30,d_cl_31,d_cl_32,d_cl_33,d_cl_34
cluster,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.000000,0.471429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.071429,0.457143,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.657895,0.000000,0.026316,0.052632,0.105263,0.026316,0.000000,0.000000,0.000000,0.000000,0.000000,0.026316,0.000000,0.026316,0.000000,0.000000,0.000000,0.0,0.000000,0.026316,0.000000,0.000000,0.026316,0.000000,0.000000,0.000000,0.000000,0.000000,0.026316
d_cl_02,0.492537,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.492537,0.000000,0.000000,0.000000,0.014925,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.250000
d_cl_04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.483333,0.000000,0.000000,0.516667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.090909,0.000000,0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.727273,0.000000,0.000000,0.090909,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.520000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020000,0.400000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020000
d_cl_07,0.050000,0.000000,0.350000,0.000000,0.516667,0.000000,0.000000,0.000000,0.000000,0.000000,0.016667,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.016667,0.016667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000
d_cl_10,0.000000,0.040541,0.000000,0.000000,0.391892,0.000000,0.297297,0.000000,0.013514,0.000000,0.000000,0.189189,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.067568,0.000000,0.000000,0.000000
d_cl_11,0.000000,0.173913,0.000000,0.000000,0.000000,0.000000,0.043478,0.000000,0.000000,0.000000,0.347826,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.043478,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.391304,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.000000,0.266667,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285714,0.714286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.018868,0.000000,0.000000,0.000000,0.000000,0.094340,0.000000,0.018868,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.132075,0.000000,0.716981,0.0,0.000000,0.000000,0.000000,0.018868,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.000000,0.000000,0.266667,0.000000,0.000000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022222,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.058824,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.294118,0.000000,0.000000,0.000000,0.000000,0.647059,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_20,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.125000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000
d_cl_21,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.200000,0.0,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_22,0.424658,0.000000,0.000000,0.000000,0.000000,0.027397,0.000000,0.013699,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.534247,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_25,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.200000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.200000,0.000000,0.000000
d_cl_26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.500000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.625000,0.375000
d_cl_28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.333333,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000
d_cl_29,0.062500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.312500,0.625000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.615385,0.000000,0.384615,0.000000
d_cl_31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.642857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.357143,0.000000,0.000000,0.000000,0.000000
d_cl_32,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.2,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000
d_cl_33,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.375000,0.062500,0.000000,0.500000,0.062500,0.000000,0.000000,0.000000
d_cl_34,0.000000,0.181818,0.000000,0.000000,0.000000,0.000000,0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.545455,0.090909,0.000000,0.000000,0.000000,0.090909,0.000000,0.000000

  9%|███▌                                   | 11/120 [16:22<6:21:10, 209.82s/it]

Procesamiento del user 10 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 11
INFO: Noise Filtering applied
INFO: Clusters generated
(90796, 5) (103, 5) (103, 5) (103, 5) (103, 6)
INFO: 15 clusters generated.

  0%|                                                    | 0/15 [00:00<?, ?it/s]
  7%|██▉                                         | 1/15 [00:01<00:20,  1.47s/it]
 13%|█████▊                                      | 2/15 [00:02<00:19,  1.49s/it]
 20%|████████▊                                   | 3/15 [00:04<00:17,  1.48s/it]
 27%|███████████▋                                | 4/15 [00:05<00:16,  1.48s/it]
 33%|██████████████▋                             | 5/15 [00:07<00:14,  1.47s/it]
 40%|█████████████████▌                          | 6/15 [00:08<00:13,  1.47s/it]
 47%|████████████████████▌                       | 7/15 [00:10<00:11,  1.44s/it]
 53%|███████████████████████▍                    | 8/15 [00:11<00:10,  1.46s/it]
 60%|██████████████████████████▍                 | 9/15 [00:13<00:08,  1.46s/it]
 67%|████████████████████████████▋              | 10/15 [00:14<00:07,  1.47s/it]
 73%|███████████████████████████████▌           | 11/15 [00:16<00:05,  1.48s/it]
 80%|██████████████████████████████████▍        | 12/15 [00:17<00:04,  1.48s/it]
 87%|█████████████████████████████████████▎     | 13/15 [00:19<00:02,  1.48s/it]
 93%|████████████████████████████████████████▏  | 14/15 [00:20<00:01,  1.48s/it]
100%|███████████████████████████████████████████| 15/15 [00:22<00:00,  1.47s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
77,11,2008-09-26 10:48:40,39.975062,116.333032,2008-09-26,d_cl_14,d_cl_01,d_cl_14-d_cl_01
178,11,2008-09-26 10:52:11,39.974967,116.341800,2008-09-26,d_cl_01,d_cl_04,d_cl_01-d_cl_04
769,11,2008-09-27 12:39:35,39.938998,116.348113,2008-09-27,d_cl_04,d_cl_05,d_cl_04-d_cl_05
862,11,2008-09-27 12:42:44,39.941932,116.350388,2008-09-27,d_cl_05,d_cl_06,d_cl_05-d_cl_06
1002,11,2008-09-27 12:48:11,39.952707,116.349503,2008-09-27,d_cl_06,d_cl_13,d_cl_06-d_cl_13
...,...,...,...,...,...,...,...,...
87265,11,2008-12-13 11:53:27,39.965097,116.363653,2008-12-13,d_cl_11,d_cl_08,d_cl_11-d_cl_08
87462,11,2008-12-13 12:03:28,39.941922,116.365943,2008-12-13,d_cl_08,d_cl_09,d_cl_08-d_cl_09
87912,11,2008-12-13 13:38:53,39.936320,116.366587,2008-12-13,d_cl_09,d_cl_08,d_cl_09-d_cl_08
87980,11,2008-12-13 13:42:45,39.945398,116.366103,2008-12-13,d_cl_08,d_cl_11,d_cl_08-d_cl_11
88148,11,2008-12-13 13:49:46,39.965500,116.364178,2008-12-13,d_cl_11,d_cl_00,d_cl_11-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14
cluster,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.000000,0.000000,0.166667,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.055556,0.611111,0.000000,0.0
d_cl_01,0.200000,0.000000,0.000000,0.000000,0.200000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.4
d_cl_02,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
d_cl_03,0.000000,0.111111,0.000000,0.000000,0.111111,0.222222,0.111111,0.000000,0.000000,0.000000,0.000000,0.111111,0.333333,0.000000,0.0
d_cl_04,0.033333,0.000000,0.033333,0.100000,0.000000,0.533333,0.100000,0.000000,0.000000,0.066667,0.000000,0.000000,0.100000,0.033333,0.0
d_cl_05,0.025641,0.000000,0.000000,0.000000,0.589744,0.000000,0.358974,0.000000,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.0
d_cl_06,0.000000,0.000000,0.000000,0.000000,0.000000,0.512821,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.487179,0.0
d_cl_07,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.0
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.428571,0.000000,0.571429,0.000000,0.000000,0.0
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
d_cl_10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.0
d_cl_11,0.454545,0.000000,0.000000,0.000000,0.090909,0.000000,0.000000,0.000000,0.272727,0.000000,0.000000,0.000000,0.181818,0.000000,0.0
d_cl_12,0.289474,0.000000,0.000000,0.078947,0.026316,0.000000,0.000000,0.000000,0.000000,0.000000,0.026316,0.052632,0.000000,0.526316,0.0
d_cl_13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.025000,0.475000,0.000000,0.0
d_cl_14,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

 10%|███▉                                   | 12/120 [16:47<4:36:11, 153.44s/it]

Procesamiento del user 11 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 12
INFO: Noise Filtering applied
INFO: Clusters generated
(147088, 5) (98, 5) (98, 5) (98, 5) (98, 6)
INFO: 6 clusters generated.

  0%|                                                     | 0/6 [00:00<?, ?it/s]
 17%|███████▌                                     | 1/6 [00:02<00:11,  2.32s/it]
 33%|███████████████                              | 2/6 [00:04<00:09,  2.33s/it]
 50%|██████████████████████▌                      | 3/6 [00:07<00:07,  2.44s/it]
 67%|██████████████████████████████               | 4/6 [00:09<00:04,  2.43s/it]
 83%|█████████████████████████████████████▌       | 5/6 [00:12<00:02,  2.44s/it]
100%|█████████████████████████████████████████████| 6/6 [00:14<00:00,  2.43s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
586,12,2008-09-27 11:20:46,39.983938,116.327323,2008-09-27,d_cl_00,d_cl_02,d_cl_00-d_cl_02
741,12,2008-09-29 04:30:07,39.975268,116.333705,2008-09-29,d_cl_02,d_cl_01,d_cl_02-d_cl_01
837,12,2008-09-29 04:44:17,39.939611,116.348167,2008-09-29,d_cl_01,d_cl_05,d_cl_01-d_cl_05
21826,12,2008-10-05 08:46:44,40.004742,116.319258,2008-10-05,d_cl_05,d_cl_00,d_cl_05-d_cl_00
22289,12,2008-10-06 00:46:39,39.984977,116.324355,2008-10-06,d_cl_00,d_cl_05,d_cl_00-d_cl_05
22567,12,2008-10-06 04:01:52,40.004426,116.316720,2008-10-06,d_cl_05,d_cl_00,d_cl_05-d_cl_00
24165,12,2008-10-24 23:44:02,39.985053,116.328185,2008-10-24,d_cl_00,d_cl_04,d_cl_00-d_cl_04
29393,12,2008-10-25 08:41:41,39.985316,116.332313,2008-10-25,d_cl_04,d_cl_00,d_cl_04-d_cl_00
30417,12,2008-10-27 01:11:33,39.984924,116.324401,2008-10-27,d_cl_00,d_cl_01,d_cl_00-d_cl_01
31254,12,2008-10-27 05:04:39,39.939391,116.346337,2008-10-27,d_cl_01,d_cl_00,d_cl_01-d_cl_00
34271,12,2008-10-31 23:25:33,39.986086,116.328459,2008-10-31,d_cl_00,d_cl_01,d_cl_00-d_cl_01
34496,12,2008-10-31 23:54:18,39.939412,116.347497,2008-10-31,d_cl_01,d_cl_02,d_cl_01-d_cl_02
39288,12,2008-11-02 09:01:28,39.977224,116.332825,2008-11-02,d_cl_02,d_cl_04,d_cl_02-d_cl_04
39298,12,2008-11-02 09:02:18,39.985335,116.332083,2008-11-02,d_cl_04,d_cl_00,d_cl_04-d_cl_00
45685,12,2008-11-09 06:10:04,39.987160,116.327247,2008-11-09,d_cl_00,d_cl_01,d_cl_00-d_cl_01
46975,12,2008-11-09 06:54:04,39.942635,116.348239,2008-11-09,d_cl_01,d_cl_02,d_cl_01-d_cl_02
47792,12,2008-11-09 07:24:23,39.977666,116.333566,2008-11-09,d_cl_02,d_cl_04,d_cl_02-d_cl_04
59963,12,2008-11-09 13:06:32,39.985253,116.332101,2008-11-09,d_cl_04,d_cl_00,d_cl_04-d_cl_00
66015,12,2008-11-14 09:47:02,39.983945,116.327392,2008-11-14,d_cl_00,d_cl_02,d_cl_00-d_cl_02
66383,12,2008-11-14 10:39:30,39.974258,116.333871,2008-11-14,d_cl_02,d_cl_01,d_cl_02-d_cl_01
125661,12,2008-11-17 02:38:28,39.942846,116.347032,2008-11-17,d_cl_01,d_cl_02,d_cl_01-d_cl_02
125992,12,2008-11-17 02:50:37,39.977098,116.331280,2008-11-17,d_cl_02,d_cl_00,d_cl_02-d_cl_00
127143,12,2008-11-18 01:08:31,39.984903,116.324166,2008-11-18,d_cl_00,d_cl_05,d_cl_00-d_cl_05
128470,12,2008-11-18 11:16:50,40.004369,116.316716,2008-11-18,d_cl_05,d_cl_00,d_cl_05-d_cl_00
129120,12,2008-11-19 01:30:38,39.984866,116.324203,2008-11-19,d_cl_00,d_cl_05,d_cl_00-d_cl_05
129887,12,2008-11-19 11:42:33,40.004704,116.319238,2008-11-19,d_cl_05,d_cl_00,d_cl_05-d_cl_00
130547,12,2008-11-20 00:54:57,39.984951,116.324122,2008-11-20,d_cl_00,d_cl_05,d_cl_00-d_cl_05
131505,12,2008-11-20 11:11:16,40.004395,116.316755,2008-11-20,d_cl_05,d_cl_00,d_cl_05-d_cl_00
134601,12,2008-11-24 00:49:22,39.984898,116.324222,2008-11-24,d_cl_00,d_cl_03,d_cl_00-d_cl_03
135550,12,2008-11-24 11:25:49,39.979801,116.320226,2008-11-24,d_cl_03,d_cl_00,d_cl_03-d_cl_00
140575,12,2008-12-06 22:03:18,39.983973,116.327317,2008-12-06,d_cl_00,d_cl_03,d_cl_00-d_cl_03
140812,12,2008-12-07 09:14:03,39.979536,116.315968,2008-12-07,d_cl_03,d_cl_00,d_cl_03-d_cl_00

cluster_next  d_cl_00  d_cl_01   d_cl_02   d_cl_03   d_cl_04   d_cl_05
cluster
d_cl_00           0.0     0.25  0.166667  0.166667  0.083333  0.333333
d_cl_01           0.2     0.00  0.600000  0.000000  0.000000  0.200000
d_cl_02           0.2     0.40  0.000000  0.000000  0.400000  0.000000
d_cl_03           1.0     0.00  0.000000  0.000000  0.000000  0.000000
d_cl_04           1.0     0.00  0.000000  0.000000  0.000000  0.000000
d_cl_05           1.0     0.00  0.000000  0.000000  0.000000  0.000000

 11%|████▏                                  | 13/120 [17:06<3:21:11, 112.82s/it]

Procesamiento del user 12 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 13
INFO: Noise Filtering applied
INFO: Clusters generated
(291173, 5) (250, 5) (250, 5) (250, 5) (250, 6)
INFO: 13 clusters generated.

  0%|                                                    | 0/13 [00:00<?, ?it/s]
  8%|███▍                                        | 1/13 [00:04<00:57,  4.76s/it]
 15%|██████▊                                     | 2/13 [00:09<00:51,  4.68s/it]
 23%|██████████▏                                 | 3/13 [00:14<00:46,  4.68s/it]
 31%|█████████████▌                              | 4/13 [00:18<00:41,  4.65s/it]
 38%|████████████████▉                           | 5/13 [00:23<00:37,  4.67s/it]
 46%|████████████████████▎                       | 6/13 [00:27<00:32,  4.65s/it]
 54%|███████████████████████▋                    | 7/13 [00:32<00:28,  4.67s/it]
 62%|███████████████████████████                 | 8/13 [00:37<00:23,  4.64s/it]
 69%|██████████████████████████████▍             | 9/13 [00:42<00:18,  4.67s/it]
 77%|█████████████████████████████████          | 10/13 [00:46<00:14,  4.67s/it]
 85%|████████████████████████████████████▍      | 11/13 [00:51<00:09,  4.69s/it]
 92%|███████████████████████████████████████▋   | 12/13 [00:56<00:04,  4.67s/it]
100%|███████████████████████████████████████████| 13/13 [01:00<00:00,  4.67s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
207,13,2008-09-27 12:13:03,39.973475,116.346814,2008-09-27,d_cl_01,d_cl_11,d_cl_01-d_cl_11
2352,13,2008-09-28 00:01:01,39.966580,116.360424,2008-09-28,d_cl_11,d_cl_01,d_cl_11-d_cl_01
2681,13,2008-09-28 00:07:33,39.975270,116.343705,2008-09-28,d_cl_01,d_cl_05,d_cl_01-d_cl_05
4859,13,2008-09-28 06:23:08,39.966214,116.340758,2008-09-28,d_cl_05,d_cl_11,d_cl_05-d_cl_11
5143,13,2008-09-28 06:27:52,39.966480,116.365079,2008-09-28,d_cl_11,d_cl_01,d_cl_11-d_cl_01
...,...,...,...,...,...,...,...,...
281463,13,2009-02-17 09:29:08,39.973793,116.374423,2009-02-17,d_cl_03,d_cl_00,d_cl_03-d_cl_00
282927,13,2009-02-17 09:56:43,39.954852,116.423106,2009-02-17,d_cl_00,d_cl_03,d_cl_00-d_cl_03
282978,13,2009-02-19 09:33:24,39.974869,116.375448,2009-02-19,d_cl_03,d_cl_00,d_cl_03-d_cl_00
283747,13,2009-02-20 10:08:58,39.954820,116.423053,2009-02-20,d_cl_00,d_cl_06,d_cl_00-d_cl_06
284423,13,2009-02-22 04:30:37,39.958420,116.436459,2009-02-22,d_cl_06,d_cl_05,d_cl_06-d_cl_05

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12
cluster,,,,,,,,,,,,,
d_cl_00,0.000000,0.130435,0.000,0.282609,0.000000,0.000000,0.043478,0.021739,0.000000,0.021739,0.108696,0.369565,0.021739
d_cl_01,0.058824,0.000000,0.000,0.607843,0.000000,0.019608,0.000000,0.000000,0.019608,0.000000,0.000000,0.294118,0.000000
d_cl_02,0.000000,1.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.551020,0.408163,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020408,0.020408,0.000000
d_cl_04,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
d_cl_05,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
d_cl_06,0.500000,0.000000,0.000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.000000,0.000000,0.000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,1.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.166667,0.000000,0.000,0.166667,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.350000,0.550000,0.025,0.050000,0.000000,0.025000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000

 12%|████▌                                  | 14/120 [18:20<2:58:47, 101.21s/it]

Procesamiento del user 13 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 14
INFO: Noise Filtering applied
INFO: Clusters generated
(388212, 5) (241, 5) (241, 5) (241, 5) (241, 6)
INFO: 24 clusters generated.

  0%|                                                    | 0/24 [00:00<?, ?it/s]
  4%|█▊                                          | 1/24 [00:06<02:20,  6.13s/it]
  8%|███▋                                        | 2/24 [00:12<02:15,  6.17s/it]
 12%|█████▌                                      | 3/24 [00:18<02:08,  6.13s/it]
 17%|███████▎                                    | 4/24 [00:24<02:03,  6.18s/it]
 21%|█████████▏                                  | 5/24 [00:30<01:57,  6.19s/it]
 25%|███████████                                 | 6/24 [00:36<01:50,  6.16s/it]
 29%|████████████▊                               | 7/24 [00:43<01:44,  6.18s/it]
 33%|██████████████▋                             | 8/24 [00:49<01:39,  6.20s/it]
 38%|████████████████▌                           | 9/24 [00:55<01:32,  6.19s/it]
 42%|█████████████████▉                         | 10/24 [01:01<01:26,  6.19s/it]
 46%|███████████████████▋                       | 11/24 [01:08<01:20,  6.20s/it]
 50%|█████████████████████▌                     | 12/24 [01:14<01:14,  6.20s/it]
 54%|███████████████████████▎                   | 13/24 [01:20<01:08,  6.19s/it]
 58%|█████████████████████████                  | 14/24 [01:26<01:02,  6.21s/it]
 62%|██████████████████████████▉                | 15/24 [01:32<00:55,  6.21s/it]
 67%|████████████████████████████▋              | 16/24 [01:39<00:49,  6.20s/it]
 71%|██████████████████████████████▍            | 17/24 [01:45<00:43,  6.17s/it]
 75%|████████████████████████████████▎          | 18/24 [01:51<00:36,  6.16s/it]
 79%|██████████████████████████████████         | 19/24 [01:57<00:30,  6.18s/it]
 83%|███████████████████████████████████▊       | 20/24 [02:03<00:24,  6.15s/it]
 88%|█████████████████████████████████████▋     | 21/24 [02:09<00:18,  6.15s/it]
 92%|███████████████████████████████████████▍   | 22/24 [02:15<00:12,  6.16s/it]
 96%|█████████████████████████████████████████▏ | 23/24 [02:22<00:06,  6.19s/it]
100%|███████████████████████████████████████████| 24/24 [02:28<00:00,  6.18s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
237,14,2008-10-20 09:56:44,39.983420,116.321095,2008-10-20,d_cl_01,d_cl_03,d_cl_01-d_cl_03
414,14,2008-10-20 10:04:07,39.972105,116.332318,2008-10-20,d_cl_03,d_cl_23,d_cl_03-d_cl_23
578,14,2008-10-20 10:10:02,39.966193,116.350097,2008-10-20,d_cl_23,d_cl_04,d_cl_23-d_cl_04
772,14,2008-10-20 10:43:13,39.961410,116.355788,2008-10-20,d_cl_04,d_cl_09,d_cl_04-d_cl_09
866,14,2008-10-20 10:46:21,39.966585,116.364618,2008-10-20,d_cl_09,d_cl_05,d_cl_09-d_cl_05
...,...,...,...,...,...,...,...,...
384579,14,2009-04-16 02:52:45,39.983388,116.321072,2009-04-16,d_cl_01,d_cl_19,d_cl_01-d_cl_19
385422,14,2009-04-16 06:18:07,39.978712,116.318763,2009-04-16,d_cl_19,d_cl_01,d_cl_19-d_cl_01
387152,14,2009-04-16 10:13:01,39.983287,116.321098,2009-04-16,d_cl_01,d_cl_03,d_cl_01-d_cl_03
387345,14,2009-04-16 13:07:30,39.972855,116.330688,2009-04-16,d_cl_03,d_cl_01,d_cl_03-d_cl_01
388070,14,2009-04-17 01:39:49,39.983327,116.321102,2009-04-17,d_cl_01,d_cl_03,d_cl_01-d_cl_03

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21,d_cl_22,d_cl_23
cluster,,,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.482759,0.000000,0.022989,0.000000,0.011494,0.011494,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022989,0.000000,0.011494,0.000000,0.413793,0.000000,0.022989,0.000000
d_cl_01,0.145349,0.000000,0.005814,0.383721,0.023256,0.005814,0.040698,0.011628,0.000000,0.000000,0.000000,0.000000,0.000000,0.063953,0.005814,0.011628,0.000000,0.005814,0.011628,0.098837,0.034884,0.000000,0.139535,0.011628
d_cl_02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.633333,0.000000,0.366667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.000000,0.470588,0.000000,0.000000,0.011765,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011765,0.000000,0.023529,0.000000,0.000000,0.000000,0.000000,0.000000,0.094118,0.011765,0.000000,0.000000,0.376471
d_cl_04,0.000000,0.000000,0.000000,0.012500,0.000000,0.000000,0.000000,0.000000,0.000000,0.375000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.612500
d_cl_05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.037500,0.000000,0.000000,0.000000,0.462500,0.000000,0.000000,0.000000
d_cl_06,0.607143,0.035714,0.357143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.583333,0.000000,0.000000,0.000000,0.416667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.030303,0.030303,0.575758,0.000000,0.000000,0.000000,0.000000,0.363636,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.463415,0.487805,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.048780
d_cl_10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.416667,0.000000,0.000000,0.000000,0.000000,0.583333,0.000000,0.000000
d_cl_11,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.583333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.416667,0.000000,0.000000
d_cl_13,0.461538,0.076923,0.000000,0.000000,0.000000,0.000000,0.038462,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.346154,0.000000,0.000000,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.705882,0.000000,0.000000,0.235294,0.058824,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.068966,0.068966,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.862069,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.428571,0.000000,0.000000,0.000000,0.081633,0.489796,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_19,0.000000,0.807692,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.038462,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_20,0.312500,0.100000,0.000000,0.012500,0.037500,0.462500,0.000000,0.012500,0.000000,0.025000,0.000000,0.000000,0.000000,0.000000,0.012500,0.000000,0.000000,0.000000,0.000000,0.012500,0.000000,0.000000,0.012500,0.000000
d_cl_21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.416667,0.000000,0.583333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_22,0.000000,0.581395,0.000000,0.116279,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.302326
d_cl_23,0.008850,0.026549,0.000000,0.035398,0.300885,0.008850,0.000000,0.000000,0.000000,0.088496,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008850,0.000000,0.000000,0.000000,0.000000,0.522124,0.000000

 12%|████▉                                  | 15/120 [21:10<3:33:11, 121.83s/it]

Procesamiento del user 14 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 15
INFO: Noise Filtering applied
INFO: Clusters generated
(87735, 5) (92, 5) (92, 5) (92, 5) (92, 6)
INFO: 9 clusters generated.

  0%|                                                     | 0/9 [00:00<?, ?it/s]
 11%|█████                                        | 1/9 [00:01<00:11,  1.44s/it]
 22%|██████████                                   | 2/9 [00:02<00:10,  1.44s/it]
 33%|███████████████                              | 3/9 [00:04<00:08,  1.40s/it]
 44%|████████████████████                         | 4/9 [00:05<00:07,  1.44s/it]
 56%|█████████████████████████                    | 5/9 [00:07<00:05,  1.46s/it]
 67%|██████████████████████████████               | 6/9 [00:08<00:04,  1.47s/it]
 78%|███████████████████████████████████          | 7/9 [00:10<00:02,  1.47s/it]
 89%|████████████████████████████████████████     | 8/9 [00:11<00:01,  1.47s/it]
100%|█████████████████████████████████████████████| 9/9 [00:13<00:00,  1.45s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
127,15,2008-10-20 09:17:41,39.991381,116.329631,2008-10-20,d_cl_00,d_cl_02,d_cl_00-d_cl_02
514,15,2008-10-27 09:48:07,39.973948,116.332813,2008-10-27,d_cl_02,d_cl_00,d_cl_02-d_cl_00
2192,15,2008-10-29 00:11:49,39.989641,116.326711,2008-10-29,d_cl_00,d_cl_02,d_cl_00-d_cl_02
2474,15,2008-10-29 01:10:46,39.974170,116.331850,2008-10-29,d_cl_02,d_cl_00,d_cl_02-d_cl_00
4168,15,2008-10-30 00:13:48,39.989630,116.326747,2008-10-30,d_cl_00,d_cl_07,d_cl_00-d_cl_07
...,...,...,...,...,...,...,...,...
81892,15,2009-03-02 05:50:14,40.009577,116.315932,2009-03-02,d_cl_05,d_cl_01,d_cl_05-d_cl_01
82760,15,2009-03-02 16:43:25,40.003422,116.324294,2009-03-02,d_cl_01,d_cl_05,d_cl_01-d_cl_05
83023,15,2009-03-03 00:49:43,40.009672,116.316072,2009-03-03,d_cl_05,d_cl_01,d_cl_05-d_cl_01
84944,15,2009-03-03 10:18:18,40.000919,116.327192,2009-03-03,d_cl_01,d_cl_05,d_cl_01-d_cl_05
86728,15,2009-03-04 06:03:52,40.009634,116.316011,2009-03-04,d_cl_05,d_cl_01,d_cl_05-d_cl_01

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08
cluster,,,,,,,,,
d_cl_00,0.000000,0.040,0.3200,0.080000,0.000000,0.080000,0.000000,0.080000,0.400000
d_cl_01,0.142857,0.000,0.0000,0.000000,0.000000,0.857143,0.000000,0.000000,0.000000
d_cl_02,0.294118,0.000,0.0000,0.058824,0.000000,0.000000,0.000000,0.117647,0.529412
d_cl_03,0.156250,0.000,0.0625,0.000000,0.156250,0.000000,0.000000,0.625000,0.000000
d_cl_04,0.000000,0.000,0.0000,0.782609,0.000000,0.000000,0.217391,0.000000,0.000000
d_cl_05,0.125000,0.875,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.000,0.0000,0.000000,0.772727,0.000000,0.000000,0.000000,0.227273
d_cl_07,0.400000,0.000,0.1600,0.440000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.083333,0.000,0.1250,0.000000,0.041667,0.000000,0.708333,0.041667,0.000000

 13%|█████▎                                  | 16/120 [21:25<2:35:37, 89.78s/it]

Procesamiento del user 15 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 16
INFO: Noise Filtering applied
INFO: Clusters generated
(89270, 5) (74, 5) (74, 5) (74, 5) (74, 6)
INFO: 12 clusters generated.

  0%|                                                    | 0/12 [00:00<?, ?it/s]
  8%|███▋                                        | 1/12 [00:01<00:16,  1.47s/it]
 17%|███████▎                                    | 2/12 [00:02<00:14,  1.47s/it]
 25%|███████████                                 | 3/12 [00:04<00:13,  1.46s/it]
 33%|██████████████▋                             | 4/12 [00:05<00:11,  1.46s/it]
 42%|██████████████████▎                         | 5/12 [00:07<00:10,  1.45s/it]
 50%|██████████████████████                      | 6/12 [00:08<00:08,  1.45s/it]
 58%|█████████████████████████▋                  | 7/12 [00:10<00:07,  1.45s/it]
 67%|█████████████████████████████▎              | 8/12 [00:11<00:05,  1.42s/it]
 75%|█████████████████████████████████           | 9/12 [00:13<00:04,  1.44s/it]
 83%|███████████████████████████████████▊       | 10/12 [00:14<00:02,  1.45s/it]
 92%|███████████████████████████████████████▍   | 11/12 [00:15<00:01,  1.45s/it]
100%|███████████████████████████████████████████| 12/12 [00:17<00:00,  1.45s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
4757,16,2008-10-29 12:12:55,39.975105,116.336037,2008-10-29,d_cl_00,d_cl_11,d_cl_00-d_cl_11
4926,16,2008-10-30 07:14:20,39.974455,116.302728,2008-10-30,d_cl_11,d_cl_00,d_cl_11-d_cl_00
6479,16,2008-10-30 10:03:47,39.974902,116.331731,2008-10-30,d_cl_00,d_cl_11,d_cl_00-d_cl_11
7849,16,2008-10-30 12:46:43,39.974192,116.302660,2008-10-30,d_cl_11,d_cl_00,d_cl_11-d_cl_00
8330,16,2008-10-31 01:11:49,39.975208,116.331918,2008-10-31,d_cl_00,d_cl_01,d_cl_00-d_cl_01
8860,16,2008-10-31 03:38:47,39.979691,116.316679,2008-10-31,d_cl_01,d_cl_00,d_cl_01-d_cl_00
9241,16,2008-10-31 10:24:43,39.975000,116.336131,2008-10-31,d_cl_00,d_cl_10,d_cl_00-d_cl_10
15869,16,2008-11-01 12:32:17,39.979903,116.332830,2008-11-01,d_cl_10,d_cl_00,d_cl_10-d_cl_00
16370,16,2008-11-03 01:59:38,39.974783,116.333712,2008-11-03,d_cl_00,d_cl_03,d_cl_00-d_cl_03
17024,16,2008-11-03 23:44:19,39.945893,116.318507,2008-11-03,d_cl_03,d_cl_02,d_cl_03-d_cl_02
17124,16,2008-11-03 23:48:25,39.954969,116.317388,2008-11-03,d_cl_02,d_cl_04,d_cl_02-d_cl_04
17200,16,2008-11-03 23:50:22,39.963631,116.315908,2008-11-03,d_cl_04,d_cl_09,d_cl_04-d_cl_09
17280,16,2008-11-03 23:53:52,39.971310,116.312951,2008-11-03,d_cl_09,d_cl_00,d_cl_09-d_cl_00
17516,16,2008-11-04 00:06:04,39.973595,116.332581,2008-11-04,d_cl_00,d_cl_09,d_cl_00-d_cl_09
17611,16,2008-11-04 09:36:19,39.968011,116.314272,2008-11-04,d_cl_09,d_cl_04,d_cl_09-d_cl_04
17696,16,2008-11-04 09:39:19,39.960258,116.316526,2008-11-04,d_cl_04,d_cl_02,d_cl_04-d_cl_02
17818,16,2008-11-04 09:44:33,39.951531,116.317962,2008-11-04,d_cl_02,d_cl_03,d_cl_02-d_cl_03
17912,16,2008-11-04 09:49:43,39.942541,116.319121,2008-11-04,d_cl_03,d_cl_08,d_cl_03-d_cl_08
20989,16,2008-11-05 01:04:11,39.961019,116.302171,2008-11-05,d_cl_08,d_cl_00,d_cl_08-d_cl_00
21741,16,2008-11-05 03:53:47,39.973548,116.332564,2008-11-05,d_cl_00,d_cl_09,d_cl_00-d_cl_09
22091,16,2008-11-05 09:30:42,39.968031,116.314334,2008-11-05,d_cl_09,d_cl_04,d_cl_09-d_cl_04
22181,16,2008-11-05 09:34:18,39.960167,116.316555,2008-11-05,d_cl_04,d_cl_02,d_cl_04-d_cl_02
22300,16,2008-11-05 09:40:02,39.951468,116.317908,2008-11-05,d_cl_02,d_cl_03,d_cl_02-d_cl_03
22417,16,2008-11-05 09:45:40,39.942496,116.319136,2008-11-05,d_cl_03,d_cl_06,d_cl_03-d_cl_06
23011,16,2008-11-05 10:20:20,39.922671,116.267698,2008-11-05,d_cl_06,d_cl_07,d_cl_06-d_cl_07
26375,16,2008-11-05 22:59:45,39.923013,116.258840,2008-11-05,d_cl_07,d_cl_06,d_cl_07-d_cl_06
26461,16,2008-11-05 23:01:12,39.923140,116.272119,2008-11-05,d_cl_06,d_cl_03,d_cl_06-d_cl_03
27176,16,2008-11-05 23:32:15,39.945925,116.318416,2008-11-05,d_cl_03,d_cl_02,d_cl_03-d_cl_02
27283,16,2008-11-05 23:36:38,39.954935,116.316965,2008-11-05,d_cl_02,d_cl_04,d_cl_02-d_cl_04
27373,16,2008-11-05 23:39:21,39.963703,116.315953,2008-11-05,d_cl_04,d_cl_09,d_cl_04-d_cl_09
27459,16,2008-11-05 23:42:51,39.971273,116.312835,2008-11-05,d_cl_09,d_cl_00,d_cl_09-d_cl_00
27876,16,2008-11-06 03:31:27,39.973501,116.331985,2008-11-06,d_cl_00,d_cl_09,d_cl_00-d_cl_09
28128,16,2008-11-06 09:35:52,39.967976,116.313979,2008-11-06,d_cl_09,d_cl_04,d_cl_09-d_cl_04
28209,16,2008-11-06 09:38:29,39.960209,116.316409,2008-11-06,d_cl_04,d_cl_02,d_cl_04-d_cl_02
28318,16,2008-11-06 09:43:34,39.951449,116.317348,2008-11-06,d_cl_02,d_cl_03,d_cl_02-d_cl_03
28418,16,2008-11-06 09:48:07,39.942523,116.318868,2008-11-06,d_cl_03,d_cl_07,d_cl_03-d_cl_07
33756,16,2008-11-06 22:59:43,39.922986,116.258849,2008-11-06,d_cl_07,d_cl_06,d_cl_07-d_cl_06
33855,16,2008-11-06 23:01:31,39.922997,116.272097,2008-11-06,d_cl_06,d_cl_03,d_cl_06-d_cl_03
34527,16,2008-11-06 23:31:20,39.945907,116.318806,2008-11-06,d_cl_03,d_cl_02,d_cl_03-d_cl_02
34615,16,2008-11-06 23:34:34,39.954929,116.317009,2008-11-06,d_cl_02,d_cl_04,d_cl_02-d_cl_04
34698,16,2008-11-06 23:36:48,39.963646,116.315961,2008-11-06,d_cl_04,d_cl_09,d_cl_04-d_cl_09
34790,16,2008-11-06 23:40:26,39.971283,116.312639,2008-11-06,d_cl_09,d_cl_00,d_cl_09-d_cl_00
35052,16,2008-11-07 09:09:01,39.975881,116.332514,2008-11-07,d_cl_00,d_cl_09,d_cl_00-d_cl_09
35517,16,2008-11-07 09:39:13,39.968013,116.314317,2008-11-07,d_cl_09,d_cl_04,d_cl_09-d_cl_04
35584,16,2008-11-07 09:40:52,39.960234,116.316556,2008-11-07,d_cl_04,d_cl_02,d_cl_04-d_cl_02
35687,16,2008-11-07 09:44:58,39.951432,116.317832,2008-11-07,d_cl_02,d_cl_03,d_cl_02-d_cl_03
35802,16,2008-11-07 09:50:09,39.942420,116.318875,2008-11-07,d_cl_03,d_cl_07,d_cl_03-d_cl_07
41108,16,2008-11-09 23:00:50,39.923023,116.258872,2008-11-09,d_cl_07,d_cl_06,d_cl_07-d_cl_06
41190,16,2008-11-09 23:02:12,39.923051,116.272088,2008-11-09,d_cl_06,d_cl_03,d_cl_06-d_cl_03
41854,16,2008-11-09 23:31:23,39.945928,116.318369,2008-11-09,d_cl_03,d_cl_02,d_cl_03-d_cl_02
41970,16,2008-11-09 23:36:28,39.954919,116.317201,2008-11-09,d_cl_02,d_cl_04,d_cl_02-d_cl_04
42055,16,2008-11-09 23:38:52,39.963636,116.315845,2008-11-09,d_cl_04,d_cl_09,d_cl_04-d_cl_09
42152,16,2008-11-09 23:43:16,39.971267,116.312868,2008-11-09,d_cl_09,d_cl_00,d_cl_09-d_cl_00
42563,16,2008-11-10 09:19:48,39.974896,116.331707,2008-11-10,d_cl_00,d_cl_09,d_cl_00-d_cl_09
42888,16,2008-11-10 09:38:19,39.967942,116.314277,2008-11-10,d_cl_09,d_cl_04,d_cl_09-d_cl_04
42981,16,2008-11-10 09:42:03,39.960180,116.316526,2008-11-10,d_cl_04,d_cl_02,d_cl_04-d_cl_02
43104,16,2008-11-10 09:49:11,39.951495,116.316965,2008-11-10,d_cl_02,d_cl_03,d_cl_02-d_cl_03
43208,16,2008-11-10 09:53:44,39.942481,116.318803,2008-11-10,d_cl_03,d_cl_06,d_cl_03-d_cl_06
43876,16,2008-11-10 10:25:15,39.923186,116.267652,2008-11-10,d_cl_06,d_cl_07,d_cl_06-d_cl_07
43964,16,2008-11-10 10:26:49,39.923181,116.254348,2008-11-10,d_cl_07,d_cl_08,d_cl_07-d_cl_08
47605,16,2008-11-11 00:41:38,39.960903,116.302336,2008-11-11,d_cl_08,d_cl_00,d_cl_08-d_cl_00
48813,16,2008-11-11 07:00:55,39.973684,116.332057,2008-11-11,d_cl_00,d_cl_11,d_cl_00-d_cl_11
49665,16,2008-11-11 07:41:23,39.974348,116.302698,2008-11-11,d_cl_11,d_cl_00,d_cl_11-d_cl_00
49970,16,2008-11-11 09:11:10,39.975812,116.335449,2008-11-11,d_cl_00,d_cl_10,d_cl_00-d_cl_10
51412,16,2008-11-12 00:19:54,39.980756,116.334675,2008-11-12,d_cl_10,d_cl_00,d_cl_10-d_cl_00
51509,16,2008-11-12 06:31:05,39.973395,116.332060,2008-11-12,d_cl_00,d_cl_11,d_cl_00-d_cl_11
51745,16,2008-11-12 06:53:15,39.973247,116.300196,2008-11-12,d_cl_11,d_cl_08,d_cl_11-d_cl_08
51983,16,2008-11-12 07:11:55,39.959163,116.301807,2008-11-12,d_cl_08,d_cl_05,d_cl_08-d_cl_05
52050,16,2008-11-12 07:15:12,39.952761,116.302876,2008-11-12,d_cl_05,d_cl_00,d_cl_05-d_cl_00
54372,16,2008-11-14 00:49:46,39.972993,116.334023,2008-11-14,d_cl_00,d_cl_11,d_cl_00-d_cl_11
55167,16,2008-11-14 08:06:31,39.974535,116.302804,2008-11-14,d_cl_11,d_cl_09,d_cl_11-d_cl_09
55213,16,2008-11-14 08:10:45,39.971036,116.313391,2008-11-14,d_cl_09,d_cl_00,d_cl_09-d_cl_00
59988,16,2008-11-19 01:26:24,39.974882,116.331728,2008-11-19,d_cl_00,d_cl_11,d_cl_00-d_cl_11
60444,16,2008-11-19 02:13:21,39.974645,116.302809,2008-11-19,d_cl_11,d_cl_00,d_cl_11-d_cl_00
61073,16,2008-11-19 07:01:58,39.973627,116.334278,2008-11-19,d_cl_00,d_cl_11,d_cl_00-d_cl_11
61456,16,2008-11-19 08:54:11,39.973399,116.301703,2008-11-19,d_cl_11,d_cl_00,d_cl_11-d_cl_00
65397,16,2008-11-23 02:40:18,39.975061,116.331869,2008-11-23,d_cl_00,d_cl_11,d_cl_00-d_cl_11
66019,16,2008-11-23 04:34:42,39.974702,116.302901,2008-11-23,d_cl_11,d_cl_00,d_cl_11-d_cl_00
66598,16,2008-11-24 05:36:38,39.975286,116.331902,2008-11-24,d_cl_00,d_cl_01,d_cl_00-d_cl_01
67315,16,2008-11-24 07:25:12,39.979685,116.316650,2008-11-24,d_cl_01,d_cl_00,d_cl_01-d_cl_00
68307,16,2008-11-24 09:20:57,39.975013,116.336131,2008-11-24,d_cl_00,d_cl_09,d_cl_00-d_cl_09
69518,16,2008-12-03 09:23:05,39.967924,116.314210,2008-12-03,d_cl_09,d_cl_04,d_cl_09-d_cl_04
69594,16,2008-12-03 09:25:28,39.960179,116.316549,2008-12-03,d_cl_04,d_cl_02,d_cl_04-d_cl_02
69706,16,2008-12-03 09:30:31,39.951637,116.317882,2008-12-03,d_cl_02,d_cl_03,d_cl_02-d_cl_03
69810,16,2008-12-03 09:35:02,39.942405,116.318987,2008-12-03,d_cl_03,d_cl_06,d_cl_03-d_cl_06
70601,16,2008-12-03 10:21:56,39.923094,116.267543,2008-12-03,d_cl_06,d_cl_07,d_cl_06-d_cl_07
73462,16,2008-12-03 23:04:46,39.922864,116.258814,2008-12-03,d_cl_07,d_cl_06,d_cl_07-d_cl_06
73553,16,2008-12-03 23:06:29,39.922944,116.272194,2008-12-03,d_cl_06,d_cl_03,d_cl_06-d_cl_03
74341,16,2008-12-03 23:45:04,39.945820,116.318116,2008-12-03,d_cl_03,d_cl_02,d_cl_03-d_cl_02
74445,16,2008-12-03 23:50:05,39.954937,116.317329,2008-12-03,d_cl_02,d_cl_04,d_cl_02-d_cl_04
74527,16,2008-12-03 23:52:30,39.963651,116.316060,2008-12-03,d_cl_04,d_cl_09,d_cl_04-d_cl_09
74643,16,2008-12-03 23:58:40,39.971192,116.312417,2008-12-03,d_cl_09,d_cl_00,d_cl_09-d_cl_00
76338,16,2008-12-08 03:12:44,39.975278,116.333794,2008-12-08,d_cl_00,d_cl_10,d_cl_00-d_cl_10
76605,16,2008-12-08 04:03:52,39.980188,116.333796,2008-12-08,d_cl_10,d_cl_00,d_cl_10-d_cl_00
76898,16,2008-12-08 04:25:34,39.974149,116.333693,2008-12-08,d_cl_00,d_cl_10,d_cl_00-d_cl_10
76899,16,2008-12-08 04:26:25,39.982092,116.333141,2008-12-08,d_cl_10,d_cl_00,d_cl_10-d_cl_00
76903,16,2008-12-08 04:27:54,39.974794,116.333626,2008-12-08,d_cl_00,d_cl_10,d_cl_00-d_cl_10
76917,16,2008-12-08 04:30:03,39.980019,116.333305,2008-12-08,d_cl_10,d_cl_00,d_cl_10-d_cl_00
81994,16,2008-12-13 09:07:01,39.976059,116.333989,2008-12-13,d_cl_00,d_cl_10,d_cl_00-d_cl_10
82008,16,2008-12-13 09:07:25,39.983225,116.331853,2008-12-13,d_cl_10,d_cl_00,d_cl_10-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11
cluster,,,,,,,,,,,,
d_cl_00,0.000000,0.086957,0.000000,0.043478,0.000000,0.000000,0.000000,0.000000,0.000000,0.260870,0.26087,0.347826
d_cl_01,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
d_cl_02,0.000000,0.000000,0.000000,0.545455,0.454545,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
d_cl_03,0.000000,0.000000,0.454545,0.000000,0.000000,0.000000,0.272727,0.181818,0.090909,0.000000,0.00000,0.000000
d_cl_04,0.000000,0.000000,0.545455,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.454545,0.00000,0.000000
d_cl_05,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
d_cl_06,0.000000,0.000000,0.000000,0.571429,0.000000,0.000000,0.000000,0.428571,0.000000,0.000000,0.00000,0.000000
d_cl_07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.800000,0.000000,0.200000,0.000000,0.00000,0.000000
d_cl_08,0.666667,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
d_cl_09,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
d_cl_10,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
d_cl_11,0.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.125000,0.00000,0.000000

 14%|█████▋                                  | 17/120 [21:45<1:58:00, 68.74s/it]

Procesamiento del user 16 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 17
INFO: Noise Filtering applied
INFO: Clusters generated
(1026176, 5) (532, 5) (532, 5) (532, 5) (532, 6)
INFO: 16 clusters generated.

  0%|                                                    | 0/16 [00:00<?, ?it/s]
  6%|██▊                                         | 1/16 [00:16<04:00, 16.02s/it]
 12%|█████▌                                      | 2/16 [00:32<03:45, 16.08s/it]
 19%|████████▎                                   | 3/16 [00:48<03:28, 16.06s/it]
 25%|███████████                                 | 4/16 [01:04<03:12, 16.07s/it]
 31%|█████████████▊                              | 5/16 [01:20<02:56, 16.02s/it]
 38%|████████████████▌                           | 6/16 [01:36<02:39, 15.96s/it]
 44%|███████████████████▎                        | 7/16 [01:52<02:23, 16.00s/it]
 50%|██████████████████████                      | 8/16 [02:08<02:08, 16.07s/it]
 56%|████████████████████████▊                   | 9/16 [02:24<01:52, 16.07s/it]
 62%|██████████████████████████▉                | 10/16 [02:40<01:36, 16.02s/it]
 69%|█████████████████████████████▌             | 11/16 [02:56<01:20, 16.00s/it]
 75%|████████████████████████████████▎          | 12/16 [03:12<01:04, 16.08s/it]
 81%|██████████████████████████████████▉        | 13/16 [03:28<00:48, 16.09s/it]
 88%|█████████████████████████████████████▋     | 14/16 [03:45<00:32, 16.19s/it]
 94%|████████████████████████████████████████▎  | 15/16 [04:01<00:16, 16.12s/it]
100%|███████████████████████████████████████████| 16/16 [04:17<00:00, 16.07s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
23,17,2008-10-30 09:29:01,39.988080,116.320970,2008-10-30,d_cl_03,d_cl_05,d_cl_03-d_cl_05
197,17,2008-10-30 09:41:55,39.998020,116.331555,2008-10-30,d_cl_05,d_cl_01,d_cl_05-d_cl_01
311,17,2008-10-30 09:49:01,40.008775,116.336692,2008-10-30,d_cl_01,d_cl_05,d_cl_01-d_cl_05
938,17,2008-10-30 23:49:59,39.995495,116.328532,2008-10-30,d_cl_05,d_cl_03,d_cl_05-d_cl_03
1129,17,2008-10-31 00:00:40,39.985373,116.319457,2008-10-31,d_cl_03,d_cl_05,d_cl_03-d_cl_05
...,...,...,...,...,...,...,...,...
1023831,17,2009-07-04 06:42:16,40.006828,116.380135,2009-07-04,d_cl_02,d_cl_09,d_cl_02-d_cl_09
1024250,17,2009-07-04 06:55:33,40.000213,116.381233,2009-07-04,d_cl_09,d_cl_02,d_cl_09-d_cl_02
1025646,17,2009-07-04 09:01:08,40.006898,116.380138,2009-07-04,d_cl_02,d_cl_09,d_cl_02-d_cl_09
1025712,17,2009-07-04 09:03:20,39.996888,116.380612,2009-07-04,d_cl_09,d_cl_10,d_cl_09-d_cl_10
1025860,17,2009-07-04 09:06:12,39.986193,116.369350,2009-07-04,d_cl_10,d_cl_03,d_cl_10-d_cl_03

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15
cluster,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.059091,0.100000,0.545455,0.113636,0.004545,0.004545,0.009091,0.013636,0.068182,0.054545,0.013636,0.000000,0.000000,0.004545,0.009091
d_cl_01,0.535714,0.000000,0.035714,0.071429,0.035714,0.250000,0.000000,0.035714,0.000000,0.035714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_02,0.483146,0.000000,0.000000,0.022472,0.000000,0.000000,0.000000,0.000000,0.123596,0.348315,0.000000,0.000000,0.022472,0.000000,0.000000,0.000000
d_cl_03,0.469274,0.005587,0.000000,0.000000,0.033520,0.067039,0.005587,0.016760,0.005587,0.000000,0.385475,0.000000,0.000000,0.005587,0.000000,0.005587
d_cl_04,0.412500,0.012500,0.000000,0.150000,0.000000,0.000000,0.000000,0.000000,0.025000,0.000000,0.037500,0.000000,0.000000,0.325000,0.037500,0.000000
d_cl_05,0.047619,0.619048,0.000000,0.285714,0.047619,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.166667,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.166667,0.000000,0.583333,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.583333,0.000000,0.000000,0.083333,0.000000,0.000000,0.083333,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.000000
d_cl_08,0.714286,0.000000,0.095238,0.000000,0.000000,0.000000,0.095238,0.095238,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.012048,0.000000,0.698795,0.012048,0.012048,0.000000,0.000000,0.000000,0.000000,0.000000,0.120482,0.000000,0.012048,0.000000,0.012048,0.120482
d_cl_10,0.059701,0.000000,0.022388,0.246269,0.029851,0.000000,0.052239,0.007463,0.000000,0.119403,0.000000,0.000000,0.000000,0.029851,0.044776,0.388060
d_cl_11,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.050000,0.000000,0.000000,0.000000,0.633333,0.016667,0.000000,0.016667,0.000000,0.000000,0.016667,0.000000,0.000000,0.000000,0.116667,0.150000
d_cl_14,0.014925,0.000000,0.000000,0.014925,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029851,0.000000,0.000000,0.373134,0.000000,0.567164
d_cl_15,0.044643,0.000000,0.000000,0.008929,0.026786,0.000000,0.000000,0.008929,0.000000,0.178571,0.267857,0.000000,0.000000,0.035714,0.428571,0.000000

 15%|█████▊                                 | 18/120 [28:55<5:01:30, 177.36s/it]

Procesamiento del user 17 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 18
INFO: Noise Filtering applied
INFO: Clusters generated
(47279, 5) (119, 5) (119, 5) (119, 5) (119, 6)
INFO: 10 clusters generated.

  0%|                                                    | 0/10 [00:00<?, ?it/s]
 10%|████▍                                       | 1/10 [00:00<00:07,  1.24it/s]
 20%|████████▊                                   | 2/10 [00:01<00:06,  1.32it/s]
 30%|█████████████▏                              | 3/10 [00:02<00:05,  1.34it/s]
 40%|█████████████████▌                          | 4/10 [00:03<00:04,  1.28it/s]
 50%|██████████████████████                      | 5/10 [00:03<00:03,  1.32it/s]
 60%|██████████████████████████▍                 | 6/10 [00:04<00:03,  1.27it/s]
 70%|██████████████████████████████▊             | 7/10 [00:05<00:02,  1.30it/s]
 80%|███████████████████████████████████▏        | 8/10 [00:06<00:01,  1.26it/s]
 90%|███████████████████████████████████████▌    | 9/10 [00:06<00:00,  1.29it/s]
100%|███████████████████████████████████████████| 10/10 [00:07<00:00,  1.28it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
189,18,2008-11-04 01:20:26,39.865903,116.385665,2008-11-04,d_cl_00,d_cl_09,d_cl_00-d_cl_09
561,18,2008-11-05 04:56:21,39.863928,116.412787,2008-11-05,d_cl_09,d_cl_04,d_cl_09-d_cl_04
616,18,2008-11-05 05:13:24,39.863692,116.404715,2008-11-05,d_cl_04,d_cl_00,d_cl_04-d_cl_00
1126,18,2008-11-05 10:59:57,39.865160,116.384007,2008-11-05,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1332,18,2008-11-05 11:34:09,39.886942,116.378675,2008-11-05,d_cl_01,d_cl_08,d_cl_01-d_cl_08
6861,18,2008-11-06 10:44:29,39.883832,116.392463,2008-11-06,d_cl_08,d_cl_06,d_cl_08-d_cl_06
7299,18,2008-11-07 00:01:38,39.880903,116.392787,2008-11-07,d_cl_06,d_cl_08,d_cl_06-d_cl_08
7352,18,2008-11-07 00:04:16,39.887385,116.392487,2008-11-07,d_cl_08,d_cl_03,d_cl_08-d_cl_03
8611,18,2008-11-07 03:11:59,39.915973,116.391360,2008-11-07,d_cl_03,d_cl_07,d_cl_03-d_cl_07
11207,18,2008-11-07 11:47:25,39.878042,116.397428,2008-11-07,d_cl_07,d_cl_08,d_cl_07-d_cl_08
11232,18,2008-11-07 11:48:31,39.883867,116.392533,2008-11-07,d_cl_08,d_cl_06,d_cl_08-d_cl_06
11290,18,2008-11-07 11:50:36,39.877622,116.391482,2008-11-07,d_cl_06,d_cl_00,d_cl_06-d_cl_00
11463,18,2008-11-07 11:56:17,39.865630,116.386193,2008-11-07,d_cl_00,d_cl_06,d_cl_00-d_cl_06
11623,18,2008-11-08 00:06:54,39.880892,116.392875,2008-11-08,d_cl_06,d_cl_08,d_cl_06-d_cl_08
16739,18,2008-11-08 11:41:28,39.883910,116.392403,2008-11-08,d_cl_08,d_cl_06,d_cl_08-d_cl_06
16795,18,2008-11-08 11:43:38,39.877573,116.391387,2008-11-08,d_cl_06,d_cl_00,d_cl_06-d_cl_00
17225,18,2008-11-08 13:48:21,39.865253,116.386190,2008-11-08,d_cl_00,d_cl_05,d_cl_00-d_cl_05
17335,18,2008-11-08 21:39:34,39.877777,116.381443,2008-11-08,d_cl_05,d_cl_01,d_cl_05-d_cl_01
17385,18,2008-11-08 21:41:24,39.886425,116.378045,2008-11-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
22047,18,2008-11-10 11:20:24,39.866870,116.386658,2008-11-10,d_cl_00,d_cl_04,d_cl_00-d_cl_04
22200,18,2008-11-11 10:01:06,39.863772,116.404638,2008-11-11,d_cl_04,d_cl_00,d_cl_04-d_cl_00
22832,18,2008-11-12 01:19:04,39.863547,116.385530,2008-11-12,d_cl_00,d_cl_02,d_cl_00-d_cl_02
23029,18,2008-11-12 01:24:43,39.870665,116.405518,2008-11-12,d_cl_02,d_cl_09,d_cl_02-d_cl_09
23136,18,2008-11-12 01:28:20,39.864762,116.414872,2008-11-12,d_cl_09,d_cl_03,d_cl_09-d_cl_03
24914,18,2008-11-15 02:52:36,39.915965,116.391280,2008-11-15,d_cl_03,d_cl_00,d_cl_03-d_cl_00
26133,18,2008-11-30 15:18:04,39.865453,116.386188,2008-11-30,d_cl_00,d_cl_09,d_cl_00-d_cl_09
27621,18,2008-12-01 04:56:48,39.864548,116.414267,2008-12-01,d_cl_09,d_cl_04,d_cl_09-d_cl_04
27657,18,2008-12-01 07:10:40,39.865490,116.407420,2008-12-01,d_cl_04,d_cl_02,d_cl_04-d_cl_02
27765,18,2008-12-01 07:13:00,39.870703,116.400993,2008-12-01,d_cl_02,d_cl_00,d_cl_02-d_cl_00
28235,18,2008-12-01 10:59:02,39.865257,116.386102,2008-12-01,d_cl_00,d_cl_06,d_cl_00-d_cl_06
28389,18,2008-12-02 01:12:17,39.880877,116.392790,2008-12-02,d_cl_06,d_cl_08,d_cl_06-d_cl_08
28442,18,2008-12-02 01:14:48,39.887397,116.392355,2008-12-02,d_cl_08,d_cl_00,d_cl_08-d_cl_00
31514,18,2008-12-05 01:22:25,39.864880,116.386717,2008-12-05,d_cl_00,d_cl_04,d_cl_00-d_cl_04
31717,18,2008-12-05 01:29:17,39.863953,116.409278,2008-12-05,d_cl_04,d_cl_09,d_cl_04-d_cl_09
31785,18,2008-12-05 01:32:23,39.863105,116.414405,2008-12-05,d_cl_09,d_cl_04,d_cl_09-d_cl_04
31998,18,2008-12-05 05:04:07,39.864013,116.404667,2008-12-05,d_cl_04,d_cl_00,d_cl_04-d_cl_00
32404,18,2008-12-05 07:18:05,39.865695,116.388548,2008-12-05,d_cl_00,d_cl_02,d_cl_00-d_cl_02
32494,18,2008-12-05 07:19:36,39.871802,116.404975,2008-12-05,d_cl_02,d_cl_00,d_cl_02-d_cl_00
35421,18,2008-12-09 22:10:53,39.863753,116.387398,2008-12-09,d_cl_00,d_cl_03,d_cl_00-d_cl_03
38391,18,2008-12-10 07:47:34,39.918782,116.391228,2008-12-10,d_cl_03,d_cl_00,d_cl_03-d_cl_00
39611,18,2008-12-10 11:23:42,39.864145,116.386093,2008-12-10,d_cl_00,d_cl_01,d_cl_00-d_cl_01
45775,18,2008-12-11 12:19:06,39.883452,116.378383,2008-12-11,d_cl_01,d_cl_05,d_cl_01-d_cl_05
45837,18,2008-12-11 12:21:14,39.874243,116.381383,2008-12-11,d_cl_05,d_cl_00,d_cl_05-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09
cluster,,,,,,,,,,
d_cl_00,0.000000,0.166667,0.166667,0.083333,0.166667,0.083333,0.166667,0.000000,0.000000,0.166667
d_cl_01,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.333333,0.000000
d_cl_02,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333
d_cl_03,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000
d_cl_04,0.600000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000
d_cl_05,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.600000,0.000000
d_cl_07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
d_cl_08,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.250000,0.750000,0.000000,0.000000,0.000000,0.000000,0.000000

 16%|██████▏                                | 19/120 [29:04<3:33:23, 126.77s/it]

Procesamiento del user 18 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 19
INFO: Noise Filtering applied
INFO: Clusters generated
(47823, 5) (76, 5) (76, 5) (76, 5) (76, 6)
INFO: 5 clusters generated.

  0%|                                                     | 0/5 [00:00<?, ?it/s]
 20%|█████████                                    | 1/5 [00:00<00:02,  1.38it/s]
 40%|██████████████████                           | 2/5 [00:01<00:02,  1.26it/s]
 60%|███████████████████████████                  | 3/5 [00:02<00:01,  1.31it/s]
 80%|████████████████████████████████████         | 4/5 [00:03<00:00,  1.26it/s]
100%|█████████████████████████████████████████████| 5/5 [00:03<00:00,  1.29it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
339,19,2008-11-07 09:29:16,39.865685,116.386740,2008-11-07,d_cl_00,d_cl_04,d_cl_00-d_cl_04
499,19,2008-11-08 02:39:27,39.881545,116.381152,2008-11-08,d_cl_04,d_cl_01,d_cl_04-d_cl_01
2203,19,2008-11-08 09:39:29,39.884522,116.378215,2008-11-08,d_cl_01,d_cl_04,d_cl_01-d_cl_04
2271,19,2008-11-08 09:43:39,39.878045,116.381208,2008-11-08,d_cl_04,d_cl_00,d_cl_04-d_cl_00
3511,19,2008-11-10 06:04:23,39.863352,116.386673,2008-11-10,d_cl_00,d_cl_04,d_cl_00-d_cl_04
3622,19,2008-11-10 06:24:14,39.881065,116.381022,2008-11-10,d_cl_04,d_cl_01,d_cl_04-d_cl_01
3639,19,2008-11-10 06:29:01,39.887947,116.378472,2008-11-10,d_cl_01,d_cl_00,d_cl_01-d_cl_00
4106,19,2008-11-10 09:15:18,39.866425,116.385992,2008-11-10,d_cl_00,d_cl_04,d_cl_00-d_cl_04
4781,19,2008-11-11 08:31:58,39.878098,116.381330,2008-11-11,d_cl_04,d_cl_00,d_cl_04-d_cl_00
4867,19,2008-11-12 01:05:42,39.864618,116.388502,2008-11-12,d_cl_00,d_cl_02,d_cl_00-d_cl_02
5098,19,2008-11-12 01:17:11,39.881832,116.392805,2008-11-12,d_cl_02,d_cl_03,d_cl_02-d_cl_03
5505,19,2008-11-12 03:25:29,39.885285,116.392488,2008-11-12,d_cl_03,d_cl_02,d_cl_03-d_cl_02
5569,19,2008-11-12 03:27:55,39.878322,116.392273,2008-11-12,d_cl_02,d_cl_00,d_cl_02-d_cl_00
5867,19,2008-11-12 03:59:35,39.865005,116.386390,2008-11-12,d_cl_00,d_cl_02,d_cl_00-d_cl_02
9132,19,2008-11-13 10:53:08,39.878423,116.391853,2008-11-13,d_cl_02,d_cl_00,d_cl_02-d_cl_00
9427,19,2008-11-13 11:11:12,39.864815,116.385547,2008-11-13,d_cl_00,d_cl_02,d_cl_00-d_cl_02
9479,19,2008-11-13 23:58:22,39.881807,116.392907,2008-11-13,d_cl_02,d_cl_00,d_cl_02-d_cl_00
24468,19,2008-11-20 03:55:30,39.865323,116.386263,2008-11-20,d_cl_00,d_cl_02,d_cl_00-d_cl_02
24606,19,2008-11-20 07:12:47,39.878998,116.392812,2008-11-20,d_cl_02,d_cl_00,d_cl_02-d_cl_00
25553,19,2008-11-20 10:59:48,39.864783,116.385803,2008-11-20,d_cl_00,d_cl_02,d_cl_00-d_cl_02
25695,19,2008-11-20 23:31:06,39.881833,116.393023,2008-11-20,d_cl_02,d_cl_03,d_cl_02-d_cl_03
26500,19,2008-11-21 01:35:43,39.885213,116.392307,2008-11-21,d_cl_03,d_cl_02,d_cl_03-d_cl_02
26557,19,2008-11-21 01:38:54,39.878437,116.392040,2008-11-21,d_cl_02,d_cl_00,d_cl_02-d_cl_00
26821,19,2008-11-21 03:41:30,39.865300,116.384028,2008-11-21,d_cl_00,d_cl_04,d_cl_00-d_cl_04
27051,19,2008-11-21 04:02:05,39.881543,116.381842,2008-11-21,d_cl_04,d_cl_01,d_cl_04-d_cl_01
27129,19,2008-11-21 04:06:43,39.888090,116.378608,2008-11-21,d_cl_01,d_cl_02,d_cl_01-d_cl_02
28212,19,2008-11-22 01:51:41,39.881785,116.392478,2008-11-22,d_cl_02,d_cl_03,d_cl_02-d_cl_03
28273,19,2008-11-22 01:53:51,39.888678,116.392130,2008-11-22,d_cl_03,d_cl_01,d_cl_03-d_cl_01
30976,19,2008-11-22 10:56:18,39.884820,116.378903,2008-11-22,d_cl_01,d_cl_04,d_cl_01-d_cl_04
31031,19,2008-11-22 11:00:07,39.878078,116.381097,2008-11-22,d_cl_04,d_cl_00,d_cl_04-d_cl_00
31284,19,2008-11-22 11:24:16,39.865338,116.386298,2008-11-22,d_cl_00,d_cl_03,d_cl_00-d_cl_03
32310,19,2008-11-23 08:30:29,39.885232,116.392412,2008-11-23,d_cl_03,d_cl_02,d_cl_03-d_cl_02
32369,19,2008-11-23 08:32:15,39.878465,116.391965,2008-11-23,d_cl_02,d_cl_00,d_cl_02-d_cl_00
32649,19,2008-11-23 10:50:43,39.863325,116.387660,2008-11-23,d_cl_00,d_cl_02,d_cl_00-d_cl_02
32886,19,2008-11-23 11:10:19,39.881808,116.392975,2008-11-23,d_cl_02,d_cl_03,d_cl_02-d_cl_03
32945,19,2008-11-23 11:13:32,39.888628,116.392175,2008-11-23,d_cl_03,d_cl_00,d_cl_03-d_cl_00
33467,19,2008-12-02 09:12:18,39.865325,116.386015,2008-12-02,d_cl_00,d_cl_04,d_cl_00-d_cl_04
33600,19,2008-12-03 09:57:00,39.881628,116.381268,2008-12-03,d_cl_04,d_cl_01,d_cl_04-d_cl_01
34327,19,2008-12-03 11:50:55,39.884503,116.378532,2008-12-03,d_cl_01,d_cl_04,d_cl_01-d_cl_04
34405,19,2008-12-03 11:54:07,39.878048,116.381310,2008-12-03,d_cl_04,d_cl_00,d_cl_04-d_cl_00
34598,19,2008-12-03 12:06:02,39.865355,116.386435,2008-12-03,d_cl_00,d_cl_04,d_cl_00-d_cl_04
34729,19,2008-12-04 04:30:58,39.881522,116.381283,2008-12-04,d_cl_04,d_cl_01,d_cl_04-d_cl_01
35636,19,2008-12-04 09:41:19,39.884543,116.378468,2008-12-04,d_cl_01,d_cl_04,d_cl_01-d_cl_04
35697,19,2008-12-04 09:42:48,39.878380,116.380053,2008-12-04,d_cl_04,d_cl_00,d_cl_04-d_cl_00
36572,19,2008-12-05 11:11:23,39.863803,116.384222,2008-12-05,d_cl_00,d_cl_04,d_cl_00-d_cl_04
36744,19,2008-12-05 11:29:46,39.880985,116.380987,2008-12-05,d_cl_04,d_cl_01,d_cl_04-d_cl_01
37103,19,2008-12-05 13:08:53,39.884503,116.378607,2008-12-05,d_cl_01,d_cl_04,d_cl_01-d_cl_04
37171,19,2008-12-05 13:11:15,39.878112,116.381238,2008-12-05,d_cl_04,d_cl_00,d_cl_04-d_cl_00
37722,19,2008-12-06 06:29:12,39.865325,116.386363,2008-12-06,d_cl_00,d_cl_04,d_cl_00-d_cl_04
37898,19,2008-12-06 11:05:03,39.881560,116.381352,2008-12-06,d_cl_04,d_cl_01,d_cl_04-d_cl_01
37937,19,2008-12-06 11:08:37,39.888068,116.378258,2008-12-06,d_cl_01,d_cl_00,d_cl_01-d_cl_00
38218,19,2008-12-07 13:31:20,39.865552,116.386048,2008-12-07,d_cl_00,d_cl_02,d_cl_00-d_cl_02
38322,19,2008-12-08 06:44:32,39.881683,116.392455,2008-12-08,d_cl_02,d_cl_03,d_cl_02-d_cl_03
38376,19,2008-12-08 06:45:58,39.888737,116.391987,2008-12-08,d_cl_03,d_cl_01,d_cl_03-d_cl_01
38859,19,2008-12-08 12:06:00,39.884537,116.378667,2008-12-08,d_cl_01,d_cl_04,d_cl_01-d_cl_04
38905,19,2008-12-08 12:08:03,39.878113,116.381087,2008-12-08,d_cl_04,d_cl_00,d_cl_04-d_cl_00
39190,19,2008-12-08 12:40:38,39.865440,116.386232,2008-12-08,d_cl_00,d_cl_02,d_cl_00-d_cl_02
39256,19,2008-12-09 00:38:52,39.881735,116.392877,2008-12-09,d_cl_02,d_cl_03,d_cl_02-d_cl_03
39311,19,2008-12-09 00:41:27,39.888652,116.392158,2008-12-09,d_cl_03,d_cl_00,d_cl_03-d_cl_00
40632,19,2008-12-09 15:38:49,39.865388,116.386417,2008-12-09,d_cl_00,d_cl_01,d_cl_00-d_cl_01
42074,19,2008-12-10 08:14:08,39.884548,116.378580,2008-12-10,d_cl_01,d_cl_04,d_cl_01-d_cl_04
42145,19,2008-12-10 08:16:45,39.878180,116.381202,2008-12-10,d_cl_04,d_cl_00,d_cl_04-d_cl_00
42673,19,2008-12-10 09:58:55,39.865473,116.386330,2008-12-10,d_cl_00,d_cl_02,d_cl_00-d_cl_02
42780,19,2008-12-11 00:20:36,39.881763,116.393083,2008-12-11,d_cl_02,d_cl_03,d_cl_02-d_cl_03
44372,19,2008-12-11 04:52:43,39.885300,116.392312,2008-12-11,d_cl_03,d_cl_02,d_cl_03-d_cl_02
44436,19,2008-12-11 04:55:50,39.878423,116.392125,2008-12-11,d_cl_02,d_cl_00,d_cl_02-d_cl_00
44684,19,2008-12-11 05:15:46,39.865235,116.386217,2008-12-11,d_cl_00,d_cl_01,d_cl_00-d_cl_01
45516,19,2008-12-13 12:16:39,39.886102,116.376190,2008-12-13,d_cl_01,d_cl_04,d_cl_01-d_cl_04
45527,19,2008-12-13 12:19:14,39.879197,116.380495,2008-12-13,d_cl_04,d_cl_02,d_cl_04-d_cl_02
45780,19,2008-12-14 00:31:46,39.881830,116.392740,2008-12-14,d_cl_02,d_cl_03,d_cl_02-d_cl_03
45833,19,2008-12-14 00:33:49,39.888687,116.392048,2008-12-14,d_cl_03,d_cl_00,d_cl_03-d_cl_00

cluster_next   d_cl_00   d_cl_01   d_cl_02   d_cl_03   d_cl_04
cluster
d_cl_00       0.000000  0.100000  0.450000  0.050000  0.400000
d_cl_01       0.181818  0.000000  0.090909  0.000000  0.727273
d_cl_02       0.466667  0.000000  0.000000  0.533333  0.000000
d_cl_03       0.333333  0.222222  0.444444  0.000000  0.000000
d_cl_04       0.500000  0.437500  0.062500  0.000000  0.000000

 17%|██████▋                                 | 20/120 [29:09<2:30:22, 90.22s/it]

Procesamiento del user 19 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 20
INFO: Noise Filtering applied
INFO: Clusters generated
(177678, 5) (155, 5) (155, 5) (155, 5) (155, 6)
INFO: 2 clusters generated.

  0%|                                                     | 0/2 [00:00<?, ?it/s]
 50%|██████████████████████▌                      | 1/2 [00:02<00:02,  2.90s/it]
100%|█████████████████████████████████████████████| 2/2 [00:05<00:00,  2.86s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
59631,20,2011-09-07 15:10:32,39.975443,116.321468,2011-09-07,d_cl_00,d_cl_01,d_cl_00-d_cl_01
62568,20,2011-09-10 11:34:15,39.983913,116.302022,2011-09-10,d_cl_01,d_cl_00,d_cl_01-d_cl_00
95624,20,2011-09-12 15:39:10,39.975130,116.320558,2011-09-12,d_cl_00,d_cl_01,d_cl_00-d_cl_01
96761,20,2011-09-13 15:12:33,39.986388,116.302647,2011-09-13,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next  d_cl_00  d_cl_01
cluster
d_cl_00           0.0      1.0
d_cl_01           1.0      0.0

 18%|███████                                 | 21/120 [29:21<1:50:03, 66.71s/it]

Procesamiento del user 20 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 22
INFO: Noise Filtering applied
INFO: Clusters generated
(471437, 5) (933, 5) (933, 5) (933, 5) (933, 6)
INFO: 26 clusters generated.

  0%|                                                    | 0/26 [00:00<?, ?it/s]
  4%|█▋                                          | 1/26 [00:07<03:03,  7.34s/it]
  8%|███▍                                        | 2/26 [00:14<02:58,  7.45s/it]
 12%|█████                                       | 3/26 [00:22<02:49,  7.39s/it]
 15%|██████▊                                     | 4/26 [00:29<02:42,  7.40s/it]
 19%|████████▍                                   | 5/26 [00:37<02:36,  7.45s/it]
 23%|██████████▏                                 | 6/26 [00:44<02:28,  7.45s/it]
 27%|███████████▊                                | 7/26 [00:51<02:21,  7.42s/it]
 31%|█████████████▌                              | 8/26 [00:59<02:14,  7.46s/it]
 35%|███████████████▏                            | 9/26 [01:06<02:06,  7.42s/it]
 38%|████████████████▌                          | 10/26 [01:14<01:59,  7.44s/it]
 42%|██████████████████▏                        | 11/26 [01:21<01:51,  7.47s/it]
 46%|███████████████████▊                       | 12/26 [01:29<01:44,  7.48s/it]
 50%|█████████████████████▌                     | 13/26 [01:36<01:36,  7.43s/it]
 54%|███████████████████████▏                   | 14/26 [01:44<01:29,  7.46s/it]
 58%|████████████████████████▊                  | 15/26 [01:51<01:21,  7.41s/it]
 62%|██████████████████████████▍                | 16/26 [01:58<01:14,  7.42s/it]
 65%|████████████████████████████               | 17/26 [02:06<01:07,  7.47s/it]
 69%|█████████████████████████████▊             | 18/26 [02:14<00:59,  7.48s/it]
 73%|███████████████████████████████▍           | 19/26 [02:21<00:52,  7.45s/it]
 77%|█████████████████████████████████          | 20/26 [02:28<00:44,  7.49s/it]
 81%|██████████████████████████████████▋        | 21/26 [02:36<00:37,  7.46s/it]
 85%|████████████████████████████████████▍      | 22/26 [02:43<00:29,  7.47s/it]
 88%|██████████████████████████████████████     | 23/26 [02:51<00:22,  7.53s/it]
 92%|███████████████████████████████████████▋   | 24/26 [02:59<00:15,  7.53s/it]
 96%|█████████████████████████████████████████▎ | 25/26 [03:06<00:07,  7.49s/it]
100%|███████████████████████████████████████████| 26/26 [03:14<00:00,  7.46s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
52,22,2009-01-09 07:20:23,39.984049,116.320328,2009-01-09,d_cl_25,d_cl_02,d_cl_25-d_cl_02
338,22,2009-01-09 10:25:14,39.968194,116.301153,2009-01-09,d_cl_02,d_cl_20,d_cl_02-d_cl_20
1450,22,2009-01-09 12:30:54,39.965639,116.315132,2009-01-09,d_cl_20,d_cl_02,d_cl_20-d_cl_02
1857,22,2009-01-10 03:21:57,39.971643,116.300435,2009-01-10,d_cl_02,d_cl_20,d_cl_02-d_cl_20
2634,22,2009-01-10 04:04:52,39.962228,116.316102,2009-01-10,d_cl_20,d_cl_22,d_cl_20-d_cl_22
...,...,...,...,...,...,...,...,...
470314,22,2009-07-27 00:45:05,40.069378,116.347387,2009-07-27,d_cl_07,d_cl_08,d_cl_07-d_cl_08
470328,22,2009-07-27 00:46:15,40.069442,116.333032,2009-07-27,d_cl_08,d_cl_13,d_cl_08-d_cl_13
470336,22,2009-07-27 01:02:35,39.998985,116.329528,2009-07-27,d_cl_13,d_cl_04,d_cl_13-d_cl_04
470347,22,2009-07-27 01:03:30,39.991464,116.331713,2009-07-27,d_cl_04,d_cl_11,d_cl_04-d_cl_11
470353,22,2009-07-27 01:05:10,39.986078,116.331858,2009-07-27,d_cl_11,d_cl_00,d_cl_11-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21,d_cl_22,d_cl_23,d_cl_24,d_cl_25
cluster,,,,,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.020408,0.530612,0.000000,0.010204,0.000000,0.00,0.010204,0.000000,0.000000,0.000000,0.193878,0.153061,0.000000,0.00,0.000000,0.000000,0.020408,0.000000,0.020408,0.000000,0.010204,0.000000,0.000000,0.000000,0.030612
d_cl_01,0.200000,0.000000,0.066667,0.000000,0.000000,0.000000,0.00,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.066667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_02,0.542857,0.019048,0.000000,0.000000,0.038095,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.009524,0.028571,0.00,0.000000,0.019048,0.009524,0.009524,0.000000,0.180952,0.000000,0.000000,0.000000,0.085714,0.057143
d_cl_03,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.25,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.25,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.021277,0.000000,0.085106,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.425532,0.000000,0.319149,0.00,0.063830,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.085106
d_cl_05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.555556,0.444444,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.000000,0.407407,0.000000,0.000000,0.037037,0.000000,0.00,0.000000,0.518519,0.037037,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.034483,0.000000,0.00,0.517241,0.000000,0.413793,0.000000,0.000000,0.000000,0.034483,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.035714,0.428571,0.00,0.000000,0.535714,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.000000,0.000000,0.000000,0.034483,0.000000,0.517241,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.448276,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.384615,0.000000,0.025641,0.000000,0.564103,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025641,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.200000,0.000000,0.040000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.120000,0.000000,0.600000,0.000000,0.000000,0.000000,0.040000,0.000000,0.000000
d_cl_13,0.000000,0.000000,0.060606,0.030303,0.424242,0.000000,0.00,0.000000,0.000000,0.000000,0.484848,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.250000,0.000000,0.000000,0.250000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000
d_cl_16,0.000000,0.000000,0.529412,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.411765,0.000000,0.058824,0.000000
d_cl_17,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_18,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_19,0.043478,0.000000,0.304348,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.260870,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.217391,0.000000,0.000000,0.173913,0.000000,0.000000
d_cl_20,0.083333,0.000000,0.305556,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.444444,0.000000,0.000000,0.000000
d_cl_21,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.600000
d_cl_22,0.041667,0.000000,0.083333,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.333333,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.041667,0.000000
d_cl_23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_24,0.000000,0.000000,0.636364,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.090909,0.181818,0.000000,0.000000,0.000000,0.000000,0.000000,0.090909,0.000000,0.000000,0.000000
d_cl_25,0.235294,0.000000,0.470588,0.000000,0.176471,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.117647,0.000000,0.000000,0.000000,0.000000

 18%|███████▏                               | 22/120 [33:05<3:05:50, 113.78s/it]

Procesamiento del user 22 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 23
INFO: Noise Filtering applied
INFO: Clusters generated
(120350, 5) (14, 5) (14, 5) (14, 5) (14, 6)
INFO: 4 clusters generated.

  0%|                                                     | 0/4 [00:00<?, ?it/s]
 25%|███████████▎                                 | 1/4 [00:01<00:05,  1.92s/it]
 50%|██████████████████████▌                      | 2/4 [00:03<00:03,  1.92s/it]
 75%|█████████████████████████████████▊           | 3/4 [00:05<00:01,  1.92s/it]
100%|█████████████████████████████████████████████| 4/4 [00:07<00:00,  1.92s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
14,23,2009-01-11 06:18:13,39.906205,116.313300,2009-01-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
1556,23,2009-01-11 09:37:17,39.950930,116.315287,2009-01-11,d_cl_00,d_cl_01,d_cl_00-d_cl_01
3173,23,2009-01-11 14:18:13,39.906206,116.313300,2009-01-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
120096,23,2009-02-22 11:20:48,39.949508,116.315980,2009-02-22,d_cl_00,d_cl_03,d_cl_00-d_cl_03
120137,23,2009-03-08 13:10:59,39.973755,116.363244,2009-03-08,d_cl_03,d_cl_02,d_cl_03-d_cl_02

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
120137,23,2009-03-08 13:10:59.010,39.973755,116.363244,2009-03-08,d_cl_02,d_cl_00,d_cl_03-d_cl_02

cluster_next  d_cl_00  d_cl_01  d_cl_02  d_cl_03
cluster
d_cl_00           0.0      0.5      0.0      0.5
d_cl_01           1.0      0.0      0.0      0.0
d_cl_02           1.0      0.0      0.0      0.0
d_cl_03           0.0      0.0      1.0      0.0

 19%|███████▋                                | 23/120 [33:16<2:14:08, 82.97s/it]

Procesamiento del user 23 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 24
INFO: Noise Filtering applied
INFO: Clusters generated
(263482, 5) (1177, 5) (1177, 5) (1177, 5) (1177, 6)
INFO: 18 clusters generated.

  0%|                                                    | 0/18 [00:00<?, ?it/s]
  6%|██▍                                         | 1/18 [00:04<01:11,  4.24s/it]
 11%|████▉                                       | 2/18 [00:08<01:06,  4.18s/it]
 17%|███████▎                                    | 3/18 [00:12<01:03,  4.27s/it]
 22%|█████████▊                                  | 4/18 [00:16<00:59,  4.22s/it]
 28%|████████████▏                               | 5/18 [00:21<00:54,  4.22s/it]
 33%|██████████████▋                             | 6/18 [00:25<00:50,  4.24s/it]
 39%|█████████████████                           | 7/18 [00:29<00:46,  4.24s/it]
 44%|███████████████████▌                        | 8/18 [00:33<00:42,  4.24s/it]
 50%|██████████████████████                      | 9/18 [00:38<00:38,  4.24s/it]
 56%|███████████████████████▉                   | 10/18 [00:42<00:33,  4.24s/it]
 61%|██████████████████████████▎                | 11/18 [00:46<00:29,  4.22s/it]
 67%|████████████████████████████▋              | 12/18 [00:50<00:25,  4.28s/it]
 72%|███████████████████████████████            | 13/18 [00:55<00:21,  4.24s/it]
 78%|█████████████████████████████████▍         | 14/18 [00:59<00:16,  4.24s/it]
 83%|███████████████████████████████████▊       | 15/18 [01:03<00:12,  4.24s/it]
 89%|██████████████████████████████████████▏    | 16/18 [01:07<00:08,  4.24s/it]
 94%|████████████████████████████████████████▌  | 17/18 [01:12<00:04,  4.23s/it]
100%|███████████████████████████████████████████| 18/18 [01:16<00:00,  4.24s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
9304,24,2008-12-22 01:12:17,39.979975,116.343022,2008-12-22,d_cl_01,d_cl_09,d_cl_01-d_cl_09
9457,24,2009-01-09 09:19:43,39.996619,116.309148,2009-01-09,d_cl_09,d_cl_10,d_cl_09-d_cl_10
9528,24,2009-01-09 09:25:33,40.017250,116.309608,2009-01-09,d_cl_10,d_cl_00,d_cl_10-d_cl_00
9950,24,2009-01-09 10:16:03,40.039226,116.322913,2009-01-09,d_cl_00,d_cl_03,d_cl_00-d_cl_03
14346,24,2009-01-10 08:12:40,40.036718,116.333236,2009-01-10,d_cl_03,d_cl_00,d_cl_03-d_cl_00
...,...,...,...,...,...,...,...,...
259255,24,2009-05-25 12:41:18,40.017317,116.309603,2009-05-25,d_cl_10,d_cl_00,d_cl_10-d_cl_00
259421,24,2009-05-25 23:05:36,40.039083,116.323127,2009-05-25,d_cl_00,d_cl_03,d_cl_00-d_cl_03
259698,24,2009-05-25 23:27:11,40.036184,116.336027,2009-05-25,d_cl_03,d_cl_06,d_cl_03-d_cl_06
263358,24,2009-05-26 10:41:26,40.056710,116.326962,2009-05-26,d_cl_06,d_cl_02,d_cl_06-d_cl_02
263388,24,2009-05-26 10:43:56,40.061663,116.317666,2009-05-26,d_cl_02,d_cl_00,d_cl_02-d_cl_00

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
9304,24,2008-12-22 01:12:16.990,39.979975,116.343022,2008-12-22,d_cl_00,d_cl_01,d_cl_01-d_cl_09

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17
cluster,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.013158,0.250000,0.210526,0.026316,0.000000,0.118421,0.000000,0.013158,0.013158,0.197368,0.013158,0.013158,0.013158,0.026316,0.000000,0.026316,0.065789
d_cl_01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_02,0.422222,0.000000,0.000000,0.000000,0.000000,0.488889,0.066667,0.000000,0.000000,0.000000,0.022222,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.428571,0.000000,0.000000,0.000000,0.047619,0.000000,0.095238,0.000000,0.000000,0.000000,0.000000,0.238095,0.000000,0.000000,0.000000,0.000000,0.142857,0.047619
d_cl_04,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.458333,0.083333,0.000000,0.083333,0.000000,0.000000,0.000000,0.166667,0.083333
d_cl_05,0.000000,0.000000,0.523810,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.476190,0.000000,0.000000,0.000000
d_cl_06,0.588235,0.000000,0.058824,0.058824,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.058824,0.000000,0.058824,0.000000,0.000000,0.117647,0.058824
d_cl_07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.480769,0.000000,0.519231,0.000000,0.000000
d_cl_08,0.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.083333,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.555556,0.000000,0.000000,0.022222,0.000000,0.000000,0.000000,0.000000,0.000000,0.222222,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000
d_cl_11,0.142857,0.000000,0.428571,0.142857,0.000000,0.000000,0.285714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000
d_cl_13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.034483,0.931034,0.000000,0.000000,0.034483,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.020408,0.000000,0.000000,0.000000,0.000000,0.408163,0.000000,0.000000,0.000000,0.000000,0.040816,0.000000,0.040816,0.000000,0.000000,0.489796,0.000000,0.000000
d_cl_15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.490196,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.509804,0.000000,0.000000,0.000000
d_cl_16,0.000000,0.000000,0.000000,0.100000,0.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.111111,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.111111,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 20%|████████                                | 24/120 [34:44<2:15:08, 84.47s/it]

Procesamiento del user 24 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 25
INFO: Noise Filtering applied
INFO: Clusters generated
(629891, 5) (359, 5) (359, 5) (359, 5) (359, 6)
INFO: 22 clusters generated.

  0%|                                                    | 0/22 [00:00<?, ?it/s]
  5%|██                                          | 1/22 [00:10<03:31, 10.09s/it]
  9%|████                                        | 2/22 [00:19<03:18,  9.92s/it]
 14%|██████                                      | 3/22 [00:29<03:08,  9.91s/it]
 18%|████████                                    | 4/22 [00:39<02:58,  9.92s/it]
 23%|██████████                                  | 5/22 [00:49<02:48,  9.93s/it]
 27%|████████████                                | 6/22 [00:59<02:38,  9.92s/it]
 32%|██████████████                              | 7/22 [01:09<02:28,  9.90s/it]
 36%|████████████████                            | 8/22 [01:19<02:18,  9.92s/it]
 41%|██████████████████                          | 9/22 [01:29<02:08,  9.91s/it]
 45%|███████████████████▌                       | 10/22 [01:39<01:59,  9.94s/it]
 50%|█████████████████████▌                     | 11/22 [01:49<01:49,  9.95s/it]
 55%|███████████████████████▍                   | 12/22 [01:59<01:39,  9.95s/it]
 59%|█████████████████████████▍                 | 13/22 [02:09<01:29,  9.94s/it]
 64%|███████████████████████████▎               | 14/22 [02:19<01:19,  9.95s/it]
 68%|█████████████████████████████▎             | 15/22 [02:29<01:09,  9.98s/it]
 73%|███████████████████████████████▎           | 16/22 [02:39<00:59,  9.96s/it]
 77%|█████████████████████████████████▏         | 17/22 [02:48<00:49,  9.94s/it]
 82%|███████████████████████████████████▏       | 18/22 [02:59<00:39,  9.98s/it]
 86%|█████████████████████████████████████▏     | 19/22 [03:08<00:29,  9.97s/it]
 91%|███████████████████████████████████████    | 20/22 [03:19<00:19, 10.00s/it]
 95%|█████████████████████████████████████████  | 21/22 [03:29<00:09,  9.99s/it]
100%|███████████████████████████████████████████| 22/22 [03:38<00:00,  9.95s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
262,25,2008-12-15 00:44:02,39.987252,116.302735,2008-12-15,d_cl_00,d_cl_06,d_cl_00-d_cl_06
343,25,2008-12-15 10:49:52,39.968098,116.424165,2008-12-15,d_cl_06,d_cl_01,d_cl_06-d_cl_01
743,25,2008-12-15 11:07:45,39.967267,116.314575,2008-12-15,d_cl_01,d_cl_00,d_cl_01-d_cl_00
1350,25,2008-12-15 11:39:38,39.987600,116.303107,2008-12-15,d_cl_00,d_cl_06,d_cl_00-d_cl_06
1550,25,2008-12-16 05:38:03,39.968092,116.425778,2008-12-16,d_cl_06,d_cl_01,d_cl_06-d_cl_01
...,...,...,...,...,...,...,...,...
613909,25,2009-07-06 01:04:07,39.987393,116.302867,2009-07-06,d_cl_00,d_cl_03,d_cl_00-d_cl_03
614188,25,2009-07-06 03:52:04,39.985230,116.347360,2009-07-06,d_cl_03,d_cl_18,d_cl_03-d_cl_18
614923,25,2009-07-06 04:46:32,39.976555,116.337640,2009-07-06,d_cl_18,d_cl_00,d_cl_18-d_cl_00
617963,25,2009-07-08 05:05:20,39.987713,116.302362,2009-07-08,d_cl_00,d_cl_01,d_cl_00-d_cl_01
618110,25,2009-07-08 08:50:07,39.965878,116.318748,2009-07-08,d_cl_01,d_cl_08,d_cl_01-d_cl_08

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21
cluster,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.285714,0.150376,0.157895,0.165414,0.000000,0.022556,0.015038,0.007519,0.022556,0.007519,0.007519,0.0,0.000000,0.082707,0.007519,0.015038,0.030075,0.015038,0.0,0.000000,0.007519
d_cl_01,0.686275,0.000000,0.000000,0.000000,0.000000,0.000000,0.137255,0.039216,0.019608,0.000000,0.000000,0.000000,0.0,0.039216,0.058824,0.000000,0.000000,0.019608,0.000000,0.0,0.000000,0.000000
d_cl_02,0.692308,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.038462,0.115385,0.000000,0.153846,0.000000,0.0,0.000000,0.000000
d_cl_03,0.469388,0.000000,0.000000,0.000000,0.020408,0.000000,0.000000,0.265306,0.000000,0.020408,0.000000,0.020408,0.0,0.000000,0.040816,0.000000,0.000000,0.000000,0.061224,0.0,0.000000,0.102041
d_cl_04,0.490909,0.018182,0.000000,0.018182,0.000000,0.018182,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.018182,0.054545,0.290909,0.090909,0.000000,0.0,0.000000,0.000000
d_cl_05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.500000,0.000000,0.000000,0.250000,0.000000,0.0,0.000000,0.000000
d_cl_06,0.083333,0.833333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_07,0.071429,0.000000,0.000000,0.571429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285714,0.000000,0.0,0.071429,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.5,0.000000,0.000000
d_cl_09,0.750000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_10,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.666667,0.083333,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.083333
d_cl_11,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_12,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.222222,0.000000,0.0,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.0,0.111111,0.222222
d_cl_14,0.565217,0.000000,0.043478,0.173913,0.130435,0.043478,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.043478,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_15,0.000000,0.000000,0.285714,0.000000,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.571429,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_16,0.019608,0.000000,0.000000,0.000000,0.470588,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.019608,0.000000,0.000000,0.490196,0.000000,0.0,0.000000,0.000000
d_cl_17,0.050000,0.000000,0.075000,0.000000,0.100000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.025000,0.000000,0.700000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_18,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.200000,0.200000
d_cl_19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000
d_cl_20,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_21,0.100000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.100000,0.000000

 21%|████████▏                              | 25/120 [39:12<3:41:10, 139.69s/it]

Procesamiento del user 25 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 26
INFO: Noise Filtering applied
INFO: Clusters generated
(148411, 5) (34, 5) (34, 5) (34, 5) (34, 6)
INFO: 6 clusters generated.

  0%|                                                     | 0/6 [00:00<?, ?it/s]
 17%|███████▌                                     | 1/6 [00:02<00:12,  2.47s/it]
 33%|███████████████                              | 2/6 [00:04<00:09,  2.44s/it]
 50%|██████████████████████▌                      | 3/6 [00:07<00:07,  2.54s/it]
 67%|██████████████████████████████               | 4/6 [00:10<00:05,  2.56s/it]
 83%|█████████████████████████████████████▌       | 5/6 [00:12<00:02,  2.52s/it]
100%|█████████████████████████████████████████████| 6/6 [00:14<00:00,  2.50s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
1406,26,2009-01-15 11:45:55,40.024280,116.307412,2009-01-15,d_cl_00,d_cl_01,d_cl_00-d_cl_01
2032,26,2009-01-15 12:29:50,39.994791,116.309522,2009-01-15,d_cl_01,d_cl_00,d_cl_01-d_cl_00
2585,26,2009-01-16 09:31:56,40.023652,116.309311,2009-01-16,d_cl_00,d_cl_03,d_cl_00-d_cl_03
2920,26,2009-01-16 10:09:25,40.020034,116.316251,2009-01-16,d_cl_03,d_cl_00,d_cl_03-d_cl_00
3633,26,2009-01-17 02:55:29,40.023704,116.309480,2009-01-17,d_cl_00,d_cl_03,d_cl_00-d_cl_03
3783,26,2009-01-17 03:08:58,40.020989,116.316141,2009-01-17,d_cl_03,d_cl_00,d_cl_03-d_cl_00
4234,26,2009-01-17 07:08:54,40.024215,116.307514,2009-01-17,d_cl_00,d_cl_01,d_cl_00-d_cl_01
4652,26,2009-01-17 07:26:53,39.991551,116.309683,2009-01-17,d_cl_01,d_cl_00,d_cl_01-d_cl_00
7969,26,2009-01-19 01:04:29,40.024171,116.307587,2009-01-19,d_cl_00,d_cl_01,d_cl_00-d_cl_01
8319,26,2009-01-19 01:29:56,39.991584,116.309623,2009-01-19,d_cl_01,d_cl_05,d_cl_01-d_cl_05
81255,26,2009-02-18 12:32:51,39.433388,115.942785,2009-02-18,d_cl_05,d_cl_01,d_cl_05-d_cl_01
85468,26,2009-02-18 14:51:17,39.994715,116.309443,2009-02-18,d_cl_01,d_cl_00,d_cl_01-d_cl_00
86522,26,2009-02-18 16:55:25,40.025337,116.308532,2009-02-18,d_cl_00,d_cl_03,d_cl_00-d_cl_03
89887,26,2009-02-20 11:20:17,40.022422,116.317795,2009-02-20,d_cl_03,d_cl_00,d_cl_03-d_cl_00
93363,26,2009-03-07 06:07:32,40.023643,116.309490,2009-03-07,d_cl_00,d_cl_01,d_cl_00-d_cl_01
98015,26,2009-03-07 12:23:09,39.994786,116.309449,2009-03-07,d_cl_01,d_cl_00,d_cl_01-d_cl_00
98468,26,2009-03-08 10:01:11,40.024828,116.307035,2009-03-08,d_cl_00,d_cl_01,d_cl_00-d_cl_01
98789,26,2009-03-08 10:10:27,39.991487,116.309570,2009-03-08,d_cl_01,d_cl_02,d_cl_01-d_cl_02
99124,26,2009-03-08 11:02:17,39.974835,116.301715,2009-03-08,d_cl_02,d_cl_01,d_cl_02-d_cl_01
99650,26,2009-03-08 11:45:54,39.994791,116.309556,2009-03-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
100250,26,2009-03-11 06:57:40,40.023665,116.309488,2009-03-11,d_cl_00,d_cl_01,d_cl_00-d_cl_01
100613,26,2009-03-11 07:14:56,39.991606,116.309676,2009-03-11,d_cl_01,d_cl_02,d_cl_01-d_cl_02
101137,26,2009-03-11 09:32:33,39.977846,116.300153,2009-03-11,d_cl_02,d_cl_01,d_cl_02-d_cl_01
102817,26,2009-03-11 11:56:11,39.994865,116.309306,2009-03-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
103627,26,2009-03-11 13:09:25,40.025225,116.308574,2009-03-11,d_cl_00,d_cl_02,d_cl_00-d_cl_02
106236,26,2009-03-12 13:15:26,39.974355,116.300623,2009-03-12,d_cl_02,d_cl_01,d_cl_02-d_cl_01
106564,26,2009-03-12 13:45:04,39.994336,116.307021,2009-03-12,d_cl_01,d_cl_00,d_cl_01-d_cl_00
106993,26,2009-03-13 06:21:31,40.024328,116.307424,2009-03-13,d_cl_00,d_cl_01,d_cl_00-d_cl_01
110186,26,2009-03-13 13:47:26,39.994859,116.309209,2009-03-13,d_cl_01,d_cl_00,d_cl_01-d_cl_00
111325,26,2009-03-15 04:07:35,40.025363,116.311537,2009-03-15,d_cl_00,d_cl_01,d_cl_00-d_cl_01
113007,26,2009-03-15 10:44:17,39.994717,116.309475,2009-03-15,d_cl_01,d_cl_00,d_cl_01-d_cl_00
113461,26,2009-03-21 06:33:06,40.026621,116.310930,2009-03-21,d_cl_00,d_cl_03,d_cl_00-d_cl_03
115880,26,2009-03-21 09:12:24,40.022301,116.317820,2009-03-21,d_cl_03,d_cl_00,d_cl_03-d_cl_00
116103,26,2009-03-21 09:26:56,40.025411,116.308614,2009-03-21,d_cl_00,d_cl_03,d_cl_00-d_cl_03
116169,26,2009-03-21 23:51:36,40.019101,116.318987,2009-03-21,d_cl_03,d_cl_01,d_cl_03-d_cl_01
118390,26,2009-03-22 05:53:08,39.994812,116.309129,2009-03-22,d_cl_01,d_cl_00,d_cl_01-d_cl_00
118779,26,2009-03-22 06:11:07,40.025145,116.309050,2009-03-22,d_cl_00,d_cl_01,d_cl_00-d_cl_01
120763,26,2009-03-25 11:05:49,39.994788,116.309271,2009-03-25,d_cl_01,d_cl_00,d_cl_01-d_cl_00
121627,26,2009-04-05 03:32:50,40.025422,116.311552,2009-04-05,d_cl_00,d_cl_03,d_cl_00-d_cl_03
121885,26,2009-04-05 03:53:04,40.019114,116.319111,2009-04-05,d_cl_03,d_cl_04,d_cl_03-d_cl_04
125683,26,2009-04-05 19:34:42,40.011874,116.314873,2009-04-05,d_cl_04,d_cl_00,d_cl_04-d_cl_00
125958,26,2009-04-07 09:52:38,40.024247,116.307462,2009-04-07,d_cl_00,d_cl_01,d_cl_00-d_cl_01
127827,26,2009-04-07 13:06:57,39.994728,116.309635,2009-04-07,d_cl_01,d_cl_00,d_cl_01-d_cl_00
128246,26,2009-04-07 13:30:00,40.025268,116.308621,2009-04-07,d_cl_00,d_cl_03,d_cl_00-d_cl_03
133207,26,2009-04-08 14:33:49,40.022341,116.317839,2009-04-08,d_cl_03,d_cl_00,d_cl_03-d_cl_00
133640,26,2009-04-11 01:27:37,40.024178,116.307558,2009-04-11,d_cl_00,d_cl_01,d_cl_00-d_cl_01
136421,26,2009-04-11 05:53:44,39.994774,116.309218,2009-04-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
136901,26,2009-04-11 06:27:07,40.025184,116.309281,2009-04-11,d_cl_00,d_cl_01,d_cl_00-d_cl_01
138150,26,2009-04-14 12:21:36,39.994705,116.309453,2009-04-14,d_cl_01,d_cl_00,d_cl_01-d_cl_00
138672,26,2009-04-15 01:49:03,40.026103,116.310630,2009-04-15,d_cl_00,d_cl_03,d_cl_00-d_cl_03
138859,26,2009-04-15 02:02:49,40.019021,116.319051,2009-04-15,d_cl_03,d_cl_02,d_cl_03-d_cl_02
144773,26,2009-04-15 08:17:31,39.977648,116.301276,2009-04-15,d_cl_02,d_cl_01,d_cl_02-d_cl_01
145152,26,2009-04-15 08:44:18,39.994843,116.309409,2009-04-15,d_cl_01,d_cl_00,d_cl_01-d_cl_00
145644,26,2009-04-18 03:25:51,40.024003,116.307858,2009-04-18,d_cl_00,d_cl_01,d_cl_00-d_cl_01
147882,26,2009-04-18 06:34:15,39.994778,116.309315,2009-04-18,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next   d_cl_00   d_cl_01   d_cl_02   d_cl_03  d_cl_04   d_cl_05
cluster
d_cl_00       0.000000  0.590909  0.045455  0.363636    0.000  0.000000
d_cl_01       0.842105  0.000000  0.105263  0.000000    0.000  0.052632
d_cl_02       0.000000  1.000000  0.000000  0.000000    0.000  0.000000
d_cl_03       0.625000  0.125000  0.125000  0.000000    0.125  0.000000
d_cl_04       1.000000  0.000000  0.000000  0.000000    0.000  0.000000
d_cl_05       0.000000  1.000000  0.000000  0.000000    0.000  0.000000

 22%|████████▍                              | 26/120 [39:32<2:42:22, 103.64s/it]

Procesamiento del user 26 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 28
INFO: Noise Filtering applied
INFO: Clusters generated
(123826, 5) (52, 5) (52, 5) (52, 5) (52, 6)
INFO: 22 clusters generated.

  0%|                                                    | 0/22 [00:00<?, ?it/s]
  5%|██                                          | 1/22 [00:01<00:41,  1.99s/it]
  9%|████                                        | 2/22 [00:03<00:39,  1.98s/it]
 14%|██████                                      | 3/22 [00:05<00:37,  1.98s/it]
 18%|████████                                    | 4/22 [00:07<00:35,  1.99s/it]
 23%|██████████                                  | 5/22 [00:09<00:33,  1.99s/it]
 27%|████████████                                | 6/22 [00:11<00:31,  1.99s/it]
 32%|██████████████                              | 7/22 [00:13<00:29,  2.00s/it]
 36%|████████████████                            | 8/22 [00:15<00:27,  2.00s/it]
 41%|██████████████████                          | 9/22 [00:17<00:25,  1.99s/it]
 45%|███████████████████▌                       | 10/22 [00:20<00:24,  2.02s/it]
 50%|█████████████████████▌                     | 11/22 [00:21<00:22,  2.01s/it]
 55%|███████████████████████▍                   | 12/22 [00:23<00:20,  2.00s/it]
 59%|█████████████████████████▍                 | 13/22 [00:25<00:17,  2.00s/it]
 64%|███████████████████████████▎               | 14/22 [00:27<00:15,  1.99s/it]
 68%|█████████████████████████████▎             | 15/22 [00:29<00:13,  2.00s/it]
 73%|███████████████████████████████▎           | 16/22 [00:31<00:11,  2.00s/it]
 77%|█████████████████████████████████▏         | 17/22 [00:33<00:09,  1.99s/it]
 82%|███████████████████████████████████▏       | 18/22 [00:35<00:07,  2.00s/it]
 86%|█████████████████████████████████████▏     | 19/22 [00:37<00:05,  1.99s/it]
 91%|███████████████████████████████████████    | 20/22 [00:39<00:03,  1.99s/it]
 95%|█████████████████████████████████████████  | 21/22 [00:41<00:01,  1.99s/it]
100%|███████████████████████████████████████████| 22/22 [00:43<00:00,  1.99s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
57,28,2009-01-23 04:53:05,39.940982,116.347963,2009-01-23,d_cl_21,d_cl_20,d_cl_21-d_cl_20
19638,28,2009-01-31 08:17:56,40.026793,116.546019,2009-01-31,d_cl_20,d_cl_10,d_cl_20-d_cl_10
21394,28,2009-01-31 09:01:52,39.955427,116.288921,2009-01-31,d_cl_10,d_cl_02,d_cl_10-d_cl_02
21905,28,2009-01-31 09:14:55,39.921618,116.268910,2009-01-31,d_cl_02,d_cl_11,d_cl_02-d_cl_11
22373,28,2009-01-31 09:54:44,39.930835,116.151100,2009-01-31,d_cl_11,d_cl_03,d_cl_11-d_cl_03
...,...,...,...,...,...,...,...,...
123165,28,2009-04-21 23:03:16,39.922885,116.269734,2009-04-21,d_cl_02,d_cl_06,d_cl_02-d_cl_06
123311,28,2009-04-21 23:15:01,39.922748,116.299870,2009-04-21,d_cl_06,d_cl_12,d_cl_06-d_cl_12
123520,28,2009-04-21 23:36:46,39.938960,116.319538,2009-04-21,d_cl_12,d_cl_13,d_cl_12-d_cl_13
123595,28,2009-04-21 23:42:41,39.951604,116.318100,2009-04-21,d_cl_13,d_cl_00,d_cl_13-d_cl_00
123655,28,2009-04-21 23:47:31,39.966882,116.314784,2009-04-21,d_cl_00,d_cl_01,d_cl_00-d_cl_01

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
57,28,2009-01-23 04:53:04.990,39.940982,116.347963,2009-01-23,d_cl_11,d_cl_21,d_cl_21-d_cl_20

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21
cluster,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.423077,0.000000,0.038462,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.500000,0.000000,0.000000,0.0,0.000000,0.000000,0.038462,0.0,0.000000
d_cl_01,0.843750,0.000000,0.000000,0.093750,0.00000,0.031250,0.00000,0.000000,0.000000,0.000000,0.0,0.031250,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_02,0.000000,0.000000,0.000000,0.000000,0.00000,0.428571,0.52381,0.000000,0.000000,0.000000,0.0,0.023810,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.023810,0.000000,0.0,0.000000
d_cl_03,0.000000,0.289474,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.710526,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_04,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.525000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.475000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_05,0.000000,0.000000,0.512195,0.000000,0.00000,0.000000,0.00000,0.487805,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_06,0.000000,0.000000,0.413043,0.000000,0.00000,0.021739,0.00000,0.043478,0.000000,0.000000,0.0,0.043478,0.456522,0.000000,0.000000,0.000000,0.0,0.000000,0.021739,0.000000,0.0,0.000000
d_cl_07,0.000000,0.000000,0.000000,0.000000,0.44186,0.488372,0.00000,0.000000,0.000000,0.046512,0.0,0.000000,0.000000,0.000000,0.000000,0.023256,0.0,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_08,0.000000,0.000000,0.200000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.4,0.200000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.200000,0.0,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.068182,0.000000,0.0,0.454545,0.000000,0.000000,0.000000,0.477273,0.0,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_10,0.000000,0.000000,0.200000,0.000000,0.00000,0.000000,0.00000,0.000000,0.400000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.400000,0.0,0.000000
d_cl_11,0.000000,0.000000,0.000000,0.551724,0.00000,0.000000,0.00000,0.000000,0.000000,0.396552,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.034483,0.000000,0.000000,0.0,0.017241
d_cl_12,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.50000,0.000000,0.000000,0.000000,0.0,0.020833,0.000000,0.458333,0.000000,0.000000,0.0,0.000000,0.020833,0.000000,0.0,0.000000
d_cl_13,0.458333,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.541667,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_14,0.000000,0.000000,0.000000,0.000000,0.52500,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.475000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_15,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.463415,0.0,0.024390,0.000000,0.000000,0.512195,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_16,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.600000,0.400000,0.000000,0.0,0.000000
d_cl_17,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.600000,0.000000,0.000000,0.000000,0.000000,0.4,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_18,0.000000,0.000000,0.000000,0.200000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.200000,0.000000,0.000000,0.000000,0.6,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_19,0.600000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.4,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_20,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_21,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1.0,0.000000

 22%|█████████                               | 27/120 [40:20<2:14:36, 86.84s/it]

Procesamiento del user 28 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 29
INFO: Noise Filtering applied
INFO: Clusters generated
(83844, 5) (40, 5) (40, 5) (40, 5) (40, 6)
INFO: 16 clusters generated.

  0%|                                                    | 0/16 [00:00<?, ?it/s]
  6%|██▊                                         | 1/16 [00:01<00:18,  1.26s/it]
 12%|█████▌                                      | 2/16 [00:02<00:18,  1.34s/it]
 19%|████████▎                                   | 3/16 [00:04<00:17,  1.35s/it]
 25%|███████████                                 | 4/16 [00:05<00:15,  1.32s/it]
 31%|█████████████▊                              | 5/16 [00:06<00:14,  1.36s/it]
 38%|████████████████▌                           | 6/16 [00:08<00:13,  1.36s/it]
 44%|███████████████████▎                        | 7/16 [00:09<00:12,  1.34s/it]
 50%|██████████████████████                      | 8/16 [00:10<00:10,  1.36s/it]
 56%|████████████████████████▊                   | 9/16 [00:12<00:09,  1.37s/it]
 62%|██████████████████████████▉                | 10/16 [00:13<00:08,  1.37s/it]
 69%|█████████████████████████████▌             | 11/16 [00:14<00:06,  1.34s/it]
 75%|████████████████████████████████▎          | 12/16 [00:16<00:05,  1.36s/it]
 81%|██████████████████████████████████▉        | 13/16 [00:17<00:04,  1.37s/it]
 88%|█████████████████████████████████████▋     | 14/16 [00:18<00:02,  1.34s/it]
 94%|████████████████████████████████████████▎  | 15/16 [00:20<00:01,  1.36s/it]
100%|███████████████████████████████████████████| 16/16 [00:21<00:00,  1.35s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
3,29,2009-01-13 05:42:49,39.977434,116.332437,2009-01-13,d_cl_15,d_cl_00,d_cl_15-d_cl_00
1011,29,2009-01-13 22:57:19,39.864734,116.358464,2009-01-13,d_cl_00,d_cl_02,d_cl_00-d_cl_02
1350,29,2009-01-13 23:12:29,39.868903,116.372216,2009-01-13,d_cl_02,d_cl_01,d_cl_02-d_cl_01
1634,29,2009-01-13 23:36:36,39.869357,116.391957,2009-01-13,d_cl_01,d_cl_05,d_cl_01-d_cl_05
2059,29,2009-01-13 23:47:46,39.855381,116.413107,2009-01-13,d_cl_05,d_cl_04,d_cl_05-d_cl_04
...,...,...,...,...,...,...,...,...
79017,29,2009-03-18 09:25:51,39.857072,116.421044,2009-03-18,d_cl_04,d_cl_03,d_cl_04-d_cl_03
79429,29,2009-03-18 09:35:46,39.870517,116.395802,2009-03-18,d_cl_03,d_cl_01,d_cl_03-d_cl_01
79504,29,2009-03-18 09:37:52,39.871046,116.388263,2009-03-18,d_cl_01,d_cl_02,d_cl_01-d_cl_02
79756,29,2009-03-18 09:45:00,39.869529,116.367641,2009-03-18,d_cl_02,d_cl_00,d_cl_02-d_cl_00
80098,29,2009-03-18 10:02:50,39.863049,116.360383,2009-03-18,d_cl_00,d_cl_06,d_cl_00-d_cl_06

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
3,29,2009-01-13 05:42:48.990,39.977434,116.332437,2009-01-13,d_cl_01,d_cl_15,d_cl_15-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15
cluster,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.304348,0.521739,0.000000,0.000000,0.000000,0.043478,0.000000,0.000000,0.000000,0.000000,0.000000,0.086957,0.0,0.043478,0.000000
d_cl_01,0.000000,0.000000,0.378378,0.027027,0.000000,0.567568,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.027027
d_cl_02,0.518519,0.481481,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_03,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_04,0.000000,0.000000,0.000000,0.371429,0.000000,0.057143,0.000000,0.571429,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_05,0.083333,0.000000,0.000000,0.041667,0.833333,0.000000,0.000000,0.000000,0.000000,0.041667,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
d_cl_07,0.000000,0.000000,0.000000,0.000000,0.428571,0.000000,0.000000,0.000000,0.000000,0.571429,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.416667,0.000000,0.000000,0.000000,0.583333,0.000000,0.0,0.000000,0.000000
d_cl_10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.382353,0.617647,0.0,0.000000,0.000000
d_cl_11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.382353,0.617647,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_12,0.217391,0.043478,0.043478,0.000000,0.000000,0.043478,0.000000,0.000000,0.086957,0.000000,0.565217,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_13,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_15,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000

 23%|█████████▎                              | 28/120 [40:44<1:44:13, 67.97s/it]

Procesamiento del user 29 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 30
INFO: Noise Filtering applied
INFO: Clusters generated
(615940, 5) (534, 5) (534, 5) (534, 5) (534, 6)
INFO: 11 clusters generated.

  0%|                                                    | 0/11 [00:00<?, ?it/s]
  9%|████                                        | 1/11 [00:09<01:36,  9.66s/it]
 18%|████████                                    | 2/11 [00:19<01:27,  9.73s/it]
 27%|████████████                                | 3/11 [00:29<01:17,  9.69s/it]
 36%|████████████████                            | 4/11 [00:38<01:07,  9.67s/it]
 45%|████████████████████                        | 5/11 [00:48<00:58,  9.68s/it]
 55%|████████████████████████                    | 6/11 [00:58<00:48,  9.72s/it]
 64%|████████████████████████████                | 7/11 [01:07<00:38,  9.69s/it]
 73%|████████████████████████████████            | 8/11 [01:17<00:29,  9.68s/it]
 82%|████████████████████████████████████        | 9/11 [01:27<00:19,  9.68s/it]
 91%|███████████████████████████████████████    | 10/11 [01:36<00:09,  9.72s/it]
100%|███████████████████████████████████████████| 11/11 [01:46<00:00,  9.70s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
6397,30,2009-01-15 10:59:50,40.001091,116.324906,2009-01-15,d_cl_00,d_cl_07,d_cl_00-d_cl_07
7592,30,2009-01-15 22:01:59,39.991225,116.316040,2009-01-15,d_cl_07,d_cl_00,d_cl_07-d_cl_00
11061,30,2009-01-17 01:06:37,40.001087,116.324848,2009-01-17,d_cl_00,d_cl_07,d_cl_00-d_cl_07
11432,30,2009-01-17 01:27:39,39.991700,116.311674,2009-01-17,d_cl_07,d_cl_08,d_cl_07-d_cl_08
12161,30,2009-01-17 02:20:33,39.978742,116.311125,2009-01-17,d_cl_08,d_cl_07,d_cl_08-d_cl_07
...,...,...,...,...,...,...,...,...
611441,30,2009-07-26 07:10:09,39.966700,116.338766,2009-07-26,d_cl_06,d_cl_01,d_cl_06-d_cl_01
611472,30,2009-07-26 07:12:34,39.976702,116.333448,2009-07-26,d_cl_01,d_cl_00,d_cl_01-d_cl_00
613438,30,2009-07-27 11:04:11,40.002296,116.326614,2009-07-27,d_cl_00,d_cl_01,d_cl_00-d_cl_01
614305,30,2009-07-28 01:24:17,39.976541,116.333619,2009-07-28,d_cl_01,d_cl_00,d_cl_01-d_cl_00
615875,30,2009-07-29 01:31:37,40.001528,116.325830,2009-07-29,d_cl_00,d_cl_03,d_cl_00-d_cl_03

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
615875,30,2009-07-29 01:31:37.010,40.001528,116.32583,2009-07-29,d_cl_03,d_cl_00,d_cl_00-d_cl_03

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10
cluster,,,,,,,,,,,
d_cl_00,0.000000,0.396552,0.103448,0.017241,0.017241,0.051724,0.017241,0.258621,0.120690,0.017241,0.000000
d_cl_01,0.404762,0.000000,0.000000,0.000000,0.023810,0.000000,0.166667,0.000000,0.023810,0.380952,0.000000
d_cl_02,0.875000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000
d_cl_03,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.181818,0.000000,0.000000,0.000000,0.000000,0.000000,0.636364,0.000000,0.000000,0.181818,0.000000
d_cl_05,0.666667,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.176471,0.352941,0.000000,0.000000,0.352941,0.000000,0.000000,0.000000,0.117647,0.000000,0.000000
d_cl_07,0.631579,0.000000,0.105263,0.000000,0.000000,0.000000,0.000000,0.000000,0.210526,0.052632,0.000000
d_cl_08,0.571429,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.214286,0.000000,0.071429,0.000000
d_cl_09,0.272727,0.545455,0.000000,0.000000,0.136364,0.000000,0.000000,0.000000,0.000000,0.000000,0.045455
d_cl_10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000

 24%|█████████▋                              | 29/120 [43:18<2:22:21, 93.86s/it]

Procesamiento del user 30 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 32
INFO: Noise Filtering applied
INFO: Clusters generated
(26468, 5) (75, 5) (75, 5) (75, 5) (75, 6)
INFO: 6 clusters generated.

  0%|                                                     | 0/6 [00:00<?, ?it/s]
 17%|███████▌                                     | 1/6 [00:00<00:02,  2.48it/s]
 33%|███████████████                              | 2/6 [00:00<00:01,  2.44it/s]
 50%|██████████████████████▌                      | 3/6 [00:01<00:01,  2.45it/s]
 67%|██████████████████████████████               | 4/6 [00:01<00:00,  2.46it/s]
 83%|█████████████████████████████████████▌       | 5/6 [00:02<00:00,  2.46it/s]
100%|█████████████████████████████████████████████| 6/6 [00:02<00:00,  2.45it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
80,32,2008-12-02 11:03:53,39.986563,116.320943,2008-12-02,d_cl_01,d_cl_02,d_cl_01-d_cl_02
953,32,2008-12-02 23:36:46,39.991023,116.331937,2008-12-02,d_cl_02,d_cl_00,d_cl_02-d_cl_00
4002,32,2008-12-03 10:01:03,39.974344,116.333373,2008-12-03,d_cl_00,d_cl_02,d_cl_00-d_cl_02
4030,32,2008-12-03 10:53:12,39.992693,116.331786,2008-12-03,d_cl_02,d_cl_00,d_cl_02-d_cl_00
6130,32,2008-12-04 02:16:25,39.975627,116.333178,2008-12-04,d_cl_00,d_cl_02,d_cl_00-d_cl_02
6168,32,2008-12-04 02:19:35,39.989769,116.331603,2008-12-04,d_cl_02,d_cl_00,d_cl_02-d_cl_00
6705,32,2008-12-04 03:11:50,39.972331,116.333528,2008-12-04,d_cl_00,d_cl_01,d_cl_00-d_cl_01
6754,32,2008-12-08 02:28:07,39.984351,116.323064,2008-12-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
7196,32,2008-12-08 07:10:38,39.973053,116.333579,2008-12-08,d_cl_00,d_cl_01,d_cl_00-d_cl_01
7245,32,2008-12-09 09:41:19,39.986557,116.320819,2008-12-09,d_cl_01,d_cl_02,d_cl_01-d_cl_02
7545,32,2008-12-09 11:17:19,39.992959,116.331386,2008-12-09,d_cl_02,d_cl_01,d_cl_02-d_cl_01
7915,32,2008-12-10 01:42:43,39.983044,116.321003,2008-12-10,d_cl_01,d_cl_00,d_cl_01-d_cl_00
12490,32,2008-12-15 09:36:27,39.975415,116.333929,2008-12-15,d_cl_00,d_cl_02,d_cl_00-d_cl_02
13251,32,2008-12-16 00:14:01,39.991484,116.329218,2008-12-16,d_cl_02,d_cl_01,d_cl_02-d_cl_01
13498,32,2008-12-16 11:21:23,39.984409,116.322757,2008-12-16,d_cl_01,d_cl_02,d_cl_01-d_cl_02
14421,32,2008-12-16 13:50:23,39.991485,116.329526,2008-12-16,d_cl_02,d_cl_01,d_cl_02-d_cl_01
14521,32,2008-12-16 13:59:53,39.984382,116.322439,2008-12-16,d_cl_01,d_cl_02,d_cl_01-d_cl_02
15566,32,2008-12-17 00:13:53,39.991271,116.329198,2008-12-17,d_cl_02,d_cl_01,d_cl_02-d_cl_01
15807,32,2008-12-17 01:33:44,39.984840,116.318549,2008-12-17,d_cl_01,d_cl_00,d_cl_01-d_cl_00
24609,32,2008-12-19 01:34:00,39.973518,116.333771,2008-12-19,d_cl_00,d_cl_05,d_cl_00-d_cl_05
24614,32,2009-01-21 23:44:21,39.899382,116.455747,2009-01-21,d_cl_05,d_cl_04,d_cl_05-d_cl_04
25674,32,2009-01-22 04:45:59,39.894762,116.454824,2009-01-22,d_cl_04,d_cl_05,d_cl_04-d_cl_05
25686,32,2009-01-22 04:46:59,39.899131,116.455256,2009-01-22,d_cl_05,d_cl_03,d_cl_05-d_cl_03

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
25686,32,2009-01-22 04:46:59.010,39.899131,116.455256,2009-01-22,d_cl_03,d_cl_02,d_cl_05-d_cl_03

cluster_next   d_cl_00   d_cl_01   d_cl_02  d_cl_03  d_cl_04   d_cl_05
cluster
d_cl_00       0.000000  0.333333  0.500000      0.0      0.0  0.166667
d_cl_01       0.428571  0.000000  0.571429      0.0      0.0  0.000000
d_cl_02       0.428571  0.571429  0.000000      0.0      0.0  0.000000
d_cl_03       0.000000  0.000000  1.000000      0.0      0.0  0.000000
d_cl_04       0.000000  0.000000  0.000000      0.0      0.0  1.000000
d_cl_05       0.000000  0.000000  0.000000      0.5      0.5  0.000000

 25%|██████████                              | 30/120 [43:21<1:39:55, 66.62s/it]

Procesamiento del user 32 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 33
INFO: Noise Filtering applied
INFO: Clusters generated
(69973, 5) (116, 5) (116, 5) (116, 5) (116, 6)
INFO: 6 clusters generated.

  0%|                                                     | 0/6 [00:00<?, ?it/s]
 17%|███████▌                                     | 1/6 [00:01<00:05,  1.06s/it]
 33%|███████████████                              | 2/6 [00:02<00:04,  1.13s/it]
 50%|██████████████████████▌                      | 3/6 [00:03<00:03,  1.09s/it]
 67%|██████████████████████████████               | 4/6 [00:04<00:02,  1.13s/it]
 83%|█████████████████████████████████████▌       | 5/6 [00:05<00:01,  1.10s/it]
100%|█████████████████████████████████████████████| 6/6 [00:06<00:00,  1.12s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
14555,33,2009-01-09 13:46:45,39.972467,116.332268,2009-01-09,d_cl_00,d_cl_05,d_cl_00-d_cl_05
14846,33,2009-01-09 13:54:26,39.960986,116.364224,2009-01-09,d_cl_05,d_cl_01,d_cl_05-d_cl_01
22525,33,2009-01-11 23:50:56,39.951492,116.364203,2009-01-11,d_cl_01,d_cl_05,d_cl_01-d_cl_05
22695,33,2009-01-11 23:58:34,39.964428,116.363740,2009-01-11,d_cl_05,d_cl_00,d_cl_05-d_cl_00
25697,33,2009-01-12 12:44:52,39.972582,116.332097,2009-01-12,d_cl_00,d_cl_05,d_cl_00-d_cl_05
26055,33,2009-01-12 12:58:12,39.961059,116.364233,2009-01-12,d_cl_05,d_cl_01,d_cl_05-d_cl_01
27766,33,2009-01-12 20:00:56,39.950716,116.361878,2009-01-12,d_cl_01,d_cl_00,d_cl_01-d_cl_00
33746,33,2009-01-14 10:41:55,39.974830,116.335662,2009-01-14,d_cl_00,d_cl_02,d_cl_00-d_cl_02
39182,33,2009-01-15 03:37:44,39.987755,116.421627,2009-01-15,d_cl_02,d_cl_04,d_cl_02-d_cl_04
45328,33,2009-01-15 09:59:36,39.978867,116.347565,2009-01-15,d_cl_04,d_cl_02,d_cl_04-d_cl_02
62408,33,2009-01-18 07:59:04,39.987672,116.426194,2009-01-18,d_cl_02,d_cl_03,d_cl_02-d_cl_03

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
62408,33,2009-01-18 07:59:04.010,39.987672,116.426194,2009-01-18,d_cl_03,d_cl_05,d_cl_02-d_cl_03

cluster_next   d_cl_00   d_cl_01   d_cl_02  d_cl_03  d_cl_04   d_cl_05
cluster
d_cl_00       0.000000  0.000000  0.333333      0.0      0.0  0.666667
d_cl_01       0.500000  0.000000  0.000000      0.0      0.0  0.500000
d_cl_02       0.000000  0.000000  0.000000      0.5      0.5  0.000000
d_cl_03       0.000000  0.000000  0.000000      0.0      0.0  1.000000
d_cl_04       0.000000  0.000000  1.000000      0.0      0.0  0.000000
d_cl_05       0.333333  0.666667  0.000000      0.0      0.0  0.000000

 26%|██████████▎                             | 31/120 [43:29<1:12:58, 49.19s/it]

Procesamiento del user 33 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 34
INFO: Noise Filtering applied
INFO: Clusters generated
(166667, 5) (139, 5) (139, 5) (139, 5) (139, 6)
INFO: 20 clusters generated.

  0%|                                                    | 0/20 [00:00<?, ?it/s]
  5%|██▏                                         | 1/20 [00:02<00:52,  2.76s/it]
 10%|████▍                                       | 2/20 [00:05<00:48,  2.69s/it]
 15%|██████▌                                     | 3/20 [00:08<00:45,  2.67s/it]
 20%|████████▊                                   | 4/20 [00:10<00:42,  2.67s/it]
 25%|███████████                                 | 5/20 [00:13<00:40,  2.67s/it]
 30%|█████████████▏                              | 6/20 [00:16<00:37,  2.71s/it]
 35%|███████████████▍                            | 7/20 [00:18<00:34,  2.69s/it]
 40%|█████████████████▌                          | 8/20 [00:21<00:32,  2.68s/it]
 45%|███████████████████▊                        | 9/20 [00:24<00:29,  2.68s/it]
 50%|█████████████████████▌                     | 10/20 [00:26<00:27,  2.71s/it]
 55%|███████████████████████▋                   | 11/20 [00:29<00:24,  2.69s/it]
 60%|█████████████████████████▊                 | 12/20 [00:32<00:21,  2.68s/it]
 65%|███████████████████████████▉               | 13/20 [00:34<00:18,  2.67s/it]
 70%|██████████████████████████████             | 14/20 [00:37<00:16,  2.69s/it]
 75%|████████████████████████████████▎          | 15/20 [00:40<00:13,  2.67s/it]
 80%|██████████████████████████████████▍        | 16/20 [00:42<00:10,  2.65s/it]
 85%|████████████████████████████████████▌      | 17/20 [00:45<00:07,  2.64s/it]
 90%|██████████████████████████████████████▋    | 18/20 [00:48<00:05,  2.68s/it]
 95%|████████████████████████████████████████▊  | 19/20 [00:50<00:02,  2.68s/it]
100%|███████████████████████████████████████████| 20/20 [00:53<00:00,  2.68s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
72,34,2009-02-12 03:08:40,40.032888,116.350123,2009-02-12,d_cl_00,d_cl_04,d_cl_00-d_cl_04
840,34,2009-02-12 04:29:46,39.981553,116.307373,2009-02-12,d_cl_04,d_cl_19,d_cl_04-d_cl_19
1272,34,2009-02-12 08:02:18,40.005292,116.346548,2009-02-12,d_cl_19,d_cl_15,d_cl_19-d_cl_15
1345,34,2009-02-12 08:05:54,40.014565,116.346113,2009-02-12,d_cl_15,d_cl_00,d_cl_15-d_cl_00
1662,34,2009-02-12 08:17:34,40.032372,116.352088,2009-02-12,d_cl_00,d_cl_04,d_cl_00-d_cl_04
...,...,...,...,...,...,...,...,...
159776,34,2009-07-16 08:40:36,39.924752,116.328302,2009-07-16,d_cl_01,d_cl_09,d_cl_01-d_cl_09
159946,34,2009-07-18 01:57:55,39.931200,116.352640,2009-07-18,d_cl_09,d_cl_01,d_cl_09-d_cl_01
161981,34,2009-07-18 09:38:17,39.926878,116.325922,2009-07-18,d_cl_01,d_cl_08,d_cl_01-d_cl_08
164240,34,2009-07-19 23:04:07,39.921237,116.304622,2009-07-19,d_cl_08,d_cl_07,d_cl_08-d_cl_07
166375,34,2009-07-20 05:03:54,39.923945,116.304775,2009-07-20,d_cl_07,d_cl_06,d_cl_07-d_cl_06

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19
cluster,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.000000,0.000000,0.023256,0.325581,0.162791,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.116279,0.116279,0.023256,0.186047,0.023256,0.000000,0.000000,0.023256
d_cl_01,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.300000,0.1,0.1,0.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_02,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.0,0.1,0.0,0.000000,0.000000,0.100000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.538462,0.000000,0.000000,0.000000,0.000000,0.076923,0.025641,0.000000,0.0,0.0,0.0,0.000000,0.076923,0.076923,0.025641,0.000000,0.076923,0.025641,0.025641,0.051282
d_cl_05,0.153846,0.000000,0.000000,0.000000,0.692308,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.076923
d_cl_06,0.000000,0.000000,0.400000,0.000000,0.600000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.000000,0.200000,0.200000,0.000000,0.000000,0.000000,0.200000,0.000000,0.4,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.000000,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.692308,0.000000,0.000000,0.000000,0.153846,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.076923,0.076923,0.000000,0.000000,0.000000
d_cl_13,0.200000,0.000000,0.000000,0.000000,0.300000,0.000000,0.100000,0.000000,0.0,0.0,0.0,0.000000,0.300000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000
d_cl_14,0.333333,0.000000,0.000000,0.000000,0.333333,0.333333,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.266667,0.000000,0.066667,0.000000,0.066667,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.066667,0.000000,0.000000,0.000000,0.000000,0.533333
d_cl_16,0.200000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.333333,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000
d_cl_19,0.000000,0.000000,0.000000,0.000000,0.416667,0.000000,0.083333,0.000000,0.0,0.0,0.0,0.083333,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.083333,0.000000

 27%|██████████▋                             | 32/120 [44:29<1:16:34, 52.21s/it]

Procesamiento del user 34 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 35
INFO: Noise Filtering applied
INFO: Clusters generated
(312042, 5) (2736, 5) (2736, 5) (2736, 5) (2736, 6)
INFO: 5 clusters generated.

  0%|                                                     | 0/5 [00:00<?, ?it/s]
 20%|█████████                                    | 1/5 [00:04<00:19,  4.96s/it]
 40%|██████████████████                           | 2/5 [00:09<00:14,  4.99s/it]
 60%|███████████████████████████                  | 3/5 [00:14<00:09,  4.98s/it]
 80%|████████████████████████████████████         | 4/5 [00:19<00:04,  4.97s/it]
100%|█████████████████████████████████████████████| 5/5 [00:24<00:00,  4.97s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
18,35,2009-02-09 10:49:58,39.983644,116.321219,2009-02-09,d_cl_00,d_cl_02,d_cl_00-d_cl_02
146,35,2009-02-09 13:26:28,39.991425,116.327847,2009-02-09,d_cl_02,d_cl_01,d_cl_02-d_cl_01
446,35,2009-02-09 22:01:06,40.011778,116.311534,2009-02-09,d_cl_01,d_cl_00,d_cl_01-d_cl_00
630,35,2009-02-10 00:39:22,39.983529,116.321385,2009-02-10,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1016,35,2009-02-10 02:59:31,40.011815,116.312033,2009-02-10,d_cl_01,d_cl_00,d_cl_01-d_cl_00
...,...,...,...,...,...,...,...,...
309094,35,2009-04-26 05:13:26,40.011771,116.311873,2009-04-26,d_cl_01,d_cl_03,d_cl_01-d_cl_03
309134,35,2009-04-26 05:16:46,40.008984,116.328344,2009-04-26,d_cl_03,d_cl_02,d_cl_03-d_cl_02
309236,35,2009-04-26 05:25:06,39.990818,116.330018,2009-04-26,d_cl_02,d_cl_01,d_cl_02-d_cl_01
309535,35,2009-04-26 21:18:50,40.011625,116.311987,2009-04-26,d_cl_01,d_cl_00,d_cl_01-d_cl_00
310616,35,2009-04-27 00:41:25,39.981061,116.323200,2009-04-27,d_cl_00,d_cl_04,d_cl_00-d_cl_04

cluster_next   d_cl_00   d_cl_01   d_cl_02   d_cl_03   d_cl_04
cluster
d_cl_00       0.000000  0.141026  0.538462  0.000000  0.320513
d_cl_01       0.742857  0.000000  0.057143  0.185714  0.014286
d_cl_02       0.016949  0.881356  0.000000  0.101695  0.000000
d_cl_03       0.000000  0.315789  0.684211  0.000000  0.000000
d_cl_04       0.960000  0.040000  0.000000  0.000000  0.000000

 28%|███████████                             | 33/120 [45:09<1:10:37, 48.71s/it]

Procesamiento del user 35 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 36
INFO: Noise Filtering applied
INFO: Clusters generated
(251967, 5) (5, 5) (5, 5) (5, 5) (5, 6)
INFO: 3 clusters generated.

  0%|                                                     | 0/3 [00:00<?, ?it/s]
 33%|███████████████                              | 1/3 [00:03<00:07,  3.95s/it]
 67%|██████████████████████████████               | 2/3 [00:08<00:04,  4.03s/it]
100%|█████████████████████████████████████████████| 3/3 [00:12<00:00,  4.03s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
655,36,2009-02-01 03:42:28,23.438002,116.135872,2009-02-01,d_cl_00,d_cl_02,d_cl_00-d_cl_02
2304,36,2009-02-01 22:48:52,23.444390,116.140274,2009-02-01,d_cl_02,d_cl_01,d_cl_02-d_cl_01

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
655,36,2009-02-01 03:42:27.990,23.438002,116.135872,2009-02-01,d_cl_01,d_cl_00,d_cl_00-d_cl_02

cluster_next  d_cl_00  d_cl_01  d_cl_02
cluster
d_cl_00           0.0      0.0      1.0
d_cl_01           1.0      0.0      0.0
d_cl_02           0.0      1.0      0.0

 28%|███████████▉                              | 34/120 [45:32<58:30, 40.82s/it]

Procesamiento del user 36 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 37
INFO: Noise Filtering applied
INFO: Clusters generated
(191324, 5) (308, 5) (308, 5) (308, 5) (308, 6)
INFO: 18 clusters generated.

  0%|                                                    | 0/18 [00:00<?, ?it/s]
  6%|██▍                                         | 1/18 [00:03<00:51,  3.05s/it]
 11%|████▉                                       | 2/18 [00:06<00:48,  3.03s/it]
 17%|███████▎                                    | 3/18 [00:09<00:46,  3.07s/it]
 22%|█████████▊                                  | 4/18 [00:12<00:42,  3.06s/it]
 28%|████████████▏                               | 5/18 [00:15<00:39,  3.04s/it]
 33%|██████████████▋                             | 6/18 [00:18<00:36,  3.07s/it]
 39%|█████████████████                           | 7/18 [00:21<00:33,  3.07s/it]
 44%|███████████████████▌                        | 8/18 [00:24<00:30,  3.05s/it]
 50%|██████████████████████                      | 9/18 [00:27<00:27,  3.04s/it]
 56%|███████████████████████▉                   | 10/18 [00:30<00:24,  3.04s/it]
 61%|██████████████████████████▎                | 11/18 [00:33<00:21,  3.08s/it]
 67%|████████████████████████████▋              | 12/18 [00:36<00:18,  3.07s/it]
 72%|███████████████████████████████            | 13/18 [00:39<00:15,  3.05s/it]
 78%|█████████████████████████████████▍         | 14/18 [00:42<00:12,  3.05s/it]
 83%|███████████████████████████████████▊       | 15/18 [00:45<00:09,  3.03s/it]
 89%|██████████████████████████████████████▏    | 16/18 [00:48<00:06,  3.07s/it]
 94%|████████████████████████████████████████▌  | 17/18 [00:51<00:03,  3.05s/it]
100%|███████████████████████████████████████████| 18/18 [00:54<00:00,  3.05s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
3175,37,2009-01-20 10:51:48,39.970298,116.313337,2009-01-20,d_cl_08,d_cl_09,d_cl_08-d_cl_09
3496,37,2009-01-20 11:33:44,39.982280,116.288300,2009-01-20,d_cl_09,d_cl_03,d_cl_09-d_cl_03
3590,37,2009-01-20 11:37:08,39.971013,116.272728,2009-01-20,d_cl_03,d_cl_00,d_cl_03-d_cl_00
3975,37,2009-01-21 00:08:13,39.979512,116.254668,2009-01-21,d_cl_00,d_cl_03,d_cl_00-d_cl_03
4326,37,2009-01-21 00:29:25,39.972513,116.276872,2009-01-21,d_cl_03,d_cl_09,d_cl_03-d_cl_09
...,...,...,...,...,...,...,...,...
180539,37,2009-07-21 07:21:13,39.958240,116.415252,2009-07-21,d_cl_04,d_cl_02,d_cl_04-d_cl_02
180670,37,2009-07-21 11:08:23,39.854743,116.348442,2009-07-21,d_cl_02,d_cl_06,d_cl_02-d_cl_06
181940,37,2009-07-22 02:03:23,39.860005,116.415575,2009-07-22,d_cl_06,d_cl_02,d_cl_06-d_cl_02
184999,37,2009-07-25 03:22:36,39.855378,116.348187,2009-07-25,d_cl_02,d_cl_10,d_cl_02-d_cl_10
190594,37,2009-07-25 12:48:30,39.858753,116.353377,2009-07-25,d_cl_10,d_cl_02,d_cl_10-d_cl_02

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17
cluster,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.290323,0.000000,0.354839,0.000000,0.000000,0.000,0.032258,0.161290,0.129032,0.00,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.032258
d_cl_01,0.102041,0.000000,0.000000,0.081633,0.000000,0.020408,0.000,0.000000,0.285714,0.244898,0.00,0.000,0.000000,0.040816,0.000000,0.020408,0.040816,0.163265
d_cl_02,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.375,0.000000,0.000000,0.000000,0.25,0.125,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.333333,0.025641,0.000000,0.000000,0.025641,0.025641,0.000,0.000000,0.025641,0.564103,0.00,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000,0.750000,0.000000,0.000000,0.00,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.142857,0.000000,0.00,0.000,0.000000,0.000000,0.000000,0.071429,0.000000,0.785714
d_cl_06,0.000000,0.000000,0.666667,0.000000,0.333333,0.000000,0.000,0.000000,0.000000,0.000000,0.00,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.100000,0.000000,0.200000,0.000000,0.100000,0.000000,0.000,0.000000,0.600000,0.000000,0.00,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.138889,0.388889,0.000000,0.111111,0.000000,0.083333,0.000,0.166667,0.000000,0.027778,0.00,0.000,0.000000,0.000000,0.000000,0.000000,0.027778,0.055556
d_cl_09,0.069767,0.255814,0.000000,0.465116,0.000000,0.023256,0.000,0.000000,0.046512,0.000000,0.00,0.000,0.023256,0.000000,0.023256,0.023256,0.000000,0.069767
d_cl_10,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.00,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.00,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000,0.000000,0.500000,0.000000,0.00,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.333333,0.333333,0.00,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.00,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.333333,0.000000,0.00,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333
d_cl_16,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.00,0.000,0.000000,0.000000,0.333333,0.000000,0.000000,0.333333
d_cl_17,0.111111,0.296296,0.000000,0.000000,0.000000,0.296296,0.000,0.000000,0.074074,0.111111,0.00,0.000,0.000000,0.037037,0.074074,0.000000,0.000000,0.000000

 29%|███████████▋                            | 35/120 [46:33<1:06:45, 47.13s/it]

Procesamiento del user 37 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 38
INFO: Noise Filtering applied
INFO: Clusters generated
(250391, 5) (1200, 5) (1200, 5) (1200, 5) (1200, 6)
INFO: 14 clusters generated.

  0%|                                                    | 0/14 [00:00<?, ?it/s]
  7%|███▏                                        | 1/14 [00:04<00:52,  4.05s/it]
 14%|██████▎                                     | 2/14 [00:07<00:47,  3.97s/it]
 21%|█████████▍                                  | 3/14 [00:12<00:44,  4.01s/it]
 29%|████████████▌                               | 4/14 [00:15<00:39,  3.97s/it]
 36%|███████████████▋                            | 5/14 [00:19<00:35,  3.94s/it]
 43%|██████████████████▊                         | 6/14 [00:23<00:32,  4.00s/it]
 50%|██████████████████████                      | 7/14 [00:27<00:27,  3.98s/it]
 57%|█████████████████████████▏                  | 8/14 [00:31<00:24,  4.01s/it]
 64%|████████████████████████████▎               | 9/14 [00:35<00:19,  3.97s/it]
 71%|██████████████████████████████▋            | 10/14 [00:39<00:15,  3.99s/it]
 79%|█████████████████████████████████▊         | 11/14 [00:43<00:12,  4.00s/it]
 86%|████████████████████████████████████▊      | 12/14 [00:47<00:07,  3.98s/it]
 93%|███████████████████████████████████████▉   | 13/14 [00:51<00:03,  3.96s/it]
100%|███████████████████████████████████████████| 14/14 [00:55<00:00,  3.99s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
216,38,2009-02-06 12:34:53,39.905008,116.268545,2009-02-06,d_cl_13,d_cl_05,d_cl_13-d_cl_05
670,38,2009-02-06 12:51:20,39.939370,116.307620,2009-02-06,d_cl_05,d_cl_03,d_cl_05-d_cl_03
2754,38,2009-02-07 07:06:23,39.951678,116.303143,2009-02-07,d_cl_03,d_cl_06,d_cl_03-d_cl_06
2803,38,2009-02-07 07:08:03,39.945095,116.303557,2009-02-07,d_cl_06,d_cl_05,d_cl_06-d_cl_05
2846,38,2009-02-07 07:09:32,39.938143,116.303838,2009-02-07,d_cl_05,d_cl_12,d_cl_05-d_cl_12
...,...,...,...,...,...,...,...,...
243001,38,2009-07-23 02:09:39,39.988210,116.293225,2009-07-23,d_cl_04,d_cl_07,d_cl_04-d_cl_07
243036,38,2009-07-23 02:19:01,39.975673,116.294637,2009-07-23,d_cl_07,d_cl_00,d_cl_07-d_cl_00
246781,38,2009-07-23 11:22:01,39.967063,116.310235,2009-07-23,d_cl_00,d_cl_09,d_cl_00-d_cl_09
248051,38,2009-07-23 13:38:51,39.971910,116.225455,2009-07-23,d_cl_09,d_cl_10,d_cl_09-d_cl_10
248201,38,2009-07-23 13:47:28,39.990612,116.204230,2009-07-23,d_cl_10,d_cl_01,d_cl_10-d_cl_01

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
216,38,2009-02-06 12:34:52.990,39.905008,116.268545,2009-02-06,d_cl_00,d_cl_13,d_cl_13-d_cl_05

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13
cluster,,,,,,,,,,,,,,
d_cl_00,0.000000,0.071429,0.000000,0.500000,0.000000,0.000000,0.000000,0.214286,0.000,0.142857,0.000000,0.000000,0.000000,0.071429
d_cl_01,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.125,0.000000,0.375000,0.000000,0.000000,0.000000
d_cl_02,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.800000,0.000000
d_cl_03,0.384615,0.000000,0.000000,0.000000,0.000000,0.000000,0.538462,0.000000,0.000,0.000000,0.000000,0.076923,0.000000,0.000000
d_cl_04,0.166667,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.000000,0.000000,0.090909,0.000000,0.000000,0.363636,0.000000,0.000,0.000000,0.000000,0.000000,0.545455,0.000000
d_cl_06,0.090909,0.000000,0.000000,0.363636,0.000000,0.545455,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.571429,0.000000,0.000000,0.000000,0.285714,0.000000,0.000000,0.000000,0.000,0.142857,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.666667,0.000000,0.166667,0.000000
d_cl_10,0.000000,0.714286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.285714,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,1.000000,0.000000
d_cl_12,0.166667,0.083333,0.416667,0.000000,0.000000,0.333333,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000

 30%|████████████                            | 36/120 [47:40<1:14:09, 52.97s/it]

Procesamiento del user 38 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 39
INFO: Noise Filtering applied
INFO: Clusters generated
(267737, 5) (189, 5) (189, 5) (189, 5) (189, 6)
INFO: 10 clusters generated.

  0%|                                                    | 0/10 [00:00<?, ?it/s]
 10%|████▍                                       | 1/10 [00:04<00:38,  4.29s/it]
 20%|████████▊                                   | 2/10 [00:08<00:34,  4.30s/it]
 30%|█████████████▏                              | 3/10 [00:12<00:29,  4.28s/it]
 40%|█████████████████▌                          | 4/10 [00:17<00:25,  4.30s/it]
 50%|██████████████████████                      | 5/10 [00:21<00:21,  4.30s/it]
 60%|██████████████████████████▍                 | 6/10 [00:25<00:17,  4.29s/it]
 70%|██████████████████████████████▊             | 7/10 [00:30<00:12,  4.32s/it]
 80%|███████████████████████████████████▏        | 8/10 [00:34<00:08,  4.34s/it]
 90%|███████████████████████████████████████▌    | 9/10 [00:38<00:04,  4.29s/it]
100%|███████████████████████████████████████████| 10/10 [00:42<00:00,  4.30s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
32,39,2009-02-11 10:02:18,39.891286,116.453920,2009-02-11,d_cl_00,d_cl_01,d_cl_00-d_cl_01
689,39,2009-02-11 23:53:12,39.996970,116.359090,2009-02-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
921,39,2009-02-12 00:50:35,39.894523,116.453750,2009-02-12,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1002,39,2009-02-13 00:01:04,39.996489,116.359582,2009-02-13,d_cl_01,d_cl_00,d_cl_01-d_cl_00
1616,39,2009-02-13 09:53:37,39.894190,116.452797,2009-02-13,d_cl_00,d_cl_08,d_cl_00-d_cl_08
3763,39,2009-02-14 10:16:50,39.986928,116.346091,2009-02-14,d_cl_08,d_cl_01,d_cl_08-d_cl_01
8034,39,2009-02-19 00:01:18,39.997988,116.358838,2009-02-19,d_cl_01,d_cl_09,d_cl_01-d_cl_09
8035,39,2009-02-19 00:01:53,39.996886,116.373913,2009-02-19,d_cl_09,d_cl_01,d_cl_09-d_cl_01
12641,39,2009-02-21 11:08:11,39.997101,116.358903,2009-02-21,d_cl_01,d_cl_08,d_cl_01-d_cl_08
13265,39,2009-02-21 13:31:24,39.987363,116.347338,2009-02-21,d_cl_08,d_cl_01,d_cl_08-d_cl_01
13348,39,2009-02-21 13:37:59,39.997561,116.358632,2009-02-21,d_cl_01,d_cl_08,d_cl_01-d_cl_08
14785,39,2009-02-22 08:30:46,39.985458,116.349530,2009-02-22,d_cl_08,d_cl_01,d_cl_08-d_cl_01
15003,39,2009-02-22 23:50:55,39.998384,116.359518,2009-02-22,d_cl_01,d_cl_00,d_cl_01-d_cl_00
15269,39,2009-02-23 00:47:50,39.894447,116.453413,2009-02-23,d_cl_00,d_cl_01,d_cl_00-d_cl_01
15673,39,2009-02-23 23:42:41,39.998200,116.358806,2009-02-23,d_cl_01,d_cl_00,d_cl_01-d_cl_00
16013,39,2009-02-24 00:50:56,39.894473,116.453881,2009-02-24,d_cl_00,d_cl_01,d_cl_00-d_cl_01
16913,39,2009-02-25 11:24:09,39.997906,116.358667,2009-02-25,d_cl_01,d_cl_00,d_cl_01-d_cl_00
17665,39,2009-02-26 10:47:43,39.892467,116.454300,2009-02-26,d_cl_00,d_cl_01,d_cl_00-d_cl_01
19053,39,2009-02-28 05:33:58,39.997084,116.358732,2009-02-28,d_cl_01,d_cl_08,d_cl_01-d_cl_08
20447,39,2009-02-28 13:31:00,39.987385,116.347415,2009-02-28,d_cl_08,d_cl_01,d_cl_08-d_cl_01
22011,39,2009-03-02 11:24:07,39.997663,116.358635,2009-03-02,d_cl_01,d_cl_00,d_cl_01-d_cl_00
22885,39,2009-03-04 10:37:50,39.892324,116.454326,2009-03-04,d_cl_00,d_cl_01,d_cl_00-d_cl_01
23082,39,2009-03-04 11:29:56,39.997675,116.358656,2009-03-04,d_cl_01,d_cl_00,d_cl_01-d_cl_00
24086,39,2009-03-06 10:05:38,39.891364,116.455197,2009-03-06,d_cl_00,d_cl_01,d_cl_00-d_cl_01
26117,39,2009-03-07 06:27:13,39.997115,116.358770,2009-03-07,d_cl_01,d_cl_08,d_cl_01-d_cl_08
26282,39,2009-03-07 06:40:13,39.985634,116.347322,2009-03-07,d_cl_08,d_cl_01,d_cl_08-d_cl_01
28650,39,2009-03-08 23:51:41,39.997596,116.358793,2009-03-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
29107,39,2009-03-09 10:29:39,39.892104,116.454806,2009-03-09,d_cl_00,d_cl_01,d_cl_00-d_cl_01
29353,39,2009-03-09 11:50:31,39.997719,116.358800,2009-03-09,d_cl_01,d_cl_00,d_cl_01-d_cl_00
29447,39,2009-03-10 00:57:28,39.894369,116.453756,2009-03-10,d_cl_00,d_cl_01,d_cl_00-d_cl_01
30079,39,2009-03-10 11:13:02,39.997845,116.358672,2009-03-10,d_cl_01,d_cl_00,d_cl_01-d_cl_00
30785,39,2009-03-11 10:33:59,39.892540,116.454438,2009-03-11,d_cl_00,d_cl_01,d_cl_00-d_cl_01
30962,39,2009-03-11 11:24:24,39.997293,116.358652,2009-03-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
32316,39,2009-03-13 09:54:24,39.892745,116.451844,2009-03-13,d_cl_00,d_cl_07,d_cl_00-d_cl_07
34741,39,2009-03-14 13:28:00,39.958190,116.348934,2009-03-14,d_cl_07,d_cl_08,d_cl_07-d_cl_08
35181,39,2009-03-15 01:50:39,39.985722,116.345400,2009-03-15,d_cl_08,d_cl_01,d_cl_08-d_cl_01
37509,39,2009-03-17 23:42:25,39.996335,116.362623,2009-03-17,d_cl_01,d_cl_00,d_cl_01-d_cl_00
40030,39,2009-03-20 11:17:18,39.892544,116.454204,2009-03-20,d_cl_00,d_cl_01,d_cl_00-d_cl_01
42771,39,2009-03-22 04:57:56,39.997552,116.358690,2009-03-22,d_cl_01,d_cl_08,d_cl_01-d_cl_08
43502,39,2009-03-22 14:02:38,39.985308,116.348986,2009-03-22,d_cl_08,d_cl_01,d_cl_08-d_cl_01
43662,39,2009-03-22 14:15:28,39.997858,116.358644,2009-03-22,d_cl_01,d_cl_00,d_cl_01-d_cl_00
44356,39,2009-03-24 00:50:41,39.894509,116.453800,2009-03-24,d_cl_00,d_cl_01,d_cl_00-d_cl_01
44570,39,2009-03-24 23:56:21,39.997469,116.358736,2009-03-24,d_cl_01,d_cl_00,d_cl_01-d_cl_00
45353,39,2009-04-02 10:59:34,39.892394,116.454472,2009-04-02,d_cl_00,d_cl_01,d_cl_00-d_cl_01
45919,39,2009-04-02 13:07:39,39.995947,116.361109,2009-04-02,d_cl_01,d_cl_00,d_cl_01-d_cl_00
46235,39,2009-04-03 10:34:26,39.891123,116.454795,2009-04-03,d_cl_00,d_cl_06,d_cl_00-d_cl_06
46312,39,2009-04-05 02:21:55,39.883339,116.449048,2009-04-05,d_cl_06,d_cl_05,d_cl_06-d_cl_05
49247,39,2009-04-05 08:13:31,39.883337,116.446586,2009-04-05,d_cl_05,d_cl_06,d_cl_05-d_cl_06
49281,39,2009-04-05 08:16:01,39.883088,116.452954,2009-04-05,d_cl_06,d_cl_04,d_cl_06-d_cl_04
51477,39,2009-04-08 09:51:59,39.827638,116.486544,2009-04-08,d_cl_04,d_cl_01,d_cl_04-d_cl_01
52819,39,2009-04-08 14:15:52,39.997392,116.358637,2009-04-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
54079,39,2009-04-10 11:06:08,39.891790,116.454474,2009-04-10,d_cl_00,d_cl_08,d_cl_00-d_cl_08
54950,39,2009-04-11 13:49:06,39.985321,116.349515,2009-04-11,d_cl_08,d_cl_01,d_cl_08-d_cl_01
55081,39,2009-04-11 13:59:31,39.997780,116.358635,2009-04-11,d_cl_01,d_cl_08,d_cl_01-d_cl_08
55173,39,2009-04-12 01:39:15,39.986386,116.345755,2009-04-12,d_cl_08,d_cl_01,d_cl_08-d_cl_01
57711,39,2009-04-14 13:14:46,39.998106,116.358758,2009-04-14,d_cl_01,d_cl_00,d_cl_01-d_cl_00
58027,39,2009-04-15 10:57:56,39.892499,116.454332,2009-04-15,d_cl_00,d_cl_01,d_cl_00-d_cl_01
58177,39,2009-04-15 11:49:16,39.997819,116.358639,2009-04-15,d_cl_01,d_cl_00,d_cl_01-d_cl_00
59420,39,2009-04-17 12:11:18,39.891787,116.454608,2009-04-17,d_cl_00,d_cl_01,d_cl_00-d_cl_01
59564,39,2009-04-17 13:02:50,39.997880,116.358682,2009-04-17,d_cl_01,d_cl_08,d_cl_01-d_cl_08
59727,39,2009-04-18 03:37:27,39.985745,116.345039,2009-04-18,d_cl_08,d_cl_01,d_cl_08-d_cl_01
61482,39,2009-04-18 15:51:02,39.999178,116.360081,2009-04-18,d_cl_01,d_cl_00,d_cl_01-d_cl_00
63050,39,2009-04-20 10:57:37,39.891845,116.454441,2009-04-20,d_cl_00,d_cl_01,d_cl_00-d_cl_01
63232,39,2009-04-20 11:46:55,39.997726,116.358675,2009-04-20,d_cl_01,d_cl_00,d_cl_01-d_cl_00
63956,39,2009-04-22 11:24:50,39.891783,116.454692,2009-04-22,d_cl_00,d_cl_01,d_cl_00-d_cl_01
65086,39,2009-04-23 11:47:09,39.998190,116.358782,2009-04-23,d_cl_01,d_cl_00,d_cl_01-d_cl_00
65396,39,2009-04-24 01:04:38,39.893800,116.453636,2009-04-24,d_cl_00,d_cl_08,d_cl_00-d_cl_08
65479,39,2009-04-27 00:17:19,39.985531,116.349554,2009-04-27,d_cl_08,d_cl_00,d_cl_08-d_cl_00
77403,39,2009-04-30 05:51:24,39.892638,116.454210,2009-04-30,d_cl_00,d_cl_01,d_cl_00-d_cl_01
78425,39,2009-04-30 12:11:10,39.997674,116.358632,2009-04-30,d_cl_01,d_cl_08,d_cl_01-d_cl_08
86588,39,2009-05-03 08:35:14,39.984048,116.346411,2009-05-03,d_cl_08,d_cl_00,d_cl_08-d_cl_00
99818,39,2009-05-06 10:37:38,39.891718,116.454547,2009-05-06,d_cl_00,d_cl_03,d_cl_00-d_cl_03
101546,39,2009-05-07 02:20:39,39.855648,116.380674,2009-05-07,d_cl_03,d_cl_04,d_cl_03-d_cl_04
101685,39,2009-05-07 02:32:14,39.825318,116.489168,2009-05-07,d_cl_04,d_cl_00,d_cl_04-d_cl_00
108491,39,2009-05-08 01:19:23,39.894471,116.453926,2009-05-08,d_cl_00,d_cl_03,d_cl_00-d_cl_03
122334,39,2009-05-11 05:41:27,39.855614,116.380304,2009-05-11,d_cl_03,d_cl_00,d_cl_03-d_cl_00
144717,39,2009-05-27 04:37:17,39.894447,116.454107,2009-05-27,d_cl_00,d_cl_02,d_cl_00-d_cl_02
155971,39,2009-05-30 12:08:41,39.908185,116.545335,2009-05-30,d_cl_02,d_cl_08,d_cl_02-d_cl_08
159647,39,2009-05-31 05:29:48,39.985465,116.348955,2009-05-31,d_cl_08,d_cl_00,d_cl_08-d_cl_00
166864,39,2009-06-02 11:42:19,39.891781,116.456066,2009-06-02,d_cl_00,d_cl_08,d_cl_00-d_cl_08
170909,39,2009-06-03 07:49:30,39.985731,116.345591,2009-06-03,d_cl_08,d_cl_00,d_cl_08-d_cl_00
172665,39,2009-06-03 11:38:20,39.891675,116.454558,2009-06-03,d_cl_00,d_cl_08,d_cl_00-d_cl_08
177832,39,2009-06-04 08:13:42,39.985684,116.345438,2009-06-04,d_cl_08,d_cl_00,d_cl_08-d_cl_00
192837,39,2009-06-08 01:23:41,39.894521,116.453969,2009-06-08,d_cl_00,d_cl_08,d_cl_00-d_cl_08
209828,39,2009-06-10 09:23:36,39.985586,116.345129,2009-06-10,d_cl_08,d_cl_00,d_cl_08-d_cl_00
216793,39,2009-06-12 12:14:40,39.892525,116.454644,2009-06-12,d_cl_00,d_cl_08,d_cl_00-d_cl_08
218392,39,2009-06-13 05:33:21,39.985769,116.345273,2009-06-13,d_cl_08,d_cl_00,d_cl_08-d_cl_00
253502,39,2009-07-03 09:40:19,39.892244,116.453882,2009-07-03,d_cl_00,d_cl_01,d_cl_00-d_cl_01
254548,39,2009-07-03 12:17:39,39.997825,116.358632,2009-07-03,d_cl_01,d_cl_00,d_cl_01-d_cl_00
261326,39,2009-07-10 10:16:19,39.891310,116.454268,2009-07-10,d_cl_00,d_cl_08,d_cl_00-d_cl_08
263014,39,2009-07-11 05:42:22,39.985746,116.345259,2009-07-11,d_cl_08,d_cl_00,d_cl_08-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09
cluster,,,,,,,,,,
d_cl_00,0.000000,0.593750,0.03125,0.0625,0.0,0.0,0.03125,0.03125,0.250000,0.000000
d_cl_01,0.709677,0.000000,0.00000,0.0000,0.0,0.0,0.00000,0.00000,0.258065,0.032258
d_cl_02,0.000000,0.000000,0.00000,0.0000,0.0,0.0,0.00000,0.00000,1.000000,0.000000
d_cl_03,0.500000,0.000000,0.00000,0.0000,0.5,0.0,0.00000,0.00000,0.000000,0.000000
d_cl_04,0.500000,0.500000,0.00000,0.0000,0.0,0.0,0.00000,0.00000,0.000000,0.000000
d_cl_05,0.000000,0.000000,0.00000,0.0000,0.0,0.0,1.00000,0.00000,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.00000,0.0000,0.5,0.5,0.00000,0.00000,0.000000,0.000000
d_cl_07,0.000000,0.000000,0.00000,0.0000,0.0,0.0,0.00000,0.00000,1.000000,0.000000
d_cl_08,0.444444,0.555556,0.00000,0.0000,0.0,0.0,0.00000,0.00000,0.000000,0.000000
d_cl_09,0.000000,1.000000,0.00000,0.0000,0.0,0.0,0.00000,0.00000,0.000000,0.000000

 31%|████████████▎                           | 37/120 [48:34<1:13:49, 53.37s/it]

Procesamiento del user 39 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 40
INFO: Noise Filtering applied
INFO: Clusters generated
(56013, 5) (40, 5) (40, 5) (40, 5) (40, 6)
INFO: 8 clusters generated.

  0%|                                                     | 0/8 [00:00<?, ?it/s]
 12%|█████▋                                       | 1/8 [00:00<00:06,  1.02it/s]
 25%|███████████▎                                 | 2/8 [00:01<00:05,  1.10it/s]
 38%|████████████████▉                            | 3/8 [00:02<00:04,  1.07it/s]
 50%|██████████████████████▌                      | 4/8 [00:03<00:03,  1.11it/s]
 62%|████████████████████████████▏                | 5/8 [00:04<00:02,  1.14it/s]
 75%|█████████████████████████████████▊           | 6/8 [00:05<00:01,  1.09it/s]
 88%|███████████████████████████████████████▍     | 7/8 [00:06<00:00,  1.12it/s]
100%|█████████████████████████████████████████████| 8/8 [00:07<00:00,  1.10it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
53,40,2009-02-09 04:38:33,39.974850,116.329977,2009-02-09,d_cl_01,d_cl_00,d_cl_01-d_cl_00
14726,40,2009-02-24 13:35:55,39.969706,116.311795,2009-02-24,d_cl_00,d_cl_03,d_cl_00-d_cl_03
15677,40,2009-03-07 06:47:31,39.921648,116.344305,2009-03-07,d_cl_03,d_cl_02,d_cl_03-d_cl_02
16505,40,2009-03-07 07:53:31,39.975265,116.342937,2009-03-07,d_cl_02,d_cl_01,d_cl_02-d_cl_01
16574,40,2009-03-07 07:58:36,39.975302,116.330242,2009-03-07,d_cl_01,d_cl_03,d_cl_01-d_cl_03
16656,40,2009-03-09 04:39:03,39.921312,116.344584,2009-03-09,d_cl_03,d_cl_01,d_cl_03-d_cl_01
21597,40,2009-03-23 12:22:27,39.973554,116.332870,2009-03-23,d_cl_01,d_cl_05,d_cl_01-d_cl_05
21707,40,2009-03-23 12:31:42,39.956018,116.365019,2009-03-23,d_cl_05,d_cl_04,d_cl_05-d_cl_04
26565,40,2009-03-23 23:35:37,39.951997,116.365113,2009-03-23,d_cl_04,d_cl_05,d_cl_04-d_cl_05
26615,40,2009-03-23 23:39:37,39.959455,116.364736,2009-03-23,d_cl_05,d_cl_02,d_cl_05-d_cl_02
26789,40,2009-03-23 23:53:12,39.975013,116.342795,2009-03-23,d_cl_02,d_cl_01,d_cl_02-d_cl_01
27606,40,2009-03-24 13:13:09,39.972872,116.331747,2009-03-24,d_cl_01,d_cl_05,d_cl_01-d_cl_05
27751,40,2009-03-24 13:24:29,39.956071,116.365020,2009-03-24,d_cl_05,d_cl_04,d_cl_05-d_cl_04
27776,40,2009-03-24 13:26:24,39.951368,116.365351,2009-03-24,d_cl_04,d_cl_07,d_cl_04-d_cl_07
27830,40,2009-03-24 13:30:39,39.943410,116.366009,2009-03-24,d_cl_07,d_cl_04,d_cl_07-d_cl_04
33116,40,2009-03-25 00:08:29,39.952116,116.365002,2009-03-25,d_cl_04,d_cl_05,d_cl_04-d_cl_05
33168,40,2009-03-25 00:12:29,39.959446,116.364636,2009-03-25,d_cl_05,d_cl_02,d_cl_05-d_cl_02
33374,40,2009-03-25 00:28:24,39.975091,116.342759,2009-03-25,d_cl_02,d_cl_01,d_cl_02-d_cl_01
33466,40,2009-03-25 00:35:39,39.974053,116.332272,2009-03-25,d_cl_01,d_cl_05,d_cl_01-d_cl_05
33628,40,2009-03-25 13:20:03,39.955980,116.364798,2009-03-25,d_cl_05,d_cl_04,d_cl_05-d_cl_04
38502,40,2009-03-25 23:31:03,39.952112,116.365043,2009-03-25,d_cl_04,d_cl_05,d_cl_04-d_cl_05
38586,40,2009-03-25 23:37:53,39.959202,116.364660,2009-03-25,d_cl_05,d_cl_02,d_cl_05-d_cl_02
38733,40,2009-03-25 23:59:33,39.975060,116.342882,2009-03-25,d_cl_02,d_cl_01,d_cl_02-d_cl_01
39390,40,2009-04-07 11:25:29,39.975511,116.330644,2009-04-07,d_cl_01,d_cl_04,d_cl_01-d_cl_04
39601,40,2009-04-07 12:15:22,39.951431,116.362103,2009-04-07,d_cl_04,d_cl_05,d_cl_04-d_cl_05
39620,40,2009-04-08 23:29:41,39.958432,116.363025,2009-04-08,d_cl_05,d_cl_02,d_cl_05-d_cl_02
39796,40,2009-04-08 23:44:06,39.975232,116.342727,2009-04-08,d_cl_02,d_cl_01,d_cl_02-d_cl_01
39905,40,2009-04-10 13:52:26,39.972664,116.331986,2009-04-10,d_cl_01,d_cl_05,d_cl_01-d_cl_05
40067,40,2009-04-10 14:05:01,39.955904,116.364661,2009-04-10,d_cl_05,d_cl_04,d_cl_05-d_cl_04
40689,40,2009-04-11 02:47:16,39.951811,116.365019,2009-04-11,d_cl_04,d_cl_05,d_cl_04-d_cl_05
40721,40,2009-04-11 02:49:56,39.959092,116.364699,2009-04-11,d_cl_05,d_cl_02,d_cl_05-d_cl_02
40860,40,2009-04-11 03:14:41,39.975290,116.342752,2009-04-11,d_cl_02,d_cl_01,d_cl_02-d_cl_01
41038,40,2009-04-11 03:30:21,39.973895,116.333651,2009-04-11,d_cl_01,d_cl_06,d_cl_01-d_cl_06
41268,40,2009-04-11 10:10:10,39.951943,116.354554,2009-04-11,d_cl_06,d_cl_04,d_cl_06-d_cl_04
42882,40,2009-04-12 02:28:15,39.952132,116.365009,2009-04-12,d_cl_04,d_cl_05,d_cl_04-d_cl_05
42951,40,2009-04-12 02:33:45,39.959224,116.364869,2009-04-12,d_cl_05,d_cl_02,d_cl_05-d_cl_02
43109,40,2009-04-12 02:46:10,39.975260,116.343081,2009-04-12,d_cl_02,d_cl_01,d_cl_02-d_cl_01
47417,40,2009-04-12 10:05:30,39.972636,116.332772,2009-04-12,d_cl_01,d_cl_04,d_cl_01-d_cl_04
47522,40,2009-05-04 04:15:29,39.951840,116.365234,2009-05-04,d_cl_04,d_cl_05,d_cl_04-d_cl_05
47562,40,2009-05-04 04:18:34,39.959214,116.364757,2009-05-04,d_cl_05,d_cl_02,d_cl_05-d_cl_02
47767,40,2009-05-04 04:48:29,39.975037,116.342793,2009-05-04,d_cl_02,d_cl_01,d_cl_02-d_cl_01
47919,40,2009-05-04 10:08:17,39.974216,116.334356,2009-05-04,d_cl_01,d_cl_07,d_cl_01-d_cl_07
48289,40,2009-05-04 14:43:01,39.943091,116.366174,2009-05-04,d_cl_07,d_cl_04,d_cl_07-d_cl_04
48354,40,2009-05-04 14:48:21,39.951212,116.361345,2009-05-04,d_cl_04,d_cl_02,d_cl_04-d_cl_02
48407,40,2009-05-13 10:41:56,39.973842,116.346540,2009-05-13,d_cl_02,d_cl_06,d_cl_02-d_cl_06
48619,40,2009-05-13 11:13:11,39.952321,116.351562,2009-05-13,d_cl_06,d_cl_04,d_cl_06-d_cl_04
54849,40,2009-05-13 23:40:27,39.951719,116.365186,2009-05-13,d_cl_04,d_cl_05,d_cl_04-d_cl_05
54875,40,2009-05-13 23:42:32,39.959348,116.364642,2009-05-13,d_cl_05,d_cl_02,d_cl_05-d_cl_02
55015,40,2009-05-14 00:10:32,39.975577,116.342764,2009-05-14,d_cl_02,d_cl_01,d_cl_02-d_cl_01
55120,40,2009-05-14 00:22:22,39.974198,116.333190,2009-05-14,d_cl_01,d_cl_06,d_cl_01-d_cl_06
55133,40,2009-05-16 08:16:56,39.951162,116.355016,2009-05-16,d_cl_06,d_cl_04,d_cl_06-d_cl_04

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07
cluster,,,,,,,,
d_cl_00,0.000000,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
d_cl_01,0.090909,0.0,0.000000,0.090909,0.181818,0.363636,0.181818,0.090909
d_cl_02,0.000000,0.9,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000
d_cl_03,0.000000,0.5,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.000000,0.0,0.100000,0.000000,0.000000,0.800000,0.000000,0.100000
d_cl_05,0.000000,0.0,0.666667,0.000000,0.333333,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
d_cl_07,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000

 32%|█████████████▎                            | 38/120 [48:43<54:38, 39.98s/it]

Procesamiento del user 40 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 41
INFO: Noise Filtering applied
INFO: Clusters generated
(1057038, 5) (289, 5) (289, 5) (289, 5) (289, 6)
INFO: 11 clusters generated.

  0%|                                                    | 0/11 [00:00<?, ?it/s]
  9%|████                                        | 1/11 [00:16<02:47, 16.72s/it]
 18%|████████                                    | 2/11 [00:33<02:30, 16.72s/it]
 27%|████████████                                | 3/11 [00:50<02:13, 16.67s/it]
 36%|████████████████                            | 4/11 [01:06<01:56, 16.68s/it]
 45%|████████████████████                        | 5/11 [01:23<01:39, 16.65s/it]
 55%|████████████████████████                    | 6/11 [01:39<01:22, 16.56s/it]
 64%|████████████████████████████                | 7/11 [01:56<01:06, 16.60s/it]
 73%|████████████████████████████████            | 8/11 [02:13<00:49, 16.62s/it]
 82%|████████████████████████████████████        | 9/11 [02:29<00:33, 16.58s/it]
 91%|███████████████████████████████████████    | 10/11 [02:46<00:16, 16.59s/it]
100%|███████████████████████████████████████████| 11/11 [03:02<00:00, 16.62s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
686,41,2009-02-13 04:57:41,39.941770,116.267285,2009-02-13,d_cl_06,d_cl_02,d_cl_06-d_cl_02
729,41,2009-02-13 07:12:20,39.926613,116.268013,2009-02-13,d_cl_02,d_cl_00,d_cl_02-d_cl_00
3997,41,2009-02-15 22:42:12,39.890005,116.258448,2009-02-15,d_cl_00,d_cl_02,d_cl_00-d_cl_02
5044,41,2009-02-16 00:46:10,39.929920,116.269045,2009-02-16,d_cl_02,d_cl_06,d_cl_02-d_cl_06
6849,41,2009-02-16 02:37:55,39.938440,116.268077,2009-02-16,d_cl_06,d_cl_02,d_cl_06-d_cl_02
...,...,...,...,...,...,...,...,...
1025421,41,2009-07-09 22:30:34,39.890063,116.258395,2009-07-09,d_cl_00,d_cl_03,d_cl_00-d_cl_03
1025907,41,2009-07-10 00:36:50,39.864000,116.276543,2009-07-10,d_cl_03,d_cl_08,d_cl_03-d_cl_08
1025997,41,2009-07-10 00:38:20,39.865313,116.295493,2009-07-10,d_cl_08,d_cl_03,d_cl_08-d_cl_03
1030525,41,2009-07-10 03:44:17,39.864062,116.272040,2009-07-10,d_cl_03,d_cl_00,d_cl_03-d_cl_00
1031101,41,2009-07-10 09:52:34,39.893547,116.258667,2009-07-10,d_cl_00,d_cl_05,d_cl_00-d_cl_05

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10
cluster,,,,,,,,,,,
d_cl_00,0.000000,0.114286,0.152381,0.409524,0.009524,0.019048,0.161905,0.000000,0.085714,0.019048,0.028571
d_cl_01,0.230769,0.000000,0.000000,0.076923,0.000000,0.000000,0.000000,0.615385,0.038462,0.000000,0.038462
d_cl_02,0.134615,0.000000,0.000000,0.375000,0.009615,0.000000,0.403846,0.038462,0.009615,0.000000,0.028846
d_cl_03,0.468085,0.021277,0.106383,0.000000,0.000000,0.007092,0.014184,0.007092,0.304965,0.000000,0.070922
d_cl_04,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000
d_cl_06,0.013889,0.000000,0.861111,0.083333,0.000000,0.000000,0.000000,0.027778,0.000000,0.000000,0.013889
d_cl_07,0.040000,0.360000,0.120000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.080000
d_cl_08,0.090909,0.018182,0.054545,0.690909,0.036364,0.000000,0.054545,0.018182,0.000000,0.000000,0.036364
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.363636,0.045455,0.227273,0.318182,0.000000,0.000000,0.000000,0.045455,0.000000,0.000000,0.000000

 32%|████████████▋                          | 39/120 [54:43<3:03:34, 135.98s/it]

Procesamiento del user 41 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 42
INFO: Noise Filtering applied
INFO: Clusters generated
(239372, 5) (120, 5) (120, 5) (120, 5) (120, 6)
INFO: 37 clusters generated.

  0%|                                                    | 0/37 [00:00<?, ?it/s]
  3%|█▏                                          | 1/37 [00:03<02:19,  3.87s/it]
  5%|██▍                                         | 2/37 [00:07<02:14,  3.83s/it]
  8%|███▌                                        | 3/37 [00:11<02:09,  3.82s/it]
 11%|████▊                                       | 4/37 [00:15<02:07,  3.85s/it]
 14%|█████▉                                      | 5/37 [00:19<02:02,  3.83s/it]
 16%|███████▏                                    | 6/37 [00:22<01:58,  3.81s/it]
 19%|████████▎                                   | 7/37 [00:26<01:55,  3.85s/it]
 22%|█████████▌                                  | 8/37 [00:30<01:50,  3.83s/it]
 24%|██████████▋                                 | 9/37 [00:34<01:46,  3.81s/it]
 27%|███████████▌                               | 10/37 [00:38<01:43,  3.84s/it]
 30%|████████████▊                              | 11/37 [00:42<01:39,  3.82s/it]
 32%|█████████████▉                             | 12/37 [00:46<01:36,  3.85s/it]
 35%|███████████████                            | 13/37 [00:49<01:32,  3.87s/it]
 38%|████████████████▎                          | 14/37 [00:53<01:28,  3.84s/it]
 41%|█████████████████▍                         | 15/37 [00:57<01:24,  3.83s/it]
 43%|██████████████████▌                        | 16/37 [01:01<01:20,  3.85s/it]
 46%|███████████████████▊                       | 17/37 [01:05<01:16,  3.82s/it]
 49%|████████████████████▉                      | 18/37 [01:09<01:13,  3.84s/it]
 51%|██████████████████████                     | 19/37 [01:12<01:09,  3.85s/it]
 54%|███████████████████████▏                   | 20/37 [01:16<01:05,  3.87s/it]
 57%|████████████████████████▍                  | 21/37 [01:20<01:01,  3.86s/it]
 59%|█████████████████████████▌                 | 22/37 [01:24<00:58,  3.92s/it]
 62%|██████████████████████████▋                | 23/37 [01:28<00:55,  3.95s/it]
 65%|███████████████████████████▉               | 24/37 [01:32<00:50,  3.90s/it]
 68%|█████████████████████████████              | 25/37 [01:36<00:46,  3.86s/it]
 70%|██████████████████████████████▏            | 26/37 [01:40<00:42,  3.87s/it]
 73%|███████████████████████████████▍           | 27/37 [01:44<00:38,  3.84s/it]
 76%|████████████████████████████████▌          | 28/37 [01:47<00:34,  3.87s/it]
 78%|█████████████████████████████████▋         | 29/37 [01:51<00:30,  3.83s/it]
 81%|██████████████████████████████████▊        | 30/37 [01:55<00:26,  3.85s/it]
 84%|████████████████████████████████████       | 31/37 [01:59<00:22,  3.82s/it]
 86%|█████████████████████████████████████▏     | 32/37 [02:03<00:19,  3.81s/it]
 89%|██████████████████████████████████████▎    | 33/37 [02:07<00:15,  3.84s/it]
 92%|███████████████████████████████████████▌   | 34/37 [02:10<00:11,  3.82s/it]
 95%|████████████████████████████████████████▋  | 35/37 [02:14<00:07,  3.85s/it]
 97%|█████████████████████████████████████████▊ | 36/37 [02:18<00:03,  3.83s/it]
100%|███████████████████████████████████████████| 37/37 [02:22<00:00,  3.85s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
31607,42,2008-12-02 05:34:25,39.987232,116.326757,2008-12-02,d_cl_00,d_cl_36,d_cl_00-d_cl_36
33022,42,2009-01-20 10:03:29,39.907843,116.596662,2009-01-20,d_cl_36,d_cl_35,d_cl_36-d_cl_35
33380,42,2009-01-31 03:07:11,39.904737,116.421152,2009-01-31,d_cl_35,d_cl_19,d_cl_35-d_cl_19
33488,42,2009-01-31 03:11:00,39.907150,116.438977,2009-01-31,d_cl_19,d_cl_01,d_cl_19-d_cl_01
33638,42,2009-01-31 03:16:42,39.905702,116.454542,2009-01-31,d_cl_01,d_cl_18,d_cl_01-d_cl_18
...,...,...,...,...,...,...,...,...
234429,42,2009-05-06 09:57:19,39.947912,116.438792,2009-05-06,d_cl_13,d_cl_02,d_cl_13-d_cl_02
235280,42,2009-05-06 11:29:28,39.902847,116.262455,2009-05-06,d_cl_02,d_cl_11,d_cl_02-d_cl_11
238898,42,2009-05-07 09:36:25,39.968935,116.460787,2009-05-07,d_cl_11,d_cl_12,d_cl_11-d_cl_12
239065,42,2009-05-07 09:43:02,39.953305,116.442565,2009-05-07,d_cl_12,d_cl_13,d_cl_12-d_cl_13
239134,42,2009-05-07 09:45:22,39.947862,116.438828,2009-05-07,d_cl_13,d_cl_10,d_cl_13-d_cl_10

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
31607,42,2008-12-02 05:34:24.990,39.987232,116.326757,2008-12-02,d_cl_03,d_cl_00,d_cl_00-d_cl_36

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
563,42,2009-05-07 09:45:22.010,39.947862,116.438828,2009-05-07,d_cl_10,d_cl_03,d_cl_13-d_cl_10

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21,d_cl_22,d_cl_23,d_cl_24,d_cl_25,d_cl_26,d_cl_27,d_cl_28,d_cl_29,d_cl_30,d_cl_31,d_cl_32,d_cl_33,d_cl_34,d_cl_35,d_cl_36
cluster,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
d_cl_01,0.000000,0.000000,0.111111,0.138889,0.000000,0.000000,0.027778,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.027778,0.000000,0.027778,0.0,0.027778,0.111111,0.388889,0.0,0.00000,0.027778,0.000000,0.00,0.027778,0.000000,0.000000,0.000000,0.027778,0.000000,0.000000,0.000000,0.000000,0.000000,0.055556,0.000000
d_cl_02,0.000000,0.411765,0.000000,0.058824,0.000000,0.000000,0.058824,0.000000,0.117647,0.000000,0.000000,0.058824,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.058824,0.0,0.00000,0.058824,0.000000,0.00,0.058824,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.058824,0.058824,0.000000
d_cl_03,0.020833,0.083333,0.083333,0.000000,0.416667,0.020833,0.020833,0.020833,0.020833,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.020833,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.020833,0.000000,0.020833,0.000000,0.020833,0.187500,0.020833,0.000000,0.020833,0.000000,0.000000,0.000000
d_cl_04,0.000000,0.030303,0.000000,0.393939,0.000000,0.000000,0.030303,0.000000,0.000000,0.181818,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.363636,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.5,0.50000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.000000,0.031250,0.000000,0.000000,0.000000,0.437500,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.5,0.03125,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.000000,0.000000,0.000000,0.040000,0.520000,0.000000,0.440000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.500000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.454545,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.454545,0.090909,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.333333,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.800000,0.0,0.200000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.166667,0.000000,0.0,0.000000,0.500000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667
d_cl_16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.500000,0.000000,0.5,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.000000,0.625000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.125000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_19,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_20,0.000000,0.030303,0.000000,0.000000,0.000000,0.484848,0.454545,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.030303,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_21,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.500000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_22,0.000000,0.050000,0.050000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.80000,0.000000,0.000000,0.05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_25,0.000000,0.000000,0.030303,0.000000,0.000000,0.000000,0.030303,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.363636,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.515152,0.030303,0.030303,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.833333,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.083333,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
d_cl_28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.392857,0.000000,0.000000,0.000000,0.607143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.379310,0.000000,0.620690,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_30,0.000000,0.000000,0.000000,0.678571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.321429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_31,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.416667,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.416667,0.000000,0.000000,0.000000
d_cl_32,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.142857,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.714286,0.142857,0.000000,0.000000
d_cl_33,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.545455,0.454545,0.000000,0.000000,0.000000,0.000000
d_cl_34,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_35,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.250000,0.0,0.00000,0.000000,0.000000,0.00,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_36,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.500000,0.0,0.000000,0.000000,0.000000,0.0,0.00000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000

 33%|█████████████                          | 40/120 [57:15<3:07:48, 140.85s/it]

Procesamiento del user 42 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 43
INFO: Noise Filtering applied
INFO: Clusters generated
(96245, 5) (511, 5) (511, 5) (511, 5) (511, 6)
INFO: 16 clusters generated.

  0%|                                                    | 0/16 [00:00<?, ?it/s]
  6%|██▊                                         | 1/16 [00:01<00:23,  1.57s/it]
 12%|█████▌                                      | 2/16 [00:03<00:21,  1.51s/it]
 19%|████████▎                                   | 3/16 [00:04<00:20,  1.55s/it]
 25%|███████████                                 | 4/16 [00:06<00:18,  1.56s/it]
 31%|█████████████▊                              | 5/16 [00:07<00:16,  1.52s/it]
 38%|████████████████▌                           | 6/16 [00:09<00:15,  1.55s/it]
 44%|███████████████████▎                        | 7/16 [00:10<00:14,  1.56s/it]
 50%|██████████████████████                      | 8/16 [00:12<00:12,  1.53s/it]
 56%|████████████████████████▊                   | 9/16 [00:13<00:10,  1.55s/it]
 62%|██████████████████████████▉                | 10/16 [00:15<00:09,  1.52s/it]
 69%|█████████████████████████████▌             | 11/16 [00:16<00:07,  1.55s/it]
 75%|████████████████████████████████▎          | 12/16 [00:18<00:06,  1.56s/it]
 81%|██████████████████████████████████▉        | 13/16 [00:20<00:04,  1.53s/it]
 88%|█████████████████████████████████████▋     | 14/16 [00:21<00:03,  1.56s/it]
 94%|████████████████████████████████████████▎  | 15/16 [00:23<00:01,  1.53s/it]
100%|███████████████████████████████████████████| 16/16 [00:24<00:00,  1.55s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
408,43,2009-02-07 03:16:42,39.968374,116.300653,2009-02-07,d_cl_03,d_cl_01,d_cl_03-d_cl_01
10494,43,2009-02-19 10:00:58,39.950930,116.315843,2009-02-19,d_cl_01,d_cl_03,d_cl_01-d_cl_03
11005,43,2009-02-21 14:06:52,39.968379,116.300834,2009-02-21,d_cl_03,d_cl_02,d_cl_03-d_cl_02
11346,43,2009-02-21 23:01:28,39.974491,116.333899,2009-02-21,d_cl_02,d_cl_03,d_cl_02-d_cl_03
11660,43,2009-02-22 00:06:18,39.971034,116.303241,2009-02-22,d_cl_03,d_cl_02,d_cl_03-d_cl_02
...,...,...,...,...,...,...,...,...
93762,43,2009-06-24 03:47:02,39.885162,116.671191,2009-06-24,d_cl_05,d_cl_00,d_cl_05-d_cl_00
94938,43,2009-06-24 06:38:10,39.887266,116.677159,2009-06-24,d_cl_00,d_cl_05,d_cl_00-d_cl_05
95013,43,2009-06-24 06:39:52,39.885188,116.666659,2009-06-24,d_cl_05,d_cl_06,d_cl_05-d_cl_06
95127,43,2009-06-24 06:42:46,39.889352,116.652099,2009-06-24,d_cl_06,d_cl_05,d_cl_06-d_cl_05
96173,43,2009-06-24 07:22:27,39.885211,116.671134,2009-06-24,d_cl_05,d_cl_00,d_cl_05-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15
cluster,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.000000,0.000000,0.000000,0.111111,0.777778,0.000000,0.111111,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
d_cl_01,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.500000,0.000000
d_cl_02,0.000000,0.083333,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00,0.083333,0.083333,0.083333
d_cl_03,0.000000,0.083333,0.833333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.083333,0.000000
d_cl_04,0.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
d_cl_05,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.083333,0.500000,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
d_cl_07,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.666667,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.266667,0.066667,0.000000,0.066667,0.000000,0.0,0.600000,0.000000,0.00,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.00,0.000000,0.000000,0.000000
d_cl_10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.0,0.000000,0.000000,0.60,0.000000,0.000000,0.000000
d_cl_11,0.200000,0.000000,0.000000,0.000000,0.000000,0.100000,0.100000,0.000000,0.000000,0.1,0.000000,0.000000,0.50,0.000000,0.000000,0.000000
d_cl_12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.333333,0.666667,0.00,0.000000,0.000000,0.000000
d_cl_13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.000000,1.000000
d_cl_14,0.000000,0.000000,0.500000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.25,0.000000,0.000000,0.000000
d_cl_15,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00,0.000000,0.500000,0.000000

 34%|█████████████▎                         | 41/120 [57:43<2:20:41, 106.85s/it]

Procesamiento del user 43 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 44
INFO: Noise Filtering applied
INFO: Clusters generated
(76846, 5) (118, 5) (118, 5) (118, 5) (118, 6)
INFO: 18 clusters generated.

  0%|                                                    | 0/18 [00:00<?, ?it/s]
  6%|██▍                                         | 1/18 [00:01<00:22,  1.32s/it]
 11%|████▉                                       | 2/18 [00:02<00:19,  1.23s/it]
 17%|███████▎                                    | 3/18 [00:03<00:18,  1.26s/it]
 22%|█████████▊                                  | 4/18 [00:04<00:17,  1.23s/it]
 28%|████████████▏                               | 5/18 [00:06<00:16,  1.26s/it]
 33%|██████████████▋                             | 6/18 [00:07<00:14,  1.22s/it]
 39%|█████████████████                           | 7/18 [00:08<00:13,  1.25s/it]
 44%|███████████████████▌                        | 8/18 [00:09<00:12,  1.22s/it]
 50%|██████████████████████                      | 9/18 [00:11<00:11,  1.24s/it]
 56%|███████████████████████▉                   | 10/18 [00:12<00:09,  1.22s/it]
 61%|██████████████████████████▎                | 11/18 [00:13<00:08,  1.25s/it]
 67%|████████████████████████████▋              | 12/18 [00:14<00:07,  1.22s/it]
 72%|███████████████████████████████            | 13/18 [00:16<00:06,  1.25s/it]
 78%|█████████████████████████████████▍         | 14/18 [00:17<00:04,  1.23s/it]
 83%|███████████████████████████████████▊       | 15/18 [00:18<00:03,  1.25s/it]
 89%|██████████████████████████████████████▏    | 16/18 [00:19<00:02,  1.23s/it]
 94%|████████████████████████████████████████▌  | 17/18 [00:21<00:01,  1.26s/it]
100%|███████████████████████████████████████████| 18/18 [00:22<00:00,  1.24s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
84,44,2009-02-03 10:58:34,39.975411,116.333707,2009-02-03,d_cl_01,d_cl_00,d_cl_01-d_cl_00
130,44,2009-02-03 11:02:14,39.992042,116.331469,2009-02-03,d_cl_00,d_cl_14,d_cl_00-d_cl_14
157,44,2009-02-03 11:05:24,40.013862,116.324032,2009-02-03,d_cl_14,d_cl_09,d_cl_14-d_cl_09
180,44,2009-02-03 11:07:19,40.029655,116.314940,2009-02-03,d_cl_09,d_cl_10,d_cl_09-d_cl_10
266,44,2009-02-03 11:17:34,40.069414,116.325428,2009-02-03,d_cl_10,d_cl_06,d_cl_10-d_cl_06
...,...,...,...,...,...,...,...,...
73299,44,2009-07-13 05:51:19,39.975035,116.334638,2009-07-13,d_cl_01,d_cl_00,d_cl_01-d_cl_00
76294,44,2009-07-14 09:49:34,39.991247,116.327427,2009-07-14,d_cl_00,d_cl_17,d_cl_00-d_cl_17
76401,44,2009-07-14 09:57:54,39.978593,116.327072,2009-07-14,d_cl_17,d_cl_05,d_cl_17-d_cl_05
76449,44,2009-07-14 10:01:34,39.974888,116.319610,2009-07-14,d_cl_05,d_cl_04,d_cl_05-d_cl_04
76531,44,2009-07-14 10:07:59,39.974646,116.304978,2009-07-14,d_cl_04,d_cl_07,d_cl_04-d_cl_07

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17
cluster,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.317073,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.024390,0.000000,0.000000,0.512195,0.024390,0.000000,0.121951
d_cl_01,0.564103,0.000000,0.0,0.000000,0.000000,0.051282,0.128205,0.0,0.000000,0.000000,0.000000,0.051282,0.025641,0.025641,0.000000,0.000000,0.025641,0.128205
d_cl_02,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.000000,0.500000,0.0,0.000000,0.000000,0.500000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.000000,0.000000,0.2,0.200000,0.000000,0.200000,0.000000,0.4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.166667,0.000000,0.0,0.000000,0.500000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333
d_cl_06,0.000000,0.133333,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.022222,0.733333,0.000000,0.000000,0.022222,0.044444,0.022222,0.022222,0.000000
d_cl_07,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.333333,0.000000,0.0,0.000000,0.666667,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.033333,0.0,0.000000,0.000000,0.000000,0.033333,0.0,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.266667,0.000000,0.000000,0.000000
d_cl_10,0.037736,0.056604,0.0,0.000000,0.000000,0.000000,0.698113,0.0,0.018868,0.150943,0.000000,0.018868,0.000000,0.000000,0.018868,0.000000,0.000000,0.000000
d_cl_11,0.250000,0.250000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.250000
d_cl_12,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.272727,0.060606,0.0,0.000000,0.000000,0.000000,0.030303,0.0,0.000000,0.636364,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.000000,0.500000,0.0,0.000000,0.000000,0.000000,0.500000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_16,0.500000,0.500000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.230769,0.538462,0.0,0.076923,0.000000,0.153846,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 35%|██████████████                          | 42/120 [58:07<1:46:41, 82.07s/it]

Procesamiento del user 44 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 46
INFO: Noise Filtering applied
INFO: Clusters generated
(21818, 5) (31, 5) (31, 5) (31, 5) (31, 6)
INFO: 6 clusters generated.

  0%|                                                     | 0/6 [00:00<?, ?it/s]
 17%|███████▌                                     | 1/6 [00:00<00:01,  2.97it/s]
 33%|███████████████                              | 2/6 [00:00<00:01,  2.99it/s]
 50%|██████████████████████▌                      | 3/6 [00:01<00:01,  2.96it/s]
 67%|██████████████████████████████               | 4/6 [00:01<00:00,  2.95it/s]
 83%|█████████████████████████████████████▌       | 5/6 [00:01<00:00,  2.97it/s]
100%|█████████████████████████████████████████████| 6/6 [00:02<00:00,  2.97it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
16,46,2009-10-04 01:52:40,39.174636,117.152083,2009-10-04,d_cl_05,d_cl_02,d_cl_05-d_cl_02
1742,46,2009-10-08 07:44:28,39.178595,117.145436,2009-10-08,d_cl_02,d_cl_05,d_cl_02-d_cl_05
1775,46,2009-10-08 07:47:08,39.174628,117.152311,2009-10-08,d_cl_05,d_cl_04,d_cl_05-d_cl_04
5389,46,2010-05-07 10:38:07,39.978913,116.327428,2010-05-07,d_cl_04,d_cl_00,d_cl_04-d_cl_00
8190,46,2010-05-11 00:34:59,40.028185,116.330887,2010-05-11,d_cl_00,d_cl_04,d_cl_00-d_cl_04
8762,46,2010-05-11 10:15:55,39.978660,116.327254,2010-05-11,d_cl_04,d_cl_03,d_cl_04-d_cl_03
9103,46,2010-05-11 10:42:35,39.999566,116.346702,2010-05-11,d_cl_03,d_cl_01,d_cl_03-d_cl_01
9122,46,2010-05-11 10:44:10,40.008062,116.346317,2010-05-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
9497,46,2010-05-12 00:34:59,40.028021,116.330916,2010-05-12,d_cl_00,d_cl_04,d_cl_00-d_cl_04
10105,46,2010-05-12 10:37:45,39.978867,116.327882,2010-05-12,d_cl_04,d_cl_00,d_cl_04-d_cl_00
11263,46,2010-05-14 01:38:29,40.029567,116.333689,2010-05-14,d_cl_00,d_cl_01,d_cl_00-d_cl_01
11389,46,2010-05-14 01:52:54,40.005434,116.346109,2010-05-14,d_cl_01,d_cl_03,d_cl_01-d_cl_03
11590,46,2010-05-14 10:35:59,39.999597,116.346695,2010-05-14,d_cl_03,d_cl_01,d_cl_03-d_cl_01
11604,46,2010-05-14 10:37:09,40.007823,116.346242,2010-05-14,d_cl_01,d_cl_00,d_cl_01-d_cl_00
11867,46,2010-05-18 00:34:51,40.028222,116.330806,2010-05-18,d_cl_00,d_cl_04,d_cl_00-d_cl_04
12508,46,2010-05-18 10:58:36,39.978735,116.327438,2010-05-18,d_cl_04,d_cl_00,d_cl_04-d_cl_00
12806,46,2010-05-19 00:41:07,40.027987,116.330986,2010-05-19,d_cl_00,d_cl_04,d_cl_00-d_cl_04
13435,46,2010-05-19 10:24:45,39.978789,116.327314,2010-05-19,d_cl_04,d_cl_00,d_cl_04-d_cl_00
14036,46,2010-05-20 00:37:20,40.027968,116.330854,2010-05-20,d_cl_00,d_cl_04,d_cl_00-d_cl_04
14787,46,2010-05-20 12:01:16,39.978784,116.327283,2010-05-20,d_cl_04,d_cl_03,d_cl_04-d_cl_03
14912,46,2010-05-20 12:14:16,39.999483,116.346609,2010-05-20,d_cl_03,d_cl_01,d_cl_03-d_cl_01
14940,46,2010-05-20 12:16:31,40.007823,116.346272,2010-05-20,d_cl_01,d_cl_00,d_cl_01-d_cl_00
15104,46,2010-05-20 12:29:46,40.029694,116.329603,2010-05-20,d_cl_00,d_cl_01,d_cl_00-d_cl_01
15168,46,2010-05-25 01:00:30,40.006529,116.349602,2010-05-25,d_cl_01,d_cl_04,d_cl_01-d_cl_04
15974,46,2010-05-25 10:21:33,39.978717,116.327427,2010-05-25,d_cl_04,d_cl_03,d_cl_04-d_cl_03
16207,46,2010-05-25 10:39:58,39.999487,116.346662,2010-05-25,d_cl_03,d_cl_01,d_cl_03-d_cl_01
16247,46,2010-05-25 10:43:13,40.007933,116.346334,2010-05-25,d_cl_01,d_cl_00,d_cl_01-d_cl_00
16530,46,2010-05-26 01:16:22,40.028366,116.330841,2010-05-26,d_cl_00,d_cl_01,d_cl_00-d_cl_01
16686,46,2010-05-26 01:29:02,40.005067,116.346058,2010-05-26,d_cl_01,d_cl_03,d_cl_01-d_cl_03
16701,46,2010-05-26 01:30:17,39.996487,116.346570,2010-05-26,d_cl_03,d_cl_00,d_cl_03-d_cl_00
16864,46,2010-05-27 00:32:08,40.028204,116.330626,2010-05-27,d_cl_00,d_cl_04,d_cl_00-d_cl_04
17720,46,2010-05-27 10:23:55,39.978945,116.327487,2010-05-27,d_cl_04,d_cl_00,d_cl_04-d_cl_00
18471,46,2010-05-28 00:51:13,40.029417,116.333805,2010-05-28,d_cl_00,d_cl_03,d_cl_00-d_cl_03
19303,46,2010-05-28 10:49:44,39.999544,116.346590,2010-05-28,d_cl_03,d_cl_01,d_cl_03-d_cl_01
19342,46,2010-05-28 10:52:49,40.007446,116.346255,2010-05-28,d_cl_01,d_cl_00,d_cl_01-d_cl_00
19623,46,2010-06-01 00:34:12,40.029187,116.333853,2010-06-01,d_cl_00,d_cl_03,d_cl_00-d_cl_03
20320,46,2010-06-01 11:23:02,39.999634,116.346602,2010-06-01,d_cl_03,d_cl_01,d_cl_03-d_cl_01
20340,46,2010-06-01 11:24:42,40.008098,116.346306,2010-06-01,d_cl_01,d_cl_00,d_cl_01-d_cl_00
20697,46,2010-06-02 00:34:01,40.029385,116.333660,2010-06-02,d_cl_00,d_cl_04,d_cl_00-d_cl_04
21359,46,2010-06-02 10:49:14,39.978904,116.327206,2010-06-02,d_cl_04,d_cl_03,d_cl_04-d_cl_03
21485,46,2010-06-02 10:59:34,39.999738,116.346675,2010-06-02,d_cl_03,d_cl_01,d_cl_03-d_cl_01
21502,46,2010-06-02 11:00:59,40.008082,116.346298,2010-06-02,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next   d_cl_00  d_cl_01  d_cl_02   d_cl_03   d_cl_04  d_cl_05
cluster
d_cl_00       0.000000    0.250      0.0  0.166667  0.583333      0.0
d_cl_01       0.700000    0.000      0.0  0.200000  0.100000      0.0
d_cl_02       0.000000    0.000      0.0  0.000000  0.000000      1.0
d_cl_03       0.125000    0.875      0.0  0.000000  0.000000      0.0
d_cl_04       0.555556    0.000      0.0  0.444444  0.000000      0.0
d_cl_05       0.000000    0.000      0.5  0.000000  0.500000      0.0

 36%|██████████████▎                         | 43/120 [58:10<1:14:44, 58.24s/it]

Procesamiento del user 46 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 50
INFO: Noise Filtering applied
INFO: Clusters generated
(336859, 5) (135, 5) (135, 5) (135, 5) (135, 6)
INFO: 18 clusters generated.

  0%|                                                    | 0/18 [00:00<?, ?it/s]
  6%|██▍                                         | 1/18 [00:05<01:33,  5.50s/it]
 11%|████▉                                       | 2/18 [00:10<01:25,  5.34s/it]
 17%|███████▎                                    | 3/18 [00:16<01:20,  5.37s/it]
 22%|█████████▊                                  | 4/18 [00:21<01:15,  5.39s/it]
 28%|████████████▏                               | 5/18 [00:26<01:09,  5.37s/it]
 33%|██████████████▋                             | 6/18 [00:32<01:05,  5.43s/it]
 39%|█████████████████                           | 7/18 [00:37<00:59,  5.38s/it]
 44%|███████████████████▌                        | 8/18 [00:43<00:53,  5.37s/it]
 50%|██████████████████████                      | 9/18 [00:48<00:48,  5.38s/it]
 56%|███████████████████████▉                   | 10/18 [00:53<00:43,  5.38s/it]
 61%|██████████████████████████▎                | 11/18 [00:59<00:37,  5.36s/it]
 67%|████████████████████████████▋              | 12/18 [01:04<00:32,  5.42s/it]
 72%|███████████████████████████████            | 13/18 [01:09<00:26,  5.37s/it]
 78%|█████████████████████████████████▍         | 14/18 [01:15<00:21,  5.37s/it]
 83%|███████████████████████████████████▊       | 15/18 [01:20<00:16,  5.37s/it]
 89%|██████████████████████████████████████▏    | 16/18 [01:26<00:10,  5.37s/it]
 94%|████████████████████████████████████████▌  | 17/18 [01:31<00:05,  5.33s/it]
100%|███████████████████████████████████████████| 18/18 [01:36<00:00,  5.37s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
39,50,2009-06-04 14:29:14,39.959614,116.415512,2009-06-04,d_cl_05,d_cl_04,d_cl_05-d_cl_04
59,50,2009-06-09 09:04:13,39.967045,116.367416,2009-06-09,d_cl_04,d_cl_17,d_cl_04-d_cl_17
83,50,2009-07-02 01:23:03,39.915025,116.539354,2009-07-02,d_cl_17,d_cl_16,d_cl_17-d_cl_16
122,50,2009-07-02 01:26:18,39.915590,116.530160,2009-07-02,d_cl_16,d_cl_05,d_cl_16-d_cl_05
2957,50,2009-07-02 07:58:28,39.958692,116.417590,2009-07-02,d_cl_05,d_cl_16,d_cl_05-d_cl_16
...,...,...,...,...,...,...,...,...
291703,50,2009-08-24 03:33:21,39.995022,116.219513,2009-08-24,d_cl_12,d_cl_15,d_cl_12-d_cl_15
291807,50,2009-08-24 03:35:13,39.997658,116.229813,2009-08-24,d_cl_15,d_cl_13,d_cl_15-d_cl_13
306947,50,2009-08-24 10:41:49,40.002514,116.243309,2009-08-24,d_cl_13,d_cl_15,d_cl_13-d_cl_15
307097,50,2009-08-24 10:44:19,39.996944,116.229797,2009-08-24,d_cl_15,d_cl_00,d_cl_15-d_cl_00
317993,50,2009-08-25 03:20:37,39.994637,116.199242,2009-08-25,d_cl_00,d_cl_06,d_cl_00-d_cl_06

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
317993,50,2009-08-25 03:20:37.010,39.994637,116.199242,2009-08-25,d_cl_06,d_cl_00,d_cl_00-d_cl_06

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17
cluster,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.153846,0.230769,0.000000,0.000000,0.000000,0.038462,0.000000,0.0,0.038462,0.000000,0.000000,0.192308,0.115385,0.230769,0.000000,0.00,0.000000
d_cl_01,0.000000,0.000000,0.269231,0.500000,0.000000,0.000000,0.000000,0.038462,0.0,0.000000,0.000000,0.000000,0.000000,0.076923,0.115385,0.000000,0.00,0.000000
d_cl_02,0.066667,0.733333,0.000000,0.000000,0.066667,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.133333,0.000000,0.00,0.000000
d_cl_03,0.000000,0.458333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.541667,0.000000,0.00,0.000000
d_cl_04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.75,0.250000
d_cl_05,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.50,0.000000
d_cl_06,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_08,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.333333,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_11,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_12,0.454545,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.545455,0.00,0.000000
d_cl_13,0.000000,0.000000,0.090909,0.000000,0.181818,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.090909,0.090909,0.000000,0.000000,0.545455,0.00,0.000000
d_cl_14,0.541667,0.000000,0.000000,0.458333,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_15,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.416667,0.500000,0.000000,0.000000,0.00,0.000000
d_cl_16,0.000000,0.000000,0.166667,0.000000,0.000000,0.166667,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.666667
d_cl_17,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.40,0.000000

 37%|█████████████▉                        | 44/120 [1:00:04<1:34:55, 74.94s/it]

Procesamiento del user 50 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 51
INFO: Noise Filtering applied
INFO: Clusters generated
(17017, 5) (65, 5) (65, 5) (65, 5) (65, 6)
INFO: 6 clusters generated.

  0%|                                                     | 0/6 [00:00<?, ?it/s]
 17%|███████▌                                     | 1/6 [00:00<00:02,  2.46it/s]
 33%|███████████████                              | 2/6 [00:00<00:01,  3.05it/s]
 50%|██████████████████████▌                      | 3/6 [00:00<00:00,  3.30it/s]
 67%|██████████████████████████████               | 4/6 [00:01<00:00,  3.42it/s]
 83%|█████████████████████████████████████▌       | 5/6 [00:01<00:00,  3.47it/s]
100%|█████████████████████████████████████████████| 6/6 [00:01<00:00,  3.36it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
15,51,2007-12-07 18:09:13,39.976275,116.330208,2007-12-07,d_cl_01,d_cl_05,d_cl_01-d_cl_05
53,51,2007-12-08 17:06:19,39.965012,116.315533,2007-12-08,d_cl_05,d_cl_04,d_cl_05-d_cl_04
115,51,2007-12-08 18:17:45,39.967558,116.314713,2007-12-08,d_cl_04,d_cl_00,d_cl_04-d_cl_00
234,51,2007-12-08 21:32:03,39.990598,116.298347,2007-12-08,d_cl_00,d_cl_03,d_cl_00-d_cl_03
329,51,2007-12-14 19:25:20,39.988608,116.307888,2007-12-14,d_cl_03,d_cl_00,d_cl_03-d_cl_00
415,51,2007-12-15 01:12:09,39.990320,116.298025,2007-12-15,d_cl_00,d_cl_04,d_cl_00-d_cl_04
1321,51,2007-12-18 18:58:08,39.966877,116.314248,2007-12-18,d_cl_04,d_cl_05,d_cl_04-d_cl_05
1523,51,2007-12-18 21:02:01,39.965180,116.315298,2007-12-18,d_cl_05,d_cl_01,d_cl_05-d_cl_01
1606,51,2007-12-20 15:40:10,39.975685,116.330632,2007-12-20,d_cl_01,d_cl_03,d_cl_01-d_cl_03
1619,51,2007-12-20 18:04:38,39.989238,116.310112,2007-12-20,d_cl_03,d_cl_00,d_cl_03-d_cl_00
1773,51,2007-12-22 16:05:51,39.989595,116.298565,2007-12-22,d_cl_00,d_cl_04,d_cl_00-d_cl_04
2346,51,2007-12-24 22:07:10,39.966920,116.314360,2007-12-24,d_cl_04,d_cl_05,d_cl_04-d_cl_05
2413,51,2007-12-24 23:49:18,39.965015,116.315348,2007-12-24,d_cl_05,d_cl_00,d_cl_05-d_cl_00
2481,51,2007-12-28 15:20:34,39.990010,116.298585,2007-12-28,d_cl_00,d_cl_04,d_cl_00-d_cl_04
2782,51,2007-12-28 19:22:04,39.968088,116.314100,2007-12-28,d_cl_04,d_cl_03,d_cl_04-d_cl_03
2791,51,2007-12-28 19:34:23,39.988377,116.309893,2007-12-28,d_cl_03,d_cl_00,d_cl_03-d_cl_00
2854,51,2007-12-31 10:09:41,39.987760,116.298930,2007-12-31,d_cl_00,d_cl_04,d_cl_00-d_cl_04
3554,51,2007-12-31 19:11:13,39.970170,116.312847,2007-12-31,d_cl_04,d_cl_03,d_cl_04-d_cl_03
3588,51,2007-12-31 19:24:57,39.988877,116.308285,2007-12-31,d_cl_03,d_cl_00,d_cl_03-d_cl_00
3728,51,2007-12-31 21:22:11,39.987848,116.298745,2007-12-31,d_cl_00,d_cl_05,d_cl_00-d_cl_05
3909,51,2008-01-01 19:06:07,39.965013,116.315483,2008-01-01,d_cl_05,d_cl_00,d_cl_05-d_cl_00
4152,51,2008-01-12 08:59:08,39.989730,116.302057,2008-01-12,d_cl_00,d_cl_03,d_cl_00-d_cl_03
4249,51,2008-01-12 09:15:26,39.986573,116.309888,2008-01-12,d_cl_03,d_cl_00,d_cl_03-d_cl_00
4625,51,2008-01-15 14:30:44,39.990478,116.298098,2008-01-15,d_cl_00,d_cl_04,d_cl_00-d_cl_04
5459,51,2008-01-19 18:15:28,39.967828,116.314425,2008-01-19,d_cl_04,d_cl_00,d_cl_04-d_cl_00
5572,51,2008-01-19 19:14:00,39.989783,116.299018,2008-01-19,d_cl_00,d_cl_04,d_cl_00-d_cl_04
5619,51,2008-01-21 08:11:52,39.967032,116.314368,2008-01-21,d_cl_04,d_cl_00,d_cl_04-d_cl_00
15638,51,2008-02-22 11:34:30,39.987813,116.301095,2008-02-22,d_cl_00,d_cl_04,d_cl_00-d_cl_04
15707,51,2008-02-22 12:58:22,39.966952,116.314380,2008-02-22,d_cl_04,d_cl_05,d_cl_04-d_cl_05
15753,51,2008-02-22 15:34:41,39.964497,116.317240,2008-02-22,d_cl_05,d_cl_00,d_cl_05-d_cl_00
15914,51,2008-03-09 14:01:10,39.987552,116.300438,2008-03-09,d_cl_00,d_cl_04,d_cl_00-d_cl_04
16090,51,2008-03-09 15:41:28,39.967007,116.314490,2008-03-09,d_cl_04,d_cl_05,d_cl_04-d_cl_05
16093,51,2008-03-09 15:49:35,39.964123,116.316817,2008-03-09,d_cl_05,d_cl_04,d_cl_05-d_cl_04
16126,51,2008-03-09 17:16:09,39.968640,116.312913,2008-03-09,d_cl_04,d_cl_02,d_cl_04-d_cl_02
16295,51,2008-03-24 09:30:40,39.975590,116.384153,2008-03-24,d_cl_02,d_cl_05,d_cl_02-d_cl_05
16333,51,2008-03-24 10:08:47,39.965187,116.315452,2008-03-24,d_cl_05,d_cl_04,d_cl_05-d_cl_04
16355,51,2008-03-24 10:09:57,39.968290,116.314113,2008-03-24,d_cl_04,d_cl_03,d_cl_04-d_cl_03
16553,51,2008-03-26 18:24:39,39.988558,116.309313,2008-03-26,d_cl_03,d_cl_00,d_cl_03-d_cl_00
16675,51,2008-03-28 14:47:30,39.990065,116.298082,2008-03-28,d_cl_00,d_cl_03,d_cl_00-d_cl_03
16721,51,2008-04-22 08:47:06,39.986193,116.310503,2008-04-22,d_cl_03,d_cl_00,d_cl_03-d_cl_00
16748,51,2008-04-30 18:12:23,39.987747,116.298683,2008-04-30,d_cl_00,d_cl_04,d_cl_00-d_cl_04
16939,51,2008-04-30 18:46:13,39.969310,116.314867,2008-04-30,d_cl_04,d_cl_01,d_cl_04-d_cl_01

cluster_next   d_cl_00   d_cl_01   d_cl_02   d_cl_03   d_cl_04   d_cl_05
cluster
d_cl_00       0.000000  0.000000  0.000000  0.230769  0.692308  0.076923
d_cl_01       0.000000  0.000000  0.000000  0.500000  0.000000  0.500000
d_cl_02       0.000000  0.000000  0.000000  0.000000  0.000000  1.000000
d_cl_03       1.000000  0.000000  0.000000  0.000000  0.000000  0.000000
d_cl_04       0.250000  0.083333  0.083333  0.250000  0.000000  0.333333
d_cl_05       0.428571  0.142857  0.000000  0.000000  0.428571  0.000000

 38%|██████████████▎                       | 45/120 [1:00:06<1:06:24, 53.12s/it]

Procesamiento del user 51 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 52
INFO: Noise Filtering applied
INFO: Clusters generated
(373045, 5) (1615, 5) (1615, 5) (1615, 5) (1615, 6)
INFO: 13 clusters generated.

  0%|                                                    | 0/13 [00:00<?, ?it/s]
  8%|███▍                                        | 1/13 [00:06<01:12,  6.06s/it]
 15%|██████▊                                     | 2/13 [00:11<01:04,  5.89s/it]
 23%|██████████▏                                 | 3/13 [00:17<00:58,  5.89s/it]
 31%|█████████████▌                              | 4/13 [00:23<00:53,  5.90s/it]
 38%|████████████████▉                           | 5/13 [00:29<00:47,  5.96s/it]
 46%|████████████████████▎                       | 6/13 [00:35<00:41,  5.91s/it]
 54%|███████████████████████▋                    | 7/13 [00:41<00:35,  5.91s/it]
 62%|███████████████████████████                 | 8/13 [00:47<00:29,  5.91s/it]
 69%|██████████████████████████████▍             | 9/13 [00:53<00:23,  5.97s/it]
 77%|█████████████████████████████████          | 10/13 [00:59<00:17,  5.91s/it]
 85%|████████████████████████████████████▍      | 11/13 [01:05<00:11,  5.90s/it]
 92%|███████████████████████████████████████▋   | 12/13 [01:10<00:05,  5.90s/it]
100%|███████████████████████████████████████████| 13/13 [01:17<00:00,  5.93s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
1,52,2008-01-16 07:36:34,39.916383,116.258500,2008-01-16,d_cl_12,d_cl_09,d_cl_12-d_cl_09
20,52,2008-01-16 07:44:45,39.951917,116.269867,2008-01-16,d_cl_09,d_cl_00,d_cl_09-d_cl_00
213,52,2008-01-16 09:43:16,39.985117,116.353550,2008-01-16,d_cl_00,d_cl_11,d_cl_00-d_cl_11
534,52,2008-01-18 07:35:05,39.955183,116.364767,2008-01-18,d_cl_11,d_cl_00,d_cl_11-d_cl_00
622,52,2008-01-18 08:04:49,39.984867,116.353467,2008-01-18,d_cl_00,d_cl_04,d_cl_00-d_cl_04
...,...,...,...,...,...,...,...,...
347101,52,2008-10-06 00:33:52,39.999876,116.379188,2008-10-06,d_cl_01,d_cl_00,d_cl_01-d_cl_00
347867,52,2008-10-06 13:57:07,39.985381,116.354423,2008-10-06,d_cl_00,d_cl_01,d_cl_00-d_cl_01
349934,52,2008-10-07 11:54:38,39.999660,116.379456,2008-10-07,d_cl_01,d_cl_05,d_cl_01-d_cl_05
351251,52,2008-10-08 06:50:16,39.992984,116.326674,2008-10-08,d_cl_05,d_cl_01,d_cl_05-d_cl_01
351587,52,2008-10-08 07:16:12,39.999515,116.379145,2008-10-08,d_cl_01,d_cl_02,d_cl_01-d_cl_02

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12
cluster,,,,,,,,,,,,,
d_cl_00,0.000000,0.160000,0.0,0.000000,0.280000,0.06,0.02,0.000000,0.060000,0.160000,0.200000,0.020000,0.040000
d_cl_01,0.400000,0.000000,0.1,0.000000,0.000000,0.35,0.00,0.050000,0.000000,0.000000,0.100000,0.000000,0.000000
d_cl_02,0.000000,0.000000,0.0,0.166667,0.833333,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.000000,0.000000,1.0,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.700000,0.000000,0.2,0.000000,0.000000,0.05,0.00,0.000000,0.050000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.272727,0.727273,0.0,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.0,0.000000,1.000000,0.00,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.000000,0.000000,0.0,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
d_cl_08,0.555556,0.000000,0.0,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.222222,0.111111,0.000000,0.111111
d_cl_09,0.444444,0.000000,0.0,0.000000,0.000000,0.00,0.00,0.000000,0.277778,0.000000,0.055556,0.000000,0.222222
d_cl_10,0.500000,0.222222,0.0,0.000000,0.000000,0.00,0.00,0.111111,0.000000,0.055556,0.000000,0.111111,0.000000
d_cl_11,0.666667,0.000000,0.0,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000
d_cl_12,0.125000,0.000000,0.0,0.000000,0.000000,0.00,0.00,0.000000,0.000000,0.875000,0.000000,0.000000,0.000000

 38%|██████████████▌                       | 46/120 [1:01:44<1:22:04, 66.55s/it]

Procesamiento del user 52 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 55
INFO: Noise Filtering applied
INFO: Clusters generated
(37784, 5) (48, 5) (48, 5) (48, 5) (48, 6)
INFO: 3 clusters generated.

  0%|                                                     | 0/3 [00:00<?, ?it/s]
 33%|███████████████                              | 1/3 [00:00<00:01,  1.75it/s]
 67%|██████████████████████████████               | 2/3 [00:01<00:00,  1.74it/s]
100%|█████████████████████████████████████████████| 3/3 [00:01<00:00,  1.74it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
243,55,2007-08-05 11:42:49,39.975450,116.332583,2007-08-05,d_cl_00,d_cl_02,d_cl_00-d_cl_02
272,55,2007-08-09 01:00:29,40.020983,116.345400,2007-08-09,d_cl_02,d_cl_00,d_cl_02-d_cl_00
26098,55,2011-09-03 09:49:49,39.974690,116.330995,2011-09-03,d_cl_00,d_cl_01,d_cl_00-d_cl_01

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
26098,55,2011-09-03 09:49:49.010,39.97469,116.330995,2011-09-03,d_cl_01,d_cl_00,d_cl_00-d_cl_01

cluster_next  d_cl_00  d_cl_01  d_cl_02
cluster
d_cl_00           0.0      0.5      0.5
d_cl_01           1.0      0.0      0.0
d_cl_02           1.0      0.0      0.0

 39%|███████████████▋                        | 47/120 [1:01:46<57:37, 47.36s/it]

Procesamiento del user 55 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 56
INFO: Noise Filtering applied
INFO: Clusters generated
(4004, 5) (35, 5) (35, 5) (35, 5) (35, 6)
INFO: 3 clusters generated.

  0%|                                                     | 0/3 [00:00<?, ?it/s]
100%|█████████████████████████████████████████████| 3/3 [00:00<00:00, 15.44it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
32,56,2007-10-11 01:17:12,39.967817,116.328167,2007-10-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
45,56,2007-10-11 01:22:10,39.975567,116.330750,2007-10-11,d_cl_00,d_cl_01,d_cl_00-d_cl_01
49,56,2007-10-12 00:56:19,39.967233,116.328200,2007-10-12,d_cl_01,d_cl_00,d_cl_01-d_cl_00
71,56,2007-10-13 07:49:15,39.974983,116.332433,2007-10-13,d_cl_00,d_cl_01,d_cl_00-d_cl_01
104,56,2007-10-15 01:20:49,39.967450,116.327950,2007-10-15,d_cl_01,d_cl_00,d_cl_01-d_cl_00
122,56,2007-10-15 15:11:35,39.975217,116.330917,2007-10-15,d_cl_00,d_cl_01,d_cl_00-d_cl_01
158,56,2007-10-16 01:28:23,39.967300,116.328167,2007-10-16,d_cl_01,d_cl_00,d_cl_01-d_cl_00
228,56,2007-10-17 15:07:53,39.975517,116.328783,2007-10-17,d_cl_00,d_cl_01,d_cl_00-d_cl_01
279,56,2007-10-18 01:15:33,39.967950,116.328017,2007-10-18,d_cl_01,d_cl_00,d_cl_01-d_cl_00
302,56,2007-10-18 15:12:09,39.975233,116.329917,2007-10-18,d_cl_00,d_cl_01,d_cl_00-d_cl_01
348,56,2007-10-19 01:12:27,39.967983,116.328083,2007-10-19,d_cl_01,d_cl_00,d_cl_01-d_cl_00
820,56,2007-10-19 11:52:06,39.976717,116.330767,2007-10-19,d_cl_00,d_cl_01,d_cl_00-d_cl_01
828,56,2007-10-22 00:40:47,39.967950,116.328017,2007-10-22,d_cl_01,d_cl_00,d_cl_01-d_cl_00
839,56,2007-10-22 00:45:36,39.975533,116.330800,2007-10-22,d_cl_00,d_cl_01,d_cl_00-d_cl_01
863,56,2007-10-23 01:26:52,39.967233,116.328167,2007-10-23,d_cl_01,d_cl_00,d_cl_01-d_cl_00
877,56,2007-10-23 01:31:44,39.975750,116.330767,2007-10-23,d_cl_00,d_cl_01,d_cl_00-d_cl_01
895,56,2007-10-24 01:13:56,39.967900,116.328167,2007-10-24,d_cl_01,d_cl_00,d_cl_01-d_cl_00
918,56,2007-10-26 15:08:19,39.975333,116.328867,2007-10-26,d_cl_00,d_cl_01,d_cl_00-d_cl_01
941,56,2007-10-27 05:32:11,39.967900,116.328100,2007-10-27,d_cl_01,d_cl_00,d_cl_01-d_cl_00
957,56,2007-10-27 05:36:55,39.975483,116.330567,2007-10-27,d_cl_00,d_cl_01,d_cl_00-d_cl_01
961,56,2007-10-30 01:56:18,39.967717,116.328133,2007-10-30,d_cl_01,d_cl_00,d_cl_01-d_cl_00
989,56,2007-10-30 15:10:01,39.975317,116.330233,2007-10-30,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1035,56,2007-11-01 15:10:03,39.966350,116.325800,2007-11-01,d_cl_01,d_cl_00,d_cl_01-d_cl_00
1186,56,2007-11-02 14:55:03,39.975283,116.328633,2007-11-02,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1197,56,2007-11-02 15:01:14,39.966417,116.326017,2007-11-02,d_cl_01,d_cl_02,d_cl_01-d_cl_02
1295,56,2007-11-03 05:47:10,39.974800,116.320167,2007-11-03,d_cl_02,d_cl_00,d_cl_02-d_cl_00
1309,56,2007-11-03 05:50:39,39.975317,116.330833,2007-11-03,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1329,56,2007-11-08 01:06:40,39.968333,116.328133,2007-11-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
1364,56,2007-11-08 15:03:02,39.975400,116.328650,2007-11-08,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1390,56,2007-11-08 15:09:25,39.966283,116.326367,2007-11-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
1778,56,2007-11-28 18:19:24,39.976647,116.330338,2007-11-28,d_cl_00,d_cl_02,d_cl_00-d_cl_02
3766,56,2008-05-16 10:13:47,39.975019,116.320477,2008-05-16,d_cl_02,d_cl_00,d_cl_02-d_cl_00

cluster_next   d_cl_00   d_cl_01   d_cl_02
cluster
d_cl_00       0.000000  0.933333  0.066667
d_cl_01       0.933333  0.000000  0.066667
d_cl_02       1.000000  0.000000  0.000000

 40%|████████████████                        | 48/120 [1:01:47<39:55, 33.27s/it]

Procesamiento del user 56 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 57
INFO: Noise Filtering applied
INFO: Clusters generated
(2793, 5) (32, 5) (32, 5) (32, 5) (32, 6)
INFO: 2 clusters generated.

100%|█████████████████████████████████████████████| 2/2 [00:00<00:00, 22.19it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
1714,57,2007-08-05 23:36:16,39.975183,116.338383,2007-08-05,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1974,57,2007-08-06 12:25:27,39.984933,116.339683,2007-08-06,d_cl_01,d_cl_00,d_cl_01-d_cl_00
2313,57,2007-08-07 23:29:30,39.975133,116.338633,2007-08-07,d_cl_00,d_cl_01,d_cl_00-d_cl_01
2455,57,2007-08-08 10:54:19,39.985100,116.343767,2007-08-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next  d_cl_00  d_cl_01
cluster
d_cl_00           0.0      1.0
d_cl_01           1.0      0.0

 41%|████████████████▎                       | 49/120 [1:01:47<27:38, 23.36s/it]

Procesamiento del user 57 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 58
INFO: Noise Filtering applied
INFO: Clusters generated
(13769, 5) (28, 5) (28, 5) (28, 5) (28, 6)
INFO: 9 clusters generated.

  0%|                                                     | 0/9 [00:00<?, ?it/s]
 11%|█████                                        | 1/9 [00:00<00:01,  4.66it/s]
 22%|██████████                                   | 2/9 [00:00<00:01,  4.66it/s]
 33%|███████████████                              | 3/9 [00:00<00:01,  4.68it/s]
 44%|████████████████████                         | 4/9 [00:00<00:01,  4.69it/s]
 56%|█████████████████████████                    | 5/9 [00:01<00:00,  4.70it/s]
 67%|██████████████████████████████               | 6/9 [00:01<00:00,  4.67it/s]
 78%|███████████████████████████████████          | 7/9 [00:01<00:00,  3.80it/s]
 89%|████████████████████████████████████████     | 8/9 [00:01<00:00,  4.01it/s]
100%|█████████████████████████████████████████████| 9/9 [00:02<00:00,  4.32it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
9,58,2007-05-09 14:54:08,39.997917,116.286783,2007-05-09,d_cl_08,d_cl_01,d_cl_08-d_cl_01
226,58,2007-05-15 00:46:41,40.003667,116.277033,2007-05-15,d_cl_01,d_cl_00,d_cl_01-d_cl_00
249,58,2007-05-15 13:42:04,39.975317,116.330900,2007-05-15,d_cl_00,d_cl_08,d_cl_00-d_cl_08
267,58,2007-05-15 13:54:55,39.997917,116.286750,2007-05-15,d_cl_08,d_cl_01,d_cl_08-d_cl_01
285,58,2007-05-15 14:01:51,40.005717,116.277033,2007-05-15,d_cl_01,d_cl_00,d_cl_01-d_cl_00
291,58,2007-05-16 01:32:28,39.976950,116.332117,2007-05-16,d_cl_00,d_cl_04,d_cl_00-d_cl_04
476,58,2007-05-21 14:52:05,39.996433,116.329767,2007-05-21,d_cl_04,d_cl_08,d_cl_04-d_cl_08
496,58,2007-05-21 15:00:29,39.996667,116.286183,2007-05-21,d_cl_08,d_cl_01,d_cl_08-d_cl_01
520,58,2007-05-21 15:09:35,40.006400,116.276783,2007-05-21,d_cl_01,d_cl_08,d_cl_01-d_cl_08
561,58,2007-05-23 13:24:26,39.996533,116.286600,2007-05-23,d_cl_08,d_cl_01,d_cl_08-d_cl_01
592,58,2007-05-24 00:49:11,40.003517,116.277083,2007-05-24,d_cl_01,d_cl_08,d_cl_01-d_cl_08
627,58,2007-05-24 01:02:23,39.996383,116.286450,2007-05-24,d_cl_08,d_cl_00,d_cl_08-d_cl_00
674,58,2007-05-24 01:37:41,39.976483,116.330667,2007-05-24,d_cl_00,d_cl_07,d_cl_00-d_cl_07
677,58,2007-05-26 02:16:49,39.956250,116.307033,2007-05-26,d_cl_07,d_cl_01,d_cl_07-d_cl_01
908,58,2007-05-26 07:43:03,40.005567,116.278967,2007-05-26,d_cl_01,d_cl_08,d_cl_01-d_cl_08
921,58,2007-05-26 07:49:19,39.996400,116.285867,2007-05-26,d_cl_08,d_cl_00,d_cl_08-d_cl_00
964,58,2007-05-26 08:25:40,39.975250,116.330300,2007-05-26,d_cl_00,d_cl_06,d_cl_00-d_cl_06
976,58,2007-05-26 08:41:23,39.960950,116.301950,2007-05-26,d_cl_06,d_cl_08,d_cl_06-d_cl_08
1016,58,2007-06-01 00:59:16,39.996200,116.286650,2007-06-01,d_cl_08,d_cl_00,d_cl_08-d_cl_00
1128,58,2007-06-03 12:53:59,39.975467,116.330500,2007-06-03,d_cl_00,d_cl_08,d_cl_00-d_cl_08
1147,58,2007-06-03 13:06:03,39.997833,116.286850,2007-06-03,d_cl_08,d_cl_01,d_cl_08-d_cl_01
1162,58,2007-06-03 13:10:18,40.005733,116.276867,2007-06-03,d_cl_01,d_cl_00,d_cl_01-d_cl_00
1198,58,2011-03-09 13:05:08,39.976550,116.333622,2011-03-09,d_cl_00,d_cl_03,d_cl_00-d_cl_03
1281,58,2011-03-09 13:06:31,39.990283,116.331643,2011-03-09,d_cl_03,d_cl_04,d_cl_03-d_cl_04
2866,58,2011-03-10 01:45:07,39.994195,116.331532,2011-03-10,d_cl_04,d_cl_03,d_cl_04-d_cl_03
2928,58,2011-03-10 01:47:04,39.986707,116.331808,2011-03-10,d_cl_03,d_cl_00,d_cl_03-d_cl_00
3353,58,2011-03-10 13:16:50,39.975892,116.334127,2011-03-10,d_cl_00,d_cl_03,d_cl_00-d_cl_03
3480,58,2011-03-10 13:19:57,39.990172,116.332248,2011-03-10,d_cl_03,d_cl_04,d_cl_03-d_cl_04
4715,58,2011-03-11 01:29:13,39.994115,116.331590,2011-03-11,d_cl_04,d_cl_03,d_cl_04-d_cl_03
4770,58,2011-03-11 01:31:04,39.986850,116.331865,2011-03-11,d_cl_03,d_cl_00,d_cl_03-d_cl_00
5202,58,2011-03-11 14:26:48,39.976852,116.333243,2011-03-11,d_cl_00,d_cl_04,d_cl_00-d_cl_04
5217,58,2011-03-11 14:29:50,39.995268,116.331637,2011-03-11,d_cl_04,d_cl_08,d_cl_04-d_cl_08
9181,58,2011-03-12 08:45:48,39.996158,116.287145,2011-03-12,d_cl_08,d_cl_02,d_cl_08-d_cl_02
10833,58,2011-03-12 11:33:15,39.985255,116.315402,2011-03-12,d_cl_02,d_cl_05,d_cl_02-d_cl_05
10871,58,2011-08-29 10:14:01,39.979097,116.307655,2011-08-29,d_cl_05,d_cl_00,d_cl_05-d_cl_00
12616,58,2011-08-30 00:15:22,39.976400,116.330128,2011-08-30,d_cl_00,d_cl_05,d_cl_00-d_cl_05

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08
cluster,,,,,,,,,
d_cl_00,0.000000,0.000000,0.000000,0.222222,0.222222,0.111111,0.111111,0.111111,0.222222
d_cl_01,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000
d_cl_02,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
d_cl_03,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000
d_cl_05,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
d_cl_07,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.333333,0.555556,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 42%|████████████████▋                       | 50/120 [1:01:49<19:55, 17.08s/it]

Procesamiento del user 58 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 61
INFO: Noise Filtering applied
INFO: Clusters generated
(2800, 5) (17, 5) (17, 5) (17, 5) (17, 6)
INFO: 6 clusters generated.

  0%|                                                     | 0/6 [00:00<?, ?it/s]
 50%|██████████████████████▌                      | 3/6 [00:00<00:00, 21.33it/s]
100%|█████████████████████████████████████████████| 6/6 [00:00<00:00, 21.34it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
20,61,2007-07-31 12:19:03,39.975317,116.329317,2007-07-31,d_cl_00,d_cl_03,d_cl_00-d_cl_03
33,61,2007-07-31 12:23:08,39.974867,116.317650,2007-07-31,d_cl_03,d_cl_05,d_cl_03-d_cl_05
92,61,2007-07-31 12:45:38,39.928400,116.303850,2007-07-31,d_cl_05,d_cl_01,d_cl_05-d_cl_01
104,61,2007-07-31 12:52:19,39.922867,116.294017,2007-07-31,d_cl_01,d_cl_02,d_cl_01-d_cl_02
121,61,2007-07-31 13:00:26,39.921683,116.280083,2007-07-31,d_cl_02,d_cl_00,d_cl_02-d_cl_00
142,61,2007-08-01 00:37:13,39.978550,116.328883,2007-08-01,d_cl_00,d_cl_03,d_cl_00-d_cl_03
191,61,2007-08-01 13:02:27,39.975017,116.317667,2007-08-01,d_cl_03,d_cl_05,d_cl_03-d_cl_05
273,61,2007-08-01 13:31:53,39.927333,116.303950,2007-08-01,d_cl_05,d_cl_01,d_cl_05-d_cl_01
283,61,2007-08-01 13:35:50,39.922917,116.294133,2007-08-01,d_cl_01,d_cl_04,d_cl_01-d_cl_04
287,61,2007-08-01 13:37:08,39.923000,116.286000,2007-08-01,d_cl_04,d_cl_02,d_cl_04-d_cl_02
308,61,2007-08-01 23:47:50,39.922883,116.282017,2007-08-01,d_cl_02,d_cl_01,d_cl_02-d_cl_01
318,61,2007-08-01 23:54:24,39.922767,116.295150,2007-08-01,d_cl_01,d_cl_05,d_cl_01-d_cl_05
338,61,2007-08-02 00:01:27,39.929200,116.304867,2007-08-02,d_cl_05,d_cl_03,d_cl_05-d_cl_03
424,61,2007-08-02 00:32:05,39.974967,116.320600,2007-08-02,d_cl_03,d_cl_00,d_cl_03-d_cl_00
535,61,2007-08-02 12:12:56,39.975300,116.330033,2007-08-02,d_cl_00,d_cl_03,d_cl_00-d_cl_03
561,61,2007-08-02 13:10:49,39.974933,116.318017,2007-08-02,d_cl_03,d_cl_05,d_cl_03-d_cl_05
614,61,2007-08-02 13:33:43,39.927133,116.303800,2007-08-02,d_cl_05,d_cl_01,d_cl_05-d_cl_01
625,61,2007-08-02 13:38:16,39.922800,116.294050,2007-08-02,d_cl_01,d_cl_04,d_cl_01-d_cl_04
626,61,2007-08-02 13:39:03,39.922917,116.286400,2007-08-02,d_cl_04,d_cl_02,d_cl_04-d_cl_02
665,61,2007-08-02 23:54:03,39.922933,116.282617,2007-08-02,d_cl_02,d_cl_04,d_cl_02-d_cl_04
666,61,2007-08-02 23:54:49,39.922933,116.285817,2007-08-02,d_cl_04,d_cl_01,d_cl_04-d_cl_01
679,61,2007-08-02 23:58:11,39.923167,116.294617,2007-08-02,d_cl_01,d_cl_05,d_cl_01-d_cl_05
699,61,2007-08-03 00:04:45,39.928750,116.304233,2007-08-03,d_cl_05,d_cl_03,d_cl_05-d_cl_03
773,61,2007-08-03 00:41:00,39.975133,116.319317,2007-08-03,d_cl_03,d_cl_00,d_cl_03-d_cl_00
839,61,2007-08-03 11:02:57,39.977733,116.327833,2007-08-03,d_cl_00,d_cl_05,d_cl_00-d_cl_05
1871,61,2007-08-05 23:59:26,39.928083,116.304600,2007-08-05,d_cl_05,d_cl_03,d_cl_05-d_cl_03
1933,61,2007-08-06 00:26:54,39.974767,116.318833,2007-08-06,d_cl_03,d_cl_00,d_cl_03-d_cl_00
1982,61,2007-08-06 11:32:29,39.975833,116.327733,2007-08-06,d_cl_00,d_cl_03,d_cl_00-d_cl_03
1993,61,2007-08-06 11:47:25,39.974883,116.318967,2007-08-06,d_cl_03,d_cl_02,d_cl_03-d_cl_02
2121,61,2007-08-06 23:47:01,39.923417,116.280700,2007-08-06,d_cl_02,d_cl_04,d_cl_02-d_cl_04
2124,61,2007-08-06 23:48:28,39.922600,116.288700,2007-08-06,d_cl_04,d_cl_01,d_cl_04-d_cl_01
2132,61,2007-08-06 23:52:13,39.922533,116.294750,2007-08-06,d_cl_01,d_cl_05,d_cl_01-d_cl_05
2150,61,2007-08-06 23:59:41,39.929300,116.304400,2007-08-06,d_cl_05,d_cl_03,d_cl_05-d_cl_03
2248,61,2007-08-07 00:32:14,39.974467,116.320683,2007-08-07,d_cl_03,d_cl_00,d_cl_03-d_cl_00
2305,61,2007-08-07 13:05:45,39.976683,116.327200,2007-08-07,d_cl_00,d_cl_01,d_cl_00-d_cl_01
2381,61,2007-08-07 13:36:42,39.922733,116.293217,2007-08-07,d_cl_01,d_cl_02,d_cl_01-d_cl_02
2416,61,2007-08-07 23:46:47,39.922733,116.282767,2007-08-07,d_cl_02,d_cl_04,d_cl_02-d_cl_04
2417,61,2007-08-07 23:47:26,39.922683,116.286533,2007-08-07,d_cl_04,d_cl_02,d_cl_04-d_cl_02
2424,61,2007-08-08 23:41:18,39.922800,116.280517,2007-08-08,d_cl_02,d_cl_01,d_cl_02-d_cl_01
2438,61,2007-08-08 23:54:12,39.923033,116.294867,2007-08-08,d_cl_01,d_cl_05,d_cl_01-d_cl_05
2445,61,2007-08-09 00:02:34,39.929067,116.304117,2007-08-09,d_cl_05,d_cl_03,d_cl_05-d_cl_03
2516,61,2007-08-09 00:34:29,39.975300,116.318650,2007-08-09,d_cl_03,d_cl_00,d_cl_03-d_cl_00
2535,61,2007-08-09 00:45:37,39.978700,116.328950,2007-08-09,d_cl_00,d_cl_03,d_cl_00-d_cl_03
2566,61,2007-08-09 12:29:30,39.975400,116.316967,2007-08-09,d_cl_03,d_cl_05,d_cl_03-d_cl_05
2631,61,2007-08-09 12:56:41,39.926683,116.303950,2007-08-09,d_cl_05,d_cl_01,d_cl_05-d_cl_01
2643,61,2007-08-09 13:01:34,39.923133,116.292700,2007-08-09,d_cl_01,d_cl_02,d_cl_01-d_cl_02
2678,61,2007-08-09 23:51:02,39.922900,116.281550,2007-08-09,d_cl_02,d_cl_01,d_cl_02-d_cl_01
2683,61,2007-08-09 23:55:47,39.922617,116.295050,2007-08-09,d_cl_01,d_cl_05,d_cl_01-d_cl_05
2696,61,2007-08-10 00:01:28,39.929000,116.304067,2007-08-10,d_cl_05,d_cl_00,d_cl_05-d_cl_00

cluster_next   d_cl_00   d_cl_01  d_cl_02   d_cl_03   d_cl_04   d_cl_05
cluster
d_cl_00       0.000000  0.142857      0.0  0.714286  0.000000  0.142857
d_cl_01       0.000000  0.000000      0.3  0.000000  0.200000  0.500000
d_cl_02       0.142857  0.428571      0.0  0.000000  0.428571  0.000000
d_cl_03       0.500000  0.000000      0.1  0.000000  0.000000  0.400000
d_cl_04       0.000000  0.400000      0.6  0.000000  0.000000  0.000000
d_cl_05       0.100000  0.400000      0.0  0.500000  0.000000  0.000000

 42%|█████████████████                       | 51/120 [1:01:50<13:54, 12.09s/it]

Procesamiento del user 61 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 62
INFO: Noise Filtering applied
INFO: Clusters generated
(330249, 5) (302, 5) (302, 5) (302, 5) (302, 6)
INFO: 19 clusters generated.

  0%|                                                    | 0/19 [00:00<?, ?it/s]
  5%|██▎                                         | 1/19 [00:05<01:32,  5.15s/it]
 11%|████▋                                       | 2/19 [00:10<01:28,  5.23s/it]
 16%|██████▉                                     | 3/19 [00:15<01:24,  5.25s/it]
 21%|█████████▎                                  | 4/19 [00:20<01:18,  5.25s/it]
 26%|███████████▌                                | 5/19 [00:26<01:12,  5.20s/it]
 32%|█████████████▉                              | 6/19 [00:31<01:07,  5.21s/it]
 37%|████████████████▏                           | 7/19 [00:36<01:02,  5.23s/it]
 42%|██████████████████▌                         | 8/19 [00:41<00:57,  5.20s/it]
 47%|████████████████████▊                       | 9/19 [00:46<00:52,  5.23s/it]
 53%|██████████████████████▋                    | 10/19 [00:52<00:47,  5.24s/it]
 58%|████████████████████████▉                  | 11/19 [00:57<00:41,  5.22s/it]
 63%|███████████████████████████▏               | 12/19 [01:02<00:36,  5.24s/it]
 68%|█████████████████████████████▍             | 13/19 [01:07<00:31,  5.20s/it]
 74%|███████████████████████████████▋           | 14/19 [01:13<00:26,  5.21s/it]
 79%|█████████████████████████████████▉         | 15/19 [01:18<00:20,  5.22s/it]
 84%|████████████████████████████████████▏      | 16/19 [01:23<00:15,  5.24s/it]
 89%|██████████████████████████████████████▍    | 17/19 [01:28<00:10,  5.25s/it]
 95%|████████████████████████████████████████▋  | 18/19 [01:34<00:05,  5.23s/it]
100%|███████████████████████████████████████████| 19/19 [01:39<00:00,  5.23s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
1,62,2007-12-07 10:20:25,39.975470,116.330315,2007-12-07,d_cl_18,d_cl_00,d_cl_18-d_cl_00
872,62,2007-12-08 03:51:50,39.986115,116.302362,2007-12-08,d_cl_00,d_cl_02,d_cl_00-d_cl_02
1060,62,2007-12-08 08:54:13,39.984858,116.319837,2007-12-08,d_cl_02,d_cl_00,d_cl_02-d_cl_00
1735,62,2007-12-11 14:35:21,39.986630,116.302248,2007-12-11,d_cl_00,d_cl_02,d_cl_00-d_cl_02
1774,62,2007-12-12 10:23:34,39.984888,116.321393,2007-12-12,d_cl_02,d_cl_00,d_cl_02-d_cl_00
...,...,...,...,...,...,...,...,...
325816,62,2008-12-13 09:32:55,39.984065,116.355467,2008-12-13,d_cl_01,d_cl_03,d_cl_01-d_cl_03
325897,62,2008-12-13 10:18:28,39.985125,116.331263,2008-12-13,d_cl_03,d_cl_02,d_cl_03-d_cl_02
326038,62,2008-12-13 10:27:59,39.984695,116.318270,2008-12-13,d_cl_02,d_cl_00,d_cl_02-d_cl_00
329295,62,2008-12-14 08:59:21,39.987815,116.302933,2008-12-14,d_cl_00,d_cl_13,d_cl_00-d_cl_13
329692,62,2008-12-15 03:41:22,39.966533,116.365258,2008-12-15,d_cl_13,d_cl_06,d_cl_13-d_cl_06

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18
cluster,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.080808,0.313131,0.020202,0.060606,0.030303,0.060606,0.030303,0.000000,0.020202,0.131313,0.000000,0.040404,0.191919,0.000000,0.000000,0.000000,0.000000,0.020202
d_cl_01,0.052632,0.000000,0.017544,0.508772,0.000000,0.017544,0.000000,0.000000,0.017544,0.000000,0.000000,0.000000,0.280702,0.087719,0.000000,0.000000,0.000000,0.000000,0.017544
d_cl_02,0.513889,0.013889,0.000000,0.388889,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013889,0.000000,0.013889,0.013889,0.000000,0.000000,0.000000,0.013889,0.027778
d_cl_03,0.047619,0.380952,0.539683,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.015873,0.000000,0.000000,0.015873,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.625000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.125000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.555556,0.000000,0.222222,0.000000,0.000000
d_cl_06,0.458333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.041667,0.000000,0.041667,0.458333,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.600000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.545455,0.090909,0.045455,0.000000,0.000000,0.045455,0.000000,0.045455,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.227273,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.200000,0.500000,0.000000,0.066667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.066667,0.000000,0.166667,0.000000,0.000000,0.000000
d_cl_13,0.265306,0.122449,0.000000,0.020408,0.000000,0.000000,0.367347,0.020408,0.000000,0.000000,0.000000,0.000000,0.102041,0.000000,0.000000,0.102041,0.000000,0.000000,0.000000
d_cl_14,0.083333,0.000000,0.000000,0.083333,0.000000,0.166667,0.083333,0.000000,0.000000,0.000000,0.416667,0.083333,0.000000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000
d_cl_15,0.166667,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.083333,0.000000,0.000000,0.000000,0.000000
d_cl_16,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
d_cl_18,0.500000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 43%|█████████████████▎                      | 52/120 [1:03:47<49:18, 43.50s/it]

Procesamiento del user 62 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 63
INFO: Noise Filtering applied
INFO: Clusters generated
(12490, 5) (4, 5) (4, 5) (4, 5) (4, 6)
INFO: 4 clusters generated.

  0%|                                                     | 0/4 [00:00<?, ?it/s]
 25%|███████████▎                                 | 1/4 [00:00<00:00,  4.85it/s]
 50%|██████████████████████▌                      | 2/4 [00:00<00:00,  5.03it/s]
 75%|█████████████████████████████████▊           | 3/4 [00:00<00:00,  5.10it/s]
100%|█████████████████████████████████████████████| 4/4 [00:00<00:00,  5.05it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
12,63,2010-11-26 19:21:56,39.977274,116.331605,2010-11-26,d_cl_03,d_cl_02,d_cl_03-d_cl_02
1392,63,2010-12-06 20:07:33,39.942367,116.347924,2010-12-06,d_cl_02,d_cl_01,d_cl_02-d_cl_01
7629,63,2010-12-10 07:05:24,39.903374,116.419970,2010-12-10,d_cl_01,d_cl_02,d_cl_01-d_cl_02
7712,63,2010-12-10 07:37:29,39.944769,116.345309,2010-12-10,d_cl_02,d_cl_03,d_cl_02-d_cl_03
7938,63,2010-12-10 12:14:07,39.975569,116.330163,2010-12-10,d_cl_03,d_cl_00,d_cl_03-d_cl_00

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
7938,63,2010-12-10 12:14:07.010,39.975569,116.330163,2010-12-10,d_cl_00,d_cl_02,d_cl_03-d_cl_00

cluster_next  d_cl_00  d_cl_01  d_cl_02  d_cl_03
cluster
d_cl_00           0.0      0.0      1.0      0.0
d_cl_01           0.0      0.0      1.0      0.0
d_cl_02           0.0      0.5      0.0      0.5
d_cl_03           0.5      0.0      0.5      0.0

 44%|█████████████████▋                      | 53/120 [1:03:48<34:23, 30.79s/it]

Procesamiento del user 63 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 64
INFO: Noise Filtering applied
INFO: Clusters generated
(58754, 5) (36, 5) (36, 5) (36, 5) (36, 6)
INFO: 10 clusters generated.

  0%|                                                    | 0/10 [00:00<?, ?it/s]
 10%|████▍                                       | 1/10 [00:01<00:09,  1.03s/it]
 20%|████████▊                                   | 2/10 [00:01<00:07,  1.05it/s]
 30%|█████████████▏                              | 3/10 [00:02<00:06,  1.08it/s]
 40%|█████████████████▌                          | 4/10 [00:03<00:05,  1.02it/s]
 50%|██████████████████████                      | 5/10 [00:04<00:04,  1.05it/s]
 60%|██████████████████████████▍                 | 6/10 [00:05<00:03,  1.08it/s]
 70%|██████████████████████████████▊             | 7/10 [00:06<00:02,  1.04it/s]
 80%|███████████████████████████████████▏        | 8/10 [00:07<00:01,  1.06it/s]
 90%|███████████████████████████████████████▌    | 9/10 [00:08<00:00,  1.08it/s]
100%|███████████████████████████████████████████| 10/10 [00:09<00:00,  1.05it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
83,64,2008-08-15 07:50:02,39.975361,116.328542,2008-08-15,d_cl_09,d_cl_04,d_cl_09-d_cl_04
364,64,2008-08-15 08:08:19,39.984661,116.317469,2008-08-15,d_cl_04,d_cl_00,d_cl_04-d_cl_00
723,64,2008-08-15 08:20:17,39.986151,116.303100,2008-08-15,d_cl_00,d_cl_05,d_cl_00-d_cl_05
983,64,2008-08-16 00:21:54,39.975027,116.375103,2008-08-16,d_cl_05,d_cl_07,d_cl_05-d_cl_07
1053,64,2008-08-16 00:24:14,39.966737,116.374512,2008-08-16,d_cl_07,d_cl_06,d_cl_07-d_cl_06
1093,64,2008-08-16 00:25:34,39.966656,116.386282,2008-08-16,d_cl_06,d_cl_08,d_cl_06-d_cl_08
5087,64,2008-08-16 11:57:52,39.966477,116.356133,2008-08-16,d_cl_08,d_cl_04,d_cl_08-d_cl_04
6581,64,2008-08-17 00:07:16,39.984423,116.321694,2008-08-17,d_cl_04,d_cl_05,d_cl_04-d_cl_05
6840,64,2008-08-17 00:15:54,39.975146,116.375036,2008-08-17,d_cl_05,d_cl_07,d_cl_05-d_cl_07
6901,64,2008-08-17 00:17:56,39.966689,116.374692,2008-08-17,d_cl_07,d_cl_06,d_cl_07-d_cl_06
9106,64,2008-08-17 11:08:45,39.967101,116.381776,2008-08-17,d_cl_06,d_cl_07,d_cl_06-d_cl_07
9157,64,2008-08-17 11:10:27,39.966828,116.370556,2008-08-17,d_cl_07,d_cl_08,d_cl_07-d_cl_08
9219,64,2008-08-17 11:12:31,39.966438,116.356053,2008-08-17,d_cl_08,d_cl_04,d_cl_08-d_cl_04
10233,64,2008-08-18 00:11:47,39.984442,116.321891,2008-08-18,d_cl_04,d_cl_05,d_cl_04-d_cl_05
10518,64,2008-08-18 00:22:53,39.975057,116.375038,2008-08-18,d_cl_05,d_cl_07,d_cl_05-d_cl_07
10708,64,2008-08-18 00:29:13,39.966707,116.374754,2008-08-18,d_cl_07,d_cl_06,d_cl_07-d_cl_06
11177,64,2008-08-18 10:49:25,39.967075,116.381710,2008-08-18,d_cl_06,d_cl_07,d_cl_06-d_cl_07
11245,64,2008-08-18 10:51:41,39.966828,116.370647,2008-08-18,d_cl_07,d_cl_08,d_cl_07-d_cl_08
11349,64,2008-08-18 10:57:21,39.966461,116.356051,2008-08-18,d_cl_08,d_cl_04,d_cl_08-d_cl_04
12333,64,2008-08-20 00:08:16,39.984457,116.322004,2008-08-20,d_cl_04,d_cl_05,d_cl_04-d_cl_05
12602,64,2008-08-20 00:17:14,39.974989,116.375096,2008-08-20,d_cl_05,d_cl_07,d_cl_05-d_cl_07
12683,64,2008-08-20 00:19:56,39.966673,116.374697,2008-08-20,d_cl_07,d_cl_06,d_cl_07-d_cl_06
12742,64,2008-08-20 00:21:54,39.966748,116.386130,2008-08-20,d_cl_06,d_cl_05,d_cl_06-d_cl_05
14608,64,2008-08-20 08:16:44,39.975062,116.375112,2008-08-20,d_cl_05,d_cl_07,d_cl_05-d_cl_07
14676,64,2008-08-20 08:19:00,39.966646,116.374708,2008-08-20,d_cl_07,d_cl_06,d_cl_07-d_cl_06
15187,64,2008-08-20 10:58:57,39.967115,116.381842,2008-08-20,d_cl_06,d_cl_07,d_cl_06-d_cl_07
15263,64,2008-08-20 11:01:29,39.966901,116.370509,2008-08-20,d_cl_07,d_cl_08,d_cl_07-d_cl_08
15342,64,2008-08-20 11:04:07,39.966502,116.355895,2008-08-20,d_cl_08,d_cl_00,d_cl_08-d_cl_00
17688,64,2008-08-20 13:25:41,39.984740,116.307234,2008-08-20,d_cl_00,d_cl_03,d_cl_00-d_cl_03
19136,64,2008-08-21 11:32:26,39.957907,116.302825,2008-08-21,d_cl_03,d_cl_00,d_cl_03-d_cl_00
20975,64,2008-08-23 13:47:52,39.985365,116.307634,2008-08-23,d_cl_00,d_cl_07,d_cl_00-d_cl_07
21448,64,2008-08-24 00:20:48,39.967161,116.374582,2008-08-24,d_cl_07,d_cl_05,d_cl_07-d_cl_05
30004,64,2008-08-24 08:03:25,39.975159,116.374977,2008-08-24,d_cl_05,d_cl_07,d_cl_05-d_cl_07
30173,64,2008-08-24 08:09:03,39.966752,116.374613,2008-08-24,d_cl_07,d_cl_06,d_cl_07-d_cl_06
30210,64,2008-08-24 08:10:17,39.966693,116.386234,2008-08-24,d_cl_06,d_cl_00,d_cl_06-d_cl_00
31345,64,2008-08-25 08:41:01,39.983913,116.305440,2008-08-25,d_cl_00,d_cl_09,d_cl_00-d_cl_09
31851,64,2008-08-25 10:05:35,39.975371,116.328521,2008-08-25,d_cl_09,d_cl_00,d_cl_09-d_cl_00
32781,64,2008-08-26 00:28:40,39.985361,116.307636,2008-08-26,d_cl_00,d_cl_09,d_cl_00-d_cl_09
33495,64,2008-08-26 01:42:40,39.975495,116.330692,2008-08-26,d_cl_09,d_cl_00,d_cl_09-d_cl_00
34248,64,2008-08-27 00:33:54,39.985352,116.307650,2008-08-27,d_cl_00,d_cl_09,d_cl_00-d_cl_09
34779,64,2008-08-27 00:55:22,39.975479,116.330787,2008-08-27,d_cl_09,d_cl_02,d_cl_09-d_cl_02
35221,64,2008-08-27 10:35:42,39.991133,116.311087,2008-08-27,d_cl_02,d_cl_09,d_cl_02-d_cl_09
36228,64,2008-08-28 10:21:18,39.975394,116.328522,2008-08-28,d_cl_09,d_cl_00,d_cl_09-d_cl_00
38551,64,2008-08-28 12:25:48,39.984958,116.307338,2008-08-28,d_cl_00,d_cl_04,d_cl_00-d_cl_04
39174,64,2008-08-28 13:04:20,39.986073,116.320230,2008-08-28,d_cl_04,d_cl_00,d_cl_04-d_cl_00
39848,64,2008-08-28 13:33:12,39.985052,116.307233,2008-08-28,d_cl_00,d_cl_09,d_cl_00-d_cl_09
43099,64,2008-08-29 09:34:48,39.975574,116.328462,2008-08-29,d_cl_09,d_cl_02,d_cl_09-d_cl_02
46324,64,2008-08-29 15:42:02,39.990790,116.311095,2008-08-29,d_cl_02,d_cl_00,d_cl_02-d_cl_00
55648,64,2008-08-30 01:34:34,39.985237,116.307524,2008-08-30,d_cl_00,d_cl_09,d_cl_00-d_cl_09
56149,64,2008-08-30 15:12:34,39.975968,116.329709,2008-08-30,d_cl_09,d_cl_01,d_cl_09-d_cl_01
56556,64,2008-08-30 15:26:12,39.976234,116.300195,2008-08-30,d_cl_01,d_cl_00,d_cl_01-d_cl_00
57476,64,2008-08-31 11:49:42,39.985236,116.307564,2008-08-31,d_cl_00,d_cl_09,d_cl_00-d_cl_09
57935,64,2008-08-31 16:16:34,39.975568,116.328428,2008-08-31,d_cl_09,d_cl_00,d_cl_09-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09
cluster,,,,,,,,,,
d_cl_00,0.000000,0.000,0.00,0.1,0.100,0.100000,0.0,0.1,0.000000,0.6
d_cl_01,1.000000,0.000,0.00,0.0,0.000,0.000000,0.0,0.0,0.000000,0.0
d_cl_02,0.500000,0.000,0.00,0.0,0.000,0.000000,0.0,0.0,0.000000,0.5
d_cl_03,1.000000,0.000,0.00,0.0,0.000,0.000000,0.0,0.0,0.000000,0.0
d_cl_04,0.400000,0.000,0.00,0.0,0.000,0.600000,0.0,0.0,0.000000,0.0
d_cl_05,0.000000,0.000,0.00,0.0,0.000,0.000000,0.0,1.0,0.000000,0.0
d_cl_06,0.166667,0.000,0.00,0.0,0.000,0.166667,0.0,0.5,0.166667,0.0
d_cl_07,0.000000,0.000,0.00,0.0,0.000,0.100000,0.6,0.0,0.300000,0.0
d_cl_08,0.250000,0.000,0.00,0.0,0.750,0.000000,0.0,0.0,0.000000,0.0
d_cl_09,0.500000,0.125,0.25,0.0,0.125,0.000000,0.0,0.0,0.000000,0.0

 45%|██████████████████                      | 54/120 [1:03:59<27:22, 24.88s/it]

Procesamiento del user 64 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 65
INFO: Noise Filtering applied
INFO: Clusters generated
(118928, 5) (139, 5) (139, 5) (139, 5) (139, 6)
INFO: 7 clusters generated.

  0%|                                                     | 0/7 [00:00<?, ?it/s]
 14%|██████▍                                      | 1/7 [00:01<00:10,  1.80s/it]
 29%|████████████▊                                | 2/7 [00:03<00:09,  1.90s/it]
 43%|███████████████████▎                         | 3/7 [00:05<00:07,  1.94s/it]
 57%|█████████████████████████▋                   | 4/7 [00:07<00:05,  1.89s/it]
 71%|████████████████████████████████▏            | 5/7 [00:09<00:03,  1.91s/it]
 86%|██████████████████████████████████████▌      | 6/7 [00:11<00:01,  1.93s/it]
100%|█████████████████████████████████████████████| 7/7 [00:13<00:00,  1.90s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
7010,65,2009-09-26 01:41:06,39.974827,116.295198,2009-09-26,d_cl_03,d_cl_06,d_cl_03-d_cl_06
12592,65,2010-03-13 05:47:14,39.969310,116.308026,2010-03-13,d_cl_06,d_cl_02,d_cl_06-d_cl_02
13522,65,2010-05-07 14:10:10,39.984884,116.323329,2010-05-07,d_cl_02,d_cl_03,d_cl_02-d_cl_03
16642,65,2011-07-30 17:51:18,39.974863,116.295186,2011-07-30,d_cl_03,d_cl_01,d_cl_03-d_cl_01
20765,65,2011-08-07 18:38:54,39.966606,116.301045,2011-08-07,d_cl_01,d_cl_03,d_cl_01-d_cl_03
21705,65,2011-08-07 20:23:41,39.974158,116.298070,2011-08-07,d_cl_03,d_cl_02,d_cl_03-d_cl_02
22409,65,2011-08-08 19:15:46,39.984370,116.323366,2011-08-08,d_cl_02,d_cl_00,d_cl_02-d_cl_00
22960,65,2011-08-09 22:07:23,39.975406,116.325396,2011-08-09,d_cl_00,d_cl_06,d_cl_00-d_cl_06
23835,65,2011-08-10 19:45:15,39.970253,116.309074,2011-08-10,d_cl_06,d_cl_00,d_cl_06-d_cl_00
28018,65,2011-08-12 08:51:21,39.975100,116.321097,2011-08-12,d_cl_00,d_cl_04,d_cl_00-d_cl_04
29440,65,2011-08-13 14:35:29,39.949182,116.349638,2011-08-13,d_cl_04,d_cl_01,d_cl_04-d_cl_01
33389,65,2011-08-16 21:11:16,39.965856,116.300874,2011-08-16,d_cl_01,d_cl_00,d_cl_01-d_cl_00
53146,65,2011-09-01 00:54:04,39.975023,116.320978,2011-09-01,d_cl_00,d_cl_03,d_cl_00-d_cl_03
53683,65,2011-09-01 01:38:49,39.973753,116.294483,2011-09-01,d_cl_03,d_cl_00,d_cl_03-d_cl_00
57353,65,2011-09-05 11:07:08,39.975268,116.325620,2011-09-05,d_cl_00,d_cl_03,d_cl_00-d_cl_03
63747,65,2011-09-08 02:54:23,39.972558,116.295142,2011-09-08,d_cl_03,d_cl_00,d_cl_03-d_cl_00
66600,65,2011-09-09 14:16:57,39.975195,116.325608,2011-09-09,d_cl_00,d_cl_01,d_cl_00-d_cl_01
66927,65,2011-09-10 06:13:46,39.966450,116.301385,2011-09-10,d_cl_01,d_cl_00,d_cl_01-d_cl_00
70631,65,2011-09-16 01:01:52,39.975215,116.320998,2011-09-16,d_cl_00,d_cl_02,d_cl_00-d_cl_02
75333,65,2011-09-18 08:28:11,39.984463,116.323402,2011-09-18,d_cl_02,d_cl_01,d_cl_02-d_cl_01
84626,65,2011-09-23 15:25:54,39.963258,116.301400,2011-09-23,d_cl_01,d_cl_05,d_cl_01-d_cl_05
89555,65,2011-10-01 08:11:07,39.950087,116.356122,2011-10-01,d_cl_05,d_cl_04,d_cl_05-d_cl_04
89795,65,2011-10-01 16:39:56,39.951683,116.349275,2011-10-01,d_cl_04,d_cl_02,d_cl_04-d_cl_02

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06
cluster,,,,,,,
d_cl_00,0.000000,0.166667,0.166667,0.333333,0.166667,0.00,0.166667
d_cl_01,0.500000,0.000000,0.000000,0.250000,0.000000,0.25,0.000000
d_cl_02,0.333333,0.333333,0.000000,0.333333,0.000000,0.00,0.000000
d_cl_03,0.400000,0.200000,0.200000,0.000000,0.000000,0.00,0.200000
d_cl_04,0.000000,0.500000,0.500000,0.000000,0.000000,0.00,0.000000
d_cl_05,0.000000,0.000000,0.000000,0.000000,1.000000,0.00,0.000000
d_cl_06,0.500000,0.000000,0.500000,0.000000,0.000000,0.00,0.000000

 46%|██████████████████▎                     | 55/120 [1:04:16<24:20, 22.47s/it]

Procesamiento del user 65 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 66
INFO: Noise Filtering applied
INFO: Clusters generated
(61013, 5) (12, 5) (12, 5) (12, 5) (12, 6)
INFO: 9 clusters generated.

  0%|                                                     | 0/9 [00:00<?, ?it/s]
 11%|█████                                        | 1/9 [00:00<00:07,  1.10it/s]
 22%|██████████                                   | 2/9 [00:01<00:07,  1.01s/it]
 33%|███████████████                              | 3/9 [00:02<00:05,  1.03it/s]
 44%|████████████████████                         | 4/9 [00:03<00:04,  1.05it/s]
 56%|█████████████████████████                    | 5/9 [00:04<00:03,  1.00it/s]
 67%|██████████████████████████████               | 6/9 [00:05<00:02,  1.03it/s]
 78%|███████████████████████████████████          | 7/9 [00:06<00:01,  1.05it/s]
 89%|████████████████████████████████████████     | 8/9 [00:07<00:00,  1.01it/s]
100%|█████████████████████████████████████████████| 9/9 [00:08<00:00,  1.03it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
28,66,2009-05-08 10:50:46,39.907425,116.452837,2009-05-08,d_cl_08,d_cl_07,d_cl_08-d_cl_07
5766,66,2009-05-13 13:25:51,39.920210,116.459138,2009-05-13,d_cl_07,d_cl_02,d_cl_07-d_cl_02
6952,66,2009-05-13 16:01:16,39.912848,116.456732,2009-05-13,d_cl_02,d_cl_08,d_cl_02-d_cl_08
7008,66,2009-05-13 16:37:48,39.908980,116.453068,2009-05-13,d_cl_08,d_cl_06,d_cl_08-d_cl_06
7166,66,2009-05-15 16:39:15,39.909718,116.444562,2009-05-15,d_cl_06,d_cl_05,d_cl_06-d_cl_05
8231,66,2009-05-27 16:52:50,40.166183,116.480902,2009-05-27,d_cl_05,d_cl_04,d_cl_05-d_cl_04
9846,66,2009-08-18 13:01:48,39.847987,116.438525,2009-08-18,d_cl_04,d_cl_03,d_cl_04-d_cl_03
12358,66,2009-08-18 16:29:56,39.892332,116.455495,2009-08-18,d_cl_03,d_cl_08,d_cl_03-d_cl_08
12544,66,2009-08-18 16:42:33,39.909765,116.456127,2009-08-18,d_cl_08,d_cl_03,d_cl_08-d_cl_03
16052,66,2009-08-20 12:54:25,39.889145,116.454955,2009-08-20,d_cl_03,d_cl_04,d_cl_03-d_cl_04
16578,66,2009-08-20 13:17:57,39.848057,116.439605,2009-08-20,d_cl_04,d_cl_02,d_cl_04-d_cl_02
30767,66,2009-08-26 09:19:25,39.912528,116.457740,2009-08-26,d_cl_02,d_cl_00,d_cl_02-d_cl_00
34695,66,2009-09-30 14:15:09,39.975892,116.332793,2009-09-30,d_cl_00,d_cl_01,d_cl_00-d_cl_01

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
34695,66,2009-09-30 14:15:09.010,39.975892,116.332793,2009-09-30,d_cl_01,d_cl_02,d_cl_00-d_cl_01

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08
cluster,,,,,,,,,
d_cl_00,0.0,1.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.0
d_cl_01,0.0,0.0,1.0,0.000000,0.0,0.0,0.000000,0.000000,0.0
d_cl_02,0.5,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.5
d_cl_03,0.0,0.0,0.0,0.000000,0.5,0.0,0.000000,0.000000,0.5
d_cl_04,0.0,0.0,0.5,0.500000,0.0,0.0,0.000000,0.000000,0.0
d_cl_05,0.0,0.0,0.0,0.000000,1.0,0.0,0.000000,0.000000,0.0
d_cl_06,0.0,0.0,0.0,0.000000,0.0,1.0,0.000000,0.000000,0.0
d_cl_07,0.0,0.0,1.0,0.000000,0.0,0.0,0.000000,0.000000,0.0
d_cl_08,0.0,0.0,0.0,0.333333,0.0,0.0,0.333333,0.333333,0.0

 47%|██████████████████▋                     | 56/120 [1:04:26<20:05, 18.84s/it]

Procesamiento del user 66 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 67
INFO: Noise Filtering applied
INFO: Clusters generated
(391199, 5) (2456, 5) (2456, 5) (2456, 5) (2456, 6)
INFO: 9 clusters generated.

  0%|                                                     | 0/9 [00:00<?, ?it/s]
 11%|█████                                        | 1/9 [00:06<00:51,  6.39s/it]
 22%|██████████                                   | 2/9 [00:12<00:43,  6.20s/it]
 33%|███████████████                              | 3/9 [00:18<00:37,  6.20s/it]
 44%|████████████████████                         | 4/9 [00:24<00:31,  6.22s/it]
 56%|█████████████████████████                    | 5/9 [00:31<00:24,  6.23s/it]
 67%|██████████████████████████████               | 6/9 [00:37<00:18,  6.24s/it]
 78%|███████████████████████████████████          | 7/9 [00:43<00:12,  6.18s/it]
 89%|████████████████████████████████████████     | 8/9 [00:49<00:06,  6.19s/it]
100%|█████████████████████████████████████████████| 9/9 [00:55<00:00,  6.22s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
10605,67,2010-12-05 15:53:20,39.978561,116.332082,2010-12-05,d_cl_00,d_cl_08,d_cl_00-d_cl_08
11116,67,2010-12-11 15:50:52,39.992292,116.388438,2010-12-11,d_cl_08,d_cl_07,d_cl_08-d_cl_07
13512,67,2010-12-19 17:04:42,39.968133,116.460019,2010-12-19,d_cl_07,d_cl_04,d_cl_07-d_cl_04
13628,67,2010-12-19 17:10:53,39.959925,116.450534,2010-12-19,d_cl_04,d_cl_02,d_cl_04-d_cl_02
15046,67,2010-12-24 22:00:05,39.883531,116.456301,2010-12-24,d_cl_02,d_cl_00,d_cl_02-d_cl_00
19033,67,2011-01-16 12:48:39,39.977034,116.331700,2011-01-16,d_cl_00,d_cl_01,d_cl_00-d_cl_01
22749,67,2011-01-16 15:27:21,39.987776,116.331775,2011-01-16,d_cl_01,d_cl_00,d_cl_01-d_cl_00
27704,67,2011-01-30 06:29:55,39.977307,116.332236,2011-01-30,d_cl_00,d_cl_06,d_cl_00-d_cl_06
52881,67,2011-02-08 21:48:42,40.016135,116.582866,2011-02-08,d_cl_06,d_cl_07,d_cl_06-d_cl_07
54865,67,2011-02-08 22:44:34,39.967935,116.460303,2011-02-08,d_cl_07,d_cl_00,d_cl_07-d_cl_00
56149,67,2011-03-05 00:28:35,39.976914,116.332405,2011-03-05,d_cl_00,d_cl_04,d_cl_00-d_cl_04
56849,67,2011-03-05 01:31:04,39.961453,116.452882,2011-03-05,d_cl_04,d_cl_07,d_cl_04-d_cl_07
59650,67,2011-03-05 04:27:49,39.968221,116.459943,2011-03-05,d_cl_07,d_cl_04,d_cl_07-d_cl_04
59815,67,2011-03-05 04:34:15,39.959798,116.450381,2011-03-05,d_cl_04,d_cl_08,d_cl_04-d_cl_08
61100,67,2011-03-05 06:26:42,39.989992,116.385384,2011-03-05,d_cl_08,d_cl_01,d_cl_08-d_cl_01
65476,67,2011-03-05 13:18:51,39.987798,116.331916,2011-03-05,d_cl_01,d_cl_00,d_cl_01-d_cl_00
65755,67,2011-03-05 13:32:11,39.978919,116.332475,2011-03-05,d_cl_00,d_cl_01,d_cl_00-d_cl_01
71195,67,2011-03-12 14:47:10,39.987756,116.331830,2011-03-12,d_cl_01,d_cl_00,d_cl_01-d_cl_00
92201,67,2011-03-26 00:39:57,39.977635,116.330767,2011-03-26,d_cl_00,d_cl_01,d_cl_00-d_cl_01
101044,67,2011-03-26 14:47:02,39.987783,116.331487,2011-03-26,d_cl_01,d_cl_00,d_cl_01-d_cl_00
149865,67,2011-04-23 03:40:48,39.977095,116.331550,2011-04-23,d_cl_00,d_cl_04,d_cl_00-d_cl_04
151796,67,2011-04-23 10:51:59,39.959413,116.449605,2011-04-23,d_cl_04,d_cl_01,d_cl_04-d_cl_01
159139,67,2011-04-23 15:08:32,39.987785,116.331828,2011-04-23,d_cl_01,d_cl_00,d_cl_01-d_cl_00
181332,67,2011-05-06 23:37:58,39.977677,116.331383,2011-05-06,d_cl_00,d_cl_01,d_cl_00-d_cl_01
195772,67,2011-05-07 15:29:07,39.987702,116.331917,2011-05-07,d_cl_01,d_cl_00,d_cl_01-d_cl_00
210324,67,2011-05-13 00:59:00,39.976965,116.331877,2011-05-13,d_cl_00,d_cl_07,d_cl_00-d_cl_07
218463,67,2011-05-15 15:24:56,39.968017,116.460498,2011-05-15,d_cl_07,d_cl_00,d_cl_07-d_cl_00
218794,67,2011-05-15 16:47:19,39.978937,116.332303,2011-05-15,d_cl_00,d_cl_05,d_cl_00-d_cl_05
218848,67,2011-05-20 13:32:31,39.902738,116.421107,2011-05-20,d_cl_05,d_cl_03,d_cl_05-d_cl_03
219882,67,2011-05-20 14:14:47,39.826265,116.270747,2011-05-20,d_cl_03,d_cl_00,d_cl_03-d_cl_00
299638,67,2011-05-23 02:12:35,39.978818,116.331882,2011-05-23,d_cl_00,d_cl_04,d_cl_00-d_cl_04
315512,67,2011-06-08 05:31:37,39.959505,116.451210,2011-06-08,d_cl_04,d_cl_07,d_cl_04-d_cl_07
315544,67,2011-06-08 05:45:43,39.970355,116.463307,2011-06-08,d_cl_07,d_cl_03,d_cl_07-d_cl_03
374864,67,2011-06-17 02:28:22,39.829542,116.271053,2011-06-17,d_cl_03,d_cl_05,d_cl_03-d_cl_05
376134,67,2011-06-17 03:01:20,39.903353,116.419972,2011-06-17,d_cl_05,d_cl_00,d_cl_05-d_cl_00
380154,67,2011-06-17 15:39:41,39.977320,116.332623,2011-06-17,d_cl_00,d_cl_08,d_cl_00-d_cl_08
383600,67,2011-06-18 13:03:09,39.989218,116.386260,2011-06-18,d_cl_08,d_cl_00,d_cl_08-d_cl_00
385374,67,2011-06-25 04:04:41,39.979868,116.331000,2011-06-25,d_cl_00,d_cl_01,d_cl_00-d_cl_01
388427,67,2011-06-25 11:24:59,39.987718,116.331717,2011-06-25,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08
cluster,,,,,,,,,
d_cl_00,0.000000,0.384615,0.0,0.0,0.230769,0.076923,0.076923,0.076923,0.153846
d_cl_01,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_02,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.500000,0.000000,0.0,0.0,0.000000,0.500000,0.000000,0.000000,0.000000
d_cl_04,0.000000,0.200000,0.2,0.0,0.000000,0.000000,0.000000,0.400000,0.200000
d_cl_05,0.500000,0.000000,0.0,0.5,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000
d_cl_07,0.400000,0.000000,0.0,0.2,0.400000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.333333,0.333333,0.0,0.0,0.000000,0.000000,0.000000,0.333333,0.000000

 48%|███████████████████                     | 57/120 [1:05:44<38:34, 36.74s/it]

Procesamiento del user 67 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 68
INFO: Noise Filtering applied
INFO: Clusters generated
(937876, 5) (665, 5) (665, 5) (665, 5) (665, 6)
INFO: 20 clusters generated.

  0%|                                                    | 0/20 [00:00<?, ?it/s]
  5%|██▏                                         | 1/20 [00:14<04:43, 14.93s/it]
 10%|████▍                                       | 2/20 [00:29<04:24, 14.72s/it]
 15%|██████▌                                     | 3/20 [00:44<04:10, 14.72s/it]
 20%|████████▊                                   | 4/20 [00:59<03:56, 14.81s/it]
 25%|███████████                                 | 5/20 [01:14<03:42, 14.83s/it]
 30%|█████████████▏                              | 6/20 [01:28<03:27, 14.81s/it]
 35%|███████████████▍                            | 7/20 [01:43<03:12, 14.81s/it]
 40%|█████████████████▌                          | 8/20 [01:58<02:57, 14.77s/it]
 45%|███████████████████▊                        | 9/20 [02:13<02:43, 14.84s/it]
 50%|█████████████████████▌                     | 10/20 [02:28<02:28, 14.81s/it]
 55%|███████████████████████▋                   | 11/20 [02:42<02:13, 14.80s/it]
 60%|█████████████████████████▊                 | 12/20 [02:57<01:58, 14.82s/it]
 65%|███████████████████████████▉               | 13/20 [03:12<01:43, 14.77s/it]
 70%|██████████████████████████████             | 14/20 [03:26<01:28, 14.73s/it]
 75%|████████████████████████████████▎          | 15/20 [03:41<01:13, 14.78s/it]
 80%|██████████████████████████████████▍        | 16/20 [03:56<00:58, 14.75s/it]
 85%|████████████████████████████████████▌      | 17/20 [04:11<00:44, 14.71s/it]
 90%|██████████████████████████████████████▋    | 18/20 [04:26<00:29, 14.77s/it]
 95%|████████████████████████████████████████▊  | 19/20 [04:40<00:14, 14.68s/it]
100%|███████████████████████████████████████████| 20/20 [04:55<00:00, 14.77s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
3900,68,2008-09-16 07:07:45,39.937577,116.419626,2008-09-16,d_cl_06,d_cl_01,d_cl_06-d_cl_01
4035,68,2008-09-16 07:18:35,39.955964,116.419034,2008-09-16,d_cl_01,d_cl_04,d_cl_01-d_cl_04
4355,68,2008-09-16 08:04:50,39.987929,116.430311,2008-09-16,d_cl_04,d_cl_07,d_cl_04-d_cl_07
4504,68,2008-09-16 08:16:30,39.987505,116.395108,2008-09-16,d_cl_07,d_cl_00,d_cl_07-d_cl_00
8951,68,2008-09-18 12:23:13,39.981932,116.420300,2008-09-18,d_cl_00,d_cl_01,d_cl_00-d_cl_01
...,...,...,...,...,...,...,...,...
928076,68,2009-09-11 11:01:15,39.935400,116.420448,2009-09-11,d_cl_06,d_cl_01,d_cl_06-d_cl_01
928206,68,2009-09-11 13:15:11,39.955999,116.418884,2009-09-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
928681,68,2009-09-11 13:37:44,39.983203,116.417891,2009-09-11,d_cl_00,d_cl_04,d_cl_00-d_cl_04
931915,68,2009-09-12 12:59:37,39.989383,116.431124,2009-09-12,d_cl_04,d_cl_00,d_cl_04-d_cl_00
932410,68,2009-09-13 01:48:36,39.983281,116.418307,2009-09-13,d_cl_00,d_cl_04,d_cl_00-d_cl_04

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19
cluster,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.661290,0.000000,0.000000,0.056452,0.000000,0.024194,0.088710,0.080645,0.000000,0.000000,0.000000,0.032258,0.000000,0.000000,0.024194,0.000000,0.024194,0.000000,0.008065
d_cl_01,0.578571,0.000000,0.000000,0.000000,0.007143,0.000000,0.335714,0.007143,0.021429,0.007143,0.014286,0.000000,0.000000,0.000000,0.000000,0.000000,0.007143,0.000000,0.021429,0.000000
d_cl_02,0.000000,0.000000,0.000000,0.055556,0.000000,0.055556,0.000000,0.000000,0.055556,0.000000,0.000000,0.555556,0.000000,0.277778,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.000000,0.000000,0.266667,0.000000,0.000000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.133333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.100000,0.000000,0.000000
d_cl_05,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.062500,0.687500,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.981132,0.000000,0.000000,0.000000,0.018868,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.482759,0.000000,0.000000,0.206897,0.068966,0.000000,0.000000,0.000000,0.000000,0.206897,0.000000,0.000000,0.000000,0.000000,0.000000,0.034483,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.347826,0.130435,0.000000,0.043478,0.043478,0.000000,0.000000,0.000000,0.000000,0.043478,0.173913,0.000000,0.000000,0.000000,0.217391,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.100000,0.000000,0.100000,0.000000,0.000000,0.100000,0.400000,0.100000,0.000000,0.100000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.125000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.125000,0.500000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.000000,0.000000,0.523810,0.000000,0.000000,0.476190,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.200000,0.000000,0.000000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.000000,0.000000,0.250000,0.500000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.500000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667
d_cl_16,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.750000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.666667,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_19,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 48%|█████████████████▉                   | 58/120 [1:12:39<2:34:55, 149.93s/it]

Procesamiento del user 68 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 71
INFO: Noise Filtering applied
INFO: Clusters generated
(123850, 5) (84, 5) (84, 5) (84, 5) (84, 6)
INFO: 5 clusters generated.

  0%|                                                     | 0/5 [00:00<?, ?it/s]
 20%|█████████                                    | 1/5 [00:02<00:08,  2.03s/it]
 40%|██████████████████                           | 2/5 [00:03<00:05,  1.95s/it]
 60%|███████████████████████████                  | 3/5 [00:05<00:03,  2.00s/it]
 80%|████████████████████████████████████         | 4/5 [00:08<00:02,  2.02s/it]
100%|█████████████████████████████████████████████| 5/5 [00:09<00:00,  1.98s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
3926,71,2011-12-31 01:53:41,39.979940,116.316713,2011-12-31,d_cl_00,d_cl_04,d_cl_00-d_cl_04
4088,71,2011-12-31 10:33:17,39.972987,116.334380,2011-12-31,d_cl_04,d_cl_00,d_cl_04-d_cl_00
69332,71,2012-04-07 09:58:34,39.979742,116.321192,2012-04-07,d_cl_00,d_cl_04,d_cl_00-d_cl_04
71619,71,2012-04-07 14:06:41,39.975190,116.332463,2012-04-07,d_cl_04,d_cl_03,d_cl_04-d_cl_03
81578,71,2012-04-08 09:50:11,39.967928,116.328048,2012-04-08,d_cl_03,d_cl_00,d_cl_03-d_cl_00
87862,71,2012-04-26 01:52:41,39.979468,116.316668,2012-04-26,d_cl_00,d_cl_02,d_cl_00-d_cl_02
90037,71,2012-04-30 09:53:41,40.071270,116.309240,2012-04-30,d_cl_02,d_cl_04,d_cl_02-d_cl_04
91561,71,2012-04-30 12:16:16,39.975077,116.332457,2012-04-30,d_cl_04,d_cl_01,d_cl_04-d_cl_01
115568,71,2012-05-05 09:59:37,39.986868,116.391238,2012-05-05,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next   d_cl_00   d_cl_01   d_cl_02   d_cl_03   d_cl_04
cluster
d_cl_00       0.000000  0.000000  0.333333  0.000000  0.666667
d_cl_01       1.000000  0.000000  0.000000  0.000000  0.000000
d_cl_02       0.000000  0.000000  0.000000  0.000000  1.000000
d_cl_03       1.000000  0.000000  0.000000  0.000000  0.000000
d_cl_04       0.333333  0.333333  0.000000  0.333333  0.000000

 49%|██████████████████▏                  | 59/120 [1:12:52<1:50:55, 109.11s/it]

Procesamiento del user 71 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 73
INFO: Noise Filtering applied
INFO: Clusters generated
(43135, 5) (203, 5) (203, 5) (203, 5) (203, 6)
INFO: 4 clusters generated.

  0%|                                                     | 0/4 [00:00<?, ?it/s]
 25%|███████████▎                                 | 1/4 [00:00<00:01,  1.55it/s]
 50%|██████████████████████▌                      | 2/4 [00:01<00:01,  1.54it/s]
 75%|█████████████████████████████████▊           | 3/4 [00:01<00:00,  1.54it/s]
100%|█████████████████████████████████████████████| 4/4 [00:02<00:00,  1.52it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
6497,73,2008-05-29 16:02:05,39.977132,116.331427,2008-05-29,d_cl_00,d_cl_03,d_cl_00-d_cl_03
7000,73,2008-05-30 12:40:48,39.985710,116.349030,2008-05-30,d_cl_03,d_cl_01,d_cl_03-d_cl_01
7133,73,2008-05-30 12:47:45,39.974933,116.335520,2008-05-30,d_cl_01,d_cl_00,d_cl_01-d_cl_00
13461,73,2008-06-05 16:28:31,39.977080,116.331608,2008-06-05,d_cl_00,d_cl_02,d_cl_00-d_cl_02
13782,73,2008-06-19 04:28:00,40.018883,116.523300,2008-06-19,d_cl_02,d_cl_00,d_cl_02-d_cl_00
14371,73,2008-06-19 23:06:37,39.976992,116.330793,2008-06-19,d_cl_00,d_cl_03,d_cl_00-d_cl_03
21129,73,2008-06-20 11:04:33,39.985897,116.349187,2008-06-20,d_cl_03,d_cl_01,d_cl_03-d_cl_01
21253,73,2008-06-20 11:13:03,39.975117,116.335535,2008-06-20,d_cl_01,d_cl_00,d_cl_01-d_cl_00
22038,73,2008-06-29 09:49:19,39.975462,116.332802,2008-06-29,d_cl_00,d_cl_01,d_cl_00-d_cl_01
23128,73,2008-06-29 12:03:45,39.976072,116.336188,2008-06-29,d_cl_01,d_cl_00,d_cl_01-d_cl_00
26060,73,2008-07-16 10:22:22,39.975285,116.332793,2008-07-16,d_cl_00,d_cl_01,d_cl_00-d_cl_01
26860,73,2008-07-16 11:23:08,39.975793,116.335832,2008-07-16,d_cl_01,d_cl_00,d_cl_01-d_cl_00
36694,73,2008-08-15 17:24:36,39.975227,116.328155,2008-08-15,d_cl_00,d_cl_01,d_cl_00-d_cl_01
37011,73,2008-08-17 05:46:55,39.974745,116.337712,2008-08-17,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next  d_cl_00  d_cl_01   d_cl_02   d_cl_03
cluster
d_cl_00           0.0      0.5  0.166667  0.333333
d_cl_01           1.0      0.0  0.000000  0.000000
d_cl_02           1.0      0.0  0.000000  0.000000
d_cl_03           0.0      1.0  0.000000  0.000000

 50%|███████████████████                   | 60/120 [1:12:56<1:17:30, 77.52s/it]

Procesamiento del user 73 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 74
INFO: Noise Filtering applied
INFO: Clusters generated
(175694, 5) (67, 5) (67, 5) (67, 5) (67, 6)
INFO: 7 clusters generated.

  0%|                                                     | 0/7 [00:00<?, ?it/s]
 14%|██████▍                                      | 1/7 [00:03<00:18,  3.00s/it]
 29%|████████████▊                                | 2/7 [00:05<00:14,  2.83s/it]
 43%|███████████████████▎                         | 3/7 [00:08<00:11,  2.83s/it]
 57%|█████████████████████████▋                   | 4/7 [00:11<00:08,  2.84s/it]
 71%|████████████████████████████████▏            | 5/7 [00:14<00:05,  2.84s/it]
 86%|██████████████████████████████████████▌      | 6/7 [00:17<00:02,  2.85s/it]
100%|█████████████████████████████████████████████| 7/7 [00:19<00:00,  2.84s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
632,74,2011-09-26 01:44:23,39.979600,116.313560,2011-09-26,d_cl_05,d_cl_00,d_cl_05-d_cl_00
2833,74,2012-01-06 00:37:04,39.975020,116.320567,2012-01-06,d_cl_00,d_cl_06,d_cl_00-d_cl_06
8131,74,2012-01-07 04:31:33,39.982253,116.359427,2012-01-07,d_cl_06,d_cl_00,d_cl_06-d_cl_00
13946,74,2012-01-09 14:27:30,39.974900,116.325077,2012-01-09,d_cl_00,d_cl_05,d_cl_00-d_cl_05
14591,74,2012-01-10 00:27:50,39.979427,116.313807,2012-01-10,d_cl_05,d_cl_00,d_cl_05-d_cl_00
20108,74,2012-01-13 00:33:00,39.975292,116.320657,2012-01-13,d_cl_00,d_cl_04,d_cl_00-d_cl_04
100537,74,2012-01-29 04:40:49,39.628508,116.347072,2012-01-29,d_cl_04,d_cl_00,d_cl_04-d_cl_00
136772,74,2012-02-24 12:02:47,39.975173,116.325135,2012-02-24,d_cl_00,d_cl_03,d_cl_00-d_cl_03
139947,74,2012-02-25 11:01:18,39.989860,116.326728,2012-02-25,d_cl_03,d_cl_00,d_cl_03-d_cl_00
160173,74,2012-03-15 00:36:48,39.974997,116.320595,2012-03-15,d_cl_00,d_cl_02,d_cl_00-d_cl_02
160998,74,2012-03-17 05:10:13,39.996800,116.277473,2012-03-17,d_cl_02,d_cl_00,d_cl_02-d_cl_00
163845,74,2012-04-09 13:53:10,39.975052,116.325113,2012-04-09,d_cl_00,d_cl_01,d_cl_00-d_cl_01
164292,74,2012-04-13 23:52:24,39.966193,116.326890,2012-04-13,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06
cluster,,,,,,,
d_cl_00,0.0,0.166667,0.166667,0.166667,0.166667,0.166667,0.166667
d_cl_01,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_02,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 51%|███████████████████▎                  | 61/120 [1:13:22<1:01:05, 62.13s/it]

Procesamiento del user 74 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 75
INFO: Noise Filtering applied
INFO: Clusters generated
(37493, 5) (33, 5) (33, 5) (33, 5) (33, 6)
INFO: 4 clusters generated.

  0%|                                                     | 0/4 [00:00<?, ?it/s]
 25%|███████████▎                                 | 1/4 [00:00<00:01,  1.76it/s]
 50%|██████████████████████▌                      | 2/4 [00:01<00:01,  1.76it/s]
 75%|█████████████████████████████████▊           | 3/4 [00:01<00:00,  1.76it/s]
100%|█████████████████████████████████████████████| 4/4 [00:02<00:00,  1.76it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
92,75,2011-08-07 09:10:16,39.975143,116.333491,2011-08-07,d_cl_00,d_cl_01,d_cl_00-d_cl_01
231,75,2011-08-08 21:51:55,39.978660,116.310407,2011-08-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
864,75,2011-08-09 09:31:29,39.975283,116.333450,2011-08-09,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1113,75,2011-08-09 22:09:36,39.977044,116.310068,2011-08-09,d_cl_01,d_cl_00,d_cl_01-d_cl_00
3959,75,2011-08-10 04:53:47,39.974299,116.331178,2011-08-10,d_cl_00,d_cl_02,d_cl_00-d_cl_02
4311,75,2011-08-24 14:06:41,39.974790,116.323193,2011-08-24,d_cl_02,d_cl_00,d_cl_02-d_cl_00
9020,75,2011-08-25 00:19:02,39.974735,116.333490,2011-08-25,d_cl_00,d_cl_01,d_cl_00-d_cl_01
9322,75,2011-08-25 01:52:01,39.978662,116.307482,2011-08-25,d_cl_01,d_cl_02,d_cl_01-d_cl_02
9605,75,2011-08-27 14:22:57,39.975123,116.323282,2011-08-27,d_cl_02,d_cl_00,d_cl_02-d_cl_00
10071,75,2011-08-27 15:15:40,39.974808,116.331258,2011-08-27,d_cl_00,d_cl_01,d_cl_00-d_cl_01
10279,75,2011-08-28 09:16:41,39.977232,116.310078,2011-08-28,d_cl_01,d_cl_02,d_cl_01-d_cl_02
10429,75,2011-08-28 16:42:56,39.975115,116.323223,2011-08-28,d_cl_02,d_cl_00,d_cl_02-d_cl_00
14602,75,2011-08-29 03:00:25,39.975005,116.328863,2011-08-29,d_cl_00,d_cl_02,d_cl_00-d_cl_02
14770,75,2011-08-29 03:13:16,39.975070,116.318655,2011-08-29,d_cl_02,d_cl_01,d_cl_02-d_cl_01
15128,75,2011-08-30 14:11:21,39.977743,116.310623,2011-08-30,d_cl_01,d_cl_00,d_cl_01-d_cl_00
15367,75,2011-08-30 14:51:17,39.974242,116.331133,2011-08-30,d_cl_00,d_cl_01,d_cl_00-d_cl_01
15494,75,2011-09-02 09:40:35,39.977038,116.310380,2011-09-02,d_cl_01,d_cl_02,d_cl_01-d_cl_02
15655,75,2011-09-02 09:49:56,39.975065,116.323182,2011-09-02,d_cl_02,d_cl_00,d_cl_02-d_cl_00
25807,75,2011-09-03 09:49:49,39.974690,116.330995,2011-09-03,d_cl_00,d_cl_03,d_cl_00-d_cl_03

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
25807,75,2011-09-03 09:49:49.010,39.97469,116.330995,2011-09-03,d_cl_03,d_cl_00,d_cl_00-d_cl_03

cluster_next  d_cl_00  d_cl_01  d_cl_02  d_cl_03
cluster
d_cl_00           0.0    0.625     0.25    0.125
d_cl_01           0.5    0.000     0.50    0.000
d_cl_02           0.8    0.200     0.00    0.000
d_cl_03           1.0    0.000     0.00    0.000

 52%|████████████████████▋                   | 62/120 [1:13:26<42:59, 44.48s/it]

Procesamiento del user 75 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 78
INFO: Noise Filtering applied
INFO: Clusters generated
(75491, 5) (137, 5) (137, 5) (137, 5) (137, 6)
INFO: 3 clusters generated.

  0%|                                                     | 0/3 [00:00<?, ?it/s]
 33%|███████████████                              | 1/3 [00:01<00:02,  1.15s/it]
 67%|██████████████████████████████               | 2/3 [00:02<00:01,  1.25s/it]
100%|█████████████████████████████████████████████| 3/3 [00:03<00:00,  1.21s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
16317,78,2008-05-24 13:03:17,39.971932,116.327808,2008-05-24,d_cl_00,d_cl_02,d_cl_00-d_cl_02
16887,78,2008-05-24 20:56:05,39.974992,116.319788,2008-05-24,d_cl_02,d_cl_00,d_cl_02-d_cl_00
29760,78,2008-07-23 16:17:15,39.971588,116.326217,2008-07-23,d_cl_00,d_cl_01,d_cl_00-d_cl_01
44949,78,2008-07-27 12:34:18,39.967297,116.384016,2008-07-27,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next  d_cl_00  d_cl_01  d_cl_02
cluster
d_cl_00           0.0      0.5      0.5
d_cl_01           1.0      0.0      0.0
d_cl_02           1.0      0.0      0.0

 52%|█████████████████████                   | 63/120 [1:13:32<31:14, 32.89s/it]

Procesamiento del user 78 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 79
INFO: Noise Filtering applied
INFO: Clusters generated
(11243, 5) (18, 5) (18, 5) (18, 5) (18, 6)
INFO: 11 clusters generated.

  0%|                                                    | 0/11 [00:00<?, ?it/s]
  9%|████                                        | 1/11 [00:00<00:01,  5.77it/s]
 18%|████████                                    | 2/11 [00:00<00:01,  5.71it/s]
 27%|████████████                                | 3/11 [00:00<00:01,  5.70it/s]
 36%|████████████████                            | 4/11 [00:00<00:01,  5.69it/s]
 45%|████████████████████                        | 5/11 [00:00<00:01,  5.67it/s]
 55%|████████████████████████                    | 6/11 [00:01<00:00,  5.55it/s]
 64%|████████████████████████████                | 7/11 [00:01<00:00,  5.51it/s]
 73%|████████████████████████████████            | 8/11 [00:01<00:00,  5.51it/s]
 82%|████████████████████████████████████        | 9/11 [00:01<00:00,  5.51it/s]
 91%|███████████████████████████████████████    | 10/11 [00:01<00:00,  5.41it/s]
100%|███████████████████████████████████████████| 11/11 [00:01<00:00,  5.53it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
26,79,2010-05-24 12:29:33,39.975039,116.334486,2010-05-24,d_cl_05,d_cl_04,d_cl_05-d_cl_04
58,79,2010-05-24 12:32:08,39.974844,116.346919,2010-05-24,d_cl_04,d_cl_10,d_cl_04-d_cl_10
80,79,2010-05-24 12:33:58,39.961097,116.347302,2010-05-24,d_cl_10,d_cl_00,d_cl_10-d_cl_00
91,79,2010-05-24 12:34:53,39.953710,116.348957,2010-05-24,d_cl_00,d_cl_03,d_cl_00-d_cl_03
106,79,2010-05-24 12:36:08,39.942203,116.349890,2010-05-24,d_cl_03,d_cl_01,d_cl_03-d_cl_01
...,...,...,...,...,...,...,...,...
10913,79,2010-06-16 10:46:11,39.986582,116.358293,2010-06-16,d_cl_02,d_cl_10,d_cl_02-d_cl_10
11003,79,2010-06-16 10:53:31,39.961218,116.347260,2010-06-16,d_cl_10,d_cl_00,d_cl_10-d_cl_00
11016,79,2010-06-16 10:54:36,39.954170,116.348842,2010-06-16,d_cl_00,d_cl_03,d_cl_00-d_cl_03
11031,79,2010-06-16 10:55:51,39.942121,116.349785,2010-06-16,d_cl_03,d_cl_01,d_cl_03-d_cl_01
11045,79,2010-06-16 10:57:01,39.931470,116.349609,2010-06-16,d_cl_01,d_cl_06,d_cl_01-d_cl_06

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10
cluster,,,,,,,,,,,
d_cl_00,0.000000,0.000000,0.000000,0.473684,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.526316
d_cl_01,0.000000,0.000000,0.058824,0.529412,0.000000,0.000000,0.411765,0.000000,0.000000,0.000,0.000000
d_cl_02,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000,0.600000
d_cl_03,0.526316,0.473684,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000
d_cl_04,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.000,0.333333
d_cl_05,0.000000,0.000000,0.000000,0.000000,0.444444,0.000000,0.111111,0.111111,0.111111,0.000,0.222222
d_cl_06,0.000000,0.750000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125,0.000000
d_cl_07,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000
d_cl_08,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000
d_cl_10,0.473684,0.000000,0.157895,0.000000,0.368421,0.000000,0.000000,0.000000,0.000000,0.000,0.000000

 53%|█████████████████████▎                  | 64/120 [1:13:34<22:07, 23.71s/it]

Procesamiento del user 79 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 81
INFO: Noise Filtering applied
INFO: Clusters generated
(44252, 5) (54, 5) (54, 5) (54, 5) (54, 6)
INFO: 6 clusters generated.

  0%|                                                     | 0/6 [00:00<?, ?it/s]
 17%|███████▌                                     | 1/6 [00:00<00:03,  1.51it/s]
 33%|███████████████                              | 2/6 [00:01<00:02,  1.51it/s]
 50%|██████████████████████▌                      | 3/6 [00:02<00:02,  1.49it/s]
 67%|██████████████████████████████               | 4/6 [00:02<00:01,  1.37it/s]
 83%|█████████████████████████████████████▌       | 5/6 [00:03<00:00,  1.41it/s]
100%|█████████████████████████████████████████████| 6/6 [00:04<00:00,  1.44it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
8,81,2008-05-09 10:09:32,39.977450,116.328783,2008-05-09,d_cl_01,d_cl_02,d_cl_01-d_cl_02
44,81,2008-05-09 10:19:00,39.993200,116.326817,2008-05-09,d_cl_02,d_cl_00,d_cl_02-d_cl_00
92,81,2008-05-10 00:19:16,40.006517,116.324150,2008-05-10,d_cl_00,d_cl_03,d_cl_00-d_cl_03
111,81,2008-05-10 00:28:32,40.000267,116.324467,2008-05-10,d_cl_03,d_cl_02,d_cl_03-d_cl_02
140,81,2008-05-10 00:34:36,39.990833,116.325583,2008-05-10,d_cl_02,d_cl_01,d_cl_02-d_cl_01
179,81,2008-05-10 00:43:44,39.977183,116.331250,2008-05-10,d_cl_01,d_cl_03,d_cl_01-d_cl_03
188,81,2008-05-10 07:14:07,40.000150,116.325667,2008-05-10,d_cl_03,d_cl_01,d_cl_03-d_cl_01
264,81,2008-05-10 07:44:04,39.975800,116.330950,2008-05-10,d_cl_01,d_cl_02,d_cl_01-d_cl_02
313,81,2008-05-10 13:51:19,39.993250,116.326667,2008-05-10,d_cl_02,d_cl_03,d_cl_02-d_cl_03
339,81,2008-05-10 13:55:50,40.003183,116.324083,2008-05-10,d_cl_03,d_cl_00,d_cl_03-d_cl_00
353,81,2008-05-11 02:50:52,40.006433,116.324233,2008-05-11,d_cl_00,d_cl_03,d_cl_00-d_cl_03
371,81,2008-05-11 02:55:06,40.000217,116.325217,2008-05-11,d_cl_03,d_cl_02,d_cl_03-d_cl_02
402,81,2008-05-11 03:04:57,39.991517,116.329267,2008-05-11,d_cl_02,d_cl_00,d_cl_02-d_cl_00
621,81,2008-05-12 06:01:24,40.006833,116.322300,2008-05-12,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1583,81,2008-05-23 01:50:49,39.975369,116.329094,2008-05-23,d_cl_01,d_cl_05,d_cl_01-d_cl_05
10127,81,2008-05-23 12:40:45,39.974927,116.340432,2008-05-23,d_cl_05,d_cl_01,d_cl_05-d_cl_01
10270,81,2008-05-23 12:44:55,39.975248,116.329268,2008-05-23,d_cl_01,d_cl_03,d_cl_01-d_cl_03
11045,81,2008-05-23 14:12:25,40.003314,116.324461,2008-05-23,d_cl_03,d_cl_00,d_cl_03-d_cl_00
13359,81,2008-05-24 02:16:21,40.006041,116.323984,2008-05-24,d_cl_00,d_cl_03,d_cl_00-d_cl_03
13465,81,2008-05-24 02:19:53,39.999901,116.325281,2008-05-24,d_cl_03,d_cl_02,d_cl_03-d_cl_02
13654,81,2008-05-24 02:26:10,39.992519,116.326886,2008-05-24,d_cl_02,d_cl_01,d_cl_02-d_cl_01
16122,81,2008-05-29 13:41:33,39.976595,116.331160,2008-05-29,d_cl_01,d_cl_00,d_cl_01-d_cl_00
16201,81,2008-05-30 00:19:02,40.006101,116.323944,2008-05-30,d_cl_00,d_cl_03,d_cl_00-d_cl_03
16313,81,2008-05-30 00:22:46,39.999758,116.324641,2008-05-30,d_cl_03,d_cl_02,d_cl_03-d_cl_02
16483,81,2008-05-30 00:29:58,39.990074,116.326568,2008-05-30,d_cl_02,d_cl_01,d_cl_02-d_cl_01
18718,81,2008-05-30 14:25:44,39.976829,116.328435,2008-05-30,d_cl_01,d_cl_03,d_cl_01-d_cl_03
19425,81,2008-05-30 14:53:55,40.001828,116.322051,2008-05-30,d_cl_03,d_cl_00,d_cl_03-d_cl_00
19723,81,2008-05-30 15:04:14,40.007420,116.323217,2008-05-30,d_cl_00,d_cl_01,d_cl_00-d_cl_01
19783,81,2008-05-31 13:08:31,39.975372,116.332408,2008-05-31,d_cl_01,d_cl_02,d_cl_01-d_cl_02
20196,81,2008-05-31 13:28:32,39.993401,116.327079,2008-05-31,d_cl_02,d_cl_03,d_cl_02-d_cl_03
20656,81,2008-05-31 13:43:52,40.003307,116.324528,2008-05-31,d_cl_03,d_cl_00,d_cl_03-d_cl_00
20865,81,2008-05-31 13:50:50,40.007183,116.322762,2008-05-31,d_cl_00,d_cl_01,d_cl_00-d_cl_01
20913,81,2008-06-02 04:08:58,39.977112,116.328538,2008-06-02,d_cl_01,d_cl_02,d_cl_01-d_cl_02
21157,81,2008-06-02 04:17:03,39.991557,116.325217,2008-06-02,d_cl_02,d_cl_00,d_cl_02-d_cl_00
21500,81,2008-06-02 05:00:04,40.005424,116.321287,2008-06-02,d_cl_00,d_cl_02,d_cl_00-d_cl_02
21915,81,2008-06-02 05:13:30,39.990079,116.326557,2008-06-02,d_cl_02,d_cl_01,d_cl_02-d_cl_01
23113,81,2008-06-05 05:45:24,39.975493,116.331695,2008-06-05,d_cl_01,d_cl_02,d_cl_01-d_cl_02
25238,81,2008-06-07 13:40:07,39.993351,116.326656,2008-06-07,d_cl_02,d_cl_03,d_cl_02-d_cl_03
25591,81,2008-06-07 13:53:09,40.003239,116.324767,2008-06-07,d_cl_03,d_cl_00,d_cl_03-d_cl_00
27678,81,2008-06-08 01:20:08,40.006272,116.324176,2008-06-08,d_cl_00,d_cl_03,d_cl_00-d_cl_03
27793,81,2008-06-08 01:23:58,39.999754,116.324727,2008-06-08,d_cl_03,d_cl_02,d_cl_03-d_cl_02
27966,81,2008-06-08 01:31:13,39.990077,116.326535,2008-06-08,d_cl_02,d_cl_01,d_cl_02-d_cl_01
28265,81,2008-06-08 01:43:59,39.977322,116.331217,2008-06-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
28320,81,2008-06-19 23:59:41,40.006618,116.324301,2008-06-19,d_cl_00,d_cl_03,d_cl_00-d_cl_03
28451,81,2008-06-20 00:04:03,40.000066,116.325451,2008-06-20,d_cl_03,d_cl_02,d_cl_03-d_cl_02
28808,81,2008-06-20 00:20:57,39.991321,116.329793,2008-06-20,d_cl_02,d_cl_04,d_cl_02-d_cl_04
30462,81,2008-06-21 13:54:05,39.940117,116.348947,2008-06-21,d_cl_04,d_cl_02,d_cl_04-d_cl_02
31109,81,2008-06-21 14:17:55,39.993414,116.327130,2008-06-21,d_cl_02,d_cl_03,d_cl_02-d_cl_03
31268,81,2008-06-21 14:23:12,40.003279,116.324384,2008-06-21,d_cl_03,d_cl_00,d_cl_03-d_cl_00
31370,81,2008-06-21 14:26:36,40.007389,116.322572,2008-06-21,d_cl_00,d_cl_01,d_cl_00-d_cl_01
31428,81,2008-06-22 04:30:39,39.975397,116.332454,2008-06-22,d_cl_01,d_cl_04,d_cl_01-d_cl_04
31852,81,2008-06-22 04:51:07,39.939575,116.347958,2008-06-22,d_cl_04,d_cl_01,d_cl_04-d_cl_01
32810,81,2008-07-21 10:16:33,39.975258,116.329290,2008-07-21,d_cl_01,d_cl_00,d_cl_01-d_cl_00
33914,81,2008-07-24 09:21:56,40.005445,116.321275,2008-07-24,d_cl_00,d_cl_02,d_cl_00-d_cl_02
39489,81,2008-07-25 09:27:53,39.991554,116.329801,2008-07-25,d_cl_02,d_cl_00,d_cl_02-d_cl_00
42687,81,2008-07-30 08:44:06,40.007681,116.323090,2008-07-30,d_cl_00,d_cl_04,d_cl_00-d_cl_04

cluster_next   d_cl_00   d_cl_01   d_cl_02   d_cl_03   d_cl_04   d_cl_05
cluster
d_cl_00       0.000000  0.307692  0.153846  0.461538  0.076923  0.000000
d_cl_01       0.230769  0.000000  0.384615  0.230769  0.076923  0.076923
d_cl_02       0.285714  0.357143  0.000000  0.285714  0.071429  0.000000
d_cl_03       0.461538  0.076923  0.461538  0.000000  0.000000  0.000000
d_cl_04       0.000000  0.500000  0.500000  0.000000  0.000000  0.000000
d_cl_05       0.000000  1.000000  0.000000  0.000000  0.000000  0.000000

 54%|█████████████████████▋                  | 65/120 [1:13:39<16:42, 18.22s/it]

Procesamiento del user 81 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 82
INFO: Noise Filtering applied
INFO: Clusters generated
(172543, 5) (94, 5) (94, 5) (94, 5) (94, 6)
INFO: 17 clusters generated.

  0%|                                                    | 0/17 [00:00<?, ?it/s]
  6%|██▌                                         | 1/17 [00:02<00:44,  2.80s/it]
 12%|█████▏                                      | 2/17 [00:05<00:41,  2.79s/it]
 18%|███████▊                                    | 3/17 [00:08<00:39,  2.79s/it]
 24%|██████████▎                                 | 4/17 [00:11<00:35,  2.74s/it]
 29%|████████████▉                               | 5/17 [00:13<00:33,  2.77s/it]
 35%|███████████████▌                            | 6/17 [00:16<00:30,  2.79s/it]
 41%|██████████████████                          | 7/17 [00:19<00:27,  2.79s/it]
 47%|████████████████████▋                       | 8/17 [00:22<00:25,  2.80s/it]
 53%|███████████████████████▎                    | 9/17 [00:25<00:22,  2.79s/it]
 59%|█████████████████████████▎                 | 10/17 [00:27<00:19,  2.78s/it]
 65%|███████████████████████████▊               | 11/17 [00:30<00:16,  2.78s/it]
 71%|██████████████████████████████▎            | 12/17 [00:33<00:13,  2.78s/it]
 76%|████████████████████████████████▉          | 13/17 [00:36<00:11,  2.78s/it]
 82%|███████████████████████████████████▍       | 14/17 [00:38<00:08,  2.73s/it]
 88%|█████████████████████████████████████▉     | 15/17 [00:41<00:05,  2.74s/it]
 94%|████████████████████████████████████████▍  | 16/17 [00:44<00:02,  2.75s/it]
100%|███████████████████████████████████████████| 17/17 [00:47<00:00,  2.77s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
44,82,2007-05-24 11:29:06,39.975200,116.331100,2007-05-24,d_cl_00,d_cl_16,d_cl_00-d_cl_16
47,82,2007-06-06 12:01:35,39.974067,116.346683,2007-06-06,d_cl_16,d_cl_00,d_cl_16-d_cl_00
4228,82,2008-07-31 12:41:47,39.975851,116.333499,2008-07-31,d_cl_00,d_cl_08,d_cl_00-d_cl_08
4452,82,2008-07-31 12:49:13,40.008750,116.330095,2008-07-31,d_cl_08,d_cl_05,d_cl_08-d_cl_05
4490,82,2008-07-31 12:50:29,40.018562,116.319052,2008-07-31,d_cl_05,d_cl_03,d_cl_05-d_cl_03
...,...,...,...,...,...,...,...,...
171979,82,2009-05-16 05:14:19,40.043949,116.305409,2009-05-16,d_cl_15,d_cl_13,d_cl_15-d_cl_13
172083,82,2009-05-16 05:16:08,40.032111,116.313848,2009-05-16,d_cl_13,d_cl_03,d_cl_13-d_cl_03
172141,82,2009-05-16 05:17:50,40.024642,116.316914,2009-05-16,d_cl_03,d_cl_05,d_cl_03-d_cl_05
172200,82,2009-05-16 05:18:49,40.015778,116.321539,2009-05-16,d_cl_05,d_cl_08,d_cl_05-d_cl_08
172277,82,2009-05-16 05:20:06,40.005435,116.331073,2009-05-16,d_cl_08,d_cl_00,d_cl_08-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16
cluster,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.000000,0.000000,0.000000,0.000000,0.030303,0.000000,0.0,0.515152,0.272727,0.060606,0.030303,0.000000,0.000000,0.000000,0.000000,0.090909
d_cl_01,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_02,0.023256,0.000000,0.000000,0.000000,0.418605,0.000000,0.000000,0.0,0.000000,0.000000,0.023256,0.000000,0.534884,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.000000,0.000000,0.000000,0.000000,0.000000,0.534884,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.465116,0.000000,0.000000,0.000000
d_cl_04,0.000000,0.000000,0.560976,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.439024,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.000000,0.000000,0.452381,0.000000,0.000000,0.000000,0.0,0.547619,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.023256,0.000000,0.000000,0.441860,0.000000,0.000000,0.534884,0.000000
d_cl_07,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.575000,0.000000,0.000000,0.000000,0.000000,0.425000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.193548,0.032258,0.032258,0.032258,0.000000,0.032258,0.000000,0.0,0.000000,0.000000,0.000000,0.645161,0.000000,0.000000,0.032258,0.000000,0.000000
d_cl_10,0.000000,0.000000,0.000000,0.000000,0.547619,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.452381,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.475000,0.525000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.000000,0.000000,0.452381,0.000000,0.000000,0.000000,0.547619,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.000000,0.000000,0.000000,0.534884,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.465116,0.000000
d_cl_14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.465116,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.534884,0.000000,0.000000,0.000000
d_cl_16,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 55%|██████████████████████                  | 66/120 [1:14:33<25:53, 28.76s/it]

Procesamiento del user 82 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 83
INFO: Noise Filtering applied
INFO: Clusters generated
(35052, 5) (50, 5) (50, 5) (50, 5) (50, 6)
INFO: 3 clusters generated.

  0%|                                                     | 0/3 [00:00<?, ?it/s]
 33%|███████████████                              | 1/3 [00:00<00:01,  1.45it/s]
 67%|██████████████████████████████               | 2/3 [00:01<00:00,  1.67it/s]
100%|█████████████████████████████████████████████| 3/3 [00:01<00:00,  1.71it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
3330,83,2009-01-10 11:47:17,39.985183,116.336443,2009-01-10,d_cl_02,d_cl_01,d_cl_02-d_cl_01
3619,83,2009-01-10 12:25:19,39.983412,116.301130,2009-01-10,d_cl_01,d_cl_00,d_cl_01-d_cl_00
6919,83,2009-01-14 22:52:51,39.975153,116.329932,2009-01-14,d_cl_00,d_cl_01,d_cl_00-d_cl_01
8573,83,2009-01-26 12:18:25,39.980987,116.299560,2009-01-26,d_cl_01,d_cl_02,d_cl_01-d_cl_02
8886,83,2009-01-26 12:33:37,39.985293,116.339428,2009-01-26,d_cl_02,d_cl_01,d_cl_02-d_cl_01
12036,83,2009-01-27 12:57:51,39.981273,116.300378,2009-01-27,d_cl_01,d_cl_00,d_cl_01-d_cl_00
13056,83,2009-01-27 16:33:51,39.975190,116.325472,2009-01-27,d_cl_00,d_cl_01,d_cl_00-d_cl_01
13984,83,2009-01-30 10:07:20,39.981057,116.299850,2009-01-30,d_cl_01,d_cl_00,d_cl_01-d_cl_00
14381,83,2009-02-03 22:13:07,39.975263,116.325407,2009-02-03,d_cl_00,d_cl_01,d_cl_00-d_cl_01
15488,83,2009-02-20 09:49:21,39.981013,116.299408,2009-02-20,d_cl_01,d_cl_00,d_cl_01-d_cl_00
15934,83,2009-02-20 22:05:09,39.977052,116.327465,2009-02-20,d_cl_00,d_cl_01,d_cl_00-d_cl_01
16136,83,2009-02-20 22:14:24,39.982750,116.296723,2009-02-20,d_cl_01,d_cl_00,d_cl_01-d_cl_00
23058,83,2009-03-08 17:32:15,39.977040,116.327550,2009-03-08,d_cl_00,d_cl_02,d_cl_00-d_cl_02
24287,83,2009-03-08 20:03:31,39.985242,116.340848,2009-03-08,d_cl_02,d_cl_00,d_cl_02-d_cl_00

cluster_next   d_cl_00   d_cl_01   d_cl_02
cluster
d_cl_00       0.000000  0.800000  0.200000
d_cl_01       0.833333  0.000000  0.166667
d_cl_02       0.333333  0.666667  0.000000

 56%|██████████████████████▎                 | 67/120 [1:14:35<18:27, 20.90s/it]

Procesamiento del user 83 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 84
INFO: Noise Filtering applied
INFO: Clusters generated
(401332, 5) (179, 5) (179, 5) (179, 5) (179, 6)
INFO: 33 clusters generated.

  0%|                                                    | 0/33 [00:00<?, ?it/s]
  3%|█▎                                          | 1/33 [00:06<03:24,  6.38s/it]
  6%|██▋                                         | 2/33 [00:12<03:18,  6.39s/it]
  9%|████                                        | 3/33 [00:19<03:09,  6.32s/it]
 12%|█████▎                                      | 4/33 [00:25<03:04,  6.37s/it]
 15%|██████▋                                     | 5/33 [00:31<02:58,  6.38s/it]
 18%|████████                                    | 6/33 [00:38<02:51,  6.36s/it]
 21%|█████████▎                                  | 7/33 [00:44<02:47,  6.45s/it]
 24%|██████████▋                                 | 8/33 [00:51<02:39,  6.40s/it]
 27%|████████████                                | 9/33 [00:57<02:33,  6.41s/it]
 30%|█████████████                              | 10/33 [01:03<02:27,  6.40s/it]
 33%|██████████████▎                            | 11/33 [01:10<02:19,  6.35s/it]
 36%|███████████████▋                           | 12/33 [01:16<02:14,  6.41s/it]
 39%|████████████████▉                          | 13/33 [01:22<02:07,  6.35s/it]
 42%|██████████████████▏                        | 14/33 [01:29<02:01,  6.39s/it]
 45%|███████████████████▌                       | 15/33 [01:35<01:54,  6.38s/it]
 48%|████████████████████▊                      | 16/33 [01:41<01:47,  6.34s/it]
 52%|██████████████████████▏                    | 17/33 [01:48<01:42,  6.40s/it]
 55%|███████████████████████▍                   | 18/33 [01:54<01:35,  6.35s/it]
 58%|████████████████████████▊                  | 19/33 [02:01<01:29,  6.38s/it]
 61%|██████████████████████████                 | 20/33 [02:07<01:22,  6.38s/it]
 64%|███████████████████████████▎               | 21/33 [02:13<01:16,  6.34s/it]
 67%|████████████████████████████▋              | 22/33 [02:20<01:10,  6.42s/it]
 70%|█████████████████████████████▉             | 23/33 [02:26<01:03,  6.37s/it]
 73%|███████████████████████████████▎           | 24/33 [02:33<00:57,  6.38s/it]
 76%|████████████████████████████████▌          | 25/33 [02:39<00:51,  6.38s/it]
 79%|█████████████████████████████████▉         | 26/33 [02:45<00:44,  6.34s/it]
 82%|███████████████████████████████████▏       | 27/33 [02:52<00:38,  6.42s/it]
 85%|████████████████████████████████████▍      | 28/33 [02:58<00:31,  6.37s/it]
 88%|█████████████████████████████████████▊     | 29/33 [03:05<00:25,  6.39s/it]
 91%|███████████████████████████████████████    | 30/33 [03:11<00:19,  6.42s/it]
 94%|████████████████████████████████████████▍  | 31/33 [03:17<00:12,  6.36s/it]
 97%|█████████████████████████████████████████▋ | 32/33 [03:24<00:06,  6.42s/it]
100%|███████████████████████████████████████████| 33/33 [03:30<00:00,  6.38s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
209,84,2008-07-21 23:36:51,39.985148,116.346690,2008-07-21,d_cl_06,d_cl_29,d_cl_06-d_cl_29
265,84,2008-07-21 23:38:43,39.985553,116.354763,2008-07-21,d_cl_29,d_cl_05,d_cl_29-d_cl_05
362,84,2008-07-21 23:41:57,39.985834,116.364341,2008-07-21,d_cl_05,d_cl_03,d_cl_05-d_cl_03
461,84,2008-07-21 23:45:15,39.986251,116.381102,2008-07-21,d_cl_03,d_cl_25,d_cl_03-d_cl_25
566,84,2008-07-21 23:48:45,39.986923,116.402864,2008-07-21,d_cl_25,d_cl_10,d_cl_25-d_cl_10
...,...,...,...,...,...,...,...,...
400233,84,2009-09-08 12:24:14,39.964686,116.347206,2009-09-08,d_cl_04,d_cl_08,d_cl_04-d_cl_08
400266,84,2009-09-08 12:26:54,39.950390,116.349264,2009-09-08,d_cl_08,d_cl_20,d_cl_08-d_cl_20
400338,84,2009-09-08 12:32:49,39.946200,116.362115,2009-09-08,d_cl_20,d_cl_07,d_cl_20-d_cl_07
400348,84,2009-09-08 12:33:39,39.947410,116.372989,2009-09-08,d_cl_07,d_cl_02,d_cl_07-d_cl_02
400378,84,2009-09-08 12:36:09,39.947688,116.403597,2009-09-08,d_cl_02,d_cl_01,d_cl_02-d_cl_01

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21,d_cl_22,d_cl_23,d_cl_24,d_cl_25,d_cl_26,d_cl_27,d_cl_28,d_cl_29,d_cl_30,d_cl_31,d_cl_32
cluster,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.162791,0.000000,0.000000,0.348837,0.011628,0.220930,0.000000,0.000000,0.011628,0.046512,0.000000,0.000000,0.023256,0.011628,0.000000,0.000000,0.011628,0.000000,0.000000,0.000000,0.000000,0.011628,0.011628,0.000000,0.023256,0.000000,0.046512,0.000000,0.011628,0.00,0.000000,0.046512
d_cl_01,0.207921,0.000000,0.316832,0.000000,0.019802,0.000000,0.029703,0.009901,0.019802,0.000000,0.009901,0.009901,0.079208,0.009901,0.138614,0.000000,0.000000,0.009901,0.000000,0.000000,0.009901,0.000000,0.000000,0.019802,0.019802,0.000000,0.039604,0.049505,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_02,0.014085,0.408451,0.000000,0.000000,0.000000,0.000000,0.000000,0.380282,0.000000,0.000000,0.000000,0.000000,0.028169,0.000000,0.000000,0.000000,0.000000,0.028169,0.000000,0.000000,0.000000,0.014085,0.014085,0.000000,0.000000,0.000000,0.000000,0.000000,0.112676,0.000000,0.00,0.000000,0.000000
d_cl_03,0.000000,0.000000,0.000000,0.000000,0.000000,0.368421,0.017544,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.614035,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_04,0.444444,0.000000,0.000000,0.000000,0.000000,0.000000,0.027778,0.000000,0.416667,0.000000,0.000000,0.000000,0.000000,0.013889,0.000000,0.000000,0.000000,0.000000,0.000000,0.013889,0.000000,0.000000,0.069444,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.013889
d_cl_05,0.000000,0.000000,0.000000,0.620690,0.000000,0.000000,0.017241,0.000000,0.000000,0.017241,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.344828,0.00,0.000000,0.000000
d_cl_06,0.088889,0.044444,0.000000,0.000000,0.000000,0.044444,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.044444,0.000000,0.000000,0.000000,0.000000,0.022222,0.000000,0.000000,0.755556,0.00,0.000000,0.000000
d_cl_07,0.000000,0.000000,0.525424,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.474576,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_08,0.016667,0.000000,0.000000,0.000000,0.466667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.016667,0.000000,0.416667,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.277778,0.000000,0.000000,0.000000,0.018519,0.703704,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.616667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.016667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.316667,0.000000,0.000000,0.000000,0.000000,0.05,0.000000,0.000000
d_cl_11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.00,0.000000,0.000000
d_cl_12,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.600000,0.100000,0.000000,0.100000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_13,0.200000,0.000000,0.200000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.200000
d_cl_14,0.000000,0.703704,0.018519,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.277778,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.277778,0.000000,0.000000,0.000000,0.000000,0.703704,0.000000,0.018519,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.058824,0.000000,0.705882,0.000000,0.000000,0.000000,0.000000,0.000000,0.235294,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_17,0.000000,0.000000,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.240000,0.000000,0.000000,0.480000,0.000000,0.00,0.000000,0.000000
d_cl_18,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_19,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.500000
d_cl_20,0.017857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.446429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.017857,0.017857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_21,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_22,0.058824,0.000000,0.000000,0.000000,0.705882,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.235294,0.000000,0.00,0.000000,0.000000
d_cl_23,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.625000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_24,0.142857,0.714286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_25,0.000000,0.031746,0.000000,0.285714,0.000000,0.000000,0.000000,0.015873,0.000000,0.000000,0.571429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.063492,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.031746,0.000000
d_cl_26,0.090909,0.181818,0.181818,0.000000,0.000000,0.000000,0.090909,0.090909,0.181818,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.090909,0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_27,0.500000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_28,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.041667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.208333,0.000000,0.000000,0.000000,0.000000,0.416667,0.000000,0.000000,0.041667,0.000000,0.000000,0.000000,0.000000,0.00,0.166667,0.000000
d_cl_29,0.000000,0.000000,0.000000,0.000000,0.000000,0.618182,0.290909,0.000000,0.000000,0.000000,0.018182,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.072727,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_31,0.833333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_32,0.500000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.00,0.000000,0.000000

 57%|█████████████████████▌                | 68/120 [1:18:28<1:13:15, 84.53s/it]

Procesamiento del user 84 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 85
INFO: Noise Filtering applied
INFO: Clusters generated
(601869, 5) (574, 5) (574, 5) (574, 5) (574, 6)
INFO: 31 clusters generated.

  0%|                                                    | 0/31 [00:00<?, ?it/s]
  3%|█▍                                          | 1/31 [00:09<04:41,  9.37s/it]
  6%|██▊                                         | 2/31 [00:18<04:30,  9.34s/it]
 10%|████▎                                       | 3/31 [00:28<04:24,  9.43s/it]
 13%|█████▋                                      | 4/31 [00:37<04:16,  9.51s/it]
 16%|███████                                     | 5/31 [00:47<04:06,  9.49s/it]
 19%|████████▌                                   | 6/31 [00:56<03:56,  9.48s/it]
 23%|█████████▉                                  | 7/31 [01:06<03:48,  9.51s/it]
 26%|███████████▎                                | 8/31 [01:15<03:38,  9.51s/it]
 29%|████████████▊                               | 9/31 [01:25<03:29,  9.53s/it]
 32%|█████████████▊                             | 10/31 [01:34<03:19,  9.50s/it]
 35%|███████████████▎                           | 11/31 [01:44<03:09,  9.48s/it]
 39%|████████████████▋                          | 12/31 [01:53<03:00,  9.51s/it]
 42%|██████████████████                         | 13/31 [02:03<02:51,  9.52s/it]
 45%|███████████████████▍                       | 14/31 [02:12<02:41,  9.51s/it]
 48%|████████████████████▊                      | 15/31 [02:22<02:31,  9.48s/it]
 52%|██████████████████████▏                    | 16/31 [02:31<02:22,  9.52s/it]
 55%|███████████████████████▌                   | 17/31 [02:41<02:13,  9.54s/it]
 58%|████████████████████████▉                  | 18/31 [02:51<02:03,  9.53s/it]
 61%|██████████████████████████▎                | 19/31 [03:00<01:54,  9.51s/it]
 65%|███████████████████████████▋               | 20/31 [03:09<01:44,  9.49s/it]
 68%|█████████████████████████████▏             | 21/31 [03:19<01:35,  9.52s/it]
 71%|██████████████████████████████▌            | 22/31 [03:29<01:25,  9.51s/it]
 74%|███████████████████████████████▉           | 23/31 [03:38<01:16,  9.56s/it]
 77%|█████████████████████████████████▎         | 24/31 [03:48<01:06,  9.53s/it]
 81%|██████████████████████████████████▋        | 25/31 [03:57<00:57,  9.56s/it]
 84%|████████████████████████████████████       | 26/31 [04:07<00:47,  9.55s/it]
 87%|█████████████████████████████████████▍     | 27/31 [04:16<00:38,  9.51s/it]
 90%|██████████████████████████████████████▊    | 28/31 [04:26<00:28,  9.56s/it]
 94%|████████████████████████████████████████▏  | 29/31 [04:35<00:19,  9.57s/it]
 97%|█████████████████████████████████████████▌ | 30/31 [04:45<00:09,  9.54s/it]
100%|███████████████████████████████████████████| 31/31 [04:54<00:00,  9.52s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
1013,85,2008-02-27 06:50:58,39.980507,116.328400,2008-02-27,d_cl_00,d_cl_08,d_cl_00-d_cl_08
1253,85,2008-02-28 20:58:25,39.965468,116.315115,2008-02-28,d_cl_08,d_cl_00,d_cl_08-d_cl_00
1292,85,2008-02-28 22:14:37,39.980040,116.328093,2008-02-28,d_cl_00,d_cl_26,d_cl_00-d_cl_26
1453,85,2008-02-29 21:21:12,39.973100,116.363602,2008-02-29,d_cl_26,d_cl_00,d_cl_26-d_cl_00
1547,85,2008-03-01 00:51:58,39.981353,116.327183,2008-03-01,d_cl_00,d_cl_08,d_cl_00-d_cl_08
...,...,...,...,...,...,...,...,...
600037,85,2009-09-28 01:23:29,40.038333,116.309424,2009-09-28,d_cl_09,d_cl_05,d_cl_09-d_cl_05
600117,85,2009-09-28 01:25:47,40.031155,116.315603,2009-09-28,d_cl_05,d_cl_06,d_cl_05-d_cl_06
600233,85,2009-09-28 01:27:47,40.011675,116.326185,2009-09-28,d_cl_06,d_cl_15,d_cl_06-d_cl_15
600872,85,2009-09-28 11:02:24,40.069705,116.314650,2009-09-28,d_cl_15,d_cl_14,d_cl_15-d_cl_14
600952,85,2009-09-28 11:03:48,40.069455,116.329810,2009-09-28,d_cl_14,d_cl_01,d_cl_14-d_cl_01

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21,d_cl_22,d_cl_23,d_cl_24,d_cl_25,d_cl_26,d_cl_27,d_cl_28,d_cl_29,d_cl_30
cluster,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.008403,0.016807,0.529412,0.008403,0.000000,0.159664,0.008403,0.151261,0.008403,0.016807,0.000000,0.008403,0.000000,0.008403,0.000000,0.000000,0.008403,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008403,0.025210,0.008403,0.016807,0.008403
d_cl_01,0.092308,0.000000,0.000000,0.015385,0.000000,0.015385,0.076923,0.000000,0.015385,0.030769,0.000000,0.000000,0.000000,0.015385,0.630769,0.092308,0.000000,0.000000,0.000000,0.000000,0.015385,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_02,0.047619,0.000000,0.000000,0.011905,0.011905,0.000000,0.000000,0.000000,0.000000,0.000000,0.535714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011905,0.011905,0.285714,0.023810,0.047619,0.000000,0.000000,0.000000,0.000000,0.011905,0.000000,0.000000
d_cl_03,0.371901,0.000000,0.000000,0.000000,0.008264,0.000000,0.000000,0.561983,0.041322,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008264,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008264,0.000000
d_cl_04,0.026316,0.000000,0.000000,0.008772,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.385965,0.000000,0.000000,0.000000,0.008772,0.570175,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.010000,0.000000,0.010000,0.000000,0.000000,0.490000,0.000000,0.000000,0.480000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.172840,0.111111,0.000000,0.000000,0.000000,0.617284,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.012346,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.086420,0.000000
d_cl_07,0.000000,0.000000,0.000000,0.420168,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.571429,0.008403,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.923077,0.000000,0.000000,0.000000,0.000000,0.038462,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.038462,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.010204,0.000000,0.000000,0.000000,0.489796,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.020833,0.000000,0.812500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020833,0.000000,0.000000,0.000000,0.000000,0.000000,0.145833,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.700000,0.000000
d_cl_13,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.000000,0.483146,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011236,0.000000,0.000000,0.000000,0.000000,0.000000,0.483146,0.011236,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011236
d_cl_15,0.000000,0.040000,0.000000,0.000000,0.000000,0.000000,0.020000,0.000000,0.000000,0.460000,0.000000,0.010000,0.000000,0.000000,0.470000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_16,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.008547,0.000000,0.000000,0.017094,0.555556,0.000000,0.000000,0.401709,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008547,0.000000,0.008547,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_19,0.100000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_21,0.031579,0.010526,0.368421,0.010526,0.031579,0.000000,0.000000,0.010526,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010526,0.000000,0.473684,0.042105,0.000000,0.010526,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_22,0.008850,0.000000,0.026549,0.008850,0.380531,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008850,0.000000,0.000000,0.008850,0.557522,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_23,0.000000,0.000000,0.444444,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.444444,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_24,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000
d_cl_25,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_26,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_27,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.250000,0.000000
d_cl_28,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333
d_cl_29,0.388889,0.055556,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.055556,0.000000,0.000000,0.000000,0.055556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.055556,0.000000,0.000000,0.055556,0.000000,0.000000,0.000000
d_cl_30,0.333333,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 57%|█████████████████████▎               | 69/120 [1:24:08<2:16:59, 161.17s/it]

Procesamiento del user 85 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 88
INFO: Noise Filtering applied
INFO: Clusters generated
(27030, 5) (15, 5) (15, 5) (15, 5) (15, 6)
INFO: 12 clusters generated.

  0%|                                                    | 0/12 [00:00<?, ?it/s]
  8%|███▋                                        | 1/12 [00:00<00:04,  2.41it/s]
 17%|███████▎                                    | 2/12 [00:00<00:04,  2.41it/s]
 25%|███████████                                 | 3/12 [00:01<00:03,  2.41it/s]
 33%|██████████████▋                             | 4/12 [00:01<00:03,  2.40it/s]
 42%|██████████████████▎                         | 5/12 [00:02<00:03,  2.08it/s]
 50%|██████████████████████                      | 6/12 [00:02<00:02,  2.18it/s]
 58%|█████████████████████████▋                  | 7/12 [00:03<00:02,  2.24it/s]
 67%|█████████████████████████████▎              | 8/12 [00:03<00:01,  2.29it/s]
 75%|█████████████████████████████████           | 9/12 [00:03<00:01,  2.32it/s]
 83%|███████████████████████████████████▊       | 10/12 [00:04<00:00,  2.35it/s]
 92%|███████████████████████████████████████▍   | 11/12 [00:04<00:00,  2.37it/s]
100%|███████████████████████████████████████████| 12/12 [00:05<00:00,  2.24it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
77,88,2008-09-26 10:48:40,39.975062,116.333032,2008-09-26,d_cl_11,d_cl_01,d_cl_11-d_cl_01
769,88,2008-09-27 12:39:35,39.938998,116.348113,2008-09-27,d_cl_01,d_cl_02,d_cl_01-d_cl_02
862,88,2008-09-27 12:42:44,39.941932,116.350388,2008-09-27,d_cl_02,d_cl_03,d_cl_02-d_cl_03
1002,88,2008-09-27 12:48:11,39.952707,116.349503,2008-09-27,d_cl_03,d_cl_10,d_cl_03-d_cl_10
1108,88,2008-09-27 12:52:27,39.958582,116.348947,2008-09-27,d_cl_10,d_cl_09,d_cl_10-d_cl_09
1866,88,2008-09-27 23:37:06,39.964523,116.347052,2008-09-27,d_cl_09,d_cl_10,d_cl_09-d_cl_10
2017,88,2008-09-27 23:42:33,39.955210,116.348568,2008-09-27,d_cl_10,d_cl_03,d_cl_10-d_cl_03
2101,88,2008-09-27 23:45:21,39.949223,116.349252,2008-09-27,d_cl_03,d_cl_02,d_cl_03-d_cl_02
2243,88,2008-09-27 23:50:23,39.939898,116.348675,2008-09-27,d_cl_02,d_cl_01,d_cl_02-d_cl_01
2313,88,2008-09-27 23:52:47,39.936727,116.347693,2008-09-27,d_cl_01,d_cl_06,d_cl_01-d_cl_06
3812,88,2008-09-28 13:19:57,39.937163,116.366665,2008-09-28,d_cl_06,d_cl_05,d_cl_06-d_cl_05
3886,88,2008-09-28 13:22:57,39.945387,116.366123,2008-09-28,d_cl_05,d_cl_08,d_cl_05-d_cl_08
4054,88,2008-09-28 13:33:15,39.966893,116.361117,2008-09-28,d_cl_08,d_cl_00,d_cl_08-d_cl_00
4316,88,2008-09-28 23:29:19,39.975288,116.360872,2008-09-28,d_cl_00,d_cl_09,d_cl_00-d_cl_09
4511,88,2008-09-28 23:37:37,39.964612,116.347198,2008-09-28,d_cl_09,d_cl_10,d_cl_09-d_cl_10
4597,88,2008-09-28 23:41:20,39.955147,116.348493,2008-09-28,d_cl_10,d_cl_03,d_cl_10-d_cl_03
4647,88,2008-09-28 23:43:03,39.949242,116.349233,2008-09-28,d_cl_03,d_cl_02,d_cl_03-d_cl_02
4720,88,2008-09-28 23:45:45,39.939968,116.349012,2008-09-28,d_cl_02,d_cl_01,d_cl_02-d_cl_01
4852,88,2008-09-29 09:36:47,39.937163,116.347557,2008-09-29,d_cl_01,d_cl_03,d_cl_01-d_cl_03
4871,88,2008-09-29 09:46:45,39.952710,116.349430,2008-09-29,d_cl_03,d_cl_10,d_cl_03-d_cl_10
4961,88,2008-09-29 09:49:49,39.958597,116.349000,2008-09-29,d_cl_10,d_cl_09,d_cl_10-d_cl_09
5092,88,2008-09-29 09:54:24,39.967623,116.348638,2008-09-29,d_cl_09,d_cl_07,d_cl_09-d_cl_07
5101,88,2008-09-29 09:54:53,39.970427,116.355607,2008-09-29,d_cl_07,d_cl_00,d_cl_07-d_cl_00
5503,88,2008-09-29 11:03:51,39.974680,116.363757,2008-09-29,d_cl_00,d_cl_08,d_cl_00-d_cl_08
5547,88,2008-09-29 11:07:33,39.965187,116.364088,2008-09-29,d_cl_08,d_cl_05,d_cl_08-d_cl_05
5753,88,2008-09-29 11:18:21,39.942012,116.366148,2008-09-29,d_cl_05,d_cl_06,d_cl_05-d_cl_06
5831,88,2008-09-29 11:21:21,39.933705,116.366775,2008-09-29,d_cl_06,d_cl_04,d_cl_06-d_cl_04
7823,88,2008-10-01 01:11:28,39.873087,116.394473,2008-10-01,d_cl_04,d_cl_06,d_cl_04-d_cl_06
8790,88,2008-10-01 02:04:14,39.937192,116.366580,2008-10-01,d_cl_06,d_cl_05,d_cl_06-d_cl_05
8860,88,2008-10-01 02:07:22,39.945432,116.365820,2008-10-01,d_cl_05,d_cl_08,d_cl_05-d_cl_08
9068,88,2008-10-01 02:16:48,39.968315,116.363822,2008-10-01,d_cl_08,d_cl_00,d_cl_08-d_cl_00
10275,88,2008-10-01 11:02:24,39.974615,116.363653,2008-10-01,d_cl_00,d_cl_08,d_cl_00-d_cl_08
10371,88,2008-10-01 11:07:42,39.965010,116.363837,2008-10-01,d_cl_08,d_cl_05,d_cl_08-d_cl_05
10574,88,2008-10-01 11:16:25,39.941942,116.365932,2008-10-01,d_cl_05,d_cl_06,d_cl_05-d_cl_06
10673,88,2008-10-01 11:20:49,39.933747,116.366678,2008-10-01,d_cl_06,d_cl_04,d_cl_06-d_cl_04
15539,88,2008-10-04 23:00:24,39.873213,116.394088,2008-10-04,d_cl_04,d_cl_02,d_cl_04-d_cl_02
16546,88,2008-10-04 23:42:51,39.939848,116.350040,2008-10-04,d_cl_02,d_cl_01,d_cl_02-d_cl_01
17012,88,2008-10-05 09:55:08,39.938702,116.346000,2008-10-05,d_cl_01,d_cl_10,d_cl_01-d_cl_10
17295,88,2008-10-05 10:12:21,39.956663,116.351350,2008-10-05,d_cl_10,d_cl_08,d_cl_10-d_cl_08
17448,88,2008-10-05 10:19:55,39.968295,116.364040,2008-10-05,d_cl_08,d_cl_00,d_cl_08-d_cl_00
17782,88,2008-10-05 23:30:05,39.975468,116.360775,2008-10-05,d_cl_00,d_cl_01,d_cl_00-d_cl_01
17879,88,2008-10-06 08:32:07,39.936228,116.349170,2008-10-06,d_cl_01,d_cl_09,d_cl_01-d_cl_09
18860,88,2008-10-06 23:45:04,39.964553,116.347132,2008-10-06,d_cl_09,d_cl_10,d_cl_09-d_cl_10
18993,88,2008-10-06 23:49:30,39.955142,116.348533,2008-10-06,d_cl_10,d_cl_03,d_cl_10-d_cl_03
19080,88,2008-10-06 23:52:28,39.949240,116.349215,2008-10-06,d_cl_03,d_cl_02,d_cl_03-d_cl_02
19234,88,2008-10-06 23:57:45,39.939830,116.348880,2008-10-06,d_cl_02,d_cl_01,d_cl_02-d_cl_01
19305,88,2008-10-07 00:00:39,39.936253,116.347728,2008-10-07,d_cl_01,d_cl_02,d_cl_01-d_cl_02
19365,88,2008-10-07 10:36:09,39.942310,116.351252,2008-10-07,d_cl_02,d_cl_03,d_cl_02-d_cl_03
19482,88,2008-10-07 10:40:26,39.952723,116.349363,2008-10-07,d_cl_03,d_cl_10,d_cl_03-d_cl_10
19566,88,2008-10-07 10:43:20,39.958567,116.348957,2008-10-07,d_cl_10,d_cl_09,d_cl_10-d_cl_09
19699,88,2008-10-07 10:47:49,39.967680,116.348533,2008-10-07,d_cl_09,d_cl_00,d_cl_09-d_cl_00
21074,88,2008-10-08 10:36:36,39.977695,116.361402,2008-10-08,d_cl_00,d_cl_09,d_cl_00-d_cl_09
21477,88,2008-10-08 23:13:06,39.964523,116.347063,2008-10-08,d_cl_09,d_cl_10,d_cl_09-d_cl_10
21609,88,2008-10-08 23:17:47,39.955143,116.348643,2008-10-08,d_cl_10,d_cl_03,d_cl_10-d_cl_03
21686,88,2008-10-08 23:20:21,39.949293,116.349358,2008-10-08,d_cl_03,d_cl_02,d_cl_03-d_cl_02
21829,88,2008-10-08 23:25:08,39.939848,116.348985,2008-10-08,d_cl_02,d_cl_01,d_cl_02-d_cl_01
21979,88,2008-10-09 11:14:34,39.938248,116.349287,2008-10-09,d_cl_01,d_cl_02,d_cl_01-d_cl_02
21982,88,2008-10-09 11:15:06,39.942903,116.350037,2008-10-09,d_cl_02,d_cl_03,d_cl_02-d_cl_03
21988,88,2008-10-09 11:16:27,39.952618,116.349052,2008-10-09,d_cl_03,d_cl_10,d_cl_03-d_cl_10
21994,88,2008-10-09 11:17:03,39.957412,116.348938,2008-10-09,d_cl_10,d_cl_09,d_cl_10-d_cl_09
22039,88,2008-10-09 11:19:44,39.967662,116.348365,2008-10-09,d_cl_09,d_cl_01,d_cl_09-d_cl_01
22374,88,2008-10-10 08:36:20,39.939023,116.348058,2008-10-10,d_cl_01,d_cl_02,d_cl_01-d_cl_02
22486,88,2008-10-10 08:40:17,39.943262,116.350220,2008-10-10,d_cl_02,d_cl_03,d_cl_02-d_cl_03
22617,88,2008-10-10 08:44:52,39.952697,116.349318,2008-10-10,d_cl_03,d_cl_10,d_cl_03-d_cl_10
22709,88,2008-10-10 08:48:00,39.958610,116.349073,2008-10-10,d_cl_10,d_cl_09,d_cl_10-d_cl_09
22839,88,2008-10-10 08:52:36,39.967643,116.348647,2008-10-10,d_cl_09,d_cl_00,d_cl_09-d_cl_00
26208,88,2008-10-12 06:38:40,39.974562,116.363492,2008-10-12,d_cl_00,d_cl_08,d_cl_00-d_cl_08
26665,88,2008-10-12 07:46:29,39.968285,116.364173,2008-10-12,d_cl_08,d_cl_00,d_cl_08-d_cl_00

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
77,88,2008-09-26 10:48:39.990,39.975062,116.333032,2008-09-26,d_cl_10,d_cl_11,d_cl_11-d_cl_01

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11
cluster,,,,,,,,,,,,
d_cl_00,0.000000,0.166667,0.000000,0.000000,0.0,0.000000,0.000,0.000,0.500000,0.333333,0.000000,0.000000
d_cl_01,0.000000,0.000000,0.500000,0.125000,0.0,0.000000,0.125,0.000,0.000000,0.125000,0.125000,0.000000
d_cl_02,0.000000,0.555556,0.000000,0.444444,0.0,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.000000,0.000000,0.444444,0.000000,0.0,0.000000,0.000,0.000,0.000000,0.000000,0.555556,0.000000
d_cl_04,0.000000,0.000000,0.500000,0.000000,0.0,0.000000,0.500,0.000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.500,0.000,0.500000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.000000,0.000000,0.5,0.500000,0.000,0.000,0.000000,0.000000,0.000000,0.000000
d_cl_07,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.666667,0.000000,0.000000,0.000000,0.0,0.333333,0.000,0.000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.250000,0.125000,0.000000,0.000000,0.0,0.000000,0.000,0.125,0.000000,0.000000,0.500000,0.000000
d_cl_10,0.000000,0.000000,0.000000,0.363636,0.0,0.000000,0.000,0.000,0.090909,0.454545,0.000000,0.090909
d_cl_11,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.000000

 58%|█████████████████████▌               | 70/120 [1:24:14<1:35:31, 114.63s/it]

Procesamiento del user 88 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 89
INFO: Noise Filtering applied
INFO: Clusters generated
(30919, 5) (44, 5) (44, 5) (44, 5) (44, 6)
INFO: 14 clusters generated.

  0%|                                                    | 0/14 [00:00<?, ?it/s]
  7%|███▏                                        | 1/14 [00:00<00:06,  2.14it/s]
 14%|██████▎                                     | 2/14 [00:00<00:05,  2.14it/s]
 21%|█████████▍                                  | 3/14 [00:01<00:05,  2.14it/s]
 29%|████████████▌                               | 4/14 [00:01<00:04,  2.13it/s]
 36%|███████████████▋                            | 5/14 [00:02<00:04,  2.13it/s]
 43%|██████████████████▊                         | 6/14 [00:03<00:04,  1.87it/s]
 50%|██████████████████████                      | 7/14 [00:03<00:03,  1.96it/s]
 57%|█████████████████████████▏                  | 8/14 [00:03<00:02,  2.00it/s]
 64%|████████████████████████████▎               | 9/14 [00:04<00:02,  2.04it/s]
 71%|██████████████████████████████▋            | 10/14 [00:04<00:01,  2.07it/s]
 79%|█████████████████████████████████▊         | 11/14 [00:05<00:01,  2.09it/s]
 86%|████████████████████████████████████▊      | 12/14 [00:05<00:01,  1.89it/s]
 93%|███████████████████████████████████████▉   | 13/14 [00:06<00:00,  1.96it/s]
100%|███████████████████████████████████████████| 14/14 [00:06<00:00,  2.02it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
0,89,2008-04-11 08:38:23,39.975417,116.331300,2008-04-11,d_cl_04,d_cl_05,d_cl_04-d_cl_05
2,89,2008-04-11 11:45:35,39.985567,116.350750,2008-04-11,d_cl_05,d_cl_02,d_cl_05-d_cl_02
3,89,2008-04-11 11:56:01,39.987667,116.431433,2008-04-11,d_cl_02,d_cl_00,d_cl_02-d_cl_00
11,89,2008-04-11 12:08:11,39.987067,116.450867,2008-04-11,d_cl_00,d_cl_06,d_cl_00-d_cl_06
18,89,2008-04-14 10:23:49,39.983900,116.327317,2008-04-14,d_cl_06,d_cl_02,d_cl_06-d_cl_02
...,...,...,...,...,...,...,...,...
27714,89,2008-07-08 04:20:01,39.985900,116.347700,2008-07-08,d_cl_05,d_cl_04,d_cl_05-d_cl_04
27725,89,2008-07-08 11:27:49,39.976850,116.331683,2008-07-08,d_cl_04,d_cl_06,d_cl_04-d_cl_06
27752,89,2008-07-10 11:26:50,39.984350,116.327233,2008-07-10,d_cl_06,d_cl_02,d_cl_06-d_cl_02
27754,89,2008-07-10 11:35:13,39.987633,116.431483,2008-07-10,d_cl_02,d_cl_00,d_cl_02-d_cl_00
27760,89,2008-07-10 11:41:23,39.987500,116.451283,2008-07-10,d_cl_00,d_cl_07,d_cl_00-d_cl_07

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
27760,89,2008-07-10 11:41:23.010,39.9875,116.451283,2008-07-10,d_cl_07,d_cl_02,d_cl_00-d_cl_07

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13
cluster,,,,,,,,,,,,,,
d_cl_00,0.000000,0.041667,0.416667,0.000000,0.125000,0.083333,0.083333,0.041667,0.000000,0.041667,0.000000,0.041667,0.041667,0.083333
d_cl_01,0.000000,0.000000,0.083333,0.333333,0.166667,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333
d_cl_02,0.617647,0.000000,0.000000,0.117647,0.000000,0.117647,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.117647,0.029412
d_cl_03,0.000000,0.400000,0.133333,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.266667,0.000000
d_cl_04,0.045455,0.000000,0.090909,0.000000,0.000000,0.136364,0.681818,0.000000,0.000000,0.000000,0.045455,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.043478,0.086957,0.000000,0.565217,0.000000,0.043478,0.000000,0.000000,0.043478,0.000000,0.000000,0.043478,0.173913
d_cl_06,0.000000,0.000000,0.555556,0.111111,0.055556,0.222222,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.055556,0.000000
d_cl_07,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_11,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.000000,0.000000,0.545455,0.454545,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.000000,0.363636,0.090909,0.000000,0.000000,0.545455,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 59%|██████████████████████▍               | 71/120 [1:24:22<1:07:24, 82.54s/it]

Procesamiento del user 89 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 91
INFO: Noise Filtering applied
INFO: Clusters generated
(11426, 5) (74, 5) (74, 5) (74, 5) (74, 6)
INFO: 8 clusters generated.

  0%|                                                     | 0/8 [00:00<?, ?it/s]
 12%|█████▋                                       | 1/8 [00:00<00:01,  5.64it/s]
 25%|███████████▎                                 | 2/8 [00:00<00:01,  5.49it/s]
 38%|████████████████▉                            | 3/8 [00:00<00:00,  5.50it/s]
 50%|██████████████████████▌                      | 4/8 [00:00<00:00,  5.49it/s]
 62%|████████████████████████████▏                | 5/8 [00:00<00:00,  5.47it/s]
 75%|█████████████████████████████████▊           | 6/8 [00:01<00:00,  5.49it/s]
 88%|███████████████████████████████████████▍     | 7/8 [00:01<00:00,  5.51it/s]
100%|█████████████████████████████████████████████| 8/8 [00:01<00:00,  5.51it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
12,91,2007-08-10 01:43:54,40.084783,116.325217,2007-08-10,d_cl_01,d_cl_00,d_cl_01-d_cl_00
17,91,2007-08-10 01:52:05,40.070250,116.315750,2007-08-10,d_cl_00,d_cl_01,d_cl_00-d_cl_01
21,91,2007-08-14 00:40:51,40.083900,116.325150,2007-08-14,d_cl_01,d_cl_02,d_cl_01-d_cl_02
30,91,2007-08-14 01:23:01,39.975600,116.331567,2007-08-14,d_cl_02,d_cl_01,d_cl_02-d_cl_01
38,91,2007-08-15 01:47:48,40.084150,116.325150,2007-08-15,d_cl_01,d_cl_00,d_cl_01-d_cl_00
...,...,...,...,...,...,...,...,...
10844,91,2008-01-11 22:14:53,39.975790,116.333960,2008-01-11,d_cl_02,d_cl_04,d_cl_02-d_cl_04
10845,91,2008-01-11 22:19:19,39.984352,116.330803,2008-01-11,d_cl_04,d_cl_01,d_cl_04-d_cl_01
10945,91,2008-01-14 22:43:52,40.085233,116.326307,2008-01-14,d_cl_01,d_cl_00,d_cl_01-d_cl_00
10947,91,2008-01-15 08:03:03,40.070868,116.315770,2008-01-15,d_cl_00,d_cl_03,d_cl_00-d_cl_03
10969,91,2008-01-15 11:29:23,39.986835,116.393425,2008-01-15,d_cl_03,d_cl_01,d_cl_03-d_cl_01

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07
cluster,,,,,,,,
d_cl_00,0.000000,0.625000,0.250000,0.0625,0.000000,0.000000,0.000000,0.062500
d_cl_01,0.227273,0.000000,0.545455,0.0000,0.090909,0.022727,0.022727,0.090909
d_cl_02,0.117647,0.529412,0.000000,0.0000,0.176471,0.147059,0.000000,0.029412
d_cl_03,0.000000,1.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.000000,0.250000,0.333333,0.0000,0.000000,0.166667,0.000000,0.250000
d_cl_05,0.090909,0.363636,0.000000,0.0000,0.181818,0.000000,0.000000,0.363636
d_cl_06,0.000000,1.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.076923,0.538462,0.153846,0.0000,0.000000,0.230769,0.000000,0.000000

 60%|████████████████████████                | 72/120 [1:24:24<46:38, 58.31s/it]

Procesamiento del user 91 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 92
INFO: Noise Filtering applied
INFO: Clusters generated
(55640, 5) (281, 5) (281, 5) (281, 5) (281, 6)
INFO: 10 clusters generated.

  0%|                                                    | 0/10 [00:00<?, ?it/s]
 10%|████▍                                       | 1/10 [00:00<00:07,  1.20it/s]
 20%|████████▊                                   | 2/10 [00:01<00:06,  1.20it/s]
 30%|█████████████▏                              | 3/10 [00:02<00:05,  1.19it/s]
 40%|█████████████████▌                          | 4/10 [00:03<00:05,  1.09it/s]
 50%|██████████████████████                      | 5/10 [00:04<00:04,  1.12it/s]
 60%|██████████████████████████▍                 | 6/10 [00:05<00:03,  1.14it/s]
 70%|██████████████████████████████▊             | 7/10 [00:06<00:02,  1.09it/s]
 80%|███████████████████████████████████▏        | 8/10 [00:07<00:01,  1.12it/s]
 90%|███████████████████████████████████████▌    | 9/10 [00:07<00:00,  1.14it/s]
100%|███████████████████████████████████████████| 10/10 [00:08<00:00,  1.14it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
11,92,2007-11-30 17:49:19,39.975648,116.330897,2007-11-30,d_cl_02,d_cl_00,d_cl_02-d_cl_00
1105,92,2007-12-15 12:44:40,39.972085,116.305933,2007-12-15,d_cl_00,d_cl_09,d_cl_00-d_cl_09
1236,92,2007-12-16 15:39:35,39.984890,116.310003,2007-12-16,d_cl_09,d_cl_00,d_cl_09-d_cl_00
1843,92,2007-12-21 18:38:01,39.971433,116.304355,2007-12-21,d_cl_00,d_cl_02,d_cl_00-d_cl_02
2003,92,2007-12-27 10:20:48,39.975342,116.327903,2007-12-27,d_cl_02,d_cl_00,d_cl_02-d_cl_00
...,...,...,...,...,...,...,...,...
38582,92,2008-08-04 13:03:59,39.975412,116.375430,2008-08-04,d_cl_04,d_cl_01,d_cl_04-d_cl_01
41003,92,2008-08-11 08:50:41,40.030135,116.407832,2008-08-11,d_cl_01,d_cl_02,d_cl_01-d_cl_02
41160,92,2008-08-12 07:52:39,39.974948,116.329280,2008-08-12,d_cl_02,d_cl_01,d_cl_02-d_cl_01
41315,92,2008-08-12 08:51:43,40.030293,116.408183,2008-08-12,d_cl_01,d_cl_02,d_cl_01-d_cl_02
41571,92,2008-08-13 07:52:34,39.975402,116.332038,2008-08-13,d_cl_02,d_cl_01,d_cl_02-d_cl_01

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09
cluster,,,,,,,,,,
d_cl_00,0.000000,0.095238,0.214286,0.238095,0.023810,0.000000,0.02381,0.095238,0.190476,0.119048
d_cl_01,0.444444,0.000000,0.333333,0.111111,0.000000,0.111111,0.00000,0.000000,0.000000,0.000000
d_cl_02,0.538462,0.230769,0.000000,0.000000,0.153846,0.000000,0.00000,0.000000,0.076923,0.000000
d_cl_03,0.866667,0.066667,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.066667
d_cl_04,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.600000,0.000000
d_cl_05,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
d_cl_06,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
d_cl_07,0.500000,0.000000,0.000000,0.200000,0.000000,0.000000,0.00000,0.000000,0.300000,0.000000
d_cl_08,0.400000,0.000000,0.000000,0.066667,0.133333,0.000000,0.00000,0.400000,0.000000,0.000000
d_cl_09,0.833333,0.000000,0.000000,0.166667,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000

 61%|████████████████████████▎               | 73/120 [1:24:34<34:25, 43.95s/it]

Procesamiento del user 92 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 93
INFO: Noise Filtering applied
INFO: Clusters generated
(8898, 5) (37, 5) (37, 5) (37, 5) (37, 6)
INFO: 4 clusters generated.

  0%|                                                     | 0/4 [00:00<?, ?it/s]
 25%|███████████▎                                 | 1/4 [00:00<00:00,  6.84it/s]
 50%|██████████████████████▌                      | 2/4 [00:00<00:00,  6.99it/s]
 75%|█████████████████████████████████▊           | 3/4 [00:00<00:00,  4.20it/s]
100%|█████████████████████████████████████████████| 4/4 [00:00<00:00,  5.09it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
757,93,2008-07-20 09:40:19,39.977772,116.330107,2008-07-20,d_cl_00,d_cl_02,d_cl_00-d_cl_02
1140,93,2008-07-20 10:00:27,39.999425,116.328602,2008-07-20,d_cl_02,d_cl_00,d_cl_02-d_cl_00
1290,93,2008-07-31 13:25:55,39.975378,116.332063,2008-07-31,d_cl_00,d_cl_03,d_cl_00-d_cl_03
1456,93,2008-07-31 13:31:42,39.975993,116.336453,2008-07-31,d_cl_03,d_cl_00,d_cl_03-d_cl_00
2921,93,2008-08-17 13:34:05,39.976105,116.332157,2008-08-17,d_cl_00,d_cl_03,d_cl_00-d_cl_03
3113,93,2008-08-19 05:21:39,39.974932,116.335555,2008-08-19,d_cl_03,d_cl_00,d_cl_03-d_cl_00
7223,93,2008-08-25 16:22:24,39.977498,116.331510,2008-08-25,d_cl_00,d_cl_02,d_cl_00-d_cl_02
7585,93,2008-08-29 01:52:35,39.999668,116.324968,2008-08-29,d_cl_02,d_cl_01,d_cl_02-d_cl_01

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
7585,93,2008-08-29 01:52:35.010,39.999668,116.324968,2008-08-29,d_cl_01,d_cl_00,d_cl_02-d_cl_01

cluster_next  d_cl_00  d_cl_01  d_cl_02  d_cl_03
cluster
d_cl_00           0.0      0.0      0.5      0.5
d_cl_01           1.0      0.0      0.0      0.0
d_cl_02           0.5      0.5      0.0      0.0
d_cl_03           1.0      0.0      0.0      0.0

 62%|████████████████████████▋               | 74/120 [1:24:35<23:49, 31.08s/it]

Procesamiento del user 93 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 94
INFO: Noise Filtering applied
INFO: Clusters generated
(2793, 5) (32, 5) (32, 5) (32, 5) (32, 6)
INFO: 2 clusters generated.

100%|█████████████████████████████████████████████| 2/2 [00:00<00:00, 21.96it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
1714,94,2007-08-05 23:36:16,39.975183,116.338383,2007-08-05,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1974,94,2007-08-06 12:25:27,39.984933,116.339683,2007-08-06,d_cl_01,d_cl_00,d_cl_01-d_cl_00
2313,94,2007-08-07 23:29:30,39.975133,116.338633,2007-08-07,d_cl_00,d_cl_01,d_cl_00-d_cl_01
2455,94,2007-08-08 10:54:19,39.985100,116.343767,2007-08-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next  d_cl_00  d_cl_01
cluster
d_cl_00           0.0      1.0
d_cl_01           1.0      0.0

 62%|█████████████████████████               | 75/120 [1:24:35<16:22, 21.83s/it]

Procesamiento del user 94 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 95
INFO: Noise Filtering applied
INFO: Clusters generated
(45558, 5) (45, 5) (45, 5) (45, 5) (45, 6)
INFO: 5 clusters generated.

  0%|                                                     | 0/5 [00:00<?, ?it/s]
 20%|█████████                                    | 1/5 [00:00<00:02,  1.43it/s]
 40%|██████████████████                           | 2/5 [00:01<00:02,  1.44it/s]
 60%|███████████████████████████                  | 3/5 [00:02<00:01,  1.44it/s]
 80%|████████████████████████████████████         | 4/5 [00:02<00:00,  1.30it/s]
100%|█████████████████████████████████████████████| 5/5 [00:03<00:00,  1.37it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
1055,95,2010-12-19 18:33:39,39.976832,116.362820,2010-12-19,d_cl_03,d_cl_04,d_cl_03-d_cl_04
3589,95,2011-01-18 20:27:09,39.975333,116.335350,2011-01-18,d_cl_04,d_cl_01,d_cl_04-d_cl_01
3693,95,2011-02-24 01:12:11,39.941751,116.347709,2011-02-24,d_cl_01,d_cl_02,d_cl_01-d_cl_02
3926,95,2011-02-24 01:37:26,39.994340,116.331758,2011-02-24,d_cl_02,d_cl_01,d_cl_02-d_cl_01
14207,95,2011-02-24 19:09:30,39.941189,116.347222,2011-02-24,d_cl_01,d_cl_02,d_cl_01-d_cl_02
16634,95,2011-03-07 11:26:15,39.991391,116.331927,2011-03-07,d_cl_02,d_cl_01,d_cl_02-d_cl_01
17178,95,2011-03-07 13:59:50,39.940832,116.346807,2011-03-07,d_cl_01,d_cl_00,d_cl_01-d_cl_00

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
1055,95,2010-12-19 18:33:38.990,39.976832,116.36282,2010-12-19,d_cl_01,d_cl_03,d_cl_03-d_cl_04

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
6,95,2011-03-07 13:59:50.010,39.940832,116.346807,2011-03-07,d_cl_00,d_cl_01,d_cl_01-d_cl_00

cluster_next  d_cl_00  d_cl_01  d_cl_02  d_cl_03  d_cl_04
cluster
d_cl_00          0.00      1.0      0.0     0.00      0.0
d_cl_01          0.25      0.0      0.5     0.25      0.0
d_cl_02          0.00      1.0      0.0     0.00      0.0
d_cl_03          0.00      0.0      0.0     0.00      1.0
d_cl_04          0.00      1.0      0.0     0.00      0.0

 63%|█████████████████████████▎              | 76/120 [1:24:40<12:15, 16.72s/it]

Procesamiento del user 95 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 96
INFO: Noise Filtering applied
INFO: Clusters generated
(229901, 5) (124, 5) (124, 5) (124, 5) (124, 6)
INFO: 10 clusters generated.

  0%|                                                    | 0/10 [00:00<?, ?it/s]
 10%|████▍                                       | 1/10 [00:03<00:33,  3.69s/it]
 20%|████████▊                                   | 2/10 [00:07<00:30,  3.79s/it]
 30%|█████████████▏                              | 3/10 [00:11<00:26,  3.74s/it]
 40%|█████████████████▌                          | 4/10 [00:14<00:22,  3.75s/it]
 50%|██████████████████████                      | 5/10 [00:18<00:18,  3.72s/it]
 60%|██████████████████████████▍                 | 6/10 [00:22<00:14,  3.72s/it]
 70%|██████████████████████████████▊             | 7/10 [00:26<00:11,  3.72s/it]
 80%|███████████████████████████████████▏        | 8/10 [00:29<00:07,  3.72s/it]
 90%|███████████████████████████████████████▌    | 9/10 [00:33<00:03,  3.72s/it]
100%|███████████████████████████████████████████| 10/10 [00:37<00:00,  3.73s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
15237,96,2008-07-12 09:32:43,39.987743,116.327102,2008-07-12,d_cl_00,d_cl_01,d_cl_00-d_cl_01
15508,96,2008-07-12 09:41:51,40.009441,116.329176,2008-07-12,d_cl_01,d_cl_02,d_cl_01-d_cl_02
15628,96,2008-07-12 09:43:51,40.026579,116.315832,2008-07-12,d_cl_02,d_cl_09,d_cl_02-d_cl_09
15719,96,2008-07-12 09:45:59,40.034890,116.312714,2008-07-12,d_cl_09,d_cl_06,d_cl_09-d_cl_06
15834,96,2008-07-12 09:47:56,40.050119,116.301070,2008-07-12,d_cl_06,d_cl_07,d_cl_06-d_cl_07
...,...,...,...,...,...,...,...,...
194059,96,2008-11-17 06:45:42,40.034656,116.312820,2008-11-17,d_cl_09,d_cl_06,d_cl_09-d_cl_06
194119,96,2008-11-17 06:47:42,40.050063,116.301108,2008-11-17,d_cl_06,d_cl_07,d_cl_06-d_cl_07
194708,96,2008-11-17 07:12:22,40.088302,116.303356,2008-11-17,d_cl_07,d_cl_00,d_cl_07-d_cl_00
195080,96,2008-11-28 11:49:09,39.987704,116.327004,2008-11-28,d_cl_00,d_cl_03,d_cl_00-d_cl_03
201102,96,2008-11-29 05:10:20,39.966467,116.346501,2008-11-29,d_cl_03,d_cl_00,d_cl_03-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09
cluster,,,,,,,,,,
d_cl_00,0.000000,0.375000,0.000000,0.125,0.125000,0.0,0.125000,0.187500,0.0625,0.000000
d_cl_01,0.285714,0.000000,0.571429,0.000,0.000000,0.0,0.000000,0.071429,0.0000,0.071429
d_cl_02,0.000000,0.437500,0.000000,0.000,0.000000,0.0,0.062500,0.000000,0.0000,0.500000
d_cl_03,1.000000,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000,0.0000,0.000000
d_cl_04,0.000000,0.000000,0.000000,0.000,0.000000,1.0,0.000000,0.000000,0.0000,0.000000
d_cl_05,0.250000,0.000000,0.500000,0.000,0.250000,0.0,0.000000,0.000000,0.0000,0.000000
d_cl_06,0.062500,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.500000,0.0000,0.437500
d_cl_07,0.461538,0.076923,0.000000,0.000,0.076923,0.0,0.384615,0.000000,0.0000,0.000000
d_cl_08,1.000000,0.000000,0.000000,0.000,0.000000,0.0,0.000000,0.000000,0.0000,0.000000
d_cl_09,0.062500,0.000000,0.375000,0.000,0.000000,0.0,0.500000,0.062500,0.0000,0.000000

 64%|█████████████████████████▋              | 77/120 [1:25:27<18:23, 25.67s/it]

Procesamiento del user 96 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 97
INFO: Noise Filtering applied
INFO: Clusters generated
(1554, 5) (43, 5) (43, 5) (43, 5) (43, 6)
INFO: 1 clusters generated.

100%|█████████████████████████████████████████████| 1/1 [00:00<00:00, 37.05it/s]

Empty TrajDataFrame
Columns: [uid, datetime, lat, lng, date, cluster, cluster_next, transition]
Index: []

 65%|██████████████████████████              | 78/120 [1:25:27<12:36, 18.01s/it]

Error en la generación de clusters del user 97
Procesando user 99
INFO: Noise Filtering applied
INFO: Clusters generated
(1267, 5) (14, 5) (14, 5) (14, 5) (14, 6)
INFO: 4 clusters generated.

100%|█████████████████████████████████████████████| 4/4 [00:00<00:00, 46.16it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
2,99,2007-11-30 10:00:16,39.975383,116.328717,2007-11-30,d_cl_03,d_cl_00,d_cl_03-d_cl_00
71,99,2007-12-26 13:39:36,39.988250,116.304600,2007-12-26,d_cl_00,d_cl_02,d_cl_00-d_cl_02
78,99,2007-12-30 03:56:48,39.975567,116.310767,2007-12-30,d_cl_02,d_cl_00,d_cl_02-d_cl_00
187,99,2008-01-07 10:44:10,39.988517,116.305217,2008-01-07,d_cl_00,d_cl_01,d_cl_00-d_cl_01
279,99,2008-01-18 09:47:55,40.107867,116.478233,2008-01-18,d_cl_01,d_cl_02,d_cl_01-d_cl_02
1246,99,2008-03-15 12:00:05,39.976250,116.311117,2008-03-15,d_cl_02,d_cl_00,d_cl_02-d_cl_00

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
2,99,2007-11-30 10:00:15.990,39.975383,116.328717,2007-11-30,d_cl_00,d_cl_03,d_cl_03-d_cl_00

cluster_next  d_cl_00   d_cl_01   d_cl_02   d_cl_03
cluster
d_cl_00           0.0  0.333333  0.333333  0.333333
d_cl_01           0.0  0.000000  1.000000  0.000000
d_cl_02           1.0  0.000000  0.000000  0.000000
d_cl_03           1.0  0.000000  0.000000  0.000000

 66%|██████████████████████████▎             | 79/120 [1:25:27<08:39, 12.67s/it]

Procesamiento del user 99 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 101
INFO: Noise Filtering applied
INFO: Clusters generated
(13738, 5) (185, 5) (185, 5) (185, 5) (185, 6)
INFO: 8 clusters generated.

  0%|                                                     | 0/8 [00:00<?, ?it/s]
 12%|█████▋                                       | 1/8 [00:00<00:01,  4.63it/s]
 25%|███████████▎                                 | 2/8 [00:00<00:01,  4.60it/s]
 38%|████████████████▉                            | 3/8 [00:00<00:01,  4.62it/s]
 50%|██████████████████████▌                      | 4/8 [00:00<00:00,  4.61it/s]
 62%|████████████████████████████▏                | 5/8 [00:01<00:00,  4.59it/s]
 75%|█████████████████████████████████▊           | 6/8 [00:01<00:00,  4.58it/s]
 88%|███████████████████████████████████████▍     | 7/8 [00:01<00:00,  4.60it/s]
100%|█████████████████████████████████████████████| 8/8 [00:01<00:00,  4.57it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
7,101,2007-11-30 17:49:16,39.975383,116.330862,2007-11-30,d_cl_01,d_cl_07,d_cl_01-d_cl_07
522,101,2007-12-02 20:07:04,39.986872,116.387875,2007-12-02,d_cl_07,d_cl_01,d_cl_07-d_cl_01
630,101,2007-12-07 18:30:48,39.974987,116.329358,2007-12-07,d_cl_01,d_cl_04,d_cl_01-d_cl_04
723,101,2007-12-07 18:42:28,39.975040,116.318172,2007-12-07,d_cl_04,d_cl_02,d_cl_04-d_cl_02
742,101,2007-12-07 20:27:46,39.964815,116.319432,2007-12-07,d_cl_02,d_cl_00,d_cl_02-d_cl_00
3041,101,2007-12-27 15:34:11,39.970807,116.310767,2007-12-27,d_cl_00,d_cl_04,d_cl_00-d_cl_04
3396,101,2008-01-15 18:07:09,39.974822,116.319050,2008-01-15,d_cl_04,d_cl_02,d_cl_04-d_cl_02
5782,101,2008-03-02 04:52:42,39.967253,116.318533,2008-03-02,d_cl_02,d_cl_00,d_cl_02-d_cl_00
5826,101,2008-03-02 05:50:51,39.968955,116.309285,2008-03-02,d_cl_00,d_cl_02,d_cl_00-d_cl_02
5979,101,2008-03-02 12:52:42,39.967253,116.318533,2008-03-02,d_cl_02,d_cl_00,d_cl_02-d_cl_00
6023,101,2008-03-02 13:50:51,39.968955,116.309285,2008-03-02,d_cl_00,d_cl_04,d_cl_00-d_cl_04
6863,101,2008-03-09 21:36:46,39.973170,116.319287,2008-03-09,d_cl_04,d_cl_01,d_cl_04-d_cl_01
7181,101,2008-03-24 09:06:31,39.975618,116.330218,2008-03-24,d_cl_01,d_cl_04,d_cl_01-d_cl_04
7255,101,2008-03-24 09:24:11,39.973062,116.318910,2008-03-24,d_cl_04,d_cl_00,d_cl_04-d_cl_00
7294,101,2008-03-24 10:09:49,39.967685,116.310115,2008-03-24,d_cl_00,d_cl_06,d_cl_00-d_cl_06
8251,101,2008-03-30 10:05:19,39.998877,116.284990,2008-03-30,d_cl_06,d_cl_02,d_cl_06-d_cl_02
8560,101,2008-03-30 13:08:29,39.965988,116.318453,2008-03-30,d_cl_02,d_cl_00,d_cl_02-d_cl_00
9820,101,2008-04-07 05:39:59,39.967938,116.310945,2008-04-07,d_cl_00,d_cl_03,d_cl_00-d_cl_03
9841,101,2008-04-11 12:32:03,39.911093,116.314085,2008-04-11,d_cl_03,d_cl_05,d_cl_03-d_cl_05
10068,101,2008-04-18 04:01:10,39.943642,116.318763,2008-04-18,d_cl_05,d_cl_00,d_cl_05-d_cl_00
10611,101,2008-05-09 11:54:27,39.969483,116.309330,2008-05-09,d_cl_00,d_cl_04,d_cl_00-d_cl_04
10726,101,2008-05-22 09:57:39,39.974520,116.316438,2008-05-22,d_cl_04,d_cl_00,d_cl_04-d_cl_00
13478,101,2008-06-29 12:26:10,39.969932,116.307655,2008-06-29,d_cl_00,d_cl_01,d_cl_00-d_cl_01

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07
cluster,,,,,,,,
d_cl_00,0.0,0.142857,0.142857,0.142857,0.428571,0.0,0.142857,0.000000
d_cl_01,0.0,0.000000,0.000000,0.000000,0.666667,0.0,0.000000,0.333333
d_cl_02,1.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_03,0.0,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000
d_cl_04,0.4,0.200000,0.400000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_05,1.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_06,0.0,0.000000,1.000000,0.000000,0.000000,0.0,0.000000,0.000000
d_cl_07,0.0,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000

 67%|██████████████████████████▋             | 80/120 [1:25:29<06:20,  9.51s/it]

Procesamiento del user 101 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 102
INFO: Noise Filtering applied
INFO: Clusters generated
(6678, 5) (33, 5) (33, 5) (33, 5) (33, 6)
INFO: 7 clusters generated.

  0%|                                                     | 0/7 [00:00<?, ?it/s]
 14%|██████▍                                      | 1/7 [00:00<00:00,  9.45it/s]
 29%|████████████▊                                | 2/7 [00:00<00:00,  9.07it/s]
 43%|███████████████████▎                         | 3/7 [00:00<00:00,  9.06it/s]
 57%|█████████████████████████▋                   | 4/7 [00:00<00:00,  8.87it/s]
 71%|████████████████████████████████▏            | 5/7 [00:00<00:00,  8.97it/s]
 86%|██████████████████████████████████████▌      | 6/7 [00:00<00:00,  8.98it/s]
100%|█████████████████████████████████████████████| 7/7 [00:00<00:00,  8.83it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
170,102,2011-10-18 00:46:50,39.967162,116.314805,2011-10-18,d_cl_06,d_cl_01,d_cl_06-d_cl_01
249,102,2011-10-18 00:53:10,39.974912,116.309700,2011-10-18,d_cl_01,d_cl_00,d_cl_01-d_cl_00
446,102,2011-10-19 01:05:21,39.975183,116.323835,2011-10-19,d_cl_00,d_cl_01,d_cl_00-d_cl_01
503,102,2011-10-19 01:09:56,39.974628,116.309677,2011-10-19,d_cl_01,d_cl_00,d_cl_01-d_cl_00
689,102,2011-10-20 22:28:55,39.976507,116.327510,2011-10-20,d_cl_00,d_cl_01,d_cl_00-d_cl_01
797,102,2011-10-21 14:37:58,39.975143,116.313848,2011-10-21,d_cl_01,d_cl_00,d_cl_01-d_cl_00
835,102,2011-10-21 14:41:08,39.975200,116.327780,2011-10-21,d_cl_00,d_cl_01,d_cl_00-d_cl_01
2109,102,2011-10-27 07:35:08,39.974707,116.314115,2011-10-27,d_cl_01,d_cl_00,d_cl_01-d_cl_00
2180,102,2011-10-27 07:41:03,39.976555,116.327205,2011-10-27,d_cl_00,d_cl_01,d_cl_00-d_cl_01
2376,102,2011-10-29 07:14:51,39.974790,116.314082,2011-10-29,d_cl_01,d_cl_00,d_cl_01-d_cl_00
2448,102,2011-10-29 07:20:46,39.976640,116.327272,2011-10-29,d_cl_00,d_cl_05,d_cl_00-d_cl_05
2691,102,2011-10-30 12:52:49,39.979578,116.303585,2011-10-30,d_cl_05,d_cl_00,d_cl_05-d_cl_00
2743,102,2011-11-01 01:27:45,39.974640,116.323822,2011-11-01,d_cl_00,d_cl_01,d_cl_00-d_cl_01
2823,102,2011-11-01 01:34:15,39.975582,116.310093,2011-11-01,d_cl_01,d_cl_05,d_cl_01-d_cl_05
2884,102,2011-11-01 12:23:17,39.980397,116.303952,2011-11-01,d_cl_05,d_cl_00,d_cl_05-d_cl_00
2931,102,2011-11-03 04:41:45,39.975193,116.323817,2011-11-03,d_cl_00,d_cl_01,d_cl_00-d_cl_01
3001,102,2011-11-03 04:47:30,39.974190,116.309763,2011-11-03,d_cl_01,d_cl_03,d_cl_01-d_cl_03
3307,102,2011-11-03 10:34:37,39.980122,116.310600,2011-11-03,d_cl_03,d_cl_01,d_cl_03-d_cl_01
3426,102,2011-11-04 19:41:00,39.974777,116.314048,2011-11-04,d_cl_01,d_cl_00,d_cl_01-d_cl_00
3488,102,2011-11-04 19:46:10,39.976685,116.327102,2011-11-04,d_cl_00,d_cl_01,d_cl_00-d_cl_01
3573,102,2011-11-05 07:14:32,39.974895,116.310233,2011-11-05,d_cl_01,d_cl_00,d_cl_01-d_cl_00
3705,102,2011-11-08 01:59:15,39.975217,116.326502,2011-11-08,d_cl_00,d_cl_01,d_cl_00-d_cl_01
3710,102,2011-11-08 02:04:55,39.974917,116.311653,2011-11-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
3817,102,2011-11-09 04:34:55,39.975695,116.323802,2011-11-09,d_cl_00,d_cl_01,d_cl_00-d_cl_01
4062,102,2011-11-10 20:03:33,39.973793,116.314018,2011-11-10,d_cl_01,d_cl_00,d_cl_01-d_cl_00
4124,102,2011-11-10 20:08:43,39.976625,116.327292,2011-11-10,d_cl_00,d_cl_03,d_cl_00-d_cl_03
4279,102,2011-11-11 02:36:52,39.979648,116.310855,2011-11-11,d_cl_03,d_cl_02,d_cl_03-d_cl_02
4361,102,2011-11-12 12:49:25,39.992197,116.330675,2011-11-12,d_cl_02,d_cl_04,d_cl_02-d_cl_04
4703,102,2011-11-14 07:26:38,39.956470,116.317150,2011-11-14,d_cl_04,d_cl_06,d_cl_04-d_cl_06
4752,102,2011-11-14 07:30:28,39.967160,116.314773,2011-11-14,d_cl_06,d_cl_01,d_cl_06-d_cl_01
4823,102,2011-11-14 07:35:58,39.975930,116.311205,2011-11-14,d_cl_01,d_cl_00,d_cl_01-d_cl_00
4985,102,2011-11-15 01:29:22,39.975095,116.323790,2011-11-15,d_cl_00,d_cl_01,d_cl_00-d_cl_01
5054,102,2011-11-15 01:35:02,39.974618,116.309812,2011-11-15,d_cl_01,d_cl_00,d_cl_01-d_cl_00
5306,102,2011-12-07 16:30:59,39.975645,116.324322,2011-12-07,d_cl_00,d_cl_01,d_cl_00-d_cl_01
5604,102,2011-12-26 02:51:48,39.974860,116.309803,2011-12-26,d_cl_01,d_cl_00,d_cl_01-d_cl_00
5732,102,2011-12-27 01:57:55,39.975152,116.324013,2011-12-27,d_cl_00,d_cl_01,d_cl_00-d_cl_01
5799,102,2011-12-27 02:03:30,39.974885,116.309842,2011-12-27,d_cl_01,d_cl_05,d_cl_01-d_cl_05
5872,102,2011-12-27 02:09:45,39.979633,116.302390,2011-12-27,d_cl_05,d_cl_00,d_cl_05-d_cl_00
6025,102,2011-12-30 04:12:13,39.974872,116.324085,2011-12-30,d_cl_00,d_cl_01,d_cl_00-d_cl_01
6166,102,2011-12-31 08:00:40,39.974753,116.309770,2011-12-31,d_cl_01,d_cl_02,d_cl_01-d_cl_02

cluster_next  d_cl_00   d_cl_01  d_cl_02   d_cl_03  d_cl_04   d_cl_05  d_cl_06
cluster
d_cl_00          0.00  0.866667   0.0000  0.066667      0.0  0.066667      0.0
d_cl_01          0.75  0.000000   0.0625  0.062500      0.0  0.125000      0.0
d_cl_02          0.00  0.000000   0.0000  0.000000      1.0  0.000000      0.0
d_cl_03          0.00  0.500000   0.5000  0.000000      0.0  0.000000      0.0
d_cl_04          0.00  0.000000   0.0000  0.000000      0.0  0.000000      1.0
d_cl_05          1.00  0.000000   0.0000  0.000000      0.0  0.000000      0.0
d_cl_06          0.00  1.000000   0.0000  0.000000      0.0  0.000000      0.0

 68%|███████████████████████████             | 81/120 [1:25:30<04:31,  6.96s/it]

Procesamiento del user 102 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 103
INFO: Noise Filtering applied
INFO: Clusters generated
(36576, 5) (41, 5) (41, 5) (41, 5) (41, 6)
INFO: 8 clusters generated.

  0%|                                                     | 0/8 [00:00<?, ?it/s]
 12%|█████▋                                       | 1/8 [00:00<00:03,  1.80it/s]
 25%|███████████▎                                 | 2/8 [00:01<00:03,  1.78it/s]
 38%|████████████████▉                            | 3/8 [00:01<00:02,  1.79it/s]
 50%|██████████████████████▌                      | 4/8 [00:02<00:02,  1.79it/s]
 62%|████████████████████████████▏                | 5/8 [00:02<00:01,  1.78it/s]
 75%|█████████████████████████████████▊           | 6/8 [00:03<00:01,  1.61it/s]
 88%|███████████████████████████████████████▍     | 7/8 [00:04<00:00,  1.67it/s]
100%|█████████████████████████████████████████████| 8/8 [00:04<00:00,  1.72it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
127,103,2008-08-27 06:01:31,39.975095,116.332818,2008-08-27,d_cl_07,d_cl_06,d_cl_07-d_cl_06
679,103,2008-08-27 09:30:47,39.965470,116.347378,2008-08-27,d_cl_06,d_cl_03,d_cl_06-d_cl_03
752,103,2008-08-27 09:33:19,39.957665,116.347372,2008-08-27,d_cl_03,d_cl_05,d_cl_03-d_cl_05
2487,103,2008-08-27 23:56:41,39.946928,116.350065,2008-08-27,d_cl_05,d_cl_03,d_cl_05-d_cl_03
2593,103,2008-08-28 00:02:49,39.960468,116.348695,2008-08-28,d_cl_03,d_cl_06,d_cl_03-d_cl_06
2642,103,2008-08-28 00:05:14,39.968635,116.348302,2008-08-28,d_cl_06,d_cl_00,d_cl_06-d_cl_00
3707,103,2008-08-28 23:35:56,39.931352,116.299968,2008-08-28,d_cl_00,d_cl_05,d_cl_00-d_cl_05
4237,103,2008-08-29 00:08:00,39.947095,116.350647,2008-08-29,d_cl_05,d_cl_03,d_cl_05-d_cl_03
4396,103,2008-08-29 00:14:17,39.960608,116.349043,2008-08-29,d_cl_03,d_cl_06,d_cl_03-d_cl_06
4459,103,2008-08-29 00:16:53,39.968573,116.348803,2008-08-29,d_cl_06,d_cl_04,d_cl_06-d_cl_04
8669,103,2008-08-31 05:40:24,39.947662,116.369545,2008-08-31,d_cl_04,d_cl_03,d_cl_04-d_cl_03
9311,103,2008-09-02 04:55:34,39.960560,116.348837,2008-09-02,d_cl_03,d_cl_06,d_cl_03-d_cl_06
9738,103,2008-09-02 10:32:41,39.966963,116.347103,2008-09-02,d_cl_06,d_cl_05,d_cl_06-d_cl_05
9751,103,2008-09-02 10:41:40,39.945865,116.349897,2008-09-02,d_cl_05,d_cl_00,d_cl_05-d_cl_00
13897,103,2008-09-04 09:12:52,39.930290,116.298360,2008-09-04,d_cl_00,d_cl_05,d_cl_00-d_cl_05
14750,103,2008-09-05 04:53:16,39.947073,116.350368,2008-09-05,d_cl_05,d_cl_03,d_cl_05-d_cl_03
14877,103,2008-09-05 04:58:02,39.960688,116.348893,2008-09-05,d_cl_03,d_cl_06,d_cl_03-d_cl_06
15408,103,2008-09-05 09:49:48,39.965632,116.347107,2008-09-05,d_cl_06,d_cl_03,d_cl_06-d_cl_03
15471,103,2008-09-05 09:51:58,39.957508,116.347593,2008-09-05,d_cl_03,d_cl_05,d_cl_03-d_cl_05
15648,103,2008-09-05 09:58:54,39.943590,116.350410,2008-09-05,d_cl_05,d_cl_00,d_cl_05-d_cl_00
17478,103,2008-09-06 14:09:34,39.930978,116.297598,2008-09-06,d_cl_00,d_cl_03,d_cl_00-d_cl_03
17557,103,2008-09-08 05:16:42,39.960682,116.348875,2008-09-08,d_cl_03,d_cl_06,d_cl_03-d_cl_06
17619,103,2008-09-08 05:18:58,39.968508,116.348475,2008-09-08,d_cl_06,d_cl_02,d_cl_06-d_cl_02
18682,103,2008-09-08 13:47:03,39.970920,116.301148,2008-09-08,d_cl_02,d_cl_05,d_cl_02-d_cl_05
19403,103,2008-09-09 05:05:52,39.947055,116.350367,2008-09-09,d_cl_05,d_cl_03,d_cl_05-d_cl_03
19544,103,2008-09-09 05:11:18,39.960513,116.348840,2008-09-09,d_cl_03,d_cl_06,d_cl_03-d_cl_06
20120,103,2008-09-09 09:38:48,39.965512,116.347230,2008-09-09,d_cl_06,d_cl_03,d_cl_06-d_cl_03
20181,103,2008-09-09 09:40:54,39.957310,116.348037,2008-09-09,d_cl_03,d_cl_05,d_cl_03-d_cl_05
20330,103,2008-09-09 09:46:16,39.943578,116.350013,2008-09-09,d_cl_05,d_cl_06,d_cl_05-d_cl_06
23782,103,2008-09-11 23:27:57,39.966212,116.350698,2008-09-11,d_cl_06,d_cl_00,d_cl_06-d_cl_00
33392,103,2008-09-18 00:07:30,39.930335,116.298438,2008-09-18,d_cl_00,d_cl_05,d_cl_00-d_cl_05
33933,103,2008-09-18 05:02:08,39.947020,116.350172,2008-09-18,d_cl_05,d_cl_03,d_cl_05-d_cl_03
34042,103,2008-09-18 05:08:52,39.960420,116.348608,2008-09-18,d_cl_03,d_cl_06,d_cl_03-d_cl_06
34065,103,2008-09-18 05:11:21,39.968482,116.348332,2008-09-18,d_cl_06,d_cl_05,d_cl_06-d_cl_05
35006,103,2008-09-19 06:39:30,39.947052,116.350493,2008-09-19,d_cl_05,d_cl_03,d_cl_05-d_cl_03
35107,103,2008-09-19 06:43:12,39.960692,116.349083,2008-09-19,d_cl_03,d_cl_06,d_cl_03-d_cl_06
35779,103,2008-09-19 09:40:21,39.967437,116.347065,2008-09-19,d_cl_06,d_cl_00,d_cl_06-d_cl_00
35846,103,2008-09-19 10:36:43,39.929830,116.297977,2008-09-19,d_cl_00,d_cl_02,d_cl_00-d_cl_02
36091,103,2008-09-20 06:37:12,39.973975,116.300677,2008-09-20,d_cl_02,d_cl_00,d_cl_02-d_cl_00

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
127,103,2008-08-27 06:01:30.990,39.975095,116.332818,2008-08-27,d_cl_03,d_cl_07,d_cl_07-d_cl_06

cluster_next,d_cl_00,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07
cluster,,,,,,,
d_cl_00,0.000000,0.2,0.200000,0.0,0.60,0.000000,0.000000
d_cl_02,0.500000,0.0,0.000000,0.0,0.50,0.000000,0.000000
d_cl_03,0.000000,0.0,0.000000,0.0,0.25,0.666667,0.083333
d_cl_04,0.000000,0.0,1.000000,0.0,0.00,0.000000,0.000000
d_cl_05,0.222222,0.0,0.666667,0.0,0.00,0.111111,0.000000
d_cl_06,0.300000,0.1,0.300000,0.1,0.20,0.000000,0.000000
d_cl_07,0.000000,0.0,0.000000,0.0,0.00,1.000000,0.000000

 68%|███████████████████████████▎            | 82/120 [1:25:36<04:11,  6.61s/it]

Procesamiento del user 103 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 104
INFO: Noise Filtering applied
INFO: Clusters generated
(38571, 5) (180, 5) (180, 5) (180, 5) (180, 6)
INFO: 20 clusters generated.

  0%|                                                    | 0/20 [00:00<?, ?it/s]
  5%|██▏                                         | 1/20 [00:00<00:11,  1.71it/s]
 10%|████▍                                       | 2/20 [00:01<00:12,  1.45it/s]
 15%|██████▌                                     | 3/20 [00:01<00:10,  1.55it/s]
 20%|████████▊                                   | 4/20 [00:02<00:09,  1.60it/s]
 25%|███████████                                 | 5/20 [00:03<00:09,  1.64it/s]
 30%|█████████████▏                              | 6/20 [00:03<00:08,  1.66it/s]
 35%|███████████████▍                            | 7/20 [00:04<00:08,  1.52it/s]
 40%|█████████████████▌                          | 8/20 [00:05<00:07,  1.57it/s]
 45%|███████████████████▊                        | 9/20 [00:05<00:06,  1.62it/s]
 50%|█████████████████████▌                     | 10/20 [00:06<00:06,  1.64it/s]
 55%|███████████████████████▋                   | 11/20 [00:06<00:05,  1.66it/s]
 60%|█████████████████████████▊                 | 12/20 [00:07<00:04,  1.68it/s]
 65%|███████████████████████████▉               | 13/20 [00:08<00:04,  1.55it/s]
 70%|██████████████████████████████             | 14/20 [00:08<00:03,  1.59it/s]
 75%|████████████████████████████████▎          | 15/20 [00:09<00:03,  1.63it/s]
 80%|██████████████████████████████████▍        | 16/20 [00:09<00:02,  1.66it/s]
 85%|████████████████████████████████████▌      | 17/20 [00:10<00:01,  1.68it/s]
 90%|██████████████████████████████████████▋    | 18/20 [00:11<00:01,  1.54it/s]
 95%|████████████████████████████████████████▊  | 19/20 [00:11<00:00,  1.59it/s]
100%|███████████████████████████████████████████| 20/20 [00:12<00:00,  1.61it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
24,104,2007-11-30 17:50:22,39.975400,116.330078,2007-11-30,d_cl_02,d_cl_00,d_cl_02-d_cl_00
148,104,2007-11-30 20:31:57,39.992225,116.298340,2007-11-30,d_cl_00,d_cl_06,d_cl_00-d_cl_06
188,104,2007-11-30 20:46:41,39.974278,116.297928,2007-11-30,d_cl_06,d_cl_04,d_cl_06-d_cl_04
331,104,2007-12-01 10:40:37,39.948210,116.303925,2007-12-01,d_cl_04,d_cl_01,d_cl_04-d_cl_01
354,104,2007-12-02 20:23:32,39.930992,116.301862,2007-12-02,d_cl_01,d_cl_04,d_cl_01-d_cl_04
...,...,...,...,...,...,...,...,...
35689,104,2008-10-11 10:44:52,39.948183,116.303588,2008-10-11,d_cl_04,d_cl_09,d_cl_04-d_cl_09
35827,104,2008-10-11 10:51:33,39.963200,116.304122,2008-10-11,d_cl_09,d_cl_06,d_cl_09-d_cl_06
36212,104,2008-10-11 11:09:35,39.973788,116.299858,2008-10-11,d_cl_06,d_cl_08,d_cl_06-d_cl_08
36654,104,2008-10-12 16:00:28,39.956167,116.332940,2008-10-12,d_cl_08,d_cl_16,d_cl_08-d_cl_16
36854,104,2008-10-12 16:07:36,39.966803,116.328672,2008-10-12,d_cl_16,d_cl_00,d_cl_16-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19
cluster,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.040816,0.020408,0.306122,0.020408,0.000000,0.204082,0.020408,0.0000,0.142857,0.000000,0.020408,0.000000,0.000000,0.081633,0.000000,0.061224,0.040816,0.020408,0.020408
d_cl_01,0.083333,0.000000,0.000000,0.000000,0.500000,0.000000,0.166667,0.083333,0.0000,0.000000,0.083333,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_02,0.500000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.615385,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.230769,0.000000,0.000000,0.000000,0.038462,0.000000,0.076923,0.038462,0.000000
d_cl_04,0.071429,0.214286,0.000000,0.000000,0.000000,0.000000,0.071429,0.071429,0.0000,0.428571,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.2500,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.437500,0.000000,0.000000,0.125000,0.125000,0.000000,0.000000,0.000000,0.0625,0.000000,0.125000,0.000000,0.062500,0.000000,0.062500,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.100000,0.100000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.100000,0.100000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.0000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.400000,0.200000,0.000000,0.000000,0.000000
d_cl_09,0.428571,0.142857,0.000000,0.000000,0.214286,0.000000,0.071429,0.000000,0.0000,0.000000,0.000000,0.071429,0.000000,0.000000,0.000000,0.000000,0.000000,0.071429,0.000000,0.000000
d_cl_10,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.066667,0.000000,0.000000,0.400000,0.000000,0.066667,0.000000,0.066667,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.133333,0.000000,0.266667,0.000000,0.000000
d_cl_12,0.250000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000
d_cl_13,0.125000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.125000,0.0000,0.000000,0.000000,0.125000,0.125000,0.000000,0.000000,0.375000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.166667,0.166667,0.000000,0.166667,0.000000,0.166667,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000
d_cl_15,0.066667,0.000000,0.000000,0.066667,0.000000,0.000000,0.000000,0.133333,0.2000,0.000000,0.000000,0.133333,0.000000,0.266667,0.000000,0.000000,0.000000,0.133333,0.000000,0.000000
d_cl_16,0.250000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.250000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000
d_cl_17,0.166667,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,0.083333,0.0000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.800000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_19,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 69%|███████████████████████████▋            | 83/120 [1:25:49<05:20,  8.66s/it]

Procesamiento del user 104 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 110
INFO: Noise Filtering applied
INFO: Clusters generated
(5520, 5) (36, 5) (36, 5) (36, 5) (36, 6)
INFO: 4 clusters generated.

  0%|                                                     | 0/4 [00:00<?, ?it/s]
 50%|██████████████████████▌                      | 2/4 [00:00<00:00, 11.25it/s]
100%|█████████████████████████████████████████████| 4/4 [00:00<00:00, 11.20it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
43,110,2007-11-30 18:00:58,39.975403,116.327955,2007-11-30,d_cl_01,d_cl_00,d_cl_01-d_cl_00
180,110,2007-12-04 12:37:36,39.988418,116.309825,2007-12-04,d_cl_00,d_cl_01,d_cl_00-d_cl_01
188,110,2007-12-04 12:49:53,39.977460,116.330752,2007-12-04,d_cl_01,d_cl_00,d_cl_01-d_cl_00
598,110,2007-12-08 17:31:25,39.987157,116.309898,2007-12-08,d_cl_00,d_cl_01,d_cl_00-d_cl_01
785,110,2007-12-14 14:42:09,39.975338,116.330045,2007-12-14,d_cl_01,d_cl_00,d_cl_01-d_cl_00
1252,110,2007-12-26 13:27:02,39.988050,116.310397,2007-12-26,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1297,110,2007-12-26 15:24:17,39.975452,116.327922,2007-12-26,d_cl_01,d_cl_00,d_cl_01-d_cl_00
2325,110,2008-01-15 18:20:50,39.988992,116.310177,2008-01-15,d_cl_00,d_cl_01,d_cl_00-d_cl_01
2331,110,2008-01-15 20:08:27,39.976072,116.331480,2008-01-15,d_cl_01,d_cl_03,d_cl_01-d_cl_03
3747,110,2008-01-18 18:12:57,39.986977,116.392057,2008-01-18,d_cl_03,d_cl_00,d_cl_03-d_cl_00
4575,110,2008-03-19 08:36:28,39.989350,116.309463,2008-03-19,d_cl_00,d_cl_02,d_cl_00-d_cl_02
4587,110,2008-03-19 08:49:27,39.999735,116.323433,2008-03-19,d_cl_02,d_cl_00,d_cl_02-d_cl_00
5053,110,2008-03-19 16:48:27,39.989493,116.308732,2008-03-19,d_cl_00,d_cl_02,d_cl_00-d_cl_02
5333,110,2008-03-20 09:58:06,39.999735,116.322917,2008-03-20,d_cl_02,d_cl_01,d_cl_02-d_cl_01

cluster_next  d_cl_00   d_cl_01   d_cl_02  d_cl_03
cluster
d_cl_00           0.0  0.666667  0.333333      0.0
d_cl_01           0.8  0.000000  0.000000      0.2
d_cl_02           0.5  0.500000  0.000000      0.0
d_cl_03           1.0  0.000000  0.000000      0.0

 70%|████████████████████████████            | 84/120 [1:25:50<03:44,  6.23s/it]

Procesamiento del user 110 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 111
INFO: Noise Filtering applied
INFO: Clusters generated
(15326, 5) (28, 5) (28, 5) (28, 5) (28, 6)
INFO: 12 clusters generated.

  0%|                                                    | 0/12 [00:00<?, ?it/s]
  8%|███▋                                        | 1/12 [00:00<00:02,  4.20it/s]
 17%|███████▎                                    | 2/12 [00:00<00:02,  4.17it/s]
 25%|███████████                                 | 3/12 [00:00<00:02,  4.00it/s]
 33%|██████████████▋                             | 4/12 [00:00<00:01,  4.06it/s]
 42%|██████████████████▎                         | 5/12 [00:01<00:01,  4.09it/s]
 50%|██████████████████████                      | 6/12 [00:01<00:01,  3.29it/s]
 58%|█████████████████████████▋                  | 7/12 [00:01<00:01,  3.51it/s]
 67%|█████████████████████████████▎              | 8/12 [00:02<00:01,  3.66it/s]
 75%|█████████████████████████████████           | 9/12 [00:02<00:00,  3.79it/s]
 83%|███████████████████████████████████▊       | 10/12 [00:02<00:00,  3.91it/s]
 92%|███████████████████████████████████████▍   | 11/12 [00:02<00:00,  3.97it/s]
100%|███████████████████████████████████████████| 12/12 [00:03<00:00,  3.86it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
42,111,2007-04-14 03:39:30,39.967383,116.372333,2007-04-14,d_cl_02,d_cl_08,d_cl_02-d_cl_08
57,111,2007-04-14 03:43:38,39.966700,116.359633,2007-04-14,d_cl_08,d_cl_06,d_cl_08-d_cl_06
64,111,2007-04-14 03:45:45,39.966817,116.350133,2007-04-14,d_cl_06,d_cl_11,d_cl_06-d_cl_11
84,111,2007-04-14 03:50:49,39.975250,116.342650,2007-04-14,d_cl_11,d_cl_09,d_cl_11-d_cl_09
94,111,2007-04-14 03:52:51,39.975217,116.335717,2007-04-14,d_cl_09,d_cl_02,d_cl_09-d_cl_02
168,111,2007-04-15 01:13:54,39.968367,116.374833,2007-04-15,d_cl_02,d_cl_10,d_cl_02-d_cl_10
1387,111,2007-04-15 08:50:10,39.999217,116.346300,2007-04-15,d_cl_10,d_cl_11,d_cl_10-d_cl_11
1421,111,2007-04-15 08:58:39,39.975333,116.346667,2007-04-15,d_cl_11,d_cl_09,d_cl_11-d_cl_09
1426,111,2007-04-15 09:01:58,39.975233,116.335250,2007-04-15,d_cl_09,d_cl_02,d_cl_09-d_cl_02
1439,111,2007-04-15 10:49:54,39.966883,116.374583,2007-04-15,d_cl_02,d_cl_09,d_cl_02-d_cl_09
1466,111,2007-04-16 14:47:46,39.975100,116.337000,2007-04-16,d_cl_09,d_cl_11,d_cl_09-d_cl_11
1468,111,2007-04-16 14:48:59,39.975150,116.345883,2007-04-16,d_cl_11,d_cl_02,d_cl_11-d_cl_02
1474,111,2007-04-16 14:54:12,39.966217,116.373717,2007-04-16,d_cl_02,d_cl_07,d_cl_02-d_cl_07
1563,111,2007-04-18 01:05:07,39.967583,116.397417,2007-04-18,d_cl_07,d_cl_02,d_cl_07-d_cl_02
1573,111,2007-04-18 01:11:02,39.966783,116.372717,2007-04-18,d_cl_02,d_cl_08,d_cl_02-d_cl_08
1580,111,2007-04-18 01:16:20,39.966600,116.360467,2007-04-18,d_cl_08,d_cl_06,d_cl_08-d_cl_06
1582,111,2007-04-18 01:18:15,39.966533,116.350450,2007-04-18,d_cl_06,d_cl_11,d_cl_06-d_cl_11
1592,111,2007-04-18 01:23:09,39.975317,116.343567,2007-04-18,d_cl_11,d_cl_09,d_cl_11-d_cl_09
1600,111,2007-04-18 01:27:16,39.975467,116.336733,2007-04-18,d_cl_09,d_cl_06,d_cl_09-d_cl_06
1633,111,2007-04-18 13:46:06,39.966117,116.351300,2007-04-18,d_cl_06,d_cl_08,d_cl_06-d_cl_08
1643,111,2007-04-18 13:49:32,39.965750,116.363633,2007-04-18,d_cl_08,d_cl_02,d_cl_08-d_cl_02
1823,111,2007-04-19 01:20:16,39.966950,116.372733,2007-04-19,d_cl_02,d_cl_08,d_cl_02-d_cl_08
1827,111,2007-04-19 01:24:52,39.966767,116.361617,2007-04-19,d_cl_08,d_cl_06,d_cl_08-d_cl_06
1830,111,2007-04-19 01:27:56,39.966550,116.350850,2007-04-19,d_cl_06,d_cl_11,d_cl_06-d_cl_11
1841,111,2007-04-19 01:32:55,39.975217,116.343483,2007-04-19,d_cl_11,d_cl_09,d_cl_11-d_cl_09
1855,111,2007-04-19 01:43:26,39.975283,116.335600,2007-04-19,d_cl_09,d_cl_01,d_cl_09-d_cl_01
1868,111,2007-04-19 13:19:06,39.976150,116.329067,2007-04-19,d_cl_01,d_cl_09,d_cl_01-d_cl_09
1872,111,2007-04-19 13:20:29,39.975033,116.335367,2007-04-19,d_cl_09,d_cl_07,d_cl_09-d_cl_07
1892,111,2007-04-20 01:02:44,39.967583,116.397317,2007-04-20,d_cl_07,d_cl_02,d_cl_07-d_cl_02
1905,111,2007-04-20 01:10:00,39.966917,116.372217,2007-04-20,d_cl_02,d_cl_08,d_cl_02-d_cl_08
1907,111,2007-04-20 01:12:06,39.966767,116.361883,2007-04-20,d_cl_08,d_cl_06,d_cl_08-d_cl_06
1909,111,2007-04-20 01:14:41,39.966767,116.350017,2007-04-20,d_cl_06,d_cl_09,d_cl_06-d_cl_09
1929,111,2007-04-20 01:25:47,39.975367,116.334683,2007-04-20,d_cl_09,d_cl_01,d_cl_09-d_cl_01
1955,111,2007-04-20 08:32:31,39.976600,116.330067,2007-04-20,d_cl_01,d_cl_06,d_cl_01-d_cl_06
2587,111,2007-04-23 14:21:22,39.966200,116.351617,2007-04-23,d_cl_06,d_cl_02,d_cl_06-d_cl_02
2591,111,2007-04-23 14:23:39,39.966233,116.373767,2007-04-23,d_cl_02,d_cl_01,d_cl_02-d_cl_01
2617,111,2007-04-27 06:15:08,39.976883,116.328833,2007-04-27,d_cl_01,d_cl_05,d_cl_01-d_cl_05
2623,111,2007-06-08 23:21:14,39.906500,116.386567,2007-06-08,d_cl_05,d_cl_11,d_cl_05-d_cl_11
3455,111,2007-06-10 09:59:45,39.975200,116.342083,2007-06-10,d_cl_11,d_cl_09,d_cl_11-d_cl_09
3457,111,2007-06-10 10:01:57,39.975183,116.337350,2007-06-10,d_cl_09,d_cl_01,d_cl_09-d_cl_01
4987,111,2007-08-20 00:52:42,39.977283,116.330250,2007-08-20,d_cl_01,d_cl_04,d_cl_01-d_cl_04
4993,111,2007-09-05 00:24:49,40.084067,116.577800,2007-09-05,d_cl_04,d_cl_00,d_cl_04-d_cl_00
5502,111,2009-07-15 00:25:57,40.064767,116.422467,2009-07-15,d_cl_00,d_cl_03,d_cl_00-d_cl_03

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
5502,111,2009-07-15 00:25:57.010,40.064767,116.422467,2009-07-15,d_cl_03,d_cl_09,d_cl_00-d_cl_03

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11
cluster,,,,,,,,,,,,
d_cl_00,0.0,0.000,0.000000,1.0,0.00,0.00,0.000,0.000,0.000000,0.000000,0.000,0.000
d_cl_01,0.0,0.000,0.000000,0.0,0.25,0.25,0.250,0.000,0.000000,0.250000,0.000,0.000
d_cl_02,0.0,0.125,0.000000,0.0,0.00,0.00,0.000,0.125,0.500000,0.125000,0.125,0.000
d_cl_03,0.0,0.000,0.000000,0.0,0.00,0.00,0.000,0.000,0.000000,1.000000,0.000,0.000
d_cl_04,1.0,0.000,0.000000,0.0,0.00,0.00,0.000,0.000,0.000000,0.000000,0.000,0.000
d_cl_05,0.0,0.000,0.000000,0.0,0.00,0.00,0.000,0.000,0.000000,0.000000,0.000,1.000
d_cl_06,0.0,0.000,0.166667,0.0,0.00,0.00,0.000,0.000,0.166667,0.166667,0.000,0.500
d_cl_07,0.0,0.000,1.000000,0.0,0.00,0.00,0.000,0.000,0.000000,0.000000,0.000,0.000
d_cl_08,0.0,0.000,0.200000,0.0,0.00,0.00,0.800,0.000,0.000000,0.000000,0.000,0.000
d_cl_09,0.0,0.375,0.250000,0.0,0.00,0.00,0.125,0.125,0.000000,0.000000,0.000,0.125
d_cl_10,0.0,0.000,0.000000,0.0,0.00,0.00,0.000,0.000,0.000000,0.000000,0.000,1.000
d_cl_11,0.0,0.000,0.166667,0.0,0.00,0.00,0.000,0.000,0.000000,0.833333,0.000,0.000

 71%|████████████████████████████▎           | 85/120 [1:25:54<03:09,  5.42s/it]

Procesamiento del user 111 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 112
INFO: Noise Filtering applied
INFO: Clusters generated
(90563, 5) (297, 5) (297, 5) (297, 5) (297, 6)
INFO: 2 clusters generated.

  0%|                                                     | 0/2 [00:00<?, ?it/s]
 50%|██████████████████████▌                      | 1/2 [00:01<00:01,  1.55s/it]
100%|█████████████████████████████████████████████| 2/2 [00:02<00:00,  1.46s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
6375,112,2008-04-18 14:33:56,39.975770,116.330908,2008-04-18,d_cl_00,d_cl_01,d_cl_00-d_cl_01
6385,112,2008-04-22 13:24:06,39.986648,116.393633,2008-04-22,d_cl_01,d_cl_00,d_cl_01-d_cl_00
6673,112,2008-04-25 08:18:30,39.975022,116.330727,2008-04-25,d_cl_00,d_cl_01,d_cl_00-d_cl_01
6831,112,2008-04-25 08:32:48,39.986637,116.393785,2008-04-25,d_cl_01,d_cl_00,d_cl_01-d_cl_00
32698,112,2008-05-30 07:00:13,39.976542,116.327642,2008-05-30,d_cl_00,d_cl_01,d_cl_00-d_cl_01
35931,112,2008-05-30 12:37:18,39.986843,116.389983,2008-05-30,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next  d_cl_00  d_cl_01
cluster
d_cl_00           0.0      1.0
d_cl_01           1.0      0.0

 72%|████████████████████████████▋           | 86/120 [1:25:59<03:05,  5.45s/it]

Procesamiento del user 112 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 113
INFO: Noise Filtering applied
INFO: Clusters generated
(24531, 5) (33, 5) (33, 5) (33, 5) (33, 6)
INFO: 8 clusters generated.

  0%|                                                     | 0/8 [00:00<?, ?it/s]
 12%|█████▋                                       | 1/8 [00:00<00:03,  1.80it/s]
 25%|███████████▎                                 | 2/8 [00:00<00:02,  2.23it/s]
 38%|████████████████▉                            | 3/8 [00:01<00:02,  2.39it/s]
 50%|██████████████████████▌                      | 4/8 [00:01<00:01,  2.49it/s]
 62%|████████████████████████████▏                | 5/8 [00:02<00:01,  2.55it/s]
 75%|█████████████████████████████████▊           | 6/8 [00:02<00:00,  2.59it/s]
 88%|███████████████████████████████████████▍     | 7/8 [00:02<00:00,  2.62it/s]
100%|█████████████████████████████████████████████| 8/8 [00:03<00:00,  2.49it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
20,113,2010-05-10 10:36:59,39.980873,116.321380,2010-05-10,d_cl_07,d_cl_04,d_cl_07-d_cl_04
153,113,2010-05-10 10:47:24,39.984679,116.331197,2010-05-10,d_cl_04,d_cl_02,d_cl_04-d_cl_02
168,113,2010-05-10 10:48:39,39.985242,116.341442,2010-05-10,d_cl_02,d_cl_03,d_cl_02-d_cl_03
381,113,2010-05-10 11:06:09,40.021451,116.402539,2010-05-10,d_cl_03,d_cl_00,d_cl_03-d_cl_00
434,113,2010-05-10 11:10:24,40.039124,116.405560,2010-05-10,d_cl_00,d_cl_01,d_cl_00-d_cl_01
...,...,...,...,...,...,...,...,...
24020,113,2010-06-03 10:36:37,39.980568,116.321297,2010-06-03,d_cl_07,d_cl_04,d_cl_07-d_cl_04
24123,113,2010-06-03 10:44:57,39.984722,116.331345,2010-06-03,d_cl_04,d_cl_02,d_cl_04-d_cl_02
24167,113,2010-06-03 10:48:32,39.985260,116.342009,2010-06-03,d_cl_02,d_cl_03,d_cl_02-d_cl_03
24366,113,2010-06-03 11:04:52,40.021313,116.402525,2010-06-03,d_cl_03,d_cl_00,d_cl_03-d_cl_00
24422,113,2010-06-03 11:09:17,40.038991,116.405481,2010-06-03,d_cl_00,d_cl_01,d_cl_00-d_cl_01

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07
cluster,,,,,,,,
d_cl_00,0.000000,0.516129,0.000000,0.483871,0.000000,0.000000,0.000000,0.000000
d_cl_01,0.875000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000
d_cl_02,0.000000,0.000000,0.000000,0.484848,0.515152,0.000000,0.000000,0.000000
d_cl_03,0.484848,0.000000,0.000000,0.000000,0.000000,0.515152,0.000000,0.000000
d_cl_04,0.030303,0.000000,0.484848,0.000000,0.000000,0.000000,0.000000,0.484848
d_cl_05,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.062500,0.000000,0.000000,0.125000,0.000000,0.000000,0.812500
d_cl_07,0.000000,0.000000,0.000000,0.000000,0.466667,0.000000,0.533333,0.000000

 72%|█████████████████████████████           | 87/120 [1:26:03<02:43,  4.95s/it]

Procesamiento del user 113 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 114
INFO: Noise Filtering applied
INFO: Clusters generated
(12332, 5) (24, 5) (24, 5) (24, 5) (24, 6)
INFO: 8 clusters generated.

  0%|                                                     | 0/8 [00:00<?, ?it/s]
 12%|█████▋                                       | 1/8 [00:00<00:01,  5.17it/s]
 25%|███████████▎                                 | 2/8 [00:00<00:01,  5.21it/s]
 38%|████████████████▉                            | 3/8 [00:00<00:01,  3.48it/s]
 50%|██████████████████████▌                      | 4/8 [00:00<00:00,  4.01it/s]
 62%|████████████████████████████▏                | 5/8 [00:01<00:00,  4.38it/s]
 75%|█████████████████████████████████▊           | 6/8 [00:01<00:00,  4.61it/s]
 88%|███████████████████████████████████████▍     | 7/8 [00:01<00:00,  4.78it/s]
100%|█████████████████████████████████████████████| 8/8 [00:01<00:00,  4.58it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
2,114,2007-10-19 05:26:23,39.975117,116.329083,2007-10-19,d_cl_00,d_cl_05,d_cl_00-d_cl_05
2736,114,2010-05-11 02:34:09,39.983892,116.302024,2010-05-11,d_cl_05,d_cl_04,d_cl_05-d_cl_04
2847,114,2010-05-11 02:37:40,39.984008,116.309202,2010-05-11,d_cl_04,d_cl_01,d_cl_04-d_cl_01
2977,114,2010-05-11 02:40:38,39.984389,116.323083,2010-05-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
3337,114,2010-05-24 12:27:14,39.973892,116.327537,2010-05-24,d_cl_00,d_cl_05,d_cl_00-d_cl_05
4042,114,2010-05-25 01:25:53,39.983872,116.302031,2010-05-25,d_cl_05,d_cl_04,d_cl_05-d_cl_04
4071,114,2010-05-25 01:28:13,39.983939,116.309297,2010-05-25,d_cl_04,d_cl_01,d_cl_04-d_cl_01
4121,114,2010-05-25 01:32:08,39.982933,116.321148,2010-05-25,d_cl_01,d_cl_00,d_cl_01-d_cl_00
4199,114,2010-05-25 01:38:38,39.975494,116.330468,2010-05-25,d_cl_00,d_cl_01,d_cl_00-d_cl_01
4233,114,2010-05-25 13:07:16,39.984723,116.318636,2010-05-25,d_cl_01,d_cl_04,d_cl_01-d_cl_04
4292,114,2010-05-25 13:11:46,39.984218,116.304934,2010-05-25,d_cl_04,d_cl_05,d_cl_04-d_cl_05
4902,114,2010-05-26 01:29:33,39.983882,116.301983,2010-05-26,d_cl_05,d_cl_04,d_cl_05-d_cl_04
4962,114,2010-05-26 01:34:03,39.983948,116.309107,2010-05-26,d_cl_04,d_cl_01,d_cl_04-d_cl_01
5004,114,2010-05-26 01:37:28,39.984372,116.322902,2010-05-26,d_cl_01,d_cl_00,d_cl_01-d_cl_00
5086,114,2010-05-26 01:43:58,39.975533,116.330758,2010-05-26,d_cl_00,d_cl_01,d_cl_00-d_cl_01
5150,114,2010-05-26 12:14:34,39.984655,116.318692,2010-05-26,d_cl_01,d_cl_04,d_cl_01-d_cl_04
5203,114,2010-05-26 12:18:39,39.984236,116.304843,2010-05-26,d_cl_04,d_cl_05,d_cl_04-d_cl_05
5210,114,2010-05-26 12:19:14,39.983902,116.297934,2010-05-26,d_cl_05,d_cl_07,d_cl_05-d_cl_07
5899,114,2010-05-27 01:38:10,39.994167,116.331177,2010-05-27,d_cl_07,d_cl_06,d_cl_07-d_cl_06
5942,114,2010-05-27 01:41:40,39.984901,116.334422,2010-05-27,d_cl_06,d_cl_00,d_cl_06-d_cl_00
5996,114,2010-05-27 01:46:10,39.975511,116.330329,2010-05-27,d_cl_00,d_cl_05,d_cl_00-d_cl_05
6202,114,2010-05-28 02:06:10,39.983796,116.301138,2010-05-28,d_cl_05,d_cl_04,d_cl_05-d_cl_04
6245,114,2010-05-28 02:09:40,39.983875,116.309304,2010-05-28,d_cl_04,d_cl_01,d_cl_04-d_cl_01
6272,114,2010-05-28 02:11:55,39.982834,116.321172,2010-05-28,d_cl_01,d_cl_00,d_cl_01-d_cl_00
6330,114,2010-05-28 02:16:40,39.975631,116.330263,2010-05-28,d_cl_00,d_cl_01,d_cl_00-d_cl_01
6356,114,2010-05-28 15:03:39,39.984737,116.318589,2010-05-28,d_cl_01,d_cl_04,d_cl_01-d_cl_04
6403,114,2010-05-28 15:07:14,39.984317,116.305289,2010-05-28,d_cl_04,d_cl_05,d_cl_04-d_cl_05
6409,114,2010-05-28 15:07:44,39.983959,116.297916,2010-05-28,d_cl_05,d_cl_00,d_cl_05-d_cl_00
7546,114,2010-06-02 12:07:06,39.974112,116.327480,2010-06-02,d_cl_00,d_cl_07,d_cl_00-d_cl_07
8205,114,2010-06-03 02:05:03,39.994584,116.331196,2010-06-03,d_cl_07,d_cl_06,d_cl_07-d_cl_06
8268,114,2010-06-03 02:09:53,39.985176,116.334548,2010-06-03,d_cl_06,d_cl_00,d_cl_06-d_cl_00
8316,114,2010-06-03 14:23:50,39.973906,116.328645,2010-06-03,d_cl_00,d_cl_05,d_cl_00-d_cl_05
8965,114,2010-06-04 02:19:30,39.983831,116.301602,2010-06-04,d_cl_05,d_cl_04,d_cl_05-d_cl_04
9020,114,2010-06-04 02:23:45,39.983874,116.309297,2010-06-04,d_cl_04,d_cl_01,d_cl_04-d_cl_01
9055,114,2010-06-04 02:26:30,39.983189,116.321123,2010-06-04,d_cl_01,d_cl_00,d_cl_01-d_cl_00
9153,114,2010-06-04 13:27:12,39.976371,116.327015,2010-06-04,d_cl_00,d_cl_01,d_cl_00-d_cl_01
9196,114,2010-06-04 13:30:42,39.984693,116.319377,2010-06-04,d_cl_01,d_cl_04,d_cl_01-d_cl_04
9225,114,2010-06-04 13:33:07,39.984199,116.305174,2010-06-04,d_cl_04,d_cl_05,d_cl_04-d_cl_05
9232,114,2010-06-04 13:33:42,39.983856,116.297640,2010-06-04,d_cl_05,d_cl_03,d_cl_05-d_cl_03
9273,114,2010-06-04 13:37:07,39.961495,116.268981,2010-06-04,d_cl_03,d_cl_02,d_cl_03-d_cl_02
9579,114,2010-06-05 06:16:18,39.954330,116.269911,2010-06-05,d_cl_02,d_cl_03,d_cl_02-d_cl_03
9592,114,2010-06-05 06:17:23,39.964575,116.268767,2010-06-05,d_cl_03,d_cl_05,d_cl_03-d_cl_05
9650,114,2010-06-05 06:22:13,39.983892,116.301747,2010-06-05,d_cl_05,d_cl_04,d_cl_05-d_cl_04
9717,114,2010-06-05 06:27:18,39.984102,116.309090,2010-06-05,d_cl_04,d_cl_01,d_cl_04-d_cl_01
9755,114,2010-06-05 06:30:18,39.984375,116.323142,2010-06-05,d_cl_01,d_cl_00,d_cl_01-d_cl_00
9830,114,2010-06-05 06:36:08,39.975427,116.330549,2010-06-05,d_cl_00,d_cl_02,d_cl_00-d_cl_02
10467,114,2010-06-07 02:11:03,39.954242,116.269934,2010-06-07,d_cl_02,d_cl_03,d_cl_02-d_cl_03
10480,114,2010-06-07 02:12:08,39.964701,116.268725,2010-06-07,d_cl_03,d_cl_05,d_cl_03-d_cl_05
10523,114,2010-06-07 02:15:43,39.983760,116.301618,2010-06-07,d_cl_05,d_cl_04,d_cl_05-d_cl_04
10554,114,2010-06-07 02:18:08,39.983945,116.309262,2010-06-07,d_cl_04,d_cl_01,d_cl_04-d_cl_01
10614,114,2010-06-07 02:22:53,39.983135,116.321196,2010-06-07,d_cl_01,d_cl_00,d_cl_01-d_cl_00
10696,114,2010-06-07 02:29:23,39.975602,116.330384,2010-06-07,d_cl_00,d_cl_01,d_cl_00-d_cl_01
10730,114,2010-06-07 13:33:45,39.984691,116.318583,2010-06-07,d_cl_01,d_cl_04,d_cl_01-d_cl_04
10761,114,2010-06-07 13:36:20,39.984140,116.304698,2010-06-07,d_cl_04,d_cl_05,d_cl_04-d_cl_05
10768,114,2010-06-07 13:36:55,39.983909,116.298194,2010-06-07,d_cl_05,d_cl_03,d_cl_05-d_cl_03
10809,114,2010-06-07 13:40:20,39.961913,116.268877,2010-06-07,d_cl_03,d_cl_02,d_cl_03-d_cl_02
11204,114,2010-06-08 01:15:27,39.954915,116.269849,2010-06-08,d_cl_02,d_cl_03,d_cl_02-d_cl_03
11216,114,2010-06-08 01:16:27,39.964472,116.268733,2010-06-08,d_cl_03,d_cl_05,d_cl_03-d_cl_05
11278,114,2010-06-08 01:21:37,39.983825,116.301921,2010-06-08,d_cl_05,d_cl_04,d_cl_05-d_cl_04
11308,114,2010-06-08 01:24:02,39.983936,116.309302,2010-06-08,d_cl_04,d_cl_01,d_cl_04-d_cl_01
11337,114,2010-06-08 01:26:27,39.982964,116.321135,2010-06-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
11431,114,2010-06-08 13:35:35,39.974115,116.327277,2010-06-08,d_cl_00,d_cl_01,d_cl_00-d_cl_01
11475,114,2010-06-08 13:39:10,39.984681,116.318813,2010-06-08,d_cl_01,d_cl_04,d_cl_01-d_cl_04
11522,114,2010-06-08 13:42:40,39.984170,116.305041,2010-06-08,d_cl_04,d_cl_05,d_cl_04-d_cl_05
11528,114,2010-06-08 13:43:10,39.983846,116.298151,2010-06-08,d_cl_05,d_cl_03,d_cl_05-d_cl_03
11563,114,2010-06-08 13:46:05,39.961662,116.268929,2010-06-08,d_cl_03,d_cl_02,d_cl_03-d_cl_02
12006,114,2010-06-09 01:16:03,39.954665,116.269868,2010-06-09,d_cl_02,d_cl_03,d_cl_02-d_cl_03
12019,114,2010-06-09 01:17:08,39.964837,116.268708,2010-06-09,d_cl_03,d_cl_05,d_cl_03-d_cl_05
12174,114,2010-06-09 01:29:33,39.983807,116.301387,2010-06-09,d_cl_05,d_cl_04,d_cl_05-d_cl_04
12203,114,2010-06-09 01:31:53,39.983867,116.309178,2010-06-09,d_cl_04,d_cl_01,d_cl_04-d_cl_01
12236,114,2010-06-09 01:34:33,39.982706,116.321226,2010-06-09,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07
cluster,,,,,,,,
d_cl_00,0.000000,0.5,0.083333,0.000000,0.000000,0.333333,0.0,0.083333
d_cl_01,0.600000,0.0,0.000000,0.000000,0.400000,0.000000,0.0,0.000000
d_cl_02,0.000000,0.0,0.000000,1.000000,0.000000,0.000000,0.0,0.000000
d_cl_03,0.000000,0.0,0.428571,0.000000,0.000000,0.571429,0.0,0.000000
d_cl_04,0.000000,0.6,0.000000,0.000000,0.000000,0.400000,0.0,0.000000
d_cl_05,0.071429,0.0,0.000000,0.214286,0.642857,0.000000,0.0,0.071429
d_cl_06,1.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
d_cl_07,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.0,0.000000

 73%|█████████████████████████████▎          | 88/120 [1:26:05<02:10,  4.09s/it]

Procesamiento del user 114 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 115
INFO: Noise Filtering applied
INFO: Clusters generated
(148403, 5) (139, 5) (139, 5) (139, 5) (139, 6)
INFO: 25 clusters generated.

  0%|                                                    | 0/25 [00:00<?, ?it/s]
  4%|█▊                                          | 1/25 [00:02<00:54,  2.29s/it]
  8%|███▌                                        | 2/25 [00:04<00:54,  2.37s/it]
 12%|█████▎                                      | 3/25 [00:07<00:53,  2.41s/it]
 16%|███████                                     | 4/25 [00:09<00:49,  2.36s/it]
 20%|████████▊                                   | 5/25 [00:11<00:47,  2.39s/it]
 24%|██████████▌                                 | 6/25 [00:14<00:45,  2.42s/it]
 28%|████████████▎                               | 7/25 [00:16<00:43,  2.42s/it]
 32%|██████████████                              | 8/25 [00:19<00:40,  2.37s/it]
 36%|███████████████▊                            | 9/25 [00:21<00:38,  2.41s/it]
 40%|█████████████████▏                         | 10/25 [00:23<00:36,  2.42s/it]
 44%|██████████████████▉                        | 11/25 [00:26<00:33,  2.43s/it]
 48%|████████████████████▋                      | 12/25 [00:28<00:30,  2.38s/it]
 52%|██████████████████████▎                    | 13/25 [00:31<00:28,  2.40s/it]
 56%|████████████████████████                   | 14/25 [00:33<00:26,  2.41s/it]
 60%|█████████████████████████▊                 | 15/25 [00:36<00:24,  2.43s/it]
 64%|███████████████████████████▌               | 16/25 [00:38<00:21,  2.38s/it]
 68%|█████████████████████████████▏             | 17/25 [00:40<00:19,  2.40s/it]
 72%|██████████████████████████████▉            | 18/25 [00:43<00:16,  2.42s/it]
 76%|████████████████████████████████▋          | 19/25 [00:45<00:14,  2.38s/it]
 80%|██████████████████████████████████▍        | 20/25 [00:47<00:11,  2.39s/it]
 84%|████████████████████████████████████       | 21/25 [00:50<00:09,  2.41s/it]
 88%|█████████████████████████████████████▊     | 22/25 [00:52<00:07,  2.42s/it]
 92%|███████████████████████████████████████▌   | 23/25 [00:55<00:04,  2.37s/it]
 96%|█████████████████████████████████████████▎ | 24/25 [00:57<00:02,  2.40s/it]
100%|███████████████████████████████████████████| 25/25 [01:00<00:00,  2.40s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
5,115,2007-05-09 10:28:14,39.975317,116.329317,2007-05-09,d_cl_01,d_cl_21,d_cl_01-d_cl_21
11,115,2007-05-09 10:35:10,39.966100,116.332383,2007-05-09,d_cl_21,d_cl_00,d_cl_21-d_cl_00
58,115,2007-05-09 11:39:36,39.910717,116.594550,2007-05-09,d_cl_00,d_cl_24,d_cl_00-d_cl_24
76,115,2007-05-10 01:09:47,40.021200,116.393833,2007-05-10,d_cl_24,d_cl_04,d_cl_24-d_cl_04
84,115,2007-05-10 01:13:18,40.020950,116.380283,2007-05-10,d_cl_04,d_cl_05,d_cl_04-d_cl_05
...,...,...,...,...,...,...,...,...
148129,115,2008-09-27 02:46:11,39.987275,116.407767,2008-09-27,d_cl_20,d_cl_05,d_cl_20-d_cl_05
148194,115,2008-09-27 02:48:57,39.986533,116.377965,2008-09-27,d_cl_05,d_cl_07,d_cl_05-d_cl_07
148214,115,2008-09-27 02:49:40,39.986225,116.370195,2008-09-27,d_cl_07,d_cl_11,d_cl_07-d_cl_11
148234,115,2008-09-27 02:50:38,39.985902,116.358520,2008-09-27,d_cl_11,d_cl_03,d_cl_11-d_cl_03
148267,115,2008-09-27 02:52:35,39.985310,116.334523,2008-09-27,d_cl_03,d_cl_01,d_cl_03-d_cl_01

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21,d_cl_22,d_cl_23,d_cl_24
cluster,,,,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.000000,0.756757,0.013514,0.054054,0.000000,0.000000,0.000000,0.000000,0.013514,0.000000,0.000000,0.013514,0.013514,0.000000,0.000000,0.013514,0.000000,0.027027,0.054054,0.000000,0.000000,0.000000,0.027027,0.013514
d_cl_01,0.230769,0.000000,0.012821,0.358974,0.025641,0.000000,0.000000,0.025641,0.102564,0.025641,0.012821,0.025641,0.025641,0.025641,0.038462,0.000000,0.025641,0.000000,0.012821,0.012821,0.012821,0.025641,0.000000,0.000000,0.000000
d_cl_02,0.424242,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.565657,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010101
d_cl_03,0.020202,0.636364,0.000000,0.000000,0.000000,0.010101,0.000000,0.000000,0.000000,0.000000,0.000000,0.282828,0.020202,0.000000,0.000000,0.000000,0.000000,0.000000,0.010101,0.000000,0.010101,0.000000,0.010101,0.000000,0.000000
d_cl_04,0.000000,0.000000,0.000000,0.000000,0.000000,0.833333,0.062500,0.041667,0.000000,0.000000,0.000000,0.020833,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.041667
d_cl_05,0.000000,0.062500,0.000000,0.052083,0.000000,0.000000,0.000000,0.583333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010417,0.000000,0.291667,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.000000,0.000000,0.000000,0.033333,0.011111,0.322222,0.011111,0.000000,0.000000,0.000000,0.011111,0.611111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.125000,0.250000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.545455,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.454545,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.035714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.428571,0.000000,0.000000,0.000000,0.000000,0.000000,0.017857,0.000000,0.000000,0.517857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.000000,0.011364,0.000000,0.647727,0.000000,0.000000,0.000000,0.340909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.017241,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.017241,0.000000,0.000000,0.000000,0.189655,0.000000,0.000000,0.000000,0.068966,0.224138,0.482759,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.063830,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.531915,0.000000,0.042553,0.361702,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.025641,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.615385,0.358974,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.000000,0.000000,0.000000,0.000000,0.027778,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.055556,0.000000,0.000000,0.000000,0.916667,0.000000
d_cl_16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.200000,0.000000,0.000000
d_cl_17,0.000000,0.000000,0.428571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285714,0.000000,0.000000,0.000000,0.275510,0.000000,0.000000,0.000000,0.000000,0.010204,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.018182,0.000000,0.000000,0.000000,0.000000,0.000000,0.018182,0.000000,0.000000,0.000000,0.381818,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.563636,0.000000,0.000000,0.000000,0.000000,0.018182
d_cl_19,0.000000,0.000000,0.000000,0.000000,0.039216,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.647059,0.000000,0.000000,0.313725,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_20,0.017241,0.017241,0.000000,0.017241,0.000000,0.448276,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_21,0.400000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
d_cl_23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.054054,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.945946
d_cl_24,0.000000,0.000000,0.000000,0.000000,0.950000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,0.000000

 74%|█████████████████████████████▋          | 89/120 [1:27:10<11:32, 22.33s/it]

Procesamiento del user 115 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 119
INFO: Noise Filtering applied
INFO: Clusters generated
(103733, 5) (292, 5) (292, 5) (292, 5) (292, 6)
INFO: 9 clusters generated.

  0%|                                                     | 0/9 [00:00<?, ?it/s]
 11%|█████                                        | 1/9 [00:01<00:14,  1.75s/it]
 22%|██████████                                   | 2/9 [00:03<00:11,  1.67s/it]
 33%|███████████████                              | 3/9 [00:05<00:10,  1.70s/it]
 44%|████████████████████                         | 4/9 [00:06<00:08,  1.66s/it]
 56%|█████████████████████████                    | 5/9 [00:08<00:06,  1.70s/it]
 67%|██████████████████████████████               | 6/9 [00:10<00:04,  1.66s/it]
 78%|███████████████████████████████████          | 7/9 [00:11<00:03,  1.69s/it]
 89%|████████████████████████████████████████     | 8/9 [00:13<00:01,  1.65s/it]
100%|█████████████████████████████████████████████| 9/9 [00:15<00:00,  1.68s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
7,119,2008-07-28 14:08:30,39.953048,116.487523,2008-07-28,d_cl_08,d_cl_00,d_cl_08-d_cl_00
75,119,2008-07-29 00:59:27,39.955828,116.493103,2008-07-29,d_cl_00,d_cl_04,d_cl_00-d_cl_04
408,119,2008-07-29 02:09:24,39.953827,116.473614,2008-07-29,d_cl_04,d_cl_05,d_cl_04-d_cl_05
1696,119,2008-07-29 05:03:44,39.948216,116.457481,2008-07-29,d_cl_05,d_cl_04,d_cl_05-d_cl_04
1728,119,2008-07-29 05:06:19,39.954910,116.477268,2008-07-29,d_cl_04,d_cl_00,d_cl_04-d_cl_00
...,...,...,...,...,...,...,...,...
101131,119,2008-10-06 05:37:00,39.955731,116.493369,2008-10-06,d_cl_00,d_cl_01,d_cl_00-d_cl_01
101783,119,2008-10-06 12:57:24,39.931018,116.472190,2008-10-06,d_cl_01,d_cl_07,d_cl_01-d_cl_07
101920,119,2008-10-06 13:02:07,39.936652,116.484002,2008-10-06,d_cl_07,d_cl_02,d_cl_07-d_cl_02
101995,119,2008-10-06 13:03:23,39.945795,116.483979,2008-10-06,d_cl_02,d_cl_08,d_cl_02-d_cl_08
102072,119,2008-10-06 13:05:25,39.952593,116.487737,2008-10-06,d_cl_08,d_cl_00,d_cl_08-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08
cluster,,,,,,,,,
d_cl_00,0.000000,0.095238,0.142857,0.047619,0.380952,0.047619,0.000000,0.000000,0.285714
d_cl_01,0.000000,0.000000,0.000000,0.000000,0.062500,0.062500,0.312500,0.500000,0.062500
d_cl_02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.521739,0.478261
d_cl_03,0.400000,0.000000,0.200000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000
d_cl_04,0.384615,0.076923,0.000000,0.000000,0.000000,0.538462,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.181818,0.090909,0.272727,0.363636,0.000000,0.000000,0.090909,0.000000
d_cl_06,0.333333,0.333333,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.166667
d_cl_07,0.047619,0.428571,0.476190,0.000000,0.000000,0.000000,0.047619,0.000000,0.000000
d_cl_08,0.600000,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 75%|██████████████████████████████          | 90/120 [1:27:28<10:31, 21.04s/it]

Procesamiento del user 119 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 122
INFO: Noise Filtering applied
INFO: Clusters generated
(72113, 5) (183, 5) (183, 5) (183, 5) (183, 6)
INFO: 5 clusters generated.

  0%|                                                     | 0/5 [00:00<?, ?it/s]
 20%|█████████                                    | 1/5 [00:01<00:05,  1.27s/it]
 40%|██████████████████                           | 2/5 [00:02<00:03,  1.18s/it]
 60%|███████████████████████████                  | 3/5 [00:03<00:02,  1.15s/it]
 80%|████████████████████████████████████         | 4/5 [00:04<00:01,  1.20s/it]
100%|█████████████████████████████████████████████| 5/5 [00:05<00:00,  1.18s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
37139,122,2009-08-23 09:27:16,39.966694,116.401045,2009-08-23,d_cl_00,d_cl_04,d_cl_00-d_cl_04
41290,122,2009-08-23 19:41:41,39.967818,116.410210,2009-08-23,d_cl_04,d_cl_00,d_cl_04-d_cl_00
42250,122,2009-08-23 21:02:50,39.968093,116.399511,2009-08-23,d_cl_00,d_cl_01,d_cl_00-d_cl_01
56394,122,2009-09-17 20:44:05,39.975785,116.331132,2009-09-17,d_cl_01,d_cl_03,d_cl_01-d_cl_03
58173,122,2009-09-22 07:58:01,39.991972,116.346717,2009-09-22,d_cl_03,d_cl_02,d_cl_03-d_cl_02
59425,122,2009-09-22 17:07:42,39.992397,116.352762,2009-09-22,d_cl_02,d_cl_03,d_cl_02-d_cl_03
59558,122,2009-09-22 17:11:11,39.991940,116.342049,2009-09-22,d_cl_03,d_cl_01,d_cl_03-d_cl_01

cluster_next  d_cl_00  d_cl_01  d_cl_02  d_cl_03  d_cl_04
cluster
d_cl_00           0.0      0.5      0.0      0.0      0.5
d_cl_01           0.0      0.0      0.0      1.0      0.0
d_cl_02           0.0      0.0      0.0      1.0      0.0
d_cl_03           0.0      0.5      0.5      0.0      0.0
d_cl_04           1.0      0.0      0.0      0.0      0.0

 76%|██████████████████████████████▎         | 91/120 [1:27:36<08:15, 17.08s/it]

Procesamiento del user 122 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 125
INFO: Noise Filtering applied
INFO: Clusters generated
(90578, 5) (85, 5) (85, 5) (85, 5) (85, 6)
INFO: 8 clusters generated.

  0%|                                                     | 0/8 [00:00<?, ?it/s]
 12%|█████▋                                       | 1/8 [00:01<00:09,  1.38s/it]
 25%|███████████▎                                 | 2/8 [00:02<00:08,  1.38s/it]
 38%|████████████████▉                            | 3/8 [00:04<00:07,  1.47s/it]
 50%|██████████████████████▌                      | 4/8 [00:05<00:05,  1.44s/it]
 62%|████████████████████████████▏                | 5/8 [00:07<00:04,  1.49s/it]
 75%|█████████████████████████████████▊           | 6/8 [00:08<00:02,  1.46s/it]
 88%|███████████████████████████████████████▍     | 7/8 [00:10<00:01,  1.49s/it]
100%|█████████████████████████████████████████████| 8/8 [00:11<00:00,  1.46s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
8,125,2008-05-09 10:09:32,39.977450,116.328783,2008-05-09,d_cl_01,d_cl_00,d_cl_01-d_cl_00
104,125,2008-05-10 00:26:42,40.003067,116.324467,2008-05-10,d_cl_00,d_cl_01,d_cl_00-d_cl_01
264,125,2008-05-10 07:44:04,39.975800,116.330950,2008-05-10,d_cl_01,d_cl_00,d_cl_01-d_cl_00
362,125,2008-05-11 02:53:20,40.002550,116.324233,2008-05-11,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1579,125,2008-05-23 01:49:23,39.975596,116.329410,2008-05-23,d_cl_01,d_cl_07,d_cl_01-d_cl_07
10127,125,2008-05-23 12:40:45,39.974927,116.340432,2008-05-23,d_cl_07,d_cl_01,d_cl_07-d_cl_01
10224,125,2008-05-23 12:43:23,39.975006,116.330619,2008-05-23,d_cl_01,d_cl_00,d_cl_01-d_cl_00
13420,125,2008-05-24 02:18:23,40.002601,116.324355,2008-05-24,d_cl_00,d_cl_01,d_cl_00-d_cl_01
16122,125,2008-05-29 13:41:33,39.976595,116.331160,2008-05-29,d_cl_01,d_cl_00,d_cl_01-d_cl_00
16265,125,2008-05-30 00:21:10,40.002553,116.324361,2008-05-30,d_cl_00,d_cl_01,d_cl_00-d_cl_01
18718,125,2008-05-30 14:25:44,39.976829,116.328435,2008-05-30,d_cl_01,d_cl_00,d_cl_01-d_cl_00
19492,125,2008-05-30 14:56:09,40.005429,116.321677,2008-05-30,d_cl_00,d_cl_01,d_cl_00-d_cl_01
19774,125,2008-05-31 13:08:13,39.975374,116.332129,2008-05-31,d_cl_01,d_cl_00,d_cl_01-d_cl_00
20727,125,2008-05-31 13:46:14,40.005009,116.324416,2008-05-31,d_cl_00,d_cl_01,d_cl_00-d_cl_01
20913,125,2008-06-02 04:08:58,39.977112,116.328538,2008-06-02,d_cl_01,d_cl_00,d_cl_01-d_cl_00
21577,125,2008-06-02 05:02:34,40.002234,116.321598,2008-06-02,d_cl_00,d_cl_01,d_cl_00-d_cl_01
23113,125,2008-06-05 05:45:24,39.975493,116.331695,2008-06-05,d_cl_01,d_cl_00,d_cl_01-d_cl_00
27744,125,2008-06-08 01:22:20,40.002584,116.324396,2008-06-08,d_cl_00,d_cl_01,d_cl_00-d_cl_01
28265,125,2008-06-08 01:43:59,39.977322,116.331217,2008-06-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
31288,125,2008-06-21 14:23:52,40.005032,116.324307,2008-06-21,d_cl_00,d_cl_01,d_cl_00-d_cl_01
32703,125,2008-06-22 06:59:44,39.975169,116.331056,2008-06-22,d_cl_01,d_cl_06,d_cl_01-d_cl_06
32734,125,2008-07-02 00:13:42,40.031310,116.317375,2008-07-02,d_cl_06,d_cl_04,d_cl_06-d_cl_04
33052,125,2008-07-02 00:28:50,39.999485,116.341743,2008-07-02,d_cl_04,d_cl_05,d_cl_04-d_cl_05
35002,125,2008-07-02 11:11:22,39.999787,116.346245,2008-07-02,d_cl_05,d_cl_04,d_cl_05-d_cl_04
35048,125,2008-07-02 11:13:10,39.999485,116.337147,2008-07-02,d_cl_04,d_cl_01,d_cl_04-d_cl_01
35663,125,2008-07-02 15:29:44,39.977237,116.328488,2008-07-02,d_cl_01,d_cl_00,d_cl_01-d_cl_00
36159,125,2008-07-02 23:51:20,40.002657,116.324385,2008-07-02,d_cl_00,d_cl_01,d_cl_00-d_cl_01
36825,125,2008-07-03 00:14:22,39.975303,116.331962,2008-07-03,d_cl_01,d_cl_07,d_cl_01-d_cl_07
37058,125,2008-07-03 00:22:57,39.976743,116.341958,2008-07-03,d_cl_07,d_cl_01,d_cl_07-d_cl_01
37255,125,2008-07-03 14:31:11,39.975397,116.329323,2008-07-03,d_cl_01,d_cl_00,d_cl_01-d_cl_00
37730,125,2008-07-04 00:04:03,40.002615,116.324398,2008-07-04,d_cl_00,d_cl_07,d_cl_00-d_cl_07
38549,125,2008-07-04 00:36:00,39.975280,116.340422,2008-07-04,d_cl_07,d_cl_01,d_cl_07-d_cl_01
38727,125,2008-07-04 00:43:03,39.975642,116.330943,2008-07-04,d_cl_01,d_cl_07,d_cl_01-d_cl_07
38834,125,2008-07-04 03:58:30,39.976787,116.342033,2008-07-04,d_cl_07,d_cl_00,d_cl_07-d_cl_00
39708,125,2008-07-15 12:55:10,40.005088,116.324277,2008-07-15,d_cl_00,d_cl_05,d_cl_00-d_cl_05
39771,125,2008-07-18 03:33:00,39.999588,116.350517,2008-07-18,d_cl_05,d_cl_04,d_cl_05-d_cl_04
40353,125,2008-07-19 00:51:42,39.999462,116.341565,2008-07-19,d_cl_04,d_cl_05,d_cl_04-d_cl_05
40953,125,2008-07-19 11:14:21,39.999590,116.346260,2008-07-19,d_cl_05,d_cl_04,d_cl_05-d_cl_04
41025,125,2008-07-19 11:17:15,39.999380,116.337085,2008-07-19,d_cl_04,d_cl_00,d_cl_04-d_cl_00
43291,125,2008-07-19 14:35:08,40.005045,116.324320,2008-07-19,d_cl_00,d_cl_04,d_cl_00-d_cl_04
43550,125,2008-08-20 01:37:14,39.999459,116.341551,2008-08-20,d_cl_04,d_cl_05,d_cl_04-d_cl_05
43571,125,2008-08-20 01:38:59,39.999739,116.350197,2008-08-20,d_cl_05,d_cl_03,d_cl_05-d_cl_03
49267,125,2008-08-23 04:55:17,39.966089,116.352635,2008-08-23,d_cl_03,d_cl_00,d_cl_03-d_cl_00
49999,125,2008-08-24 05:02:33,40.002846,116.324624,2008-08-24,d_cl_00,d_cl_07,d_cl_00-d_cl_07
51053,125,2008-08-24 08:42:41,39.975109,116.340662,2008-08-24,d_cl_07,d_cl_01,d_cl_07-d_cl_01
51087,125,2008-08-24 08:45:21,39.975278,116.329532,2008-08-24,d_cl_01,d_cl_02,d_cl_01-d_cl_02
51380,125,2008-08-27 07:49:08,39.994999,116.309069,2008-08-27,d_cl_02,d_cl_00,d_cl_02-d_cl_00
73536,125,2008-09-08 08:15:46,40.004893,116.320876,2008-09-08,d_cl_00,d_cl_03,d_cl_00-d_cl_03
74235,125,2008-09-09 07:18:44,39.966950,116.349504,2008-09-09,d_cl_03,d_cl_07,d_cl_03-d_cl_07
74299,125,2008-09-09 07:23:49,39.975099,116.340679,2008-09-09,d_cl_07,d_cl_01,d_cl_07-d_cl_01
74652,125,2008-09-09 08:42:19,39.977040,116.329035,2008-09-09,d_cl_01,d_cl_00,d_cl_01-d_cl_00
75060,125,2008-09-09 14:34:26,40.005241,116.321314,2008-09-09,d_cl_00,d_cl_04,d_cl_00-d_cl_04
75285,125,2008-09-12 01:37:34,39.999550,116.341416,2008-09-12,d_cl_04,d_cl_05,d_cl_04-d_cl_05
75307,125,2008-09-12 01:39:24,39.999726,116.350779,2008-09-12,d_cl_05,d_cl_00,d_cl_05-d_cl_00
81203,125,2008-09-20 03:34:41,40.002468,116.321128,2008-09-20,d_cl_00,d_cl_01,d_cl_00-d_cl_01
81475,125,2008-09-20 04:45:44,39.977029,116.328643,2008-09-20,d_cl_01,d_cl_00,d_cl_01-d_cl_00
81764,125,2008-09-20 09:34:35,40.002715,116.324529,2008-09-20,d_cl_00,d_cl_04,d_cl_00-d_cl_04
82024,125,2008-09-20 09:58:20,39.999338,116.341520,2008-09-20,d_cl_04,d_cl_05,d_cl_04-d_cl_05
82061,125,2008-09-20 10:01:10,39.999330,116.350475,2008-09-20,d_cl_05,d_cl_00,d_cl_05-d_cl_00
85368,125,2008-09-25 16:06:28,40.005057,116.324219,2008-09-25,d_cl_00,d_cl_01,d_cl_00-d_cl_01
87597,125,2008-10-06 15:24:35,39.977047,116.328540,2008-10-06,d_cl_01,d_cl_00,d_cl_01-d_cl_00
87813,125,2008-10-08 10:14:14,40.002622,116.324272,2008-10-08,d_cl_00,d_cl_01,d_cl_00-d_cl_01
89109,125,2008-10-08 14:03:47,39.976776,116.328419,2008-10-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
89467,125,2008-10-11 09:57:53,40.002331,116.321554,2008-10-11,d_cl_00,d_cl_01,d_cl_00-d_cl_01
89732,125,2008-10-11 12:55:51,39.976266,116.328541,2008-10-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
89942,125,2008-10-12 06:17:41,40.002716,116.324474,2008-10-12,d_cl_00,d_cl_01,d_cl_00-d_cl_01
90333,125,2008-10-12 09:36:13,39.976979,116.328600,2008-10-12,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07
cluster,,,,,,,,
d_cl_00,0.000000,0.681818,0.000000,0.045455,0.136364,0.045455,0.000000,0.090909
d_cl_01,0.772727,0.000000,0.045455,0.000000,0.000000,0.000000,0.045455,0.136364
d_cl_02,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000
d_cl_04,0.142857,0.142857,0.000000,0.000000,0.000000,0.714286,0.000000,0.000000
d_cl_05,0.333333,0.000000,0.000000,0.166667,0.500000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
d_cl_07,0.166667,0.833333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 77%|██████████████████████████████▋         | 92/120 [1:27:50<07:34, 16.22s/it]

Procesamiento del user 125 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 126
INFO: Noise Filtering applied
INFO: Clusters generated
(411723, 5) (367, 5) (367, 5) (367, 5) (367, 6)
INFO: 25 clusters generated.

  0%|                                                    | 0/25 [00:00<?, ?it/s]
  4%|█▊                                          | 1/25 [00:06<02:37,  6.56s/it]
  8%|███▌                                        | 2/25 [00:13<02:30,  6.56s/it]
 12%|█████▎                                      | 3/25 [00:19<02:22,  6.48s/it]
 16%|███████                                     | 4/25 [00:26<02:16,  6.52s/it]
 20%|████████▊                                   | 5/25 [00:32<02:11,  6.55s/it]
 24%|██████████▌                                 | 6/25 [00:39<02:04,  6.56s/it]
 28%|████████████▎                               | 7/25 [00:45<01:58,  6.58s/it]
 32%|██████████████                              | 8/25 [00:52<01:51,  6.54s/it]
 36%|███████████████▊                            | 9/25 [00:58<01:44,  6.54s/it]
 40%|█████████████████▏                         | 10/25 [01:05<01:37,  6.50s/it]
 44%|██████████████████▉                        | 11/25 [01:11<01:31,  6.54s/it]
 48%|████████████████████▋                      | 12/25 [01:18<01:25,  6.55s/it]
 52%|██████████████████████▎                    | 13/25 [01:25<01:18,  6.58s/it]
 56%|████████████████████████                   | 14/25 [01:31<01:12,  6.57s/it]
 60%|█████████████████████████▊                 | 15/25 [01:38<01:05,  6.57s/it]
 64%|███████████████████████████▌               | 16/25 [01:44<00:59,  6.56s/it]
 68%|█████████████████████████████▏             | 17/25 [01:51<00:52,  6.59s/it]
 72%|██████████████████████████████▉            | 18/25 [01:57<00:45,  6.53s/it]
 76%|████████████████████████████████▋          | 19/25 [02:04<00:39,  6.55s/it]
 80%|██████████████████████████████████▍        | 20/25 [02:11<00:32,  6.57s/it]
 84%|████████████████████████████████████       | 21/25 [02:17<00:26,  6.51s/it]
 88%|█████████████████████████████████████▊     | 22/25 [02:24<00:19,  6.55s/it]
 92%|███████████████████████████████████████▌   | 23/25 [02:30<00:13,  6.56s/it]
 96%|█████████████████████████████████████████▎ | 24/25 [02:37<00:06,  6.52s/it]
100%|███████████████████████████████████████████| 25/25 [02:43<00:00,  6.55s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
212,126,2008-04-04 04:28:06,39.998417,116.310233,2008-04-04,d_cl_03,d_cl_02,d_cl_03-d_cl_02
321,126,2008-04-05 15:18:40,39.960683,116.400033,2008-04-05,d_cl_02,d_cl_24,d_cl_02-d_cl_24
324,126,2008-04-12 15:00:02,39.973918,116.291552,2008-04-12,d_cl_24,d_cl_15,d_cl_24-d_cl_15
402,126,2008-04-12 15:12:16,39.965865,116.374755,2008-04-12,d_cl_15,d_cl_19,d_cl_15-d_cl_19
511,126,2008-04-14 16:56:04,39.966088,116.361530,2008-04-14,d_cl_19,d_cl_15,d_cl_19-d_cl_15
...,...,...,...,...,...,...,...,...
407511,126,2009-02-15 11:04:34,39.966269,116.363274,2009-02-15,d_cl_19,d_cl_15,d_cl_19-d_cl_15
407604,126,2009-02-15 11:07:40,39.966586,116.377997,2009-02-15,d_cl_15,d_cl_00,d_cl_15-d_cl_00
408269,126,2009-02-15 18:12:17,39.989032,116.326940,2009-02-15,d_cl_00,d_cl_09,d_cl_00-d_cl_09
408312,126,2009-02-15 18:15:47,40.008027,116.328885,2009-02-15,d_cl_09,d_cl_00,d_cl_09-d_cl_00
408923,126,2009-02-17 02:01:54,39.985826,116.326923,2009-02-17,d_cl_00,d_cl_08,d_cl_00-d_cl_08

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21,d_cl_22,d_cl_23,d_cl_24
cluster,,,,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.043478,0.000000,0.086957,0.086957,0.065217,0.000000,0.000000,0.086957,0.065217,0.021739,0.000000,0.000000,0.086957,0.195652,0.000000,0.000000,0.0,0.000000,0.217391,0.0,0.000000,0.043478,0.000000,0.000000
d_cl_01,0.109091,0.000000,0.054545,0.000000,0.072727,0.000000,0.000000,0.000000,0.036364,0.018182,0.163636,0.000000,0.000000,0.254545,0.000000,0.272727,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.018182,0.000000,0.000000
d_cl_02,0.000000,0.714286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.142857
d_cl_03,0.500000,0.100000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.277778,0.055556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.055556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.555556,0.000000,0.0,0.000000,0.055556,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.052632,0.052632,0.000000,0.000000,0.000000,0.000000,0.631579,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.210526,0.000000,0.052632,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.000000,0.000000,0.050000,0.400000,0.000000,0.550000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.347826,0.000000,0.000000,0.000000,0.000000,0.565217,0.000000,0.000000,0.000000,0.086957,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.375000,0.062500,0.000000,0.250000,0.062500,0.000000,0.000000,0.000000,0.000000,0.000000,0.062500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.187500,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.400000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.384615,0.230769,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.153846,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.000000,0.0,0.076923,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.600000,0.000000
d_cl_12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,0.000000
d_cl_13,0.029412,0.382353,0.029412,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029412,0.029412,0.000000,0.000000,0.000000,0.000000,0.088235,0.000000,0.0,0.029412,0.000000,0.0,0.029412,0.000000,0.352941,0.000000
d_cl_14,0.428571,0.000000,0.000000,0.071429,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.021739,0.456522,0.021739,0.000000,0.152174,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.347826,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_16,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.5,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,0.2,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_19,0.266667,0.033333,0.033333,0.000000,0.000000,0.033333,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.433333,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.0,0.000000,0.000000,0.0,0.500000,0.000000,0.000000,0.000000
d_cl_21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.5,0.000000,0.000000,0.000000,0.000000
d_cl_22,0.000000,0.571429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.428571,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.037037,0.000000,0.000000,0.000000,0.444444,0.000000,0.444444,0.000000,0.000000,0.000000,0.0,0.074074,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
d_cl_24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000

 78%|███████████████████████████████         | 93/120 [1:30:58<30:30, 67.79s/it]

Procesamiento del user 126 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 128
INFO: Noise Filtering applied
INFO: Clusters generated
(1208309, 5) (1270, 5) (1270, 5) (1270, 5) (1270, 6)
INFO: 49 clusters generated.

  0%|                                                    | 0/49 [00:00<?, ?it/s]
  2%|▉                                           | 1/49 [00:18<15:08, 18.92s/it]
  4%|█▊                                          | 2/49 [00:38<14:53, 19.02s/it]
  6%|██▋                                         | 3/49 [00:56<14:32, 18.97s/it]
  8%|███▌                                        | 4/49 [01:15<14:12, 18.95s/it]
 10%|████▍                                       | 5/49 [01:34<13:56, 19.01s/it]
 12%|█████▍                                      | 6/49 [01:53<13:37, 19.02s/it]
 14%|██████▎                                     | 7/49 [02:13<13:19, 19.04s/it]
 16%|███████▏                                    | 8/49 [02:31<12:57, 18.97s/it]
 18%|████████                                    | 9/49 [02:51<12:41, 19.03s/it]
 20%|████████▊                                  | 10/49 [03:09<12:20, 18.99s/it]
 22%|█████████▋                                 | 11/49 [03:28<12:00, 18.97s/it]
 24%|██████████▌                                | 12/49 [03:47<11:42, 19.00s/it]
 27%|███████████▍                               | 13/49 [04:07<11:25, 19.03s/it]
 29%|████████████▎                              | 14/49 [04:26<11:07, 19.06s/it]
 31%|█████████████▏                             | 15/49 [04:45<10:47, 19.04s/it]
 33%|██████████████                             | 16/49 [05:04<10:28, 19.05s/it]
 35%|██████████████▉                            | 17/49 [05:23<10:14, 19.19s/it]
 37%|███████████████▊                           | 18/49 [05:42<09:55, 19.20s/it]
 39%|████████████████▋                          | 19/49 [06:01<09:33, 19.11s/it]
 41%|█████████████████▌                         | 20/49 [06:20<09:13, 19.07s/it]
 43%|██████████████████▍                        | 21/49 [06:39<08:52, 19.03s/it]
 45%|███████████████████▎                       | 22/49 [06:58<08:34, 19.06s/it]
 47%|████████████████████▏                      | 23/49 [07:17<08:13, 18.98s/it]
 49%|█████████████████████                      | 24/49 [07:36<07:54, 19.00s/it]
 51%|█████████████████████▉                     | 25/49 [07:55<07:34, 18.95s/it]
 53%|██████████████████████▊                    | 26/49 [08:14<07:14, 18.90s/it]
 55%|███████████████████████▋                   | 27/49 [08:33<06:55, 18.91s/it]
 57%|████████████████████████▌                  | 28/49 [08:52<06:38, 18.96s/it]
 59%|█████████████████████████▍                 | 29/49 [09:11<06:19, 18.96s/it]
 61%|██████████████████████████▎                | 30/49 [09:30<05:59, 18.94s/it]
 63%|███████████████████████████▏               | 31/49 [09:49<05:41, 18.97s/it]
 65%|████████████████████████████               | 32/49 [10:08<05:23, 19.04s/it]
 67%|████████████████████████████▉              | 33/49 [10:27<05:05, 19.11s/it]
 69%|█████████████████████████████▊             | 34/49 [10:46<04:45, 19.06s/it]
 71%|██████████████████████████████▋            | 35/49 [11:06<04:28, 19.17s/it]
 73%|███████████████████████████████▌           | 36/49 [11:25<04:10, 19.23s/it]
 76%|████████████████████████████████▍          | 37/49 [11:44<03:51, 19.25s/it]
 78%|█████████████████████████████████▎         | 38/49 [12:03<03:31, 19.21s/it]
 80%|██████████████████████████████████▏        | 39/49 [12:23<03:11, 19.18s/it]
 82%|███████████████████████████████████        | 40/49 [12:42<02:53, 19.28s/it]
 84%|███████████████████████████████████▉       | 41/49 [13:01<02:33, 19.18s/it]
 86%|████████████████████████████████████▊      | 42/49 [13:20<02:13, 19.11s/it]
 88%|█████████████████████████████████████▋     | 43/49 [13:39<01:54, 19.10s/it]
 90%|██████████████████████████████████████▌    | 44/49 [13:58<01:35, 19.08s/it]
 92%|███████████████████████████████████████▍   | 45/49 [14:17<01:16, 19.05s/it]
 94%|████████████████████████████████████████▎  | 46/49 [14:36<00:57, 19.04s/it]
 96%|█████████████████████████████████████████▏ | 47/49 [14:55<00:38, 19.00s/it]
 98%|██████████████████████████████████████████ | 48/49 [15:14<00:19, 19.05s/it]
100%|███████████████████████████████████████████| 49/49 [15:33<00:00, 19.05s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
96,128,2007-04-14 01:51:00,40.045400,116.321967,2007-04-14,d_cl_26,d_cl_39,d_cl_26-d_cl_39
170,128,2007-04-14 02:28:15,40.026617,116.307250,2007-04-14,d_cl_39,d_cl_00,d_cl_39-d_cl_00
370,128,2007-04-14 13:25:30,40.071833,116.328633,2007-04-14,d_cl_00,d_cl_35,d_cl_00-d_cl_35
475,128,2007-04-15 01:58:12,40.078633,116.304383,2007-04-15,d_cl_35,d_cl_10,d_cl_35-d_cl_10
483,128,2007-04-15 02:02:13,40.090750,116.295000,2007-04-15,d_cl_10,d_cl_00,d_cl_10-d_cl_00
...,...,...,...,...,...,...,...,...
1208011,128,2011-03-10 01:22:12,39.984897,116.315015,2011-03-10,d_cl_44,d_cl_16,d_cl_44-d_cl_16
1208014,128,2011-03-10 01:23:03,39.984135,116.305202,2011-03-10,d_cl_16,d_cl_30,d_cl_16-d_cl_30
1208171,128,2011-03-10 07:47:59,39.987355,116.409935,2011-03-10,d_cl_30,d_cl_37,d_cl_30-d_cl_37
1208194,128,2011-03-10 07:50:17,39.986607,116.383782,2011-03-10,d_cl_37,d_cl_29,d_cl_37-d_cl_29
1208200,128,2011-03-10 07:50:53,39.986500,116.377907,2011-03-10,d_cl_29,d_cl_01,d_cl_29-d_cl_01

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21,d_cl_22,d_cl_23,d_cl_24,d_cl_25,d_cl_26,d_cl_27,d_cl_28,d_cl_29,d_cl_30,d_cl_31,d_cl_32,d_cl_33,d_cl_34,d_cl_35,d_cl_36,d_cl_37,d_cl_38,d_cl_39,d_cl_40,d_cl_41,d_cl_42,d_cl_43,d_cl_44,d_cl_45,d_cl_46,d_cl_47,d_cl_48
cluster,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.235294,0.385294,0.050000,0.076471,0.000000,0.002941,0.005882,0.026471,0.011765,0.000000,0.000000,0.002941,0.008824,0.000000,0.008824,0.002941,0.002941,0.002941,0.005882,0.005882,0.000000,0.000000,0.005882,0.008824,0.000000,0.005882,0.008824,0.000000,0.017647,0.005882,0.005882,0.011765,0.00,0.002941,0.017647,0.005882,0.000000,0.000000,0.005882,0.005882,0.000000,0.032353,0.000000,0.000000,0.002941,0.008824,0.002941,0.008824
d_cl_01,0.184322,0.000000,0.031780,0.069915,0.296610,0.004237,0.000000,0.010593,0.000000,0.000000,0.008475,0.000000,0.000000,0.008475,0.000000,0.006356,0.008475,0.000000,0.000000,0.004237,0.000000,0.004237,0.000000,0.000000,0.019068,0.000000,0.004237,0.012712,0.004237,0.095339,0.004237,0.000000,0.016949,0.00,0.004237,0.016949,0.002119,0.002119,0.000000,0.000000,0.002119,0.006356,0.042373,0.000000,0.108051,0.014831,0.006356,0.000000,0.000000
d_cl_02,0.485915,0.024648,0.000000,0.000000,0.464789,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.007042,0.003521,0.000000,0.000000,0.000000,0.003521,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.003521,0.000000,0.000000,0.000000,0.003521,0.000000,0.003521,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.065934,0.087912,0.010989,0.000000,0.010989,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.021978,0.000000,0.010989,0.000000,0.626374,0.021978,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010989,0.000000,0.021978,0.00,0.043956,0.000000,0.000000,0.000000,0.010989,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.021978,0.032967,0.000000,0.000000
d_cl_04,0.077419,0.483871,0.416129,0.003226,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003226,0.003226,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.003226,0.000000,0.003226,0.003226,0.000000,0.000000,0.000000,0.003226,0.000000,0.000000
d_cl_05,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.407407,0.074074,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.148148,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.037037,0.000000,0.000000,0.111111,0.000000,0.000000
d_cl_06,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.307692,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.538462,0.000000,0.000000,0.000000,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.500000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.222222,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.055556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.055556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.049180,0.049180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.049180,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.311475,0.000000,0.00,0.000000,0.508197,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.032787
d_cl_11,0.000000,0.000000,0.000000,0.047619,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.047619,0.000000,0.047619,0.000000,0.000000,0.000000,0.000000,0.095238,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.047619,0.000000,0.000000,0.00,0.571429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.000000,0.000000
d_cl_12,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.040000,0.160000,0.040000,0.000000,0.000000,0.280000,0.040000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.040000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.040000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.160000,0.000000,0.000000
d_cl_14,0.027027,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.054054,0.000000,0.000000,0.000000,0.027027,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.027027,0.243243,0.000000,0.567568,0.000000,0.000000,0.027027,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.027027,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.010870,0.021739,0.000000,0.239130,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.021739,0.000000,0.010870,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.695652,0.000000,0.000000
d_cl_16,0.023529,0.011765,0.000000,0.011765,0.000000,0.000000,0.000000,0.011765,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011765,0.000000,0.058824,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.023529,0.000000,0.082353,0.000000,0.000000,0.752941,0.000000,0.000000,0.011765,0.000000
d_cl_17,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.500000,0.250000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_19,0.100000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,0.050000,0.000000,0.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.050000,0.050000,0.100000,0.000000,0.05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_20,0.666667,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_21,0.027778,0.055556,0.000000,0.027778,0.000000,0.055556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.055556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.00,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.583333,0.000000,0.000000
d_cl_22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_23,0.666667,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_24,0.107143,0.321429,0.000000,0.000000,0.000000,0.000000,0.000000,0.035714,0.035714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.214286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.035714,0.000000,0.000000,0.000000,0.00,0.000000,0.071429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.035714,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_25,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.583333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_26,0.000000,0.200000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000
d_cl_27,0.028571,0.400000,0.028571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.342857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.057143,0.000000,0.000000,0.000000,0.000000,0.028571,0.000000,0.000000,0.000000,0.00,0.000000,0.028571,0.000000,0.000000,0.000000,0.028571,0.000000,0.000000,0.057143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.200000,0.000000,0.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_29,0.026144,0.379085,0.006536,0.000000,0.013072,0.000000,0.000000,0.000000,0.000000,0.000000,0.013072,0.000000,0.000000,0.000000,0.000000,0.006536,0.000000,0.000000,0.000000,0.000000,0.000000,0.006536,0.000000,0.000000,0.000000,0.000000,0.000000,0.006536,0.013072,0.000000,0.013072,0.000000,0.000000,0.00,0.006536,0.032680,0.000000,0.424837,0.000000,0.000000,0.000000,0.000000,0.045752,0.000000,0.000000,0.000000,0.006536,0.000000,0.000000
d_cl_30,0.009009,0.045045,0.000000,0.009009,0.000000,0.045045,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.090090,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.027027,0.009009,0.000000,0.000000,0.018018,0.000000,0.000000,0.000000,0.000000,0.000000,0.009009,0.000000,0.00,0.009009,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.009009,0.009009,0.000000,0.000000,0.045045,0.000000,0.000000
d_cl_31,0.027778,0.027778,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.611111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.027778,0.000000,0.000000,0.000000,0.000000,0.027778,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.027778,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000
d_cl_32,0.032258,0.161290,0.000000,0.161290,0.032258,0.000000,0.000000,0.000000,0.032258,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.451613,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.032258,0.032258,0.000000,0.032258,0.032258,0.000000,0.000000,0.000000
d_cl_33,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
d_cl_34,0.000000,0.062500,0.000000,0.062500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.031250,0.000000,0.000000,0.000000,0.000000,0.000000,0.062500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.062500,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.031250,0.437500,0.000000,0.000000
d_cl_35,0.078125,0.109375,0.015625,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.484375,0.000000,0.015625,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.031250,0.000000,0.000000,0.015625,0.015625,0.015625,0.000000,0.031250,0.000000,0.00,0.000000,0.000000,0.015625,0.000000,0.000000,0.000000,0.000000,0.000000,0.171875,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_36,0.142857,0.142857,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.285714,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_37,0.000000,0.034483,0.000000,0.013793,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.579310,0.324138,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.041379,0.000000,0.000000,0.006897,0.000000,0.000000
d_cl_38,0.000000,0.444444,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.222222,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_39,0.230769,0.230769,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.000000,0.000000,0.000000,0.076923,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.153846,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.000000
d_cl_40,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.222222,0.000000,0.000000,0.444444,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000
d_cl_41,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.769231,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_42,0.106667,0.246667,0.000000,0.000000,0.006667,0.000000,0.000000,0.000000,0.000000,0.000000,0.006667,0.000000,0.000000,0.000000,0.000000,0.006667,0.000000,0.000000,0.000000,0.013333,0.000000,0.006667,0.000000,0.000000,0.040000,0.000000,0.000000,0.006667,0.013333,0.046667,0.000000,0.006667,0.000000,0.00,0.000000,0.040000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.006667,0.000000,0.013333,0.433333,0.000000,0.000000

 78%|████████████████████████████▉        | 94/120 [1:52:25<3:07:54, 433.63s/it]

Procesamiento del user 128 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 130
INFO: Noise Filtering applied
INFO: Clusters generated
(42640, 5) (24, 5) (24, 5) (24, 5) (24, 6)
INFO: 9 clusters generated.

  0%|                                                     | 0/9 [00:00<?, ?it/s]
 11%|█████                                        | 1/9 [00:00<00:05,  1.55it/s]
 22%|██████████                                   | 2/9 [00:01<00:04,  1.54it/s]
 33%|███████████████                              | 3/9 [00:01<00:03,  1.54it/s]
 44%|████████████████████                         | 4/9 [00:02<00:03,  1.39it/s]
 56%|█████████████████████████                    | 5/9 [00:03<00:02,  1.45it/s]
 67%|██████████████████████████████               | 6/9 [00:04<00:02,  1.48it/s]
 78%|███████████████████████████████████          | 7/9 [00:04<00:01,  1.50it/s]
 89%|████████████████████████████████████████     | 8/9 [00:05<00:00,  1.51it/s]
100%|█████████████████████████████████████████████| 9/9 [00:06<00:00,  1.45it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
106,130,2009-07-06 19:17:12,39.975235,116.329328,2009-07-06,d_cl_00,d_cl_01,d_cl_00-d_cl_01
480,130,2009-07-06 19:28:58,39.974449,116.296922,2009-07-06,d_cl_01,d_cl_00,d_cl_01-d_cl_00
543,130,2009-07-11 14:39:45,39.975926,116.333818,2009-07-11,d_cl_00,d_cl_05,d_cl_00-d_cl_05
585,130,2009-07-11 14:40:27,39.983188,116.332339,2009-07-11,d_cl_05,d_cl_08,d_cl_05-d_cl_08
9663,130,2009-07-12 19:57:26,39.970660,116.300322,2009-07-12,d_cl_08,d_cl_01,d_cl_08-d_cl_01
12746,130,2009-08-29 17:31:28,39.976034,116.295096,2009-08-29,d_cl_01,d_cl_07,d_cl_01-d_cl_07
12955,130,2009-08-29 17:36:15,39.984179,116.306739,2009-08-29,d_cl_07,d_cl_04,d_cl_07-d_cl_04
13138,130,2009-08-29 17:41:47,39.984821,116.327948,2009-08-29,d_cl_04,d_cl_00,d_cl_04-d_cl_00
15261,130,2009-08-29 21:56:57,39.975198,116.329333,2009-08-29,d_cl_00,d_cl_01,d_cl_00-d_cl_01
15682,130,2009-08-30 14:42:15,39.974306,116.298614,2009-08-30,d_cl_01,d_cl_08,d_cl_01-d_cl_08
16195,130,2009-08-30 15:24:33,39.970675,116.300540,2009-08-30,d_cl_08,d_cl_01,d_cl_08-d_cl_01
17226,130,2009-09-05 13:02:52,39.972922,116.296908,2009-09-05,d_cl_01,d_cl_00,d_cl_01-d_cl_00
17265,130,2009-09-09 17:58:28,39.975339,116.329340,2009-09-09,d_cl_00,d_cl_04,d_cl_00-d_cl_04
19124,130,2009-09-09 21:25:51,39.985800,116.327097,2009-09-09,d_cl_04,d_cl_00,d_cl_04-d_cl_00
22700,130,2009-09-11 18:34:06,39.975157,116.333957,2009-09-11,d_cl_00,d_cl_06,d_cl_00-d_cl_06
25084,130,2009-09-11 21:48:55,39.991588,116.347121,2009-09-11,d_cl_06,d_cl_02,d_cl_06-d_cl_02
27197,130,2009-09-12 13:51:48,40.002082,116.346361,2009-09-12,d_cl_02,d_cl_03,d_cl_02-d_cl_03
27397,130,2009-09-12 13:56:44,39.991678,116.335157,2009-09-12,d_cl_03,d_cl_05,d_cl_03-d_cl_05
27816,130,2009-09-12 15:01:31,39.984698,116.335396,2009-09-12,d_cl_05,d_cl_06,d_cl_05-d_cl_06
31748,130,2009-09-12 21:10:21,39.991632,116.347106,2009-09-12,d_cl_06,d_cl_02,d_cl_06-d_cl_02
33219,130,2009-09-13 14:49:46,40.002099,116.346233,2009-09-13,d_cl_02,d_cl_06,d_cl_02-d_cl_06
37185,130,2009-09-13 19:03:24,39.991625,116.347098,2009-09-13,d_cl_06,d_cl_02,d_cl_06-d_cl_02
37313,130,2009-09-13 19:06:46,40.005576,116.346385,2009-09-13,d_cl_02,d_cl_00,d_cl_02-d_cl_00
37456,130,2009-09-14 18:28:41,39.975249,116.333985,2009-09-14,d_cl_00,d_cl_05,d_cl_00-d_cl_05
37630,130,2009-09-14 18:34:13,39.984814,116.334594,2009-09-14,d_cl_05,d_cl_00,d_cl_05-d_cl_00
39324,130,2009-09-17 17:58:52,39.975192,116.333987,2009-09-17,d_cl_00,d_cl_05,d_cl_00-d_cl_05
40460,130,2009-09-18 10:04:16,39.981243,116.334600,2009-09-18,d_cl_05,d_cl_00,d_cl_05-d_cl_00
40676,130,2009-09-18 19:14:19,39.974985,116.329379,2009-09-18,d_cl_00,d_cl_04,d_cl_00-d_cl_04
40860,130,2009-09-18 19:19:44,39.986197,116.325726,2009-09-18,d_cl_04,d_cl_00,d_cl_04-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08
cluster,,,,,,,,,
d_cl_00,0.000000,0.25,0.0,0.000000,0.25,0.375,0.125000,0.00,0.00
d_cl_01,0.500000,0.00,0.0,0.000000,0.00,0.000,0.000000,0.25,0.25
d_cl_02,0.333333,0.00,0.0,0.333333,0.00,0.000,0.333333,0.00,0.00
d_cl_03,0.000000,0.00,0.0,0.000000,0.00,1.000,0.000000,0.00,0.00
d_cl_04,1.000000,0.00,0.0,0.000000,0.00,0.000,0.000000,0.00,0.00
d_cl_05,0.500000,0.00,0.0,0.000000,0.00,0.000,0.250000,0.00,0.25
d_cl_06,0.000000,0.00,1.0,0.000000,0.00,0.000,0.000000,0.00,0.00
d_cl_07,0.000000,0.00,0.0,0.000000,1.00,0.000,0.000000,0.00,0.00
d_cl_08,0.000000,1.00,0.0,0.000000,0.00,0.000,0.000000,0.00,0.00

 79%|█████████████████████████████▎       | 95/120 [1:52:33<2:07:23, 305.72s/it]

Procesamiento del user 130 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 131
INFO: Noise Filtering applied
INFO: Clusters generated
(57587, 5) (31, 5) (31, 5) (31, 5) (31, 6)
INFO: 11 clusters generated.

  0%|                                                    | 0/11 [00:00<?, ?it/s]
  9%|████                                        | 1/11 [00:00<00:08,  1.15it/s]
 18%|████████                                    | 2/11 [00:01<00:07,  1.15it/s]
 27%|████████████                                | 3/11 [00:02<00:07,  1.05it/s]
 36%|████████████████                            | 4/11 [00:03<00:06,  1.09it/s]
 45%|████████████████████                        | 5/11 [00:04<00:05,  1.11it/s]
 55%|████████████████████████                    | 6/11 [00:05<00:04,  1.12it/s]
 64%|████████████████████████████                | 7/11 [00:06<00:03,  1.05it/s]
 73%|████████████████████████████████            | 8/11 [00:07<00:02,  1.08it/s]
 82%|████████████████████████████████████        | 9/11 [00:08<00:01,  1.10it/s]
 91%|███████████████████████████████████████    | 10/11 [00:09<00:00,  1.05it/s]
100%|███████████████████████████████████████████| 11/11 [00:10<00:00,  1.08it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
23,131,2009-04-17 11:55:14,39.975187,116.330113,2009-04-17,d_cl_01,d_cl_05,d_cl_01-d_cl_05
109,131,2009-04-17 11:57:54,39.975088,116.319215,2009-04-17,d_cl_05,d_cl_06,d_cl_05-d_cl_06
481,131,2009-04-17 18:42:53,39.984433,116.321667,2009-04-17,d_cl_06,d_cl_00,d_cl_06-d_cl_00
559,131,2009-04-17 18:45:03,39.984870,116.331567,2009-04-17,d_cl_00,d_cl_07,d_cl_00-d_cl_07
953,131,2009-04-17 18:55:07,39.991230,116.370755,2009-04-17,d_cl_07,d_cl_03,d_cl_07-d_cl_03
1698,131,2009-04-18 10:16:03,39.997577,116.380883,2009-04-18,d_cl_03,d_cl_10,d_cl_03-d_cl_10
12086,131,2009-04-21 07:12:09,39.964508,116.436103,2009-04-21,d_cl_10,d_cl_09,d_cl_10-d_cl_09
12596,131,2009-04-21 07:26:01,39.964630,116.364093,2009-04-21,d_cl_09,d_cl_04,d_cl_09-d_cl_04
12817,131,2009-04-21 07:57:06,39.966823,116.348557,2009-04-21,d_cl_04,d_cl_00,d_cl_04-d_cl_00
13197,131,2009-04-21 08:19:35,39.985055,116.327053,2009-04-21,d_cl_00,d_cl_06,d_cl_00-d_cl_06
19747,131,2009-04-21 14:18:30,39.986650,116.320378,2009-04-21,d_cl_06,d_cl_00,d_cl_06-d_cl_00
20223,131,2009-04-21 15:23:28,39.985137,116.327065,2009-04-21,d_cl_00,d_cl_06,d_cl_00-d_cl_06
24430,131,2009-04-21 16:45:29,39.984475,116.321808,2009-04-21,d_cl_06,d_cl_00,d_cl_06-d_cl_00
24461,131,2009-04-21 16:46:19,39.984972,116.331538,2009-04-21,d_cl_00,d_cl_07,d_cl_00-d_cl_07
24760,131,2009-04-21 16:51:41,39.991215,116.370683,2009-04-21,d_cl_07,d_cl_00,d_cl_07-d_cl_00
27833,131,2009-04-21 17:57:03,39.985127,116.327105,2009-04-21,d_cl_00,d_cl_06,d_cl_00-d_cl_06
27980,131,2009-04-21 20:08:24,39.984423,116.321727,2009-04-21,d_cl_06,d_cl_00,d_cl_06-d_cl_00
28022,131,2009-04-21 20:09:06,39.984917,116.331580,2009-04-21,d_cl_00,d_cl_07,d_cl_00-d_cl_07
28288,131,2009-04-21 20:13:32,39.991240,116.370768,2009-04-21,d_cl_07,d_cl_03,d_cl_07-d_cl_03
28432,131,2009-04-22 08:34:58,39.995415,116.380848,2009-04-22,d_cl_03,d_cl_00,d_cl_03-d_cl_00
28823,131,2009-04-22 08:46:16,39.984957,116.327150,2009-04-22,d_cl_00,d_cl_06,d_cl_00-d_cl_06
28987,131,2009-04-23 19:38:34,39.983657,116.321093,2009-04-23,d_cl_06,d_cl_01,d_cl_06-d_cl_01
29363,131,2009-04-23 21:29:15,39.974053,116.331922,2009-04-23,d_cl_01,d_cl_04,d_cl_01-d_cl_04
31230,131,2009-04-23 22:10:54,39.966318,116.349610,2009-04-23,d_cl_04,d_cl_09,d_cl_04-d_cl_09
31315,131,2009-04-23 22:12:19,39.966438,116.366448,2009-04-23,d_cl_09,d_cl_07,d_cl_09-d_cl_07
31547,131,2009-04-23 22:16:11,39.991172,116.370750,2009-04-23,d_cl_07,d_cl_03,d_cl_07-d_cl_03
31697,131,2009-04-24 08:19:46,39.995357,116.380828,2009-04-24,d_cl_03,d_cl_00,d_cl_03-d_cl_00
32149,131,2009-04-24 08:32:38,39.984993,116.327155,2009-04-24,d_cl_00,d_cl_06,d_cl_00-d_cl_06
32208,131,2009-04-24 08:34:33,39.984972,116.319802,2009-04-24,d_cl_06,d_cl_02,d_cl_06-d_cl_02
32280,131,2009-06-26 20:22:24,39.966940,116.291212,2009-06-26,d_cl_02,d_cl_06,d_cl_02-d_cl_06
32658,131,2009-06-26 20:35:38,39.984332,116.321650,2009-06-26,d_cl_06,d_cl_00,d_cl_06-d_cl_00
32734,131,2009-06-26 20:37:29,39.984675,116.331457,2009-06-26,d_cl_00,d_cl_07,d_cl_00-d_cl_07
33023,131,2009-06-26 20:42:52,39.991257,116.370852,2009-06-26,d_cl_07,d_cl_08,d_cl_07-d_cl_08
33334,131,2009-06-30 07:38:27,39.975268,116.378703,2009-06-30,d_cl_08,d_cl_09,d_cl_08-d_cl_09
33527,131,2009-06-30 07:49:49,39.964662,116.364053,2009-06-30,d_cl_09,d_cl_04,d_cl_09-d_cl_04
33804,131,2009-06-30 08:11:15,39.966898,116.348400,2009-06-30,d_cl_04,d_cl_00,d_cl_04-d_cl_00
34095,131,2009-06-30 08:21:13,39.985020,116.327158,2009-06-30,d_cl_00,d_cl_06,d_cl_00-d_cl_06
34281,131,2009-07-01 20:20:39,39.983638,116.321157,2009-07-01,d_cl_06,d_cl_01,d_cl_06-d_cl_01
34482,131,2009-07-01 20:29:16,39.975075,116.334383,2009-07-01,d_cl_01,d_cl_07,d_cl_01-d_cl_07
34912,131,2009-07-01 20:39:13,39.991220,116.370782,2009-07-01,d_cl_07,d_cl_03,d_cl_07-d_cl_03
35082,131,2009-07-02 08:17:58,39.995298,116.380732,2009-07-02,d_cl_03,d_cl_00,d_cl_03-d_cl_00
35576,131,2009-07-02 08:32:23,39.984957,116.327210,2009-07-02,d_cl_00,d_cl_06,d_cl_00-d_cl_06
35685,131,2009-07-02 18:03:34,39.983650,116.321057,2009-07-02,d_cl_06,d_cl_01,d_cl_06-d_cl_01
36011,131,2009-07-02 19:18:36,39.974043,116.331875,2009-07-02,d_cl_01,d_cl_05,d_cl_01-d_cl_05
36148,131,2009-07-02 21:51:13,39.974432,116.319432,2009-07-02,d_cl_05,d_cl_04,d_cl_05-d_cl_04
37284,131,2009-07-02 22:29:15,39.966347,116.349582,2009-07-02,d_cl_04,d_cl_09,d_cl_04-d_cl_09
37372,131,2009-07-02 22:30:43,39.966460,116.366453,2009-07-02,d_cl_09,d_cl_07,d_cl_09-d_cl_07
37564,131,2009-07-02 22:34:19,39.991282,116.370848,2009-07-02,d_cl_07,d_cl_03,d_cl_07-d_cl_03
37650,131,2009-07-03 07:27:09,39.996235,116.380593,2009-07-03,d_cl_03,d_cl_08,d_cl_03-d_cl_08
37839,131,2009-07-03 07:32:01,39.975397,116.377373,2009-07-03,d_cl_08,d_cl_09,d_cl_08-d_cl_09
38033,131,2009-07-03 07:43:03,39.964592,116.364057,2009-07-03,d_cl_09,d_cl_04,d_cl_09-d_cl_04
38244,131,2009-07-03 08:14:50,39.966860,116.348398,2009-07-03,d_cl_04,d_cl_00,d_cl_04-d_cl_00
38541,131,2009-07-03 08:29:59,39.985023,116.327207,2009-07-03,d_cl_00,d_cl_06,d_cl_00-d_cl_06
38642,131,2009-07-03 09:17:17,39.984643,116.321860,2009-07-03,d_cl_06,d_cl_00,d_cl_06-d_cl_00
38682,131,2009-07-03 09:17:59,39.985045,116.331690,2009-07-03,d_cl_00,d_cl_04,d_cl_00-d_cl_04
39234,131,2009-07-03 11:08:47,39.966877,116.348483,2009-07-03,d_cl_04,d_cl_00,d_cl_04-d_cl_00
39479,131,2009-07-03 11:18:08,39.984945,116.327165,2009-07-03,d_cl_00,d_cl_06,d_cl_00-d_cl_06
40450,131,2009-07-03 16:36:25,39.983640,116.321008,2009-07-03,d_cl_06,d_cl_01,d_cl_06-d_cl_01
40608,131,2009-07-03 16:41:23,39.974052,116.331902,2009-07-03,d_cl_01,d_cl_04,d_cl_01-d_cl_04
40810,131,2009-07-03 16:47:13,39.966258,116.349730,2009-07-03,d_cl_04,d_cl_09,d_cl_04-d_cl_09
41097,131,2009-07-03 17:05:41,39.966520,116.366415,2009-07-03,d_cl_09,d_cl_07,d_cl_09-d_cl_07
41369,131,2009-07-03 17:13:00,39.991220,116.370837,2009-07-03,d_cl_07,d_cl_00,d_cl_07-d_cl_00
41865,131,2009-07-03 17:37:22,39.984770,116.327678,2009-07-03,d_cl_00,d_cl_06,d_cl_00-d_cl_06
42031,131,2009-07-03 18:20:17,39.984385,116.321780,2009-07-03,d_cl_06,d_cl_00,d_cl_06-d_cl_00
42109,131,2009-07-03 18:23:18,39.984720,116.331518,2009-07-03,d_cl_00,d_cl_07,d_cl_00-d_cl_07
42502,131,2009-07-03 18:32:48,39.991208,116.370707,2009-07-03,d_cl_07,d_cl_03,d_cl_07-d_cl_03
42681,131,2009-07-10 09:58:31,39.995327,116.380742,2009-07-10,d_cl_03,d_cl_00,d_cl_03-d_cl_00
43183,131,2009-07-10 10:14:29,39.984988,116.327088,2009-07-10,d_cl_00,d_cl_06,d_cl_00-d_cl_06
43431,131,2009-07-10 18:51:01,39.984455,116.321757,2009-07-10,d_cl_06,d_cl_00,d_cl_06-d_cl_00
43515,131,2009-07-10 18:54:09,39.984897,116.331603,2009-07-10,d_cl_00,d_cl_07,d_cl_00-d_cl_07
43925,131,2009-07-10 19:07:35,39.991232,116.370773,2009-07-10,d_cl_07,d_cl_06,d_cl_07-d_cl_06
45343,131,2009-07-15 18:42:28,39.984548,116.321808,2009-07-15,d_cl_06,d_cl_00,d_cl_06-d_cl_00
45424,131,2009-07-15 18:44:31,39.984940,116.331573,2009-07-15,d_cl_00,d_cl_07,d_cl_00-d_cl_07
45800,131,2009-07-15 18:53:19,39.991163,116.370775,2009-07-15,d_cl_07,d_cl_03,d_cl_07-d_cl_03
49180,131,2009-07-16 07:35:08,39.995323,116.380745,2009-07-16,d_cl_03,d_cl_00,d_cl_03-d_cl_00
49566,131,2009-07-16 07:42:48,39.984970,116.327070,2009-07-16,d_cl_00,d_cl_06,d_cl_00-d_cl_06
49870,131,2009-07-16 12:52:30,39.984315,116.321697,2009-07-16,d_cl_06,d_cl_00,d_cl_06-d_cl_00
49945,131,2009-07-16 12:55:12,39.984753,116.331563,2009-07-16,d_cl_00,d_cl_07,d_cl_00-d_cl_07
50223,131,2009-07-16 12:59:57,39.991227,116.370715,2009-07-16,d_cl_07,d_cl_03,d_cl_07-d_cl_03
51598,131,2009-07-16 14:09:18,39.995318,116.380720,2009-07-16,d_cl_03,d_cl_00,d_cl_03-d_cl_00
51950,131,2009-07-16 14:16:58,39.985018,116.327137,2009-07-16,d_cl_00,d_cl_06,d_cl_00-d_cl_06
52126,131,2009-07-16 18:10:11,39.984440,116.321818,2009-07-16,d_cl_06,d_cl_00,d_cl_06-d_cl_00
52206,131,2009-07-16 18:12:16,39.984907,116.331667,2009-07-16,d_cl_00,d_cl_07,d_cl_00-d_cl_07
52587,131,2009-07-16 18:21:33,39.991215,116.370780,2009-07-16,d_cl_07,d_cl_03,d_cl_07-d_cl_03
52811,131,2009-07-22 07:35:31,39.995257,116.380722,2009-07-22,d_cl_03,d_cl_00,d_cl_03-d_cl_00
53182,131,2009-07-22 07:42:28,39.984997,116.327145,2009-07-22,d_cl_00,d_cl_06,d_cl_00-d_cl_06
53480,131,2009-07-22 08:05:15,39.984375,116.321615,2009-07-22,d_cl_06,d_cl_00,d_cl_06-d_cl_00
53531,131,2009-07-22 08:06:06,39.984857,116.331505,2009-07-22,d_cl_00,d_cl_07,d_cl_00-d_cl_07
54408,131,2009-07-22 09:48:25,39.987900,116.370680,2009-07-22,d_cl_07,d_cl_00,d_cl_07-d_cl_00
54700,131,2009-07-22 09:55:15,39.984973,116.327075,2009-07-22,d_cl_00,d_cl_06,d_cl_00-d_cl_06
54822,131,2009-07-22 12:01:29,39.983638,116.321105,2009-07-22,d_cl_06,d_cl_01,d_cl_06-d_cl_01
54989,131,2009-07-22 12:06:19,39.974043,116.331920,2009-07-22,d_cl_01,d_cl_04,d_cl_01-d_cl_04
55360,131,2009-07-22 13:59:50,39.966500,116.346522,2009-07-22,d_cl_04,d_cl_01,d_cl_04-d_cl_01
55646,131,2009-07-31 23:22:47,39.977380,116.331720,2009-07-31,d_cl_01,d_cl_05,d_cl_01-d_cl_05
56152,131,2009-08-01 15:13:58,39.975262,116.322767,2009-08-01,d_cl_05,d_cl_01,d_cl_05-d_cl_01

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10
cluster,,,,,,,,,,,
d_cl_00,0.000000,0.000000,0.000000,0.000000,0.038462,0.000000,0.576923,0.384615,0.000000,0.000,0.000000
d_cl_01,0.000000,0.000000,0.000000,0.000000,0.428571,0.428571,0.000000,0.142857,0.000000,0.000,0.000000
d_cl_02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000,0.000000
d_cl_03,0.777778,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.000,0.111111
d_cl_04,0.500000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.375,0.000000
d_cl_05,0.000000,0.333333,0.000000,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000,0.000,0.000000
d_cl_06,0.666667,0.277778,0.055556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000
d_cl_07,0.214286,0.000000,0.000000,0.642857,0.000000,0.000000,0.071429,0.000000,0.071429,0.000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.500000,0.000000,0.000,0.000000
d_cl_10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000,0.000000

 80%|█████████████████████████████▌       | 96/120 [1:52:44<1:26:59, 217.49s/it]

Procesamiento del user 131 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 134
INFO: Noise Filtering applied
INFO: Clusters generated
(4157, 5) (73, 5) (73, 5) (73, 5) (73, 6)
INFO: 5 clusters generated.

  0%|                                                     | 0/5 [00:00<?, ?it/s]
 40%|██████████████████                           | 2/5 [00:00<00:00, 15.31it/s]
100%|█████████████████████████████████████████████| 5/5 [00:00<00:00, 14.86it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
131,134,2007-04-25 01:18:04,39.974483,116.302533,2007-04-25,d_cl_02,d_cl_00,d_cl_02-d_cl_00
151,134,2007-04-25 15:46:40,39.975167,116.327117,2007-04-25,d_cl_00,d_cl_02,d_cl_00-d_cl_02
169,134,2007-04-25 15:51:37,39.974483,116.300683,2007-04-25,d_cl_02,d_cl_00,d_cl_02-d_cl_00
225,134,2007-04-27 11:56:37,39.976617,116.327367,2007-04-27,d_cl_00,d_cl_02,d_cl_00-d_cl_02
289,134,2007-04-28 06:04:24,39.974350,116.300850,2007-04-28,d_cl_02,d_cl_00,d_cl_02-d_cl_00
333,134,2007-04-30 10:57:10,39.975033,116.329317,2007-04-30,d_cl_00,d_cl_04,d_cl_00-d_cl_04
362,134,2007-05-08 11:14:00,39.975317,116.289633,2007-05-08,d_cl_04,d_cl_00,d_cl_04-d_cl_00
433,134,2007-05-11 09:28:27,39.975150,116.326183,2007-05-11,d_cl_00,d_cl_02,d_cl_00-d_cl_02
542,134,2007-05-12 02:38:37,39.974367,116.301867,2007-05-12,d_cl_02,d_cl_00,d_cl_02-d_cl_00
669,134,2007-05-26 12:23:33,39.975100,116.325883,2007-05-26,d_cl_00,d_cl_02,d_cl_00-d_cl_02
696,134,2007-05-26 12:32:23,39.973933,116.300217,2007-05-26,d_cl_02,d_cl_03,d_cl_02-d_cl_03
737,134,2007-05-28 00:24:57,39.953533,116.303600,2007-05-28,d_cl_03,d_cl_02,d_cl_03-d_cl_02
757,134,2007-05-28 00:40:35,39.974567,116.302983,2007-05-28,d_cl_02,d_cl_00,d_cl_02-d_cl_00
850,134,2007-06-01 01:38:08,39.975300,116.329417,2007-06-01,d_cl_00,d_cl_02,d_cl_00-d_cl_02
865,134,2007-06-02 05:51:56,39.974517,116.300683,2007-06-02,d_cl_02,d_cl_00,d_cl_02-d_cl_00
886,134,2007-06-02 15:30:12,39.975350,116.328167,2007-06-02,d_cl_00,d_cl_02,d_cl_00-d_cl_02
897,134,2007-06-02 15:37:11,39.974500,116.300683,2007-06-02,d_cl_02,d_cl_00,d_cl_02-d_cl_00
944,134,2007-06-08 12:30:48,39.975283,116.328783,2007-06-08,d_cl_00,d_cl_02,d_cl_00-d_cl_02
958,134,2007-06-08 12:38:29,39.974383,116.299750,2007-06-08,d_cl_02,d_cl_00,d_cl_02-d_cl_00
2183,134,2007-07-08 10:23:02,39.975633,116.325400,2007-07-08,d_cl_00,d_cl_02,d_cl_00-d_cl_02
2255,134,2007-07-08 11:23:45,39.974383,116.301717,2007-07-08,d_cl_02,d_cl_00,d_cl_02-d_cl_00
2309,134,2007-07-14 14:35:50,39.975317,116.329233,2007-07-14,d_cl_00,d_cl_02,d_cl_00-d_cl_02
2321,134,2007-07-14 14:42:23,39.974433,116.303300,2007-07-14,d_cl_02,d_cl_00,d_cl_02-d_cl_00
2873,134,2007-11-28 23:30:56,39.975308,116.329198,2007-11-28,d_cl_00,d_cl_02,d_cl_00-d_cl_02
2930,134,2007-11-29 12:21:53,39.974755,116.302098,2007-11-29,d_cl_02,d_cl_00,d_cl_02-d_cl_00
3093,134,2007-12-20 19:18:01,39.976795,116.328763,2007-12-20,d_cl_00,d_cl_01,d_cl_00-d_cl_01
3119,134,2008-01-03 18:57:16,40.085918,116.584955,2008-01-03,d_cl_01,d_cl_02,d_cl_01-d_cl_02
3427,134,2008-01-05 10:17:23,39.974433,116.303838,2008-01-05,d_cl_02,d_cl_00,d_cl_02-d_cl_00

cluster_next   d_cl_00   d_cl_01   d_cl_02   d_cl_03   d_cl_04
cluster
d_cl_00       0.000000  0.083333  0.833333  0.000000  0.083333
d_cl_01       0.000000  0.000000  1.000000  0.000000  0.000000
d_cl_02       0.923077  0.000000  0.000000  0.076923  0.000000
d_cl_03       0.000000  0.000000  1.000000  0.000000  0.000000
d_cl_04       1.000000  0.000000  0.000000  0.000000  0.000000

 81%|███████████████████████████████▌       | 97/120 [1:52:45<58:25, 152.40s/it]

Procesamiento del user 134 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 135
INFO: Noise Filtering applied
INFO: Clusters generated
(84423, 5) (13, 5) (13, 5) (13, 5) (13, 6)
INFO: 7 clusters generated.

  0%|                                                     | 0/7 [00:00<?, ?it/s]
 14%|██████▍                                      | 1/7 [00:01<00:08,  1.48s/it]
 29%|████████████▊                                | 2/7 [00:02<00:06,  1.36s/it]
 43%|███████████████████▎                         | 3/7 [00:04<00:05,  1.33s/it]
 57%|█████████████████████████▋                   | 4/7 [00:05<00:04,  1.39s/it]
 71%|████████████████████████████████▏            | 5/7 [00:06<00:02,  1.35s/it]
 86%|██████████████████████████████████████▌      | 6/7 [00:08<00:01,  1.33s/it]
100%|█████████████████████████████████████████████| 7/7 [00:09<00:00,  1.37s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
75,135,2008-12-24 14:49:08,39.917255,116.405090,2008-12-24,d_cl_06,d_cl_00,d_cl_06-d_cl_00
5047,135,2008-12-28 12:19:32,39.969030,116.398858,2008-12-28,d_cl_00,d_cl_02,d_cl_00-d_cl_02
5256,135,2009-01-01 05:38:04,39.935369,116.330440,2009-01-01,d_cl_02,d_cl_00,d_cl_02-d_cl_00
10218,135,2009-01-03 05:40:31,39.968386,116.399759,2009-01-03,d_cl_00,d_cl_01,d_cl_00-d_cl_01
10354,135,2009-01-09 14:03:23,39.975084,116.335819,2009-01-09,d_cl_01,d_cl_00,d_cl_01-d_cl_00
14893,135,2009-01-12 01:41:54,39.971051,116.399775,2009-01-12,d_cl_00,d_cl_01,d_cl_00-d_cl_01
15152,135,2009-01-12 02:14:01,39.975099,116.331651,2009-01-12,d_cl_01,d_cl_05,d_cl_01-d_cl_05
15295,135,2009-01-14 12:20:29,39.984962,116.335829,2009-01-14,d_cl_05,d_cl_04,d_cl_05-d_cl_04
16128,135,2009-01-24 07:39:39,39.892579,116.314344,2009-01-24,d_cl_04,d_cl_03,d_cl_04-d_cl_03

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
75,135,2008-12-24 14:49:07.990,39.917255,116.40509,2008-12-24,d_cl_00,d_cl_06,d_cl_06-d_cl_00

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
8,135,2009-01-24 07:39:39.010,39.892579,116.314344,2009-01-24,d_cl_03,d_cl_00,d_cl_04-d_cl_03

cluster_next  d_cl_00  d_cl_01  d_cl_02  d_cl_03  d_cl_04  d_cl_05  d_cl_06
cluster
d_cl_00           0.0      0.5     0.25      0.0      0.0      0.0     0.25
d_cl_01           0.5      0.0     0.00      0.0      0.0      0.5     0.00
d_cl_02           1.0      0.0     0.00      0.0      0.0      0.0     0.00
d_cl_03           1.0      0.0     0.00      0.0      0.0      0.0     0.00
d_cl_04           0.0      0.0     0.00      1.0      0.0      0.0     0.00
d_cl_05           0.0      0.0     0.00      0.0      1.0      0.0     0.00
d_cl_06           1.0      0.0     0.00      0.0      0.0      0.0     0.00

 82%|███████████████████████████████▊       | 98/120 [1:52:57<40:24, 110.21s/it]

Procesamiento del user 135 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 136
INFO: Noise Filtering applied
INFO: Clusters generated
(1306, 5) (43, 5) (43, 5) (43, 5) (43, 6)
INFO: 5 clusters generated.

  0%|                                                     | 0/5 [00:00<?, ?it/s]
100%|█████████████████████████████████████████████| 5/5 [00:00<00:00, 43.84it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
6,136,2008-05-09 10:08:37,39.977517,116.330683,2008-05-09,d_cl_00,d_cl_02,d_cl_00-d_cl_02
37,136,2008-05-09 10:16:05,39.990800,116.327083,2008-05-09,d_cl_02,d_cl_04,d_cl_02-d_cl_04
54,136,2008-05-09 10:22:01,39.996700,116.326367,2008-05-09,d_cl_04,d_cl_03,d_cl_04-d_cl_03
71,136,2008-05-09 10:26:16,40.000917,116.321983,2008-05-09,d_cl_03,d_cl_01,d_cl_03-d_cl_01
92,136,2008-05-10 00:19:16,40.006517,116.324150,2008-05-10,d_cl_01,d_cl_03,d_cl_01-d_cl_03
113,136,2008-05-10 00:29:02,39.999583,116.325600,2008-05-10,d_cl_03,d_cl_04,d_cl_03-d_cl_04
129,136,2008-05-10 00:31:57,39.993550,116.326433,2008-05-10,d_cl_04,d_cl_02,d_cl_04-d_cl_02
143,136,2008-05-10 00:35:35,39.988133,116.325983,2008-05-10,d_cl_02,d_cl_00,d_cl_02-d_cl_00
179,136,2008-05-10 00:43:44,39.977183,116.331250,2008-05-10,d_cl_00,d_cl_03,d_cl_00-d_cl_03
189,136,2008-05-10 07:14:28,39.999850,116.325683,2008-05-10,d_cl_03,d_cl_04,d_cl_03-d_cl_04
217,136,2008-05-10 07:25:43,39.995867,116.328833,2008-05-10,d_cl_04,d_cl_00,d_cl_04-d_cl_00
264,136,2008-05-10 07:44:04,39.975800,116.330950,2008-05-10,d_cl_00,d_cl_02,d_cl_00-d_cl_02
305,136,2008-05-10 13:48:51,39.990900,116.326683,2008-05-10,d_cl_02,d_cl_04,d_cl_02-d_cl_04
322,136,2008-05-10 13:52:45,39.996417,116.326250,2008-05-10,d_cl_04,d_cl_03,d_cl_04-d_cl_03
337,136,2008-05-10 13:55:33,40.002367,116.324400,2008-05-10,d_cl_03,d_cl_01,d_cl_03-d_cl_01
353,136,2008-05-11 02:50:52,40.006433,116.324233,2008-05-11,d_cl_01,d_cl_03,d_cl_01-d_cl_03
373,136,2008-05-11 02:55:27,39.999600,116.325733,2008-05-11,d_cl_03,d_cl_04,d_cl_03-d_cl_04
387,136,2008-05-11 02:58:29,39.993667,116.326717,2008-05-11,d_cl_04,d_cl_01,d_cl_04-d_cl_01
621,136,2008-05-12 06:01:24,40.006833,116.322300,2008-05-12,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next   d_cl_00  d_cl_01   d_cl_02   d_cl_03   d_cl_04
cluster
d_cl_00       0.000000      0.0  0.666667  0.333333  0.000000
d_cl_01       0.333333      0.0  0.000000  0.666667  0.000000
d_cl_02       0.333333      0.0  0.000000  0.000000  0.666667
d_cl_03       0.000000      0.4  0.000000  0.000000  0.600000
d_cl_04       0.200000      0.2  0.200000  0.400000  0.000000

 82%|█████████████████████████████████       | 99/120 [1:52:57<27:01, 77.22s/it]

Procesamiento del user 136 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 138
INFO: Noise Filtering applied
INFO: Clusters generated
(2351, 5) (15, 5) (15, 5) (15, 5) (15, 6)
INFO: 5 clusters generated.

  0%|                                                     | 0/5 [00:00<?, ?it/s]
100%|█████████████████████████████████████████████| 5/5 [00:00<00:00, 25.54it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
0,138,2007-05-23 01:48:40,39.987933,116.326983,2007-05-23,d_cl_02,d_cl_01,d_cl_02-d_cl_01
15,138,2007-05-24 14:49:36,39.977783,116.327050,2007-05-24,d_cl_01,d_cl_04,d_cl_01-d_cl_04
82,138,2007-05-24 15:18:03,39.990200,116.337283,2007-05-24,d_cl_04,d_cl_03,d_cl_04-d_cl_03
130,138,2007-05-24 15:30:33,39.999833,116.326017,2007-05-24,d_cl_03,d_cl_00,d_cl_03-d_cl_00
240,138,2007-05-25 05:17:32,40.006717,116.323700,2007-05-25,d_cl_00,d_cl_03,d_cl_00-d_cl_03
250,138,2007-05-25 06:19:26,39.999033,116.326233,2007-05-25,d_cl_03,d_cl_02,d_cl_03-d_cl_02
265,138,2007-05-25 06:23:57,39.991383,116.327183,2007-05-25,d_cl_02,d_cl_04,d_cl_02-d_cl_04
306,138,2007-05-25 06:54:16,39.989700,116.337200,2007-05-25,d_cl_04,d_cl_02,d_cl_04-d_cl_02
831,138,2007-05-26 10:02:29,39.991467,116.327267,2007-05-26,d_cl_02,d_cl_03,d_cl_02-d_cl_03
855,138,2007-05-26 10:07:30,39.999717,116.325983,2007-05-26,d_cl_03,d_cl_00,d_cl_03-d_cl_00
1056,138,2007-06-04 01:53:38,40.006067,116.324250,2007-06-04,d_cl_00,d_cl_03,d_cl_00-d_cl_03
1083,138,2007-06-04 01:58:59,39.996600,116.326283,2007-06-04,d_cl_03,d_cl_02,d_cl_03-d_cl_02
1105,138,2007-06-04 02:04:37,39.988267,116.326667,2007-06-04,d_cl_02,d_cl_01,d_cl_02-d_cl_01
1153,138,2007-06-06 15:14:13,39.977900,116.327567,2007-06-06,d_cl_01,d_cl_02,d_cl_01-d_cl_02
1192,138,2007-06-06 15:27:40,39.991233,116.326867,2007-06-06,d_cl_02,d_cl_03,d_cl_02-d_cl_03
1219,138,2007-06-06 15:33:21,39.999717,116.326267,2007-06-06,d_cl_03,d_cl_00,d_cl_03-d_cl_00
1357,138,2007-06-08 01:33:47,40.005517,116.324350,2007-06-08,d_cl_00,d_cl_03,d_cl_00-d_cl_03
1371,138,2007-06-08 01:55:26,39.996767,116.326667,2007-06-08,d_cl_03,d_cl_02,d_cl_03-d_cl_02
1394,138,2007-06-08 01:59:27,39.988200,116.326933,2007-06-08,d_cl_02,d_cl_01,d_cl_02-d_cl_01
1437,138,2007-06-08 02:08:20,39.975567,116.330483,2007-06-08,d_cl_01,d_cl_04,d_cl_01-d_cl_04
1519,138,2007-06-11 15:53:18,39.990900,116.337183,2007-06-11,d_cl_04,d_cl_00,d_cl_04-d_cl_00
1583,138,2007-06-11 16:09:58,40.006767,116.323583,2007-06-11,d_cl_00,d_cl_02,d_cl_00-d_cl_02
1592,138,2007-06-12 01:27:02,39.988467,116.326650,2007-06-12,d_cl_02,d_cl_01,d_cl_02-d_cl_01
1628,138,2007-06-12 01:35:32,39.975750,116.329300,2007-06-12,d_cl_01,d_cl_03,d_cl_01-d_cl_03
1849,138,2007-06-20 23:46:05,39.996500,116.326117,2007-06-20,d_cl_03,d_cl_02,d_cl_03-d_cl_02
1874,138,2007-06-20 23:51:02,39.988250,116.326750,2007-06-20,d_cl_02,d_cl_01,d_cl_02-d_cl_01
1921,138,2007-06-21 00:05:45,39.975200,116.330100,2007-06-21,d_cl_01,d_cl_02,d_cl_01-d_cl_02
2057,138,2007-06-26 00:21:01,39.988333,116.326717,2007-06-26,d_cl_02,d_cl_01,d_cl_02-d_cl_01
2098,138,2007-06-26 00:31:36,39.975333,116.330217,2007-06-26,d_cl_01,d_cl_03,d_cl_01-d_cl_03
2108,138,2007-06-27 00:09:11,39.996433,116.326350,2007-06-27,d_cl_03,d_cl_02,d_cl_03-d_cl_02
2132,138,2007-06-27 00:14:20,39.988283,116.326700,2007-06-27,d_cl_02,d_cl_01,d_cl_02-d_cl_01

cluster_next   d_cl_00  d_cl_01   d_cl_02   d_cl_03   d_cl_04
cluster
d_cl_00       0.000000      0.0  0.250000  0.750000  0.000000
d_cl_01       0.000000      0.0  0.333333  0.333333  0.333333
d_cl_02       0.000000      0.7  0.000000  0.200000  0.100000
d_cl_03       0.375000      0.0  0.625000  0.000000  0.000000
d_cl_04       0.333333      0.0  0.333333  0.333333  0.000000

 83%|████████████████████████████████▌      | 100/120 [1:52:57<18:03, 54.16s/it]

Procesamiento del user 138 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 139
INFO: Noise Filtering applied
INFO: Clusters generated
(1353, 5) (19, 5) (19, 5) (19, 5) (19, 6)
INFO: 3 clusters generated.

100%|█████████████████████████████████████████████| 3/3 [00:00<00:00, 44.41it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
398,139,2007-09-06 23:49:21,39.898167,116.314733,2007-09-06,d_cl_02,d_cl_01,d_cl_02-d_cl_01
431,139,2007-09-07 00:48:32,39.975483,116.330300,2007-09-07,d_cl_01,d_cl_00,d_cl_01-d_cl_00
810,139,2007-09-22 04:03:44,39.981433,116.318633,2007-09-22,d_cl_00,d_cl_01,d_cl_00-d_cl_01
891,139,2007-10-03 07:59:48,39.975483,116.330567,2007-10-03,d_cl_01,d_cl_00,d_cl_01-d_cl_00

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
398,139,2007-09-06 23:49:20.990,39.898167,116.314733,2007-09-06,d_cl_00,d_cl_02,d_cl_02-d_cl_01

cluster_next  d_cl_00  d_cl_01  d_cl_02
cluster
d_cl_00           0.0      0.5      0.5
d_cl_01           1.0      0.0      0.0
d_cl_02           0.0      1.0      0.0

 84%|████████████████████████████████▊      | 101/120 [1:52:57<12:01, 37.97s/it]

Procesamiento del user 139 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 140
INFO: Noise Filtering applied
INFO: Clusters generated
(342496, 5) (300, 5) (300, 5) (300, 5) (300, 6)
INFO: 21 clusters generated.

  0%|                                                    | 0/21 [00:00<?, ?it/s]
  5%|██                                          | 1/21 [00:05<01:47,  5.38s/it]
 10%|████▏                                       | 2/21 [00:10<01:42,  5.39s/it]
 14%|██████▎                                     | 3/21 [00:16<01:38,  5.48s/it]
 19%|████████▍                                   | 4/21 [00:21<01:32,  5.46s/it]
 24%|██████████▍                                 | 5/21 [00:27<01:27,  5.46s/it]
 29%|████████████▌                               | 6/21 [00:32<01:22,  5.51s/it]
 33%|██████████████▋                             | 7/21 [00:38<01:16,  5.48s/it]
 38%|████████████████▊                           | 8/21 [00:43<01:11,  5.51s/it]
 43%|██████████████████▊                         | 9/21 [00:49<01:05,  5.49s/it]
 48%|████████████████████▍                      | 10/21 [00:54<01:00,  5.47s/it]
 52%|██████████████████████▌                    | 11/21 [01:00<00:55,  5.50s/it]
 57%|████████████████████████▌                  | 12/21 [01:05<00:49,  5.46s/it]
 62%|██████████████████████████▌                | 13/21 [01:11<00:44,  5.51s/it]
 67%|████████████████████████████▋              | 14/21 [01:16<00:38,  5.48s/it]
 71%|██████████████████████████████▋            | 15/21 [01:22<00:32,  5.50s/it]
 76%|████████████████████████████████▊          | 16/21 [01:27<00:27,  5.47s/it]
 81%|██████████████████████████████████▊        | 17/21 [01:33<00:22,  5.50s/it]
 86%|████████████████████████████████████▊      | 18/21 [01:38<00:16,  5.48s/it]
 90%|██████████████████████████████████████▉    | 19/21 [01:44<00:11,  5.51s/it]
 95%|████████████████████████████████████████▉  | 20/21 [01:49<00:05,  5.48s/it]
100%|███████████████████████████████████████████| 21/21 [01:55<00:00,  5.48s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
147,140,2007-04-29 13:18:09,39.986367,116.383383,2007-04-29,d_cl_00,d_cl_15,d_cl_00-d_cl_15
223,140,2007-05-01 22:37:39,39.902483,116.420833,2007-05-01,d_cl_15,d_cl_20,d_cl_15-d_cl_20
832,140,2007-05-06 12:41:47,39.892150,116.482550,2007-05-06,d_cl_20,d_cl_00,d_cl_20-d_cl_00
1127,140,2008-08-18 13:41:18,39.986335,116.383602,2008-08-18,d_cl_00,d_cl_04,d_cl_00-d_cl_04
1329,140,2008-08-18 13:53:29,39.984678,116.437683,2008-08-18,d_cl_04,d_cl_00,d_cl_04-d_cl_00
...,...,...,...,...,...,...,...,...
337589,140,2009-09-13 12:22:09,39.992416,116.423210,2009-09-13,d_cl_01,d_cl_00,d_cl_01-d_cl_00
338805,140,2009-09-18 03:04:33,39.986592,116.379109,2009-09-18,d_cl_00,d_cl_03,d_cl_00-d_cl_03
339046,140,2009-09-18 05:53:30,39.966351,116.355212,2009-09-18,d_cl_03,d_cl_19,d_cl_03-d_cl_19
340189,140,2009-09-18 07:29:07,39.951656,116.454975,2009-09-18,d_cl_19,d_cl_18,d_cl_19-d_cl_18
340338,140,2009-09-18 07:41:27,39.988004,116.427677,2009-09-18,d_cl_18,d_cl_00,d_cl_18-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20
cluster,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.147541,0.049180,0.163934,0.016393,0.000000,0.114754,0.065574,0.032787,0.032787,0.000000,0.016393,0.000000,0.065574,0.065574,0.032787,0.016393,0.016393,0.147541,0.016393,0.00
d_cl_01,0.411765,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.529412,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.058824,0.000000,0.00
d_cl_02,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.600000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
d_cl_03,0.312500,0.062500,0.062500,0.000000,0.062500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.00
d_cl_04,0.066667,0.000000,0.000000,0.000000,0.000000,0.066667,0.000000,0.000000,0.000000,0.133333,0.000000,0.000000,0.000000,0.000000,0.066667,0.000000,0.000000,0.266667,0.400000,0.000000,0.00
d_cl_05,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
d_cl_06,0.888889,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
d_cl_07,0.818182,0.000000,0.090909,0.000000,0.000000,0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
d_cl_08,0.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
d_cl_09,0.157895,0.263158,0.000000,0.000000,0.052632,0.000000,0.000000,0.052632,0.000000,0.000000,0.000000,0.000000,0.210526,0.000000,0.000000,0.000000,0.000000,0.000000,0.157895,0.105263,0.00
d_cl_10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.00
d_cl_11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
d_cl_12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
d_cl_13,0.200000,0.200000,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
d_cl_14,0.400000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00
d_cl_15,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.50
d_cl_16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.00
d_cl_17,0.000000,0.125000,0.000000,0.000000,0.500000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.25
d_cl_18,0.518519,0.000000,0.000000,0.037037,0.259259,0.000000,0.000000,0.000000,0.000000,0.037037,0.037037,0.000000,0.037037,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.074074,0.00
d_cl_19,0.153846,0.000000,0.000000,0.153846,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.538462,0.000000,0.00
d_cl_20,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.00

 85%|█████████████████████████████████▏     | 102/120 [1:55:10<19:54, 66.35s/it]

Procesamiento del user 140 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 141
INFO: Noise Filtering applied
INFO: Clusters generated
(64773, 5) (33, 5) (33, 5) (33, 5) (33, 6)
INFO: 5 clusters generated.

  0%|                                                     | 0/5 [00:00<?, ?it/s]
 20%|█████████                                    | 1/5 [00:00<00:03,  1.01it/s]
 40%|██████████████████                           | 2/5 [00:01<00:02,  1.01it/s]
 60%|███████████████████████████                  | 3/5 [00:03<00:02,  1.08s/it]
 80%|████████████████████████████████████         | 4/5 [00:04<00:01,  1.04s/it]
100%|█████████████████████████████████████████████| 5/5 [00:05<00:00,  1.03s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
1855,141,2011-08-30 00:18:21,39.976597,116.327538,2011-08-30,d_cl_00,d_cl_01,d_cl_00-d_cl_01
2934,141,2011-08-30 01:10:59,39.980038,116.304345,2011-08-30,d_cl_01,d_cl_00,d_cl_01-d_cl_00
3332,141,2011-08-30 12:07:08,39.977868,116.331272,2011-08-30,d_cl_00,d_cl_01,d_cl_00-d_cl_01
3937,141,2011-09-02 10:09:35,39.981040,116.304058,2011-09-02,d_cl_01,d_cl_03,d_cl_01-d_cl_03
4362,141,2011-09-02 10:24:21,39.986635,116.301360,2011-09-02,d_cl_03,d_cl_00,d_cl_03-d_cl_00
6117,141,2011-09-03 04:21:29,39.978342,116.328723,2011-09-03,d_cl_00,d_cl_03,d_cl_00-d_cl_03
7036,141,2011-09-03 05:20:11,39.984313,116.299383,2011-09-03,d_cl_03,d_cl_00,d_cl_03-d_cl_00
8527,141,2011-09-05 00:17:09,39.976970,116.327585,2011-09-05,d_cl_00,d_cl_01,d_cl_00-d_cl_01
10081,141,2011-09-09 10:40:10,39.980012,116.305237,2011-09-09,d_cl_01,d_cl_00,d_cl_01-d_cl_00
20361,141,2011-09-18 08:23:05,39.977422,116.327672,2011-09-18,d_cl_00,d_cl_03,d_cl_00-d_cl_03
22426,141,2011-09-18 09:31:57,39.984263,116.299215,2011-09-18,d_cl_03,d_cl_00,d_cl_03-d_cl_00
23665,141,2011-09-19 00:17:58,39.976790,116.327517,2011-09-19,d_cl_00,d_cl_01,d_cl_00-d_cl_01
24629,141,2011-09-19 00:48:21,39.978012,116.304612,2011-09-19,d_cl_01,d_cl_00,d_cl_01-d_cl_00
29042,141,2011-09-26 00:15:46,39.977155,116.328303,2011-09-26,d_cl_00,d_cl_01,d_cl_00-d_cl_01
30015,141,2011-09-29 10:45:49,39.979590,116.306042,2011-09-29,d_cl_01,d_cl_00,d_cl_01-d_cl_00
31020,141,2011-10-08 00:20:23,39.976755,116.327515,2011-10-08,d_cl_00,d_cl_01,d_cl_00-d_cl_01
32040,141,2011-10-08 00:52:50,39.979802,116.304180,2011-10-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
36480,141,2011-10-09 00:48:36,39.975665,116.331705,2011-10-09,d_cl_00,d_cl_01,d_cl_00-d_cl_01
37305,141,2011-10-09 01:13:38,39.979163,116.304148,2011-10-09,d_cl_01,d_cl_00,d_cl_01-d_cl_00
38163,141,2011-10-10 00:22:40,39.976647,116.327527,2011-10-10,d_cl_00,d_cl_01,d_cl_00-d_cl_01
41938,141,2011-10-11 01:16:44,39.978477,116.304092,2011-10-11,d_cl_01,d_cl_00,d_cl_01-d_cl_00
43306,141,2011-10-13 01:12:19,39.975233,116.328678,2011-10-13,d_cl_00,d_cl_01,d_cl_00-d_cl_01
43931,141,2011-10-13 01:31:55,39.979042,116.301950,2011-10-13,d_cl_01,d_cl_00,d_cl_01-d_cl_00
44039,141,2011-10-14 00:16:33,39.976693,116.327678,2011-10-14,d_cl_00,d_cl_01,d_cl_00-d_cl_01
45082,141,2011-10-14 00:49:51,39.979497,116.304073,2011-10-14,d_cl_01,d_cl_02,d_cl_01-d_cl_02
48354,141,2011-10-22 05:17:37,39.992375,116.199620,2011-10-22,d_cl_02,d_cl_00,d_cl_02-d_cl_00
56964,141,2011-10-23 00:21:14,39.975555,116.331542,2011-10-23,d_cl_00,d_cl_04,d_cl_00-d_cl_04

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
56964,141,2011-10-23 00:21:14.010,39.975555,116.331542,2011-10-23,d_cl_04,d_cl_00,d_cl_00-d_cl_04

cluster_next  d_cl_00   d_cl_01  d_cl_02   d_cl_03   d_cl_04
cluster
d_cl_00           0.0  0.769231      0.0  0.153846  0.076923
d_cl_01           0.8  0.000000      0.1  0.100000  0.000000
d_cl_02           1.0  0.000000      0.0  0.000000  0.000000
d_cl_03           1.0  0.000000      0.0  0.000000  0.000000
d_cl_04           1.0  0.000000      0.0  0.000000  0.000000

 86%|█████████████████████████████████▍     | 103/120 [1:55:17<13:43, 48.45s/it]

Procesamiento del user 141 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 142
INFO: Noise Filtering applied
INFO: Clusters generated
(178267, 5) (144, 5) (144, 5) (144, 5) (144, 6)
INFO: 19 clusters generated.

  0%|                                                    | 0/19 [00:00<?, ?it/s]
  5%|██▎                                         | 1/19 [00:02<00:51,  2.87s/it]
 11%|████▋                                       | 2/19 [00:05<00:49,  2.89s/it]
 16%|██████▉                                     | 3/19 [00:08<00:46,  2.91s/it]
 21%|█████████▎                                  | 4/19 [00:11<00:42,  2.84s/it]
 26%|███████████▌                                | 5/19 [00:14<00:40,  2.86s/it]
 32%|█████████████▉                              | 6/19 [00:17<00:37,  2.89s/it]
 37%|████████████████▏                           | 7/19 [00:20<00:34,  2.89s/it]
 42%|██████████████████▌                         | 8/19 [00:22<00:31,  2.84s/it]
 47%|████████████████████▊                       | 9/19 [00:25<00:28,  2.87s/it]
 53%|██████████████████████▋                    | 10/19 [00:28<00:25,  2.88s/it]
 58%|████████████████████████▉                  | 11/19 [00:31<00:23,  2.90s/it]
 63%|███████████████████████████▏               | 12/19 [00:34<00:20,  2.91s/it]
 68%|█████████████████████████████▍             | 13/19 [00:37<00:17,  2.86s/it]
 74%|███████████████████████████████▋           | 14/19 [00:40<00:14,  2.88s/it]
 79%|█████████████████████████████████▉         | 15/19 [00:43<00:11,  2.90s/it]
 84%|████████████████████████████████████▏      | 16/19 [00:46<00:08,  2.91s/it]
 89%|██████████████████████████████████████▍    | 17/19 [00:49<00:05,  2.90s/it]
 95%|████████████████████████████████████████▋  | 18/19 [00:51<00:02,  2.90s/it]
100%|███████████████████████████████████████████| 19/19 [00:54<00:00,  2.88s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
28,142,2007-04-12 10:30:10,39.975650,116.330550,2007-04-12,d_cl_01,d_cl_11,d_cl_01-d_cl_11
36,142,2007-04-12 11:21:58,39.984517,116.311317,2007-04-12,d_cl_11,d_cl_02,d_cl_11-d_cl_02
39,142,2007-04-12 11:25:17,39.980500,116.286000,2007-04-12,d_cl_02,d_cl_00,d_cl_02-d_cl_00
69,142,2007-04-13 01:36:06,39.950817,116.269700,2007-04-13,d_cl_00,d_cl_08,d_cl_00-d_cl_08
91,142,2007-04-13 01:51:26,39.958867,116.296817,2007-04-13,d_cl_08,d_cl_01,d_cl_08-d_cl_01
...,...,...,...,...,...,...,...,...
177746,142,2011-01-31 09:22:32,39.976939,116.328878,2011-01-31,d_cl_01,d_cl_17,d_cl_01-d_cl_17
177912,142,2011-01-31 09:28:04,39.985547,116.342132,2011-01-31,d_cl_17,d_cl_09,d_cl_17-d_cl_09
177957,142,2011-01-31 09:29:34,39.984658,116.321783,2011-01-31,d_cl_09,d_cl_11,d_cl_09-d_cl_11
177985,142,2011-01-31 09:30:30,39.984324,116.308281,2011-01-31,d_cl_11,d_cl_02,d_cl_11-d_cl_02
178051,142,2011-01-31 09:32:42,39.978788,116.284166,2011-01-31,d_cl_02,d_cl_00,d_cl_02-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18
cluster,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.029851,0.044776,0.000000,0.746269,0.059701,0.029851,0.000000,0.059701,0.000000,0.029851,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_01,0.114754,0.000000,0.000000,0.000000,0.016393,0.016393,0.032787,0.000000,0.000000,0.213115,0.016393,0.065574,0.065574,0.180328,0.000000,0.000000,0.016393,0.262295,0.000000
d_cl_02,0.900000,0.025000,0.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025000
d_cl_03,0.166667,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.333333
d_cl_04,0.107143,0.000000,0.000000,0.000000,0.000000,0.000000,0.214286,0.017857,0.642857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.017857
d_cl_05,0.833333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000
d_cl_06,0.145161,0.000000,0.000000,0.000000,0.000000,0.016129,0.000000,0.000000,0.032258,0.016129,0.000000,0.000000,0.000000,0.790323,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.023256,0.046512,0.000000,0.000000,0.093023,0.000000,0.813953,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023256,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.032258,0.000000,0.032258,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.903226,0.032258,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.100000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.800000
d_cl_11,0.000000,0.000000,0.970588,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029412,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.000000,0.600000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.000000,0.819672,0.000000,0.000000,0.000000,0.000000,0.180328,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
d_cl_16,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000
d_cl_17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.941176,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.058824,0.000000,0.000000
d_cl_18,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.071429,0.000000,0.000000,0.428571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 87%|█████████████████████████████████▊     | 104/120 [1:56:18<13:55, 52.21s/it]

Procesamiento del user 142 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 144
INFO: Noise Filtering applied
INFO: Clusters generated
(582833, 5) (3171, 5) (3171, 5) (3171, 5) (3171, 6)
INFO: 40 clusters generated.

  0%|                                                    | 0/40 [00:00<?, ?it/s]
  2%|█                                           | 1/40 [00:09<06:00,  9.23s/it]
  5%|██▏                                         | 2/40 [00:18<05:50,  9.22s/it]
  8%|███▎                                        | 3/40 [00:27<05:41,  9.23s/it]
 10%|████▍                                       | 4/40 [00:37<05:35,  9.32s/it]
 12%|█████▌                                      | 5/40 [00:46<05:22,  9.21s/it]
 15%|██████▌                                     | 6/40 [00:55<05:15,  9.28s/it]
 18%|███████▋                                    | 7/40 [01:04<05:06,  9.29s/it]
 20%|████████▊                                   | 8/40 [01:14<04:57,  9.30s/it]
 22%|█████████▉                                  | 9/40 [01:23<04:48,  9.30s/it]
 25%|██████████▊                                | 10/40 [01:32<04:36,  9.23s/it]
 28%|███████████▊                               | 11/40 [01:41<04:29,  9.29s/it]
 30%|████████████▉                              | 12/40 [01:51<04:18,  9.22s/it]
 32%|█████████████▉                             | 13/40 [02:00<04:10,  9.28s/it]
 35%|███████████████                            | 14/40 [02:09<04:01,  9.28s/it]
 38%|████████████████▏                          | 15/40 [02:18<03:50,  9.21s/it]
 40%|█████████████████▏                         | 16/40 [02:28<03:42,  9.27s/it]
 42%|██████████████████▎                        | 17/40 [02:37<03:33,  9.27s/it]
 45%|███████████████████▎                       | 18/40 [02:46<03:24,  9.28s/it]
 48%|████████████████████▍                      | 19/40 [02:55<03:13,  9.22s/it]
 50%|█████████████████████▌                     | 20/40 [03:05<03:05,  9.29s/it]
 52%|██████████████████████▌                    | 21/40 [03:14<02:55,  9.23s/it]
 55%|███████████████████████▋                   | 22/40 [03:23<02:47,  9.31s/it]
 57%|████████████████████████▋                  | 23/40 [03:33<02:38,  9.30s/it]
 60%|█████████████████████████▊                 | 24/40 [03:42<02:28,  9.28s/it]
 62%|██████████████████████████▉                | 25/40 [03:51<02:19,  9.29s/it]
 65%|███████████████████████████▉               | 26/40 [04:00<02:09,  9.22s/it]
 68%|█████████████████████████████              | 27/40 [04:10<02:00,  9.29s/it]
 70%|██████████████████████████████             | 28/40 [04:19<01:50,  9.21s/it]
 72%|███████████████████████████████▏           | 29/40 [04:28<01:41,  9.27s/it]
 75%|████████████████████████████████▎          | 30/40 [04:37<01:32,  9.25s/it]
 78%|█████████████████████████████████▎         | 31/40 [04:47<01:23,  9.26s/it]
 80%|██████████████████████████████████▍        | 32/40 [04:56<01:13,  9.20s/it]
 82%|███████████████████████████████████▍       | 33/40 [05:05<01:04,  9.27s/it]
 85%|████████████████████████████████████▌      | 34/40 [05:14<00:55,  9.21s/it]
 88%|█████████████████████████████████████▋     | 35/40 [05:24<00:46,  9.29s/it]
 90%|██████████████████████████████████████▋    | 36/40 [05:33<00:37,  9.27s/it]
 92%|███████████████████████████████████████▊   | 37/40 [05:42<00:27,  9.26s/it]
 95%|████████████████████████████████████████▊  | 38/40 [05:51<00:18,  9.20s/it]
 98%|█████████████████████████████████████████▉ | 39/40 [06:01<00:09,  9.27s/it]
100%|███████████████████████████████████████████| 40/40 [06:10<00:00,  9.25s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
8,144,2008-04-28 11:04:21,39.975238,116.332768,2008-04-28,d_cl_02,d_cl_39,d_cl_02-d_cl_39
24,144,2008-04-28 11:18:12,39.986325,116.375618,2008-04-28,d_cl_39,d_cl_35,d_cl_39-d_cl_35
63,144,2008-04-28 11:27:56,39.986347,116.433795,2008-04-28,d_cl_35,d_cl_01,d_cl_35-d_cl_01
122,144,2008-04-30 01:34:47,39.987693,116.452918,2008-04-30,d_cl_01,d_cl_10,d_cl_01-d_cl_10
128,144,2008-04-30 01:39:12,39.981618,116.448145,2008-04-30,d_cl_10,d_cl_37,d_cl_10-d_cl_37
...,...,...,...,...,...,...,...,...
579420,144,2009-09-22 23:56:56,40.027325,116.435097,2009-09-22,d_cl_00,d_cl_24,d_cl_00-d_cl_24
579582,144,2009-09-23 00:09:56,40.001585,116.490193,2009-09-23,d_cl_24,d_cl_11,d_cl_24-d_cl_11
580669,144,2009-09-23 06:31:29,39.904798,116.365968,2009-09-23,d_cl_11,d_cl_03,d_cl_11-d_cl_03
581205,144,2009-09-23 12:56:27,40.020931,116.403366,2009-09-23,d_cl_03,d_cl_00,d_cl_03-d_cl_00
581329,144,2009-09-23 13:11:32,40.028020,116.433318,2009-09-23,d_cl_00,d_cl_11,d_cl_00-d_cl_11

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21,d_cl_22,d_cl_23,d_cl_24,d_cl_25,d_cl_26,d_cl_27,d_cl_28,d_cl_29,d_cl_30,d_cl_31,d_cl_32,d_cl_33,d_cl_34,d_cl_35,d_cl_36,d_cl_37,d_cl_38,d_cl_39
cluster,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.007246,0.000000,0.173913,0.050725,0.021739,0.072464,0.036232,0.173913,0.000000,0.000000,0.050725,0.028986,0.007246,0.181159,0.021739,0.000000,0.014493,0.000000,0.007246,0.007246,0.000000,0.00,0.007246,0.043478,0.014493,0.014493,0.007246,0.0,0.021739,0.014493,0.007246,0.0,0.007246,0.000000,0.000000,0.000000,0.000000,0.007246,0.000000
d_cl_01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333
d_cl_02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.125000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.750000
d_cl_03,0.589744,0.000000,0.000000,0.000000,0.000000,0.000000,0.025641,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025641,0.051282,0.000000,0.000000,0.051282,0.153846,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.025641,0.0,0.000000,0.051282,0.000000,0.000000,0.000000,0.025641,0.000000
d_cl_04,0.333333,0.000000,0.000000,0.041667,0.000000,0.000000,0.000000,0.125000,0.041667,0.000000,0.000000,0.041667,0.000000,0.000000,0.000000,0.000000,0.000000,0.041667,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.041667,0.0,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.533333,0.200000,0.000000,0.066667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.133333,0.00,0.000000,0.066667,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.500000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.418605,0.000000,0.000000,0.023256,0.023256,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023256,0.023256,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.488372,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.090909,0.000000,0.000000,0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.636364,0.181818,0.000000,0.000000
d_cl_10,0.000000,0.368421,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.315789,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.263158,0.000000,0.052632,0.000000,0.000000
d_cl_11,0.200000,0.000000,0.000000,0.050000,0.100000,0.000000,0.050000,0.000000,0.050000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.050000,0.000000,0.00,0.000000,0.000000,0.000000,0.050000,0.000000,0.0,0.100000,0.000000,0.150000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,0.000000
d_cl_12,0.030303,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.484848,0.000000,0.000000,0.000000,0.000000,0.000000,0.439394,0.000000,0.00,0.000000,0.000000,0.000000,0.015152,0.000000,0.0,0.000000,0.015152,0.015152,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.400000,0.000000,0.000000,0.000000,0.3,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.476923,0.000000,0.000000,0.000000,0.000000,0.046154,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.461538,0.015385,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.041667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.041667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.916667,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_16,0.285714,0.000000,0.000000,0.000000,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.000000,0.000000,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.285714,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.142857,0.000000,0.142857,0.142857,0.000000,0.000000,0.000000,0.071429,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.071429,0.000000,0.000000,0.357143,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.071429,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.000000,0.000000,0.000000,0.454545,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.545455,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
d_cl_20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.016129,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.064516,0.0,0.000000,0.403226,0.000000,0.0,0.000000,0.000000,0.016129,0.000000,0.000000,0.000000,0.000000
d_cl_21,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.333333,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_24,0.428571,0.000000,0.000000,0.000000,0.000000,0.000000,0.071429,0.000000,0.000000,0.000000,0.000000,0.071429,0.000000,0.428571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_25,0.200000,0.000000,0.000000,0.044444,0.000000,0.000000,0.000000,0.000000,0.355556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.119048,0.000000,0.000000,0.023810,0.000000,0.071429,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.047619,0.642857,0.023810,0.0,0.000000,0.023810,0.000000,0.000000,0.023810,0.000000,0.023810
d_cl_27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.375000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.125000,0.000000,0.000000,0.500000,0.000000
d_cl_28,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.25,0.000000,0.250000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_29,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.625000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.035088,0.000000,0.000000,0.000000,0.000000,0.000000,0.035088,0.000000,0.000000,0.000000,0.438596,0.000000,0.00,0.000000,0.000000,0.000000,0.491228,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_31,0.300000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.1,0.000000,0.000000,0.000000,0.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.200000
d_cl_32,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_33,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_34,0.230769,0.000000,0.000000,0.000000,0.461538,0.000000,0.000000,0.000000,0.000000,0.076923,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.076923,0.000000,0.0,0.000000,0.000000,0.076923,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_35,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.384615,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.153846,0.000000,0.0,0.000000,0.000000,0.000000,0.076923,0.307692,0.000000,0.000000
d_cl_36,0.058824,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.176471,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.058824,0.000000,0.000000,0.352941,0.000000,0.352941
d_cl_37,0.071429,0.000000,0.000000,0.000000,0.142857,0.000000,0.000000,0.071429,0.000000,0.357143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.357143,0.000000,0.000000,0.000000,0.000000
d_cl_38,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.250000,0.000000,0.000000,0.250000,0.0,0.125000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_39,0.058824,0.000000,0.294118,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.058824,0.0,0.000000,0.000000,0.058824,0.529412,0.000000,0.000000,0.000000

 88%|█████████████████████████████████▎    | 105/120 [2:03:12<40:11, 160.77s/it]

Procesamiento del user 144 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 147
INFO: Noise Filtering applied
INFO: Clusters generated
(33891, 5) (81, 5) (81, 5) (81, 5) (81, 6)
INFO: 7 clusters generated.

  0%|                                                     | 0/7 [00:00<?, ?it/s]
 14%|██████▍                                      | 1/7 [00:00<00:03,  1.92it/s]
 29%|████████████▊                                | 2/7 [00:01<00:02,  1.92it/s]
 43%|███████████████████▎                         | 3/7 [00:01<00:02,  1.93it/s]
 57%|█████████████████████████▋                   | 4/7 [00:02<00:01,  1.93it/s]
 71%|████████████████████████████████▏            | 5/7 [00:02<00:01,  1.94it/s]
 86%|██████████████████████████████████████▌      | 6/7 [00:03<00:00,  1.91it/s]
100%|█████████████████████████████████████████████| 7/7 [00:03<00:00,  1.91it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
55,147,2011-02-24 18:58:14,39.975308,116.331742,2011-02-24,d_cl_03,d_cl_00,d_cl_03-d_cl_00
505,147,2011-02-25 08:35:59,39.985922,116.349617,2011-02-25,d_cl_00,d_cl_03,d_cl_00-d_cl_03
824,147,2011-02-25 20:09:05,39.976105,116.327814,2011-02-25,d_cl_03,d_cl_04,d_cl_03-d_cl_04
976,147,2011-02-25 20:27:15,39.991861,116.344305,2011-02-25,d_cl_04,d_cl_00,d_cl_04-d_cl_00
1113,147,2011-02-28 08:46:11,39.986038,116.349560,2011-02-28,d_cl_00,d_cl_03,d_cl_00-d_cl_03
...,...,...,...,...,...,...,...,...
32159,147,2011-05-18 21:05:45,39.983646,116.304489,2011-05-18,d_cl_01,d_cl_02,d_cl_01-d_cl_02
32316,147,2011-05-18 21:18:00,39.985061,116.339348,2011-05-18,d_cl_02,d_cl_00,d_cl_02-d_cl_00
33605,147,2011-05-19 09:00:33,39.985125,116.350249,2011-05-19,d_cl_00,d_cl_03,d_cl_00-d_cl_03
33721,147,2011-05-19 09:09:38,39.974835,116.328254,2011-05-19,d_cl_03,d_cl_05,d_cl_03-d_cl_05
33767,147,2011-05-19 09:13:18,39.975023,116.317239,2011-05-19,d_cl_05,d_cl_06,d_cl_05-d_cl_06

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06
cluster,,,,,,,
d_cl_00,0.000000,0.073171,0.121951,0.804878,0.000000,0.000000,0.0
d_cl_01,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0
d_cl_02,0.722222,0.000000,0.000000,0.277778,0.000000,0.000000,0.0
d_cl_03,0.461538,0.000000,0.000000,0.000000,0.205128,0.333333,0.0
d_cl_04,0.888889,0.111111,0.000000,0.000000,0.000000,0.000000,0.0
d_cl_05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
d_cl_06,0.166667,0.750000,0.000000,0.000000,0.083333,0.000000,0.0

 88%|█████████████████████████████████▌    | 106/120 [2:03:16<26:34, 113.93s/it]

Procesamiento del user 147 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 150
INFO: Noise Filtering applied
INFO: Clusters generated
(2793, 5) (32, 5) (32, 5) (32, 5) (32, 6)
INFO: 2 clusters generated.

100%|█████████████████████████████████████████████| 2/2 [00:00<00:00, 21.24it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
1714,150,2007-08-05 23:36:16,39.975183,116.338383,2007-08-05,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1974,150,2007-08-06 12:25:27,39.984933,116.339683,2007-08-06,d_cl_01,d_cl_00,d_cl_01-d_cl_00
2313,150,2007-08-07 23:29:30,39.975133,116.338633,2007-08-07,d_cl_00,d_cl_01,d_cl_00-d_cl_01
2455,150,2007-08-08 10:54:19,39.985100,116.343767,2007-08-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00

cluster_next  d_cl_00  d_cl_01
cluster
d_cl_00           0.0      1.0
d_cl_01           1.0      0.0

 89%|██████████████████████████████████▊    | 107/120 [2:03:16<17:17, 79.82s/it]

Procesamiento del user 150 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 153
INFO: Noise Filtering applied
INFO: Clusters generated
(2156964, 5) (1902, 5) (1902, 5) (1902, 5) (1902, 6)
INFO: 51 clusters generated.

  0%|                                                    | 0/51 [00:00<?, ?it/s]
  2%|▊                                           | 1/51 [00:34<28:28, 34.17s/it]
  4%|█▋                                          | 2/51 [01:08<27:53, 34.15s/it]
  6%|██▌                                         | 3/51 [01:42<27:10, 33.96s/it]
  8%|███▍                                        | 4/51 [02:16<26:47, 34.21s/it]
 10%|████▎                                       | 5/51 [02:50<26:04, 34.00s/it]
 12%|█████▏                                      | 6/51 [03:24<25:31, 34.04s/it]
 14%|██████                                      | 7/51 [03:57<24:50, 33.87s/it]
 16%|██████▉                                     | 8/51 [04:31<24:16, 33.86s/it]
 18%|███████▊                                    | 9/51 [05:05<23:41, 33.84s/it]
 20%|████████▍                                  | 10/51 [05:39<23:09, 33.89s/it]
 22%|█████████▎                                 | 11/51 [06:13<22:35, 33.90s/it]
 24%|██████████                                 | 12/51 [06:47<21:58, 33.80s/it]
 25%|██████████▉                                | 13/51 [07:21<21:29, 33.93s/it]
 27%|███████████▊                               | 14/51 [07:54<20:52, 33.86s/it]
 29%|████████████▋                              | 15/51 [08:29<20:21, 33.92s/it]
 31%|█████████████▍                             | 16/51 [09:02<19:47, 33.92s/it]
 33%|██████████████▎                            | 17/51 [09:36<19:13, 33.92s/it]
 35%|███████████████▏                           | 18/51 [10:10<18:34, 33.76s/it]
 37%|████████████████                           | 19/51 [10:44<18:04, 33.90s/it]
 39%|████████████████▊                          | 20/51 [11:17<17:27, 33.78s/it]
 41%|█████████████████▋                         | 21/51 [11:52<16:57, 33.91s/it]
 43%|██████████████████▌                        | 22/51 [12:26<16:24, 33.93s/it]
 45%|███████████████████▍                       | 23/51 [13:00<15:51, 33.97s/it]
 47%|████████████████████▏                      | 24/51 [13:34<15:19, 34.07s/it]
 49%|█████████████████████                      | 25/51 [14:08<14:42, 33.92s/it]
 51%|█████████████████████▉                     | 26/51 [14:42<14:08, 33.93s/it]
 53%|██████████████████████▊                    | 27/51 [15:16<13:38, 34.11s/it]
 55%|███████████████████████▌                   | 28/51 [15:50<13:05, 34.16s/it]
 57%|████████████████████████▍                  | 29/51 [16:24<12:30, 34.10s/it]
 59%|█████████████████████████▎                 | 30/51 [16:58<11:55, 34.07s/it]
 61%|██████████████████████████▏                | 31/51 [17:32<11:21, 34.05s/it]
 63%|██████████████████████████▉                | 32/51 [18:07<10:49, 34.17s/it]
 65%|███████████████████████████▊               | 33/51 [18:41<10:13, 34.06s/it]
 67%|████████████████████████████▋              | 34/51 [19:15<09:40, 34.12s/it]
 69%|█████████████████████████████▌             | 35/51 [19:49<09:05, 34.07s/it]
 71%|██████████████████████████████▎            | 36/51 [20:23<08:30, 34.01s/it]
 73%|███████████████████████████████▏           | 37/51 [20:56<07:54, 33.89s/it]
 75%|████████████████████████████████           | 38/51 [21:31<07:24, 34.20s/it]
 76%|████████████████████████████████▉          | 39/51 [22:05<06:48, 34.05s/it]
 78%|█████████████████████████████████▋         | 40/51 [22:40<06:18, 34.40s/it]
 80%|██████████████████████████████████▌        | 41/51 [23:14<05:42, 34.23s/it]
 82%|███████████████████████████████████▍       | 42/51 [23:49<05:08, 34.32s/it]
 84%|████████████████████████████████████▎      | 43/51 [24:23<04:34, 34.30s/it]
 86%|█████████████████████████████████████      | 44/51 [24:57<03:59, 34.19s/it]
 88%|█████████████████████████████████████▉     | 45/51 [25:31<03:24, 34.13s/it]
 90%|██████████████████████████████████████▊    | 46/51 [26:04<02:49, 34.00s/it]
 92%|███████████████████████████████████████▋   | 47/51 [26:39<02:16, 34.09s/it]
 94%|████████████████████████████████████████▍  | 48/51 [27:13<01:42, 34.07s/it]
 96%|█████████████████████████████████████████▎ | 49/51 [27:46<01:07, 33.94s/it]
 98%|██████████████████████████████████████████▏| 50/51 [28:20<00:33, 33.93s/it]
100%|███████████████████████████████████████████| 51/51 [28:55<00:00, 34.02s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
43,153,2007-07-21 11:01:35,39.968633,116.344467,2007-07-21,d_cl_03,d_cl_02,d_cl_03-d_cl_02
86,153,2007-07-21 13:19:23,39.975217,116.333700,2007-07-21,d_cl_02,d_cl_03,d_cl_02-d_cl_03
196,153,2007-07-22 04:11:01,39.966850,116.343633,2007-07-22,d_cl_03,d_cl_02,d_cl_03-d_cl_02
387,153,2007-07-22 08:15:17,39.975383,116.333867,2007-07-22,d_cl_02,d_cl_03,d_cl_02-d_cl_03
599,153,2007-07-22 12:20:32,39.966250,116.344233,2007-07-22,d_cl_03,d_cl_43,d_cl_03-d_cl_43
...,...,...,...,...,...,...,...,...
2155320,153,2012-06-15 20:52:31,39.986255,116.382148,2012-06-15,d_cl_11,d_cl_40,d_cl_11-d_cl_40
2155395,153,2012-06-15 20:53:49,39.986729,116.396153,2012-06-15,d_cl_40,d_cl_04,d_cl_40-d_cl_04
2155456,153,2012-06-15 20:54:54,39.987268,116.408396,2012-06-15,d_cl_04,d_cl_00,d_cl_04-d_cl_00
2155799,153,2012-06-16 11:34:19,39.984076,116.450784,2012-06-16,d_cl_00,d_cl_21,d_cl_00-d_cl_21
2156023,153,2012-06-16 14:53:56,39.987595,116.475995,2012-06-16,d_cl_21,d_cl_00,d_cl_21-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21,d_cl_22,d_cl_23,d_cl_24,...,d_cl_26,d_cl_27,d_cl_28,d_cl_29,d_cl_30,d_cl_31,d_cl_32,d_cl_33,d_cl_34,d_cl_35,d_cl_36,d_cl_37,d_cl_38,d_cl_39,d_cl_40,d_cl_41,d_cl_42,d_cl_43,d_cl_44,d_cl_45,d_cl_46,d_cl_47,d_cl_48,d_cl_49,d_cl_50
cluster,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.019444,0.052778,0.002778,0.072222,0.033333,0.000000,0.000000,0.005556,0.002778,0.027778,0.000000,0.069444,0.113889,0.000000,0.000000,0.0,0.025000,0.000000,0.011111,0.077778,0.072222,0.000000,0.002778,0.002778,...,0.002778,0.000000,0.002778,0.005556,0.000000,0.002778,0.011111,0.038889,0.002778,0.000000,0.000000,0.000000,0.166667,0.002778,0.000000,0.008333,0.000,0.011111,0.000000,0.005556,0.011111,0.002778,0.100000,0.000000,0.005556
d_cl_01,0.032432,0.000000,0.172973,0.005405,0.005405,0.091892,0.000000,0.070270,0.000000,0.000000,0.000000,0.005405,0.010811,0.005405,0.037838,0.005405,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.010811,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010811,0.027027,0.005405,0.000000,0.000000,0.005405,0.000000,0.000000,0.000000,0.000000,0.000,0.027027,0.037838,0.248649,0.000000,0.043243,0.118919,0.000000,0.021622
d_cl_02,0.008772,0.105263,0.000000,0.508772,0.008772,0.000000,0.000000,0.000000,0.026316,0.000000,0.254386,0.000000,0.017544,0.000000,0.017544,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008772,0.000000,...,0.008772,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.008772,0.000000,0.008772,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.008772,0.000000,0.000000,0.008772,0.000000,0.000000
d_cl_03,0.000000,0.056180,0.224719,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.067416,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.011236,0.044944,0.000000,...,0.573034,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.011236,0.011236,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.653846,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.009615,0.000000,0.000000,0.0,0.028846,0.000000,0.000000,0.000000,0.000000,0.000000,0.009615,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.019231,0.000000,0.240385,0.000000,0.000,0.009615,0.000000,0.000000,0.028846,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.163265,0.306122,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.020408,0.000000,0.040816,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.020408,0.000000,0.244898,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.040816,0.061224,0.000000,0.061224,0.040816,0.000000,0.000000
d_cl_06,0.000000,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.088235,0.411765,0.000000,0.029412,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029412,0.000000,0.0,0.029412,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029412,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029412,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.352941,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.625000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.075000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.011905,0.000000,0.047619,0.011905,0.000000,0.000000,0.000000,0.000000,0.142857,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.785714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_11,0.000000,0.010204,0.000000,0.010204,0.010204,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010204,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.234694,0.000000,0.000000,0.010204,0.000000,0.704082,0.000000,0.000,0.000000,0.000000,0.000000,0.010204,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.627451,0.000000,0.039216,0.000000,0.019608,0.019608,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.039216,0.058824,0.000000,0.000000,0.000,0.098039,0.000000,0.000000,0.078431,0.000000,0.019608,0.000000,0.000000
d_cl_13,0.459184,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010204,0.000000,0.000000,0.000000,0.0,0.020408,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.510204,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.000000,0.315789,0.526316,0.052632,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.052632,0.052632,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.000000,0.250000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000
d_cl_16,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.258621,0.000000,0.017241,0.000000,0.017241,0.000000,0.000000,0.017241,0.000000,0.000000,0.000000,0.000000,0.000000,0.051724,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.017241,0.034483,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.327586,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.103448,0.000,0.017241,0.000000,0.137931,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.516129,0.000000,0.000000,0.483871,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_19,0.063492,0.000000,0.015873,0.015873,0.000000,0.000000,0.000000,0.000000,0.015873,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.841270,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.047619,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_20,0.609195,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.022989,0.000000,0.344828,0.000000,0.011494,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.011494,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_21,0.666667,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.0,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.000,0.033333,0.000000,0.000000,0.000000,0.000000,0.066667,0.000000,0.000000
d_cl_22,0.000000,0.000000,0.250000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,...,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_23,0.133333,0.000000,0.066667,0.333333,0.000000,0.000000,0.000000,0.066667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.133333,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.066667,0.000000,0.000000,0.066667,0.000000
d_cl_24,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.375000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.125000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_25,0.043478,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.869565,0.000000,0.043478,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.043478,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_26,0.011905,0.000000,0.190476,0.154762,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.642857,0.000000,0.000000,0.000000,0.000000
d_cl_27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.515152,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.484848,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.487179,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.512821,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_29,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.310345,0.000000,0.000000,0.206897,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.482759,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_31,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.250000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000
d_cl_32,0.333333,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.166667,0.166667,0.000000,0.000000
d_cl_33,0.041096,0.068493,0.000000,0.000000,0.000000,0.136986,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013699,0.000000,0.000000,0.000000,0.000000,0.013699,0.000000,0.000000,0.000,0.000000,0.013699,0.000000,0.000000,0.082192,0.616438,0.000000,0.013699
d_cl_34,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.250000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000
d_cl_35,0.032609,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010870,0.000000,0.000000,0.195652,0.750000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.010870,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_36,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.472222,0.527778,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_37,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_38,0.277778,0.000000,0.013889,0.000000,0.013889,0.000000,0.000000,0.000000,0.027778,0.000000,0.013889,0.000000,0.083333,0.013889,0.000000,0.000000,0.0,0.000000,0.000000,0.402778,0.055556,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.013889,0.000000,0.000000,0.000000,0.000000,0.000000,0.027778,0.000000,0.027778,0.000000,0.000000,0.013889,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_39,0.000000,0.200000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_40,0.000000,0.000000,0.000000,0.000000,0.726316,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.273684,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_41,0.015748,0.007874,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.393701,0.000000,0.000000,0.0,0.007874,0.000000,0.000000,0.007874,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.496063,0.000000,0.000000,0.000000,0.000000,0.070866
d_cl_42,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 90%|███████████████████████████████▌   | 108/120 [3:03:37<3:48:24, 1142.07s/it]

Procesamiento del user 153 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 154
INFO: Noise Filtering applied
INFO: Clusters generated
(2927, 5) (13, 5) (13, 5) (13, 5) (13, 6)
INFO: 5 clusters generated.

  0%|                                                     | 0/5 [00:00<?, ?it/s]
100%|█████████████████████████████████████████████| 5/5 [00:00<00:00, 21.37it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
0,154,2007-04-30 11:47:38,39.160083,117.199417,2007-04-30,d_cl_04,d_cl_00,d_cl_04-d_cl_00
230,154,2007-05-02 05:21:29,39.144450,117.215500,2007-05-02,d_cl_00,d_cl_03,d_cl_00-d_cl_03
428,154,2007-05-02 08:18:50,39.141050,117.229783,2007-05-02,d_cl_03,d_cl_00,d_cl_03-d_cl_00
513,154,2007-05-03 02:40:23,39.144067,117.219517,2007-05-03,d_cl_00,d_cl_02,d_cl_00-d_cl_02
538,154,2007-05-03 02:48:40,39.145183,117.227417,2007-05-03,d_cl_02,d_cl_00,d_cl_02-d_cl_00
633,154,2007-05-05 01:04:45,39.144417,117.215200,2007-05-05,d_cl_00,d_cl_03,d_cl_00-d_cl_03
876,154,2007-05-05 13:53:28,39.140800,117.230033,2007-05-05,d_cl_03,d_cl_02,d_cl_03-d_cl_02
897,154,2007-05-05 14:01:55,39.144500,117.223067,2007-05-05,d_cl_02,d_cl_00,d_cl_02-d_cl_00
921,154,2007-05-07 05:31:43,39.144200,117.219500,2007-05-07,d_cl_00,d_cl_02,d_cl_00-d_cl_02
944,154,2007-05-07 05:39:49,39.145250,117.227267,2007-05-07,d_cl_02,d_cl_03,d_cl_02-d_cl_03
1092,154,2007-05-07 12:06:26,39.140767,117.229917,2007-05-07,d_cl_03,d_cl_02,d_cl_03-d_cl_02
1117,154,2007-05-07 12:15:13,39.144517,117.223150,2007-05-07,d_cl_02,d_cl_00,d_cl_02-d_cl_00
1138,154,2007-05-07 22:07:58,39.145467,117.217017,2007-05-07,d_cl_00,d_cl_03,d_cl_00-d_cl_03
1150,154,2007-05-07 22:10:53,39.139783,117.230000,2007-05-07,d_cl_03,d_cl_01,d_cl_03-d_cl_01

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
0,154,2007-04-30 11:47:37.990,39.160083,117.199417,2007-04-30,d_cl_00,d_cl_04,d_cl_04-d_cl_00

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
13,154,2007-05-07 22:10:53.010,39.139783,117.23,2007-05-07,d_cl_01,d_cl_00,d_cl_03-d_cl_01

cluster_next  d_cl_00  d_cl_01   d_cl_02  d_cl_03   d_cl_04
cluster
d_cl_00          0.00     0.00  0.333333     0.50  0.166667
d_cl_01          1.00     0.00  0.000000     0.00  0.000000
d_cl_02          0.75     0.00  0.000000     0.25  0.000000
d_cl_03          0.25     0.25  0.500000     0.00  0.000000
d_cl_04          1.00     0.00  0.000000     0.00  0.000000

 91%|████████████████████████████████▋   | 109/120 [3:03:38<2:26:35, 799.57s/it]

Procesamiento del user 154 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 155
INFO: Noise Filtering applied
INFO: Clusters generated
(41590, 5) (43, 5) (43, 5) (43, 5) (43, 6)
INFO: 11 clusters generated.

  0%|                                                    | 0/11 [00:00<?, ?it/s]
  9%|████                                        | 1/11 [00:00<00:07,  1.39it/s]
 18%|████████                                    | 2/11 [00:01<00:06,  1.47it/s]
 27%|████████████                                | 3/11 [00:02<00:05,  1.50it/s]
 36%|████████████████                            | 4/11 [00:02<00:04,  1.51it/s]
 45%|████████████████████                        | 5/11 [00:03<00:03,  1.54it/s]
 55%|████████████████████████                    | 6/11 [00:03<00:03,  1.56it/s]
 64%|████████████████████████████                | 7/11 [00:04<00:02,  1.56it/s]
 73%|████████████████████████████████            | 8/11 [00:05<00:01,  1.57it/s]
 82%|████████████████████████████████████        | 9/11 [00:05<00:01,  1.57it/s]
 91%|███████████████████████████████████████    | 10/11 [00:06<00:00,  1.57it/s]
100%|███████████████████████████████████████████| 11/11 [00:07<00:00,  1.50it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
2234,155,2009-05-16 12:41:09,39.976156,116.333870,2009-05-16,d_cl_01,d_cl_05,d_cl_01-d_cl_05
2292,155,2009-05-16 12:42:07,39.986419,116.331829,2009-05-16,d_cl_05,d_cl_02,d_cl_05-d_cl_02
3489,155,2009-05-16 13:13:19,40.051753,116.402184,2009-05-16,d_cl_02,d_cl_01,d_cl_02-d_cl_01
3830,155,2009-05-21 13:35:08,39.976061,116.333915,2009-05-21,d_cl_01,d_cl_05,d_cl_01-d_cl_05
3889,155,2009-05-21 13:36:07,39.986462,116.331862,2009-05-21,d_cl_05,d_cl_02,d_cl_05-d_cl_02
5470,155,2009-05-21 23:20:30,40.052496,116.402291,2009-05-21,d_cl_02,d_cl_05,d_cl_02-d_cl_05
6635,155,2009-05-21 23:46:58,39.983042,116.332251,2009-05-21,d_cl_05,d_cl_01,d_cl_05-d_cl_01
6885,155,2009-05-27 07:08:41,39.975042,116.334443,2009-05-27,d_cl_01,d_cl_02,d_cl_01-d_cl_02
10796,155,2009-05-27 13:45:38,40.051798,116.402160,2009-05-27,d_cl_02,d_cl_01,d_cl_02-d_cl_01
10905,155,2009-05-31 13:30:55,39.974513,116.333840,2009-05-31,d_cl_01,d_cl_02,d_cl_01-d_cl_02
11635,155,2009-05-31 14:17:26,40.052042,116.402099,2009-05-31,d_cl_02,d_cl_01,d_cl_02-d_cl_01
11918,155,2009-06-01 13:28:36,39.974792,116.334322,2009-06-01,d_cl_01,d_cl_02,d_cl_01-d_cl_02
12680,155,2009-06-01 14:18:37,40.051967,116.402112,2009-06-01,d_cl_02,d_cl_01,d_cl_02-d_cl_01
12759,155,2009-06-02 13:27:52,39.974493,116.334065,2009-06-02,d_cl_01,d_cl_02,d_cl_01-d_cl_02
13503,155,2009-06-02 14:07:10,40.052016,116.402096,2009-06-02,d_cl_02,d_cl_01,d_cl_02-d_cl_01
14835,155,2009-06-08 13:18:00,39.976340,116.333519,2009-06-08,d_cl_01,d_cl_05,d_cl_01-d_cl_05
14892,155,2009-06-08 13:18:57,39.986433,116.331886,2009-06-08,d_cl_05,d_cl_02,d_cl_05-d_cl_02
16274,155,2009-06-09 00:44:48,40.052435,116.402241,2009-06-09,d_cl_02,d_cl_05,d_cl_02-d_cl_05
17432,155,2009-06-09 01:11:12,39.982939,116.332298,2009-06-09,d_cl_05,d_cl_01,d_cl_05-d_cl_01
17553,155,2009-06-09 01:18:05,39.975903,116.330682,2009-06-09,d_cl_01,d_cl_02,d_cl_01-d_cl_02
17593,155,2009-06-22 01:12:54,40.052693,116.402321,2009-06-22,d_cl_02,d_cl_05,d_cl_02-d_cl_05
18723,155,2009-06-22 01:38:19,39.982912,116.332310,2009-06-22,d_cl_05,d_cl_01,d_cl_05-d_cl_01
18911,155,2009-06-22 13:18:36,39.974818,116.333949,2009-06-22,d_cl_01,d_cl_02,d_cl_01-d_cl_02
19213,155,2009-06-23 00:59:52,40.052254,116.402606,2009-06-23,d_cl_02,d_cl_05,d_cl_02-d_cl_05
20368,155,2009-06-23 01:26:01,39.982986,116.332359,2009-06-23,d_cl_05,d_cl_01,d_cl_05-d_cl_01
20537,155,2009-07-09 13:08:28,39.975117,116.334245,2009-07-09,d_cl_01,d_cl_06,d_cl_01-d_cl_06
20579,155,2009-07-09 14:01:44,39.875360,116.454733,2009-07-09,d_cl_06,d_cl_00,d_cl_06-d_cl_00
20918,155,2009-07-10 00:02:25,39.857691,116.430560,2009-07-10,d_cl_00,d_cl_04,d_cl_00-d_cl_04
21024,155,2009-07-10 00:07:12,39.856746,116.416768,2009-07-10,d_cl_04,d_cl_09,d_cl_04-d_cl_09
21065,155,2009-07-10 09:33:07,39.912367,116.353402,2009-07-10,d_cl_09,d_cl_10,d_cl_09-d_cl_10
21418,155,2009-07-10 10:06:56,39.958987,116.340540,2009-07-10,d_cl_10,d_cl_01,d_cl_10-d_cl_01
21798,155,2009-07-10 13:08:47,39.974933,116.333818,2009-07-10,d_cl_01,d_cl_06,d_cl_01-d_cl_06
23872,155,2009-07-11 06:35:13,39.875098,116.454637,2009-07-11,d_cl_06,d_cl_09,d_cl_06-d_cl_09
24777,155,2009-07-14 09:32:32,39.911625,116.354056,2009-07-14,d_cl_09,d_cl_04,d_cl_09-d_cl_04
24983,155,2009-07-14 10:11:55,39.856423,116.418284,2009-07-14,d_cl_04,d_cl_00,d_cl_04-d_cl_00
25108,155,2009-07-14 10:16:23,39.857484,116.435122,2009-07-14,d_cl_00,d_cl_01,d_cl_00-d_cl_01
25317,155,2009-07-16 13:21:03,39.974901,116.334369,2009-07-16,d_cl_01,d_cl_06,d_cl_01-d_cl_06
25354,155,2009-07-16 14:21:40,39.875068,116.454607,2009-07-16,d_cl_06,d_cl_00,d_cl_06-d_cl_00
25813,155,2009-07-17 00:16:03,39.857826,116.430786,2009-07-17,d_cl_00,d_cl_04,d_cl_00-d_cl_04
26045,155,2009-07-17 00:27:37,39.856558,116.414415,2009-07-17,d_cl_04,d_cl_08,d_cl_04-d_cl_08
26064,155,2009-07-17 01:03:57,39.899415,116.357032,2009-07-17,d_cl_08,d_cl_09,d_cl_08-d_cl_09
26440,155,2009-07-17 01:27:19,39.913470,116.352830,2009-07-17,d_cl_09,d_cl_06,d_cl_09-d_cl_06
26914,155,2009-07-19 03:14:25,39.875102,116.454849,2009-07-19,d_cl_06,d_cl_01,d_cl_06-d_cl_01
27738,155,2009-07-20 12:27:31,39.974525,116.333932,2009-07-20,d_cl_01,d_cl_09,d_cl_01-d_cl_09
27962,155,2009-07-21 09:35:32,39.912035,116.353409,2009-07-21,d_cl_09,d_cl_07,d_cl_09-d_cl_07
28922,155,2009-07-22 13:00:38,39.872070,116.415013,2009-07-22,d_cl_07,d_cl_03,d_cl_07-d_cl_03
29072,155,2009-07-22 13:06:26,39.863783,116.424264,2009-07-22,d_cl_03,d_cl_00,d_cl_03-d_cl_00
29216,155,2009-07-22 13:12:42,39.855699,116.432746,2009-07-22,d_cl_00,d_cl_04,d_cl_00-d_cl_04
29407,155,2009-07-23 08:43:52,39.856489,116.418223,2009-07-23,d_cl_04,d_cl_00,d_cl_04-d_cl_00
29541,155,2009-07-23 08:48:47,39.855685,116.432489,2009-07-23,d_cl_00,d_cl_04,d_cl_00-d_cl_04
29717,155,2009-07-24 00:10:49,39.856744,116.416873,2009-07-24,d_cl_04,d_cl_00,d_cl_04-d_cl_00
29779,155,2009-07-26 01:31:58,39.859069,116.432657,2009-07-26,d_cl_00,d_cl_02,d_cl_00-d_cl_02
31743,155,2009-07-26 10:01:17,40.051921,116.402129,2009-07-26,d_cl_02,d_cl_01,d_cl_02-d_cl_01
31879,155,2009-07-27 13:10:54,39.976193,116.333797,2009-07-27,d_cl_01,d_cl_06,d_cl_01-d_cl_06
31971,155,2009-07-27 14:10:40,39.874991,116.455106,2009-07-27,d_cl_06,d_cl_00,d_cl_06-d_cl_00
32309,155,2009-07-27 14:23:25,39.855985,116.434026,2009-07-27,d_cl_00,d_cl_09,d_cl_00-d_cl_09
32385,155,2009-07-28 09:34:45,39.911901,116.353615,2009-07-28,d_cl_09,d_cl_00,d_cl_09-d_cl_00
32897,155,2009-07-29 00:01:04,39.857627,116.430693,2009-07-29,d_cl_00,d_cl_04,d_cl_00-d_cl_04
33002,155,2009-07-29 00:05:41,39.856835,116.416803,2009-07-29,d_cl_04,d_cl_09,d_cl_04-d_cl_09
33011,155,2009-07-29 09:35:25,39.912066,116.353384,2009-07-29,d_cl_09,d_cl_06,d_cl_09-d_cl_06
33322,155,2009-07-29 10:43:59,39.875092,116.454873,2009-07-29,d_cl_06,d_cl_00,d_cl_06-d_cl_00
33714,155,2009-07-30 00:04:35,39.857827,116.430659,2009-07-30,d_cl_00,d_cl_04,d_cl_00-d_cl_04
33836,155,2009-07-30 00:10:45,39.856743,116.416718,2009-07-30,d_cl_04,d_cl_09,d_cl_04-d_cl_09
33845,155,2009-07-30 00:54:08,39.913443,116.352846,2009-07-30,d_cl_09,d_cl_02,d_cl_09-d_cl_02
34609,155,2009-07-30 13:11:35,40.050825,116.405602,2009-07-30,d_cl_02,d_cl_03,d_cl_02-d_cl_03
35090,155,2009-07-30 13:59:04,39.863991,116.424240,2009-07-30,d_cl_03,d_cl_00,d_cl_03-d_cl_00
35325,155,2009-07-31 00:04:28,39.856341,116.430901,2009-07-31,d_cl_00,d_cl_04,d_cl_00-d_cl_04
35451,155,2009-07-31 00:10:46,39.856861,116.416815,2009-07-31,d_cl_04,d_cl_09,d_cl_04-d_cl_09
35500,155,2009-07-31 09:33:15,39.911627,116.354096,2009-07-31,d_cl_09,d_cl_04,d_cl_09-d_cl_04
35697,155,2009-07-31 10:15:22,39.856460,116.418321,2009-07-31,d_cl_04,d_cl_00,d_cl_04-d_cl_00
36108,155,2009-08-01 02:12:24,39.857830,116.430662,2009-08-01,d_cl_00,d_cl_04,d_cl_00-d_cl_04
36250,155,2009-08-01 02:21:03,39.856796,116.416896,2009-08-01,d_cl_04,d_cl_02,d_cl_04-d_cl_02
36741,155,2009-08-01 03:19:55,40.053832,116.403272,2009-08-01,d_cl_02,d_cl_00,d_cl_02-d_cl_00
37843,155,2009-08-02 23:57:03,39.857792,116.430581,2009-08-02,d_cl_00,d_cl_04,d_cl_00-d_cl_04
37951,155,2009-08-03 00:02:36,39.856858,116.416882,2009-08-03,d_cl_04,d_cl_09,d_cl_04-d_cl_09
38057,155,2009-08-03 09:33:01,39.912041,116.353387,2009-08-03,d_cl_09,d_cl_03,d_cl_09-d_cl_03
38346,155,2009-08-03 12:19:04,39.864150,116.424332,2009-08-03,d_cl_03,d_cl_00,d_cl_03-d_cl_00
38668,155,2009-08-03 23:40:17,39.857782,116.430634,2009-08-03,d_cl_00,d_cl_04,d_cl_00-d_cl_04
38766,155,2009-08-03 23:44:16,39.856770,116.416834,2009-08-03,d_cl_04,d_cl_09,d_cl_04-d_cl_09
38822,155,2009-08-04 09:23:58,39.911981,116.353509,2009-08-04,d_cl_09,d_cl_07,d_cl_09-d_cl_07
40526,155,2009-08-04 13:00:53,39.872058,116.415152,2009-08-04,d_cl_07,d_cl_03,d_cl_07-d_cl_03
40669,155,2009-08-04 13:06:29,39.863917,116.424304,2009-08-04,d_cl_03,d_cl_00,d_cl_03-d_cl_00
40850,155,2009-08-04 13:15:57,39.855632,116.432433,2009-08-04,d_cl_00,d_cl_04,d_cl_00-d_cl_04
41037,155,2009-08-05 00:11:08,39.856709,116.417115,2009-08-05,d_cl_04,d_cl_09,d_cl_04-d_cl_09
41137,155,2009-08-05 09:28:20,39.912014,116.353388,2009-08-05,d_cl_09,d_cl_04,d_cl_09-d_cl_04
41347,155,2009-08-05 10:09:54,39.856465,116.418211,2009-08-05,d_cl_04,d_cl_00,d_cl_04-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10
cluster,,,,,,,,,,,
d_cl_00,0.000000,0.071429,0.071429,0.000000,0.785714,0.000000,0.000000,0.000000,0.000000,0.071429,0.000000
d_cl_01,0.000000,0.000000,0.428571,0.000000,0.000000,0.214286,0.285714,0.000000,0.000000,0.071429,0.000000
d_cl_02,0.083333,0.500000,0.000000,0.083333,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.357143,0.000000,0.071429,0.000000,0.000000,0.000000,0.000000,0.000000,0.071429,0.500000,0.000000
d_cl_05,0.000000,0.571429,0.428571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.666667,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000
d_cl_07,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
d_cl_09,0.090909,0.000000,0.090909,0.090909,0.272727,0.000000,0.181818,0.181818,0.000000,0.000000,0.090909
d_cl_10,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 92%|█████████████████████████████████   | 110/120 [3:03:46<1:33:42, 562.21s/it]

Procesamiento del user 155 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 157
INFO: Noise Filtering applied
INFO: Clusters generated
(2500, 5) (17, 5) (17, 5) (17, 5) (17, 6)
INFO: 5 clusters generated.

  0%|                                                     | 0/5 [00:00<?, ?it/s]
100%|█████████████████████████████████████████████| 5/5 [00:00<00:00, 24.59it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
23,157,2007-07-31 12:24:04,39.974983,116.331750,2007-07-31,d_cl_02,d_cl_00,d_cl_02-d_cl_00
57,157,2007-07-31 12:34:34,39.979217,116.344100,2007-07-31,d_cl_00,d_cl_01,d_cl_00-d_cl_01
93,157,2007-07-31 14:04:43,39.975217,116.362200,2007-07-31,d_cl_01,d_cl_04,d_cl_01-d_cl_04
162,157,2007-08-01 02:03:26,39.974117,116.389500,2007-08-01,d_cl_04,d_cl_01,d_cl_04-d_cl_01
196,157,2007-08-01 02:15:30,39.975483,116.359400,2007-08-01,d_cl_01,d_cl_00,d_cl_01-d_cl_00
318,157,2007-08-01 14:37:26,39.978917,116.347483,2007-08-01,d_cl_00,d_cl_01,d_cl_00-d_cl_01
340,157,2007-08-01 14:46:29,39.975150,116.361567,2007-08-01,d_cl_01,d_cl_04,d_cl_01-d_cl_04
399,157,2007-08-02 02:05:35,39.973767,116.389667,2007-08-02,d_cl_04,d_cl_01,d_cl_04-d_cl_01
447,157,2007-08-02 02:21:28,39.975283,116.358267,2007-08-02,d_cl_01,d_cl_00,d_cl_01-d_cl_00
612,157,2007-08-02 13:39:22,39.979767,116.345750,2007-08-02,d_cl_00,d_cl_01,d_cl_00-d_cl_01
644,157,2007-08-02 13:54:58,39.975283,116.362517,2007-08-02,d_cl_01,d_cl_04,d_cl_01-d_cl_04
684,157,2007-08-02 14:08:27,39.973900,116.393800,2007-08-02,d_cl_04,d_cl_01,d_cl_04-d_cl_01
739,157,2007-08-03 03:09:28,39.975417,116.359733,2007-08-03,d_cl_01,d_cl_00,d_cl_01-d_cl_00
785,157,2007-08-03 04:49:00,39.978667,116.347300,2007-08-03,d_cl_00,d_cl_01,d_cl_00-d_cl_01
817,157,2007-08-03 04:56:22,39.975067,116.361083,2007-08-03,d_cl_01,d_cl_04,d_cl_01-d_cl_04
886,157,2007-08-03 05:23:08,39.974467,116.389417,2007-08-03,d_cl_04,d_cl_01,d_cl_04-d_cl_01
906,157,2007-08-03 05:36:10,39.975500,116.359767,2007-08-03,d_cl_01,d_cl_00,d_cl_01-d_cl_00
961,157,2007-08-03 06:24:19,39.979833,116.344367,2007-08-03,d_cl_00,d_cl_04,d_cl_00-d_cl_04
1009,157,2007-08-05 02:25:53,39.973967,116.389300,2007-08-05,d_cl_04,d_cl_01,d_cl_04-d_cl_01
1040,157,2007-08-05 02:38:38,39.975433,116.358650,2007-08-05,d_cl_01,d_cl_00,d_cl_01-d_cl_00
1080,157,2007-08-05 02:48:31,39.979300,116.344150,2007-08-05,d_cl_00,d_cl_02,d_cl_00-d_cl_02
1118,157,2007-08-07 09:18:15,39.975517,116.328350,2007-08-07,d_cl_02,d_cl_04,d_cl_02-d_cl_04
1170,157,2007-08-08 00:20:40,39.973883,116.392400,2007-08-08,d_cl_04,d_cl_01,d_cl_04-d_cl_01
1186,157,2007-08-08 00:35:11,39.975433,116.359000,2007-08-08,d_cl_01,d_cl_00,d_cl_01-d_cl_00
1210,157,2007-08-08 00:45:21,39.979433,116.344233,2007-08-08,d_cl_00,d_cl_03,d_cl_00-d_cl_03

Mostrando registros ficticios

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
1210,157,2007-08-08 00:45:21.010,39.979433,116.344233,2007-08-08,d_cl_03,d_cl_01,d_cl_00-d_cl_03

cluster_next  d_cl_00   d_cl_01   d_cl_02   d_cl_03   d_cl_04
cluster
d_cl_00           0.0  0.571429  0.142857  0.142857  0.142857
d_cl_01           0.6  0.000000  0.000000  0.000000  0.400000
d_cl_02           0.5  0.000000  0.000000  0.000000  0.500000
d_cl_03           0.0  1.000000  0.000000  0.000000  0.000000
d_cl_04           0.0  1.000000  0.000000  0.000000  0.000000

 92%|███████████████████████████████████▏  | 111/120 [3:03:46<59:02, 393.66s/it]

Procesamiento del user 157 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 158
INFO: Noise Filtering applied
INFO: Clusters generated
(6010, 5) (28, 5) (28, 5) (28, 5) (28, 6)
INFO: 1 clusters generated.

100%|█████████████████████████████████████████████| 1/1 [00:00<00:00, 10.60it/s]

Empty TrajDataFrame
Columns: [uid, datetime, lat, lng, date, cluster, cluster_next, transition]
Index: []

 93%|███████████████████████████████████▍  | 112/120 [3:03:47<36:45, 275.64s/it]

Error en la generación de clusters del user 158
Procesando user 159
INFO: Noise Filtering applied
INFO: Clusters generated
(38744, 5) (18, 5) (18, 5) (18, 5) (18, 6)
INFO: 3 clusters generated.

  0%|                                                     | 0/3 [00:00<?, ?it/s]
 33%|███████████████                              | 1/3 [00:00<00:01,  1.56it/s]
 67%|██████████████████████████████               | 2/3 [00:01<00:00,  1.63it/s]
100%|█████████████████████████████████████████████| 3/3 [00:01<00:00,  1.64it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
11,159,2012-03-29 00:59:25,39.978578,116.327577,2012-03-29,d_cl_02,d_cl_01,d_cl_02-d_cl_01
50,159,2012-03-29 01:02:40,39.979770,116.319738,2012-03-29,d_cl_01,d_cl_02,d_cl_01-d_cl_02
4376,159,2012-03-31 00:04:47,39.978468,116.327513,2012-03-31,d_cl_02,d_cl_01,d_cl_02-d_cl_01
4440,159,2012-03-31 00:09:57,39.980045,116.319787,2012-03-31,d_cl_01,d_cl_02,d_cl_01-d_cl_02
4611,159,2012-03-31 07:00:26,39.976857,116.330530,2012-03-31,d_cl_02,d_cl_00,d_cl_02-d_cl_00
16816,159,2012-04-05 14:50:21,39.974773,116.309963,2012-04-05,d_cl_00,d_cl_02,d_cl_00-d_cl_02
21258,159,2012-04-06 01:13:36,39.975228,116.327575,2012-04-06,d_cl_02,d_cl_00,d_cl_02-d_cl_00
21569,159,2012-04-06 14:34:50,39.974587,116.309573,2012-04-06,d_cl_00,d_cl_02,d_cl_00-d_cl_02
21715,159,2012-04-06 14:46:45,39.977512,116.330450,2012-04-06,d_cl_02,d_cl_01,d_cl_02-d_cl_01
22009,159,2012-04-06 15:21:45,39.978997,116.322568,2012-04-06,d_cl_01,d_cl_02,d_cl_01-d_cl_02
23830,159,2012-04-07 06:29:23,39.975443,116.327368,2012-04-07,d_cl_02,d_cl_00,d_cl_02-d_cl_00
24165,159,2012-04-08 13:16:02,39.974715,116.309945,2012-04-08,d_cl_00,d_cl_02,d_cl_00-d_cl_02
26842,159,2012-04-08 18:17:35,39.978190,116.326882,2012-04-08,d_cl_02,d_cl_01,d_cl_02-d_cl_01
26963,159,2012-04-08 18:27:15,39.978063,116.322723,2012-04-08,d_cl_01,d_cl_02,d_cl_01-d_cl_02
28017,159,2012-04-08 20:47:40,39.978393,116.328902,2012-04-08,d_cl_02,d_cl_00,d_cl_02-d_cl_00
29711,159,2012-04-10 14:50:19,39.974500,116.309642,2012-04-10,d_cl_00,d_cl_02,d_cl_00-d_cl_02
30311,159,2012-04-10 16:02:49,39.978107,116.329660,2012-04-10,d_cl_02,d_cl_01,d_cl_02-d_cl_01
30516,159,2012-04-12 14:51:23,39.979425,116.324057,2012-04-12,d_cl_01,d_cl_02,d_cl_01-d_cl_02
30589,159,2012-04-12 14:57:03,39.977247,116.330365,2012-04-12,d_cl_02,d_cl_01,d_cl_02-d_cl_01
30853,159,2012-04-13 01:01:48,39.979800,116.319603,2012-04-13,d_cl_01,d_cl_00,d_cl_01-d_cl_00
31137,159,2012-04-23 12:35:25,39.974573,116.309483,2012-04-23,d_cl_00,d_cl_02,d_cl_00-d_cl_02
31575,159,2012-04-24 00:14:01,39.975342,116.327458,2012-04-24,d_cl_02,d_cl_00,d_cl_02-d_cl_00
31744,159,2012-04-24 00:27:16,39.976985,116.306832,2012-04-24,d_cl_00,d_cl_01,d_cl_00-d_cl_01
31943,159,2012-05-07 09:42:56,39.979748,116.324167,2012-05-07,d_cl_01,d_cl_02,d_cl_01-d_cl_02
33135,159,2012-05-07 11:39:32,39.978645,116.327615,2012-05-07,d_cl_02,d_cl_01,d_cl_02-d_cl_01
33768,159,2012-05-07 12:52:47,39.978577,116.323537,2012-05-07,d_cl_01,d_cl_02,d_cl_01-d_cl_02
38577,159,2012-05-08 00:10:11,39.978555,116.327502,2012-05-08,d_cl_02,d_cl_01,d_cl_02-d_cl_01

cluster_next   d_cl_00   d_cl_01   d_cl_02
cluster
d_cl_00       0.000000  0.166667  0.833333
d_cl_01       0.125000  0.000000  0.875000
d_cl_02       0.384615  0.615385  0.000000

 94%|███████████████████████████████████▊  | 113/120 [3:03:49<22:36, 193.78s/it]

Procesamiento del user 159 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 163
INFO: Noise Filtering applied
INFO: Clusters generated
(969084, 5) (743, 5) (743, 5) (743, 5) (743, 6)
INFO: 46 clusters generated.

  0%|                                                    | 0/46 [00:00<?, ?it/s]
  2%|▉                                           | 1/46 [00:15<11:20, 15.11s/it]
  4%|█▉                                          | 2/46 [00:30<11:11, 15.26s/it]
  7%|██▊                                         | 3/46 [00:45<10:59, 15.35s/it]
  9%|███▊                                        | 4/46 [01:01<10:42, 15.30s/it]
 11%|████▊                                       | 5/46 [01:16<10:30, 15.39s/it]
 13%|█████▋                                      | 6/46 [01:32<10:15, 15.39s/it]
 15%|██████▋                                     | 7/46 [01:47<09:58, 15.35s/it]
 17%|███████▋                                    | 8/46 [02:02<09:45, 15.42s/it]
 20%|████████▌                                   | 9/46 [02:18<09:26, 15.32s/it]
 22%|█████████▎                                 | 10/46 [02:33<09:11, 15.32s/it]
 24%|██████████▎                                | 11/46 [02:48<08:56, 15.32s/it]
 26%|███████████▏                               | 12/46 [03:04<08:41, 15.33s/it]
 28%|████████████▏                              | 13/46 [03:19<08:22, 15.24s/it]
 30%|█████████████                              | 14/46 [03:34<08:09, 15.28s/it]
 33%|██████████████                             | 15/46 [03:49<07:54, 15.31s/it]
 35%|██████████████▉                            | 16/46 [04:05<07:42, 15.41s/it]
 37%|███████████████▉                           | 17/46 [04:20<07:24, 15.34s/it]
 39%|████████████████▊                          | 18/46 [04:36<07:09, 15.36s/it]
 41%|█████████████████▊                         | 19/46 [04:51<06:53, 15.33s/it]
 43%|██████████████████▋                        | 20/46 [05:06<06:39, 15.36s/it]
 46%|███████████████████▋                       | 21/46 [05:21<06:22, 15.31s/it]
 48%|████████████████████▌                      | 22/46 [05:37<06:07, 15.32s/it]
 50%|█████████████████████▌                     | 23/46 [05:52<05:52, 15.33s/it]
 52%|██████████████████████▍                    | 24/46 [06:08<05:37, 15.35s/it]
 54%|███████████████████████▎                   | 25/46 [06:23<05:24, 15.43s/it]
 57%|████████████████████████▎                  | 26/46 [06:39<05:09, 15.46s/it]
 59%|█████████████████████████▏                 | 27/46 [06:54<04:53, 15.46s/it]
 61%|██████████████████████████▏                | 28/46 [07:10<04:38, 15.46s/it]
 63%|███████████████████████████                | 29/46 [07:25<04:22, 15.43s/it]
 65%|████████████████████████████               | 30/46 [07:40<04:06, 15.43s/it]
 67%|████████████████████████████▉              | 31/46 [07:56<03:51, 15.44s/it]
 70%|█████████████████████████████▉             | 32/46 [08:11<03:35, 15.38s/it]
 72%|██████████████████████████████▊            | 33/46 [08:26<03:19, 15.37s/it]
 74%|███████████████████████████████▊           | 34/46 [08:42<03:04, 15.40s/it]
 76%|████████████████████████████████▋          | 35/46 [08:57<02:49, 15.42s/it]
 78%|█████████████████████████████████▋         | 36/46 [09:13<02:34, 15.43s/it]
 80%|██████████████████████████████████▌        | 37/46 [09:28<02:18, 15.35s/it]
 83%|███████████████████████████████████▌       | 38/46 [09:43<02:02, 15.35s/it]
 85%|████████████████████████████████████▍      | 39/46 [09:59<01:47, 15.34s/it]
 87%|█████████████████████████████████████▍     | 40/46 [10:14<01:32, 15.34s/it]
 89%|██████████████████████████████████████▎    | 41/46 [10:29<01:16, 15.25s/it]
 91%|███████████████████████████████████████▎   | 42/46 [10:44<01:01, 15.28s/it]
 93%|████████████████████████████████████████▏  | 43/46 [11:00<00:45, 15.30s/it]
 96%|█████████████████████████████████████████▏ | 44/46 [11:15<00:30, 15.35s/it]
 98%|██████████████████████████████████████████ | 45/46 [11:30<00:15, 15.29s/it]
100%|███████████████████████████████████████████| 46/46 [11:46<00:00, 15.36s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
220,163,2007-05-18 15:35:19,39.975050,116.332350,2007-05-18,d_cl_01,d_cl_43,d_cl_01-d_cl_43
339,163,2007-05-20 01:26:39,40.014900,116.311683,2007-05-20,d_cl_43,d_cl_19,d_cl_43-d_cl_19
983,163,2007-05-20 11:52:39,40.030783,116.432950,2007-05-20,d_cl_19,d_cl_44,d_cl_19-d_cl_44
1089,163,2007-05-20 12:34:50,39.967033,116.371567,2007-05-20,d_cl_44,d_cl_01,d_cl_44-d_cl_01
1473,163,2007-06-14 00:48:23,39.975250,116.332483,2007-06-14,d_cl_01,d_cl_07,d_cl_01-d_cl_07
...,...,...,...,...,...,...,...,...
968961,163,2012-07-27 08:21:15,39.986169,116.366887,2012-07-27,d_cl_18,d_cl_04,d_cl_18-d_cl_04
969001,163,2012-07-27 08:24:35,39.985585,116.348468,2012-07-27,d_cl_04,d_cl_07,d_cl_04-d_cl_07
969019,163,2012-07-27 08:26:05,39.985152,116.335312,2012-07-27,d_cl_07,d_cl_05,d_cl_07-d_cl_05
969032,163,2012-07-27 08:27:10,39.984598,116.321130,2012-07-27,d_cl_05,d_cl_31,d_cl_05-d_cl_31
969043,163,2012-07-27 08:28:05,39.984195,116.307806,2012-07-27,d_cl_31,d_cl_15,d_cl_31-d_cl_15

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15,d_cl_16,d_cl_17,d_cl_18,d_cl_19,d_cl_20,d_cl_21,d_cl_22,d_cl_23,d_cl_24,d_cl_25,d_cl_26,d_cl_27,d_cl_28,d_cl_29,d_cl_30,d_cl_31,d_cl_32,d_cl_33,d_cl_34,d_cl_35,d_cl_36,d_cl_37,d_cl_38,d_cl_39,d_cl_40,d_cl_41,d_cl_42,d_cl_43,d_cl_44,d_cl_45
cluster,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.003663,0.003663,0.018315,0.000000,0.000000,0.021978,0.007326,0.003663,0.003663,0.010989,0.000000,0.043956,0.000000,0.007326,0.025641,0.003663,0.010989,0.340659,0.014652,0.0,0.007326,0.000,0.000000,0.194139,0.058608,0.010989,0.000000,0.106227,0.003663,0.000000,0.007326,0.040293,0.010989,0.014652,0.0000,0.003663,0.007326,0.000000,0.003663,0.000000,0.000000,0.003663,0.000000,0.003663,0.003663
d_cl_01,0.000000,0.000000,0.105263,0.000000,0.000000,0.078947,0.000000,0.157895,0.052632,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.026316,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.026316,0.000000,0.052632,0.000000,0.0000,0.000000,0.026316,0.000000,0.000000,0.000000,0.026316,0.000000,0.052632,0.368421,0.026316
d_cl_02,0.000000,0.307692,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.230769,0.076923,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.076923,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.076923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.076923,0.000000
d_cl_03,0.106667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.720000,0.000000,0.0,0.013333,0.000,0.080000,0.013333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.040000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.013333,0.000000
d_cl_04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.491124,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.485207,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023669,0.000000,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.003155,0.000000,0.000000,0.000000,0.000000,0.000000,0.473186,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.523659,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.375000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.458333,0.000000,0.000000,0.000000,0.000000,0.000000,0.041667,0.041667,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.000000,0.006098,0.000000,0.000000,0.493902,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.086957,0.086957,0.130435,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.043478,0.000,0.000000,0.000000,0.043478,0.086957,0.000000,0.000000,0.000000,0.000000,0.000000,0.043478,0.391304,0.086957,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.052632,0.000000,0.052632,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.052632,0.052632,0.000000,0.0,0.052632,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.052632,0.684211,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_10,0.050000,0.100000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000
d_cl_11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.051282,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.538462,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.410256,0.000000
d_cl_12,0.296296,0.037037,0.000000,0.000000,0.000000,0.000000,0.555556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.037037,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.037037,0.000000,0.000000,0.000000,0.000000,0.000000,0.037037,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.0000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_14,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.900000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.050000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_15,0.030488,0.006098,0.000000,0.000000,0.006098,0.060976,0.000000,0.018293,0.000000,0.000000,0.006098,0.000000,0.000000,0.000000,0.000000,0.000000,0.006098,0.000000,0.024390,0.000000,0.0,0.000000,0.000,0.000000,0.018293,0.006098,0.000000,0.000000,0.000000,0.000000,0.000000,0.817073,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.600,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.400000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_17,0.083333,0.041667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.0000,0.000000,0.583333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_18,0.452174,0.000000,0.000000,0.008696,0.504348,0.000000,0.002899,0.000000,0.000000,0.000000,0.000000,0.002899,0.000000,0.000000,0.002899,0.000000,0.000000,0.002899,0.000000,0.000000,0.0,0.002899,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002899,0.000000,0.000000,0.000000,0.002899,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014493,0.000000
d_cl_19,0.342105,0.000000,0.000000,0.026316,0.000000,0.000000,0.026316,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.052632,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.026316,0.447368,0.000000,0.000000,0.026316,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.026316,0.026316,0.000000
d_cl_20,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_21,0.023810,0.023810,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.357143,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.595238,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.222222,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_23,0.000000,0.000000,0.000000,0.186047,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.023256,0.023256,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.348837,0.000,0.000000,0.023256,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.395349,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_24,0.033898,0.000000,0.000000,0.966102,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_25,0.617647,0.014706,0.000000,0.000000,0.000000,0.000000,0.014706,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014706,0.044118,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.014706,0.264706,0.014706,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_26,0.166667,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.000000,0.0000,0.000000,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_27,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.5,0.000000,0.375,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_28,0.027778,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.027778,0.000000,0.000000,0.000000,0.000000,0.000000,0.027778,0.861111,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.055556,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.052632,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.052632,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.894737,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_30,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.944444,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.055556,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_31,0.000000,0.006579,0.000000,0.000000,0.000000,0.460526,0.000000,0.000000,0.000000,0.000000,0.003289,0.000000,0.000000,0.000000,0.000000,0.516447,0.000000,0.003289,0.003289,0.000000,0.0,0.000000,0.000,0.000000,0.003289,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.003289,0.000000
d_cl_32,0.625000,0.000000,0.000000,0.062500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.125000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0625,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_33,0.011236,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.134831,0.011236,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.123596,0.000000,0.539326,0.011236,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.011236,0.157303,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_34,0.470588,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.117647,0.000000,0.000000,0.352941,0.000000,0.058824,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_35,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_36,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.500000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_37,0.000000,0.000000,0.029412,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.441176,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.0000,0.000000,0.000000,0.029412,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_38,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000
d_cl_39,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_40,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_41,0.111111,0.222222,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000
d_cl_42,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_43,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_44,0.022727,0.318182,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022727,0.022727,0.090909,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.022727,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_45,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 95%|████████████████████████████████████  | 114/120 [3:17:42<38:33, 385.58s/it]

Procesamiento del user 163 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 165
INFO: Noise Filtering applied
INFO: Clusters generated
(62609, 5) (143, 5) (143, 5) (143, 5) (143, 6)
INFO: 1 clusters generated.

  0%|                                                     | 0/1 [00:00<?, ?it/s]
100%|█████████████████████████████████████████████| 1/1 [00:00<00:00,  1.04it/s]

Empty TrajDataFrame
Columns: [uid, datetime, lat, lng, date, cluster, cluster_next, transition]
Index: []

 96%|████████████████████████████████████▍ | 115/120 [3:17:45<22:33, 270.63s/it]

Error en la generación de clusters del user 165
Procesando user 167
INFO: Noise Filtering applied
INFO: Clusters generated
(608657, 5) (471, 5) (471, 5) (471, 5) (471, 6)
INFO: 16 clusters generated.

  0%|                                                    | 0/16 [00:00<?, ?it/s]
  6%|██▊                                         | 1/16 [00:09<02:29,  9.95s/it]
 12%|█████▌                                      | 2/16 [00:19<02:15,  9.65s/it]
 19%|████████▎                                   | 3/16 [00:29<02:06,  9.75s/it]
 25%|███████████                                 | 4/16 [00:38<01:55,  9.60s/it]
 31%|█████████████▊                              | 5/16 [00:48<01:46,  9.69s/it]
 38%|████████████████▌                           | 6/16 [00:58<01:36,  9.67s/it]
 44%|███████████████████▎                        | 7/16 [01:07<01:26,  9.57s/it]
 50%|██████████████████████                      | 8/16 [01:17<01:17,  9.63s/it]
 56%|████████████████████████▊                   | 9/16 [01:26<01:06,  9.54s/it]
 62%|██████████████████████████▉                | 10/16 [01:36<00:57,  9.63s/it]
 69%|█████████████████████████████▌             | 11/16 [01:45<00:47,  9.55s/it]
 75%|████████████████████████████████▎          | 12/16 [01:55<00:38,  9.65s/it]
 81%|██████████████████████████████████▉        | 13/16 [02:05<00:28,  9.63s/it]
 88%|█████████████████████████████████████▋     | 14/16 [02:14<00:19,  9.58s/it]
 94%|████████████████████████████████████████▎  | 15/16 [02:24<00:09,  9.67s/it]
100%|███████████████████████████████████████████| 16/16 [02:34<00:00,  9.63s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
16,167,2008-03-01 03:57:39,39.966183,116.379100,2008-03-01,d_cl_02,d_cl_01,d_cl_02-d_cl_01
37,167,2008-03-01 05:24:19,39.969733,116.419983,2008-03-01,d_cl_01,d_cl_02,d_cl_01-d_cl_02
52,167,2008-03-02 07:41:18,39.966950,116.379450,2008-03-02,d_cl_02,d_cl_03,d_cl_02-d_cl_03
56,167,2008-03-02 07:48:58,39.967383,116.348517,2008-03-02,d_cl_03,d_cl_06,d_cl_03-d_cl_06
58,167,2008-03-02 07:51:05,39.974417,116.348050,2008-03-02,d_cl_06,d_cl_00,d_cl_06-d_cl_00
...,...,...,...,...,...,...,...,...
595248,167,2009-01-15 12:43:49,39.975204,116.345058,2009-01-15,d_cl_06,d_cl_00,d_cl_06-d_cl_00
603099,167,2009-02-07 10:41:24,39.986403,116.326878,2009-02-07,d_cl_00,d_cl_04,d_cl_00-d_cl_04
603480,167,2009-02-08 01:44:33,39.975170,116.365970,2009-02-08,d_cl_04,d_cl_00,d_cl_04-d_cl_00
605316,167,2009-02-14 04:04:14,39.983193,116.326999,2009-02-14,d_cl_00,d_cl_03,d_cl_00-d_cl_03
605719,167,2009-02-14 05:02:04,39.966154,116.351923,2009-02-14,d_cl_03,d_cl_00,d_cl_03-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13,d_cl_14,d_cl_15
cluster,,,,,,,,,,,,,,,,
d_cl_00,0.000000,0.121622,0.027027,0.027027,0.027027,0.013514,0.297297,0.081081,0.189189,0.027027,0.013514,0.148649,0.000000,0.013514,0.000000,0.013514
d_cl_01,0.177778,0.000000,0.088889,0.000000,0.000000,0.400000,0.044444,0.000000,0.044444,0.200000,0.000000,0.000000,0.000000,0.000000,0.022222,0.022222
d_cl_02,0.017241,0.051724,0.000000,0.396552,0.120690,0.396552,0.000000,0.000000,0.000000,0.017241,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_03,0.081081,0.027027,0.324324,0.000000,0.000000,0.000000,0.567568,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_04,0.043478,0.043478,0.521739,0.000000,0.000000,0.000000,0.347826,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.043478,0.000000,0.000000
d_cl_05,0.021739,0.413043,0.543478,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.021739,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_06,0.466667,0.016667,0.016667,0.200000,0.216667,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.050000,0.000000,0.000000,0.000000,0.000000
d_cl_07,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.300000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_08,0.727273,0.045455,0.000000,0.000000,0.000000,0.000000,0.045455,0.181818,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_09,0.076923,0.384615,0.000000,0.000000,0.000000,0.153846,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.346154,0.000000,0.000000,0.038462
d_cl_10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.045455,0.000000,0.363636,0.000000,0.590909,0.000000,0.000000
d_cl_11,0.272727,0.000000,0.000000,0.000000,0.000000,0.000000,0.136364,0.000000,0.000000,0.000000,0.590909,0.000000,0.000000,0.000000,0.000000,0.000000
d_cl_12,0.040000,0.000000,0.000000,0.000000,0.000000,0.000000,0.040000,0.000000,0.040000,0.440000,0.000000,0.000000,0.000000,0.000000,0.440000,0.000000
d_cl_13,0.043478,0.000000,0.000000,0.000000,0.043478,0.000000,0.000000,0.000000,0.000000,0.000000,0.347826,0.000000,0.000000,0.000000,0.565217,0.000000
d_cl_14,0.000000,0.000000,0.040000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.640000,0.320000,0.000000,0.000000
d_cl_15,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

 97%|████████████████████████████████████▋ | 116/120 [3:21:05<16:37, 249.49s/it]

Procesamiento del user 167 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 168
INFO: Noise Filtering applied
INFO: Clusters generated
(253021, 5) (84, 5) (84, 5) (84, 5) (84, 6)
INFO: 13 clusters generated.

  0%|                                                    | 0/13 [00:00<?, ?it/s]
  8%|███▍                                        | 1/13 [00:04<00:48,  4.06s/it]
 15%|██████▊                                     | 2/13 [00:08<00:44,  4.05s/it]
 23%|██████████▏                                 | 3/13 [00:12<00:40,  4.04s/it]
 31%|█████████████▌                              | 4/13 [00:16<00:36,  4.04s/it]
 38%|████████████████▉                           | 5/13 [00:20<00:32,  4.05s/it]
 46%|████████████████████▎                       | 6/13 [00:24<00:28,  4.06s/it]
 54%|███████████████████████▋                    | 7/13 [00:28<00:24,  4.08s/it]
 62%|███████████████████████████                 | 8/13 [00:32<00:20,  4.06s/it]
 69%|██████████████████████████████▍             | 9/13 [00:36<00:16,  4.06s/it]
 77%|█████████████████████████████████          | 10/13 [00:40<00:12,  4.05s/it]
 85%|████████████████████████████████████▍      | 11/13 [00:44<00:08,  4.05s/it]
 92%|███████████████████████████████████████▋   | 12/13 [00:48<00:04,  4.05s/it]
100%|███████████████████████████████████████████| 13/13 [00:52<00:00,  4.06s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
85,168,2009-09-29 01:18:28,40.054893,116.396937,2009-09-29,d_cl_02,d_cl_12,d_cl_02-d_cl_12
2348,168,2009-09-29 12:15:42,40.066891,116.368320,2009-09-29,d_cl_12,d_cl_02,d_cl_12-d_cl_02
2521,168,2009-09-29 12:18:35,40.053277,116.400615,2009-09-29,d_cl_02,d_cl_00,d_cl_02-d_cl_00
2629,168,2009-09-29 12:26:44,40.059152,116.407001,2009-09-29,d_cl_00,d_cl_02,d_cl_00-d_cl_02
60551,168,2009-10-08 23:09:28,40.054729,116.396716,2009-10-08,d_cl_02,d_cl_12,d_cl_02-d_cl_12
...,...,...,...,...,...,...,...,...
250479,168,2011-08-24 14:06:26,40.026749,116.403486,2011-08-24,d_cl_01,d_cl_00,d_cl_01-d_cl_00
251022,168,2011-08-24 22:51:19,40.056022,116.407447,2011-08-24,d_cl_00,d_cl_01,d_cl_00-d_cl_01
251328,168,2011-08-24 23:01:22,40.023283,116.402677,2011-08-24,d_cl_01,d_cl_04,d_cl_01-d_cl_04
251478,168,2011-08-24 23:06:49,40.008337,116.401622,2011-08-24,d_cl_04,d_cl_10,d_cl_04-d_cl_10
251595,168,2011-08-24 23:10:43,39.997258,116.401403,2011-08-24,d_cl_10,d_cl_06,d_cl_10-d_cl_06

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12
cluster,,,,,,,,,,,,,
d_cl_00,0.000000,0.914894,0.042553,0.000000,0.000000,0.000000,0.021277,0.021277,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_01,0.387500,0.000000,0.050000,0.000000,0.475000,0.000000,0.012500,0.000000,0.012500,0.062500,0.000000,0.00,0.000000
d_cl_02,0.555556,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.444444
d_cl_03,0.046512,0.000000,0.000000,0.000000,0.000000,0.372093,0.000000,0.000000,0.000000,0.581395,0.000000,0.00,0.000000
d_cl_04,0.000000,0.025641,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.384615,0.589744,0.00,0.000000
d_cl_05,0.025641,0.000000,0.000000,0.564103,0.000000,0.000000,0.000000,0.000000,0.410256,0.000000,0.000000,0.00,0.000000
d_cl_06,0.108108,0.297297,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.594595,0.000000,0.000000,0.00,0.000000
d_cl_07,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_08,0.025641,0.025641,0.000000,0.000000,0.000000,0.589744,0.358974,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_09,0.000000,0.533333,0.000000,0.444444,0.022222,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_10,0.000000,0.000000,0.000000,0.043478,0.000000,0.000000,0.956522,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_11,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000
d_cl_12,0.250000,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.25,0.000000

 98%|█████████████████████████████████████ | 117/120 [3:22:08<09:40, 193.61s/it]

Procesamiento del user 168 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 169
INFO: Noise Filtering applied
INFO: Clusters generated
(48320, 5) (28, 5) (28, 5) (28, 5) (28, 6)
INFO: 10 clusters generated.

  0%|                                                    | 0/10 [00:00<?, ?it/s]
 10%|████▍                                       | 1/10 [00:00<00:08,  1.07it/s]
 20%|████████▊                                   | 2/10 [00:01<00:06,  1.22it/s]
 30%|█████████████▏                              | 3/10 [00:02<00:05,  1.27it/s]
 40%|█████████████████▌                          | 4/10 [00:03<00:04,  1.29it/s]
 50%|██████████████████████                      | 5/10 [00:03<00:03,  1.32it/s]
 60%|██████████████████████████▍                 | 6/10 [00:04<00:03,  1.32it/s]
 70%|██████████████████████████████▊             | 7/10 [00:05<00:02,  1.21it/s]
 80%|███████████████████████████████████▏        | 8/10 [00:06<00:01,  1.25it/s]
 90%|███████████████████████████████████████▌    | 9/10 [00:07<00:00,  1.28it/s]
100%|███████████████████████████████████████████| 10/10 [00:07<00:00,  1.27it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
31,169,2010-05-10 10:50:45,39.975101,116.331781,2010-05-10,d_cl_02,d_cl_06,d_cl_02-d_cl_06
578,169,2010-05-10 11:13:30,39.974357,116.375259,2010-05-10,d_cl_06,d_cl_09,d_cl_06-d_cl_09
676,169,2010-05-10 11:18:02,39.982836,116.373463,2010-05-10,d_cl_09,d_cl_00,d_cl_09-d_cl_00
1241,169,2010-05-10 11:34:15,40.028364,116.403885,2010-05-10,d_cl_00,d_cl_02,d_cl_00-d_cl_02
1553,169,2010-05-11 10:24:30,39.976146,116.327576,2010-05-11,d_cl_02,d_cl_00,d_cl_02-d_cl_00
...,...,...,...,...,...,...,...,...
46269,169,2010-06-03 10:53:34,40.019200,116.377955,2010-06-03,d_cl_03,d_cl_04,d_cl_03-d_cl_04
46346,169,2010-06-03 10:55:25,40.021061,116.391675,2010-06-03,d_cl_04,d_cl_00,d_cl_04-d_cl_00
47083,169,2010-06-04 01:28:15,40.025065,116.403006,2010-06-04,d_cl_00,d_cl_09,d_cl_00-d_cl_09
47686,169,2010-06-04 01:43:26,39.979427,116.374106,2010-06-04,d_cl_09,d_cl_06,d_cl_09-d_cl_06
47968,169,2010-06-04 01:55:56,39.974361,116.375277,2010-06-04,d_cl_06,d_cl_02,d_cl_06-d_cl_02

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09
cluster,,,,,,,,,,
d_cl_00,0.000000,0.000000,0.150000,0.000000,0.300000,0.000000,0.250000,0.05,0.000000,0.250000
d_cl_01,0.000000,0.000000,0.000000,0.000000,0.000000,0.611111,0.111111,0.00,0.000000,0.277778
d_cl_02,0.133333,0.000000,0.000000,0.066667,0.000000,0.000000,0.200000,0.00,0.000000,0.600000
d_cl_03,0.000000,0.000000,0.000000,0.000000,0.611111,0.388889,0.000000,0.00,0.000000,0.000000
d_cl_04,0.647059,0.000000,0.000000,0.352941,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_05,0.000000,0.388889,0.000000,0.611111,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_06,0.035714,0.392857,0.392857,0.000000,0.000000,0.000000,0.000000,0.00,0.035714,0.142857
d_cl_07,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_08,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000
d_cl_09,0.173913,0.000000,0.043478,0.000000,0.000000,0.000000,0.782609,0.00,0.000000,0.000000

 98%|█████████████████████████████████████▎| 118/120 [3:22:17<04:36, 138.22s/it]

Procesamiento del user 169 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 174
INFO: Noise Filtering applied
INFO: Clusters generated
(7304, 5) (88, 5) (88, 5) (88, 5) (88, 6)
INFO: 9 clusters generated.

  0%|                                                     | 0/9 [00:00<?, ?it/s]
 11%|█████                                        | 1/9 [00:00<00:00,  8.95it/s]
 22%|██████████                                   | 2/9 [00:00<00:00,  8.53it/s]
 33%|███████████████                              | 3/9 [00:00<00:00,  8.48it/s]
 44%|████████████████████                         | 4/9 [00:00<00:00,  8.49it/s]
 56%|█████████████████████████                    | 5/9 [00:00<00:00,  8.50it/s]
 67%|██████████████████████████████               | 6/9 [00:00<00:00,  7.82it/s]
 78%|███████████████████████████████████          | 7/9 [00:00<00:00,  8.04it/s]
 89%|████████████████████████████████████████     | 8/9 [00:00<00:00,  8.13it/s]
100%|█████████████████████████████████████████████| 9/9 [00:01<00:00,  8.23it/s]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
27,174,2007-12-07 10:33:17,39.975367,116.327867,2007-12-07,d_cl_01,d_cl_07,d_cl_01-d_cl_07
57,174,2007-12-07 10:43:31,39.974900,116.317717,2007-12-07,d_cl_07,d_cl_00,d_cl_07-d_cl_00
460,174,2007-12-15 03:48:01,39.970650,116.301367,2007-12-15,d_cl_00,d_cl_08,d_cl_00-d_cl_08
498,174,2007-12-15 14:09:24,39.961017,116.302017,2007-12-15,d_cl_08,d_cl_00,d_cl_08-d_cl_00
555,174,2007-12-21 02:46:45,39.968833,116.300467,2007-12-21,d_cl_00,d_cl_08,d_cl_00-d_cl_08
570,174,2007-12-21 02:50:29,39.959717,116.301983,2007-12-21,d_cl_08,d_cl_00,d_cl_08-d_cl_00
1051,174,2008-01-11 07:38:07,39.970050,116.304400,2008-01-11,d_cl_00,d_cl_06,d_cl_00-d_cl_06
1125,174,2008-01-11 08:53:33,39.990800,116.314400,2008-01-11,d_cl_06,d_cl_01,d_cl_06-d_cl_01
1351,174,2008-01-11 12:00:07,39.975450,116.327600,2008-01-11,d_cl_01,d_cl_07,d_cl_01-d_cl_07
1372,174,2008-01-11 12:11:04,39.975100,116.317717,2008-01-11,d_cl_07,d_cl_06,d_cl_07-d_cl_06
1479,174,2008-01-12 06:39:30,39.990867,116.314467,2008-01-12,d_cl_06,d_cl_00,d_cl_06-d_cl_00
1756,174,2008-01-12 10:37:29,39.968650,116.302017,2008-01-12,d_cl_00,d_cl_01,d_cl_00-d_cl_01
1763,174,2008-01-15 11:45:21,39.975350,116.327567,2008-01-15,d_cl_01,d_cl_07,d_cl_01-d_cl_07
1786,174,2008-01-15 12:01:49,39.974883,116.317583,2008-01-15,d_cl_07,d_cl_00,d_cl_07-d_cl_00
3203,174,2008-03-12 06:29:54,39.968500,116.300617,2008-03-12,d_cl_00,d_cl_08,d_cl_00-d_cl_08
3300,174,2008-03-22 09:38:40,39.962117,116.303767,2008-03-22,d_cl_08,d_cl_01,d_cl_08-d_cl_01
3561,174,2008-03-24 09:07:49,39.975350,116.329600,2008-03-24,d_cl_01,d_cl_07,d_cl_01-d_cl_07
3590,174,2008-03-24 09:23:07,39.973550,116.319200,2008-03-24,d_cl_07,d_cl_05,d_cl_07-d_cl_05
3867,174,2008-03-30 10:05:07,40.000100,116.283500,2008-03-30,d_cl_05,d_cl_04,d_cl_05-d_cl_04
3875,174,2008-03-30 10:08:09,39.979283,116.294433,2008-03-30,d_cl_04,d_cl_00,d_cl_04-d_cl_00
4649,174,2008-05-07 06:16:24,39.969683,116.300517,2008-05-07,d_cl_00,d_cl_08,d_cl_00-d_cl_08
4651,174,2008-05-07 06:41:27,39.962350,116.302183,2008-05-07,d_cl_08,d_cl_00,d_cl_08-d_cl_00
4711,174,2008-05-07 07:45:33,39.970867,116.303633,2008-05-07,d_cl_00,d_cl_07,d_cl_00-d_cl_07
4798,174,2008-05-22 08:19:21,39.974583,116.321933,2008-05-22,d_cl_07,d_cl_01,d_cl_07-d_cl_01
4847,174,2008-05-22 09:42:34,39.975550,116.327983,2008-05-22,d_cl_01,d_cl_07,d_cl_01-d_cl_07
4876,174,2008-05-22 09:55:43,39.975133,116.318167,2008-05-22,d_cl_07,d_cl_00,d_cl_07-d_cl_00
5061,174,2008-05-24 10:01:19,39.970717,116.300383,2008-05-24,d_cl_00,d_cl_08,d_cl_00-d_cl_08
5083,174,2008-05-24 10:10:37,39.960883,116.301733,2008-05-24,d_cl_08,d_cl_00,d_cl_08-d_cl_00
5506,174,2008-06-27 13:22:58,39.970833,116.303483,2008-06-27,d_cl_00,d_cl_07,d_cl_00-d_cl_07
5742,174,2008-06-30 07:07:13,39.974983,116.322167,2008-06-30,d_cl_07,d_cl_01,d_cl_07-d_cl_01
5777,174,2008-06-30 07:53:33,39.975350,116.327667,2008-06-30,d_cl_01,d_cl_07,d_cl_01-d_cl_07
5812,174,2008-06-30 08:08:01,39.974933,116.317683,2008-06-30,d_cl_07,d_cl_00,d_cl_07-d_cl_00
6107,174,2008-07-04 00:39:45,39.969683,116.300650,2008-07-04,d_cl_00,d_cl_08,d_cl_00-d_cl_08
6120,174,2008-07-04 00:45:30,39.961567,116.301883,2008-07-04,d_cl_08,d_cl_00,d_cl_08-d_cl_00
6164,174,2008-07-05 00:41:40,39.968883,116.300683,2008-07-05,d_cl_00,d_cl_08,d_cl_00-d_cl_08
6173,174,2008-07-05 00:45:35,39.962200,116.301683,2008-07-05,d_cl_08,d_cl_00,d_cl_08-d_cl_00
6548,174,2008-07-08 00:26:07,39.970367,116.300533,2008-07-08,d_cl_00,d_cl_08,d_cl_00-d_cl_08
6557,174,2008-07-08 00:37:53,39.961750,116.301750,2008-07-08,d_cl_08,d_cl_00,d_cl_08-d_cl_00
6742,174,2008-07-12 05:37:04,39.970200,116.300867,2008-07-12,d_cl_00,d_cl_06,d_cl_00-d_cl_06
6803,174,2008-07-12 10:53:17,39.991550,116.310283,2008-07-12,d_cl_06,d_cl_00,d_cl_06-d_cl_00
6942,174,2008-07-13 09:49:01,39.970483,116.300883,2008-07-13,d_cl_00,d_cl_02,d_cl_00-d_cl_02
7016,174,2008-08-07 05:23:24,40.006067,116.370967,2008-08-07,d_cl_02,d_cl_04,d_cl_02-d_cl_04
7120,174,2008-08-10 22:31:10,39.978783,116.294867,2008-08-10,d_cl_04,d_cl_02,d_cl_04-d_cl_02
7154,174,2008-08-11 23:39:02,40.006450,116.371200,2008-08-11,d_cl_02,d_cl_03,d_cl_02-d_cl_03
7160,174,2008-08-13 02:51:15,39.991433,116.298033,2008-08-13,d_cl_03,d_cl_00,d_cl_03-d_cl_00
7188,174,2008-08-13 04:50:05,39.969783,116.302417,2008-08-13,d_cl_00,d_cl_02,d_cl_00-d_cl_02
7231,174,2008-08-14 00:58:02,40.005983,116.371133,2008-08-14,d_cl_02,d_cl_00,d_cl_02-d_cl_00

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08
cluster,,,,,,,,,
d_cl_00,0.000000,0.066667,0.133333,0.000000,0.000000,0.000,0.133333,0.133333,0.533333
d_cl_01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,1.000000,0.000000
d_cl_02,0.333333,0.000000,0.000000,0.333333,0.333333,0.000,0.000000,0.000000,0.000000
d_cl_03,1.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
d_cl_04,0.500000,0.000000,0.500000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
d_cl_05,0.000000,0.000000,0.000000,0.000000,1.000000,0.000,0.000000,0.000000,0.000000
d_cl_06,0.666667,0.333333,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000
d_cl_07,0.500000,0.250000,0.000000,0.000000,0.000000,0.125,0.125000,0.000000,0.000000
d_cl_08,0.875000,0.125000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000

 99%|██████████████████████████████████████▋| 119/120 [3:22:19<01:37, 97.17s/it]

Procesamiento del user 174 TERMINADO...
----------------------------------------------------------------------------------------------------

Procesando user 179
INFO: Noise Filtering applied
INFO: Clusters generated
(155312, 5) (74, 5) (74, 5) (74, 5) (74, 6)
INFO: 14 clusters generated.

  0%|                                                    | 0/14 [00:00<?, ?it/s]
  7%|███▏                                        | 1/14 [00:02<00:33,  2.60s/it]
 14%|██████▎                                     | 2/14 [00:04<00:29,  2.48s/it]
 21%|█████████▍                                  | 3/14 [00:07<00:27,  2.51s/it]
 29%|████████████▌                               | 4/14 [00:09<00:24,  2.45s/it]
 36%|███████████████▋                            | 5/14 [00:12<00:22,  2.50s/it]
 43%|██████████████████▊                         | 6/14 [00:15<00:20,  2.52s/it]
 50%|██████████████████████                      | 7/14 [00:17<00:17,  2.47s/it]
 57%|█████████████████████████▏                  | 8/14 [00:19<00:14,  2.49s/it]
 64%|████████████████████████████▎               | 9/14 [00:22<00:12,  2.52s/it]
 71%|██████████████████████████████▋            | 10/14 [00:24<00:09,  2.47s/it]
 79%|█████████████████████████████████▊         | 11/14 [00:27<00:07,  2.50s/it]
 86%|████████████████████████████████████▊      | 12/14 [00:29<00:04,  2.48s/it]
 93%|███████████████████████████████████████▉   | 13/14 [00:32<00:02,  2.52s/it]
100%|███████████████████████████████████████████| 14/14 [00:35<00:00,  2.51s/it]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
330,179,2008-08-20 12:23:39,39.975230,116.329885,2008-08-20,d_cl_13,d_cl_11,d_cl_13-d_cl_11
863,179,2008-08-20 12:48:39,40.002971,116.331276,2008-08-20,d_cl_11,d_cl_09,d_cl_11-d_cl_09
909,179,2008-08-20 12:50:11,40.015456,116.321900,2008-08-20,d_cl_09,d_cl_03,d_cl_09-d_cl_03
927,179,2008-08-20 12:50:47,40.020450,116.318559,2008-08-20,d_cl_03,d_cl_07,d_cl_03-d_cl_07
952,179,2008-08-20 12:51:37,40.028060,116.315582,2008-08-20,d_cl_07,d_cl_06,d_cl_07-d_cl_06
...,...,...,...,...,...,...,...,...
149888,179,2008-11-17 06:45:42,40.034656,116.312820,2008-11-17,d_cl_06,d_cl_04,d_cl_06-d_cl_04
150189,179,2008-11-17 07:00:34,40.070180,116.311012,2008-11-17,d_cl_04,d_cl_01,d_cl_04-d_cl_01
150297,179,2008-11-17 07:04:10,40.081020,116.302700,2008-11-17,d_cl_01,d_cl_00,d_cl_01-d_cl_00
150602,179,2008-11-17 07:14:32,40.087012,116.304162,2008-11-17,d_cl_00,d_cl_04,d_cl_00-d_cl_04
150794,179,2008-11-29 02:08:13,40.069597,116.315418,2008-11-29,d_cl_04,d_cl_02,d_cl_04-d_cl_02

cluster_next,d_cl_00,d_cl_01,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07,d_cl_08,d_cl_09,d_cl_10,d_cl_11,d_cl_12,d_cl_13
cluster,,,,,,,,,,,,,,
d_cl_00,0.000000,0.540541,0.027027,0.000000,0.081081,0.00,0.000000,0.000000,0.189189,0.000000,0.00,0.054054,0.054054,0.054054
d_cl_01,0.562500,0.000000,0.000000,0.000000,0.395833,0.00,0.000000,0.000000,0.020833,0.000000,0.00,0.020833,0.000000,0.000000
d_cl_02,0.050000,0.000000,0.000000,0.050000,0.150000,0.05,0.000000,0.000000,0.000000,0.200000,0.05,0.350000,0.000000,0.100000
d_cl_03,0.000000,0.000000,0.027027,0.000000,0.000000,0.00,0.000000,0.621622,0.000000,0.351351,0.00,0.000000,0.000000,0.000000
d_cl_04,0.076923,0.519231,0.038462,0.000000,0.000000,0.00,0.288462,0.019231,0.000000,0.000000,0.00,0.038462,0.000000,0.019231
d_cl_05,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,1.000000,0.000000,0.00,0.000000,0.000000,0.000000
d_cl_06,0.000000,0.000000,0.052632,0.000000,0.605263,0.00,0.000000,0.315789,0.000000,0.000000,0.00,0.000000,0.000000,0.026316
d_cl_07,0.000000,0.000000,0.000000,0.351351,0.027027,0.00,0.621622,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
d_cl_08,0.000000,0.000000,0.000000,0.000000,0.100000,0.00,0.000000,0.000000,0.000000,0.000000,0.90,0.000000,0.000000,0.000000
d_cl_09,0.028571,0.000000,0.000000,0.600000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.371429,0.000000,0.000000
d_cl_10,0.100000,0.000000,0.600000,0.000000,0.000000,0.00,0.000000,0.000000,0.100000,0.000000,0.00,0.200000,0.000000,0.000000
d_cl_11,0.000000,0.000000,0.193548,0.064516,0.032258,0.00,0.000000,0.000000,0.000000,0.580645,0.00,0.000000,0.032258,0.096774
d_cl_12,0.666667,0.000000,0.333333,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000
d_cl_13,0.100000,0.100000,0.200000,0.000000,0.100000,0.00,0.000000,0.100000,0.000000,0.000000,0.00,0.400000,0.000000,0.000000

100%|██████████████████████████████████████| 120/120 [3:22:59<00:00, 101.50s/it]

Procesamiento del user 179 TERMINADO...
----------------------------------------------------------------------------------------------------

In [18]:
import pickle

In [19]:
with open('../data/geo_clusters', 'wb') as f:
    pickle.dump(geo_clusters,f)

In [20]:
with open('../data/geo_clusters_transit', 'wb') as f:
    pickle.dump(geo_clusters_transit,f)

In [21]:
with open('../data/geo_clusters_transit_df', 'wb') as f:
    pickle.dump(geo_clusters_transit_df,f)

In [ ]:
#Continuacion

In [ ]:
#Read data geo_clusters
with open(r"../data/geo_clusters", "rb") as input_file:
    geo_clusters = pickle.load(input_file)

In [ ]:
#Read data geo_clusters_transit
with open(r"../data/geo_clusters_transit", "rb") as input_file:
    geo_clusters_transit = pickle.load(input_file)

In [ ]:
#Read data geo_clusters
with open(r"../data/geo_clusters_transit_df", "rb") as input_file:
    geo_clusters_transit_df = pickle.load(input_file)

In [ ]:
get_stationary_vector(geo_clusters_transit[0] )

In [ ]:
pd.DataFrame(geo_clusters_transit[0])

In [ ]:
geo_clusters[0]

In [ ]:
geo_clusters_transit[1]

In [25]:
get_stationary_vector(geo_clusters_transit[1] )

Shape of transitMatrix:  (5, 5)

array([[0.39285714],
       [0.32142857],
       [0.21428571],
       [0.05357143],
       [0.01785714]])

In [ ]:
geo_clusters[1]['sta_vector'] = get_stationary_vector(geo_clusters_transit[1] )

In [ ]:
geo_clusters[1]['sta_vector']

In [ ]:
geo_clusters_transit[1]

In [29]:
geo_clusters_transit[103]

cluster_next,d_cl_00,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07
cluster,,,,,,,
d_cl_00,0.000000,0.2,0.200000,0.0,0.60,0.000000,0.000000
d_cl_02,0.500000,0.0,0.000000,0.0,0.50,0.000000,0.000000
d_cl_03,0.000000,0.0,0.000000,0.0,0.25,0.666667,0.083333
d_cl_04,0.000000,0.0,1.000000,0.0,0.00,0.000000,0.000000
d_cl_05,0.222222,0.0,0.666667,0.0,0.00,0.111111,0.000000
d_cl_06,0.300000,0.1,0.300000,0.1,0.20,0.000000,0.000000
d_cl_07,0.000000,0.0,0.000000,0.0,0.00,1.000000,0.000000

In [35]:
get_stationary_vector(geo_clusters_transit[103] )

Shape of transitMatrix:  (7, 7)

array([[0.14952781],
       [0.05351522],
       [0.28016789],
       [0.02360965],
       [0.23373557],
       [0.23609654],
       [0.02334732]])

In [36]:
geo_clusters[103]

   cluster        lat         lng
0        0  39.930145  116.298312
1        1  39.928991  116.314754
2        2  39.972442  116.300565
3        3  39.958895  116.349013
4        4  39.947488  116.371845
5        5  39.945318  116.350602
6        6  39.966870  116.348727
7        7  39.975517  116.330692

In [37]:
geo_clusters_transit[103]

cluster_next,d_cl_00,d_cl_02,d_cl_03,d_cl_04,d_cl_05,d_cl_06,d_cl_07
cluster,,,,,,,
d_cl_00,0.000000,0.2,0.200000,0.0,0.60,0.000000,0.000000
d_cl_02,0.500000,0.0,0.000000,0.0,0.50,0.000000,0.000000
d_cl_03,0.000000,0.0,0.000000,0.0,0.25,0.666667,0.083333
d_cl_04,0.000000,0.0,1.000000,0.0,0.00,0.000000,0.000000
d_cl_05,0.222222,0.0,0.666667,0.0,0.00,0.111111,0.000000
d_cl_06,0.300000,0.1,0.300000,0.1,0.20,0.000000,0.000000
d_cl_07,0.000000,0.0,0.000000,0.0,0.00,1.000000,0.000000

In [38]:
geo_clusters_transit_df[103]

,uid,datetime,lat,lng,date,cluster,cluster_next,transition
39,103,2008-08-27 06:01:30.990,39.975095,116.332818,2008-08-27,d_cl_03,d_cl_07,d_cl_07-d_cl_06
0,103,2008-08-27 06:01:31.000,39.975095,116.332818,2008-08-27,d_cl_07,d_cl_06,d_cl_07-d_cl_06
1,103,2008-08-27 09:30:47.000,39.965470,116.347378,2008-08-27,d_cl_06,d_cl_03,d_cl_06-d_cl_03
2,103,2008-08-27 09:33:19.000,39.957665,116.347372,2008-08-27,d_cl_03,d_cl_05,d_cl_03-d_cl_05
3,103,2008-08-27 23:56:41.000,39.946928,116.350065,2008-08-27,d_cl_05,d_cl_03,d_cl_05-d_cl_03
4,103,2008-08-28 00:02:49.000,39.960468,116.348695,2008-08-28,d_cl_03,d_cl_06,d_cl_03-d_cl_06
5,103,2008-08-28 00:05:14.000,39.968635,116.348302,2008-08-28,d_cl_06,d_cl_00,d_cl_06-d_cl_00
6,103,2008-08-28 23:35:56.000,39.931352,116.299968,2008-08-28,d_cl_00,d_cl_05,d_cl_00-d_cl_05
7,103,2008-08-29 00:08:00.000,39.947095,116.350647,2008-08-29,d_cl_05,d_cl_03,d_cl_05-d_cl_03
8,103,2008-08-29 00:14:17.000,39.960608,116.349043,2008-08-29,d_cl_03,d_cl_06,d_cl_03-d_cl_06
9,103,2008-08-29 00:16:53.000,39.968573,116.348803,2008-08-29,d_cl_06,d_cl_04,d_cl_06-d_cl_04
10,103,2008-08-31 05:40:24.000,39.947662,116.369545,2008-08-31,d_cl_04,d_cl_03,d_cl_04-d_cl_03
11,103,2008-09-02 04:55:34.000,39.960560,116.348837,2008-09-02,d_cl_03,d_cl_06,d_cl_03-d_cl_06
12,103,2008-09-02 10:32:41.000,39.966963,116.347103,2008-09-02,d_cl_06,d_cl_05,d_cl_06-d_cl_05
13,103,2008-09-02 10:41:40.000,39.945865,116.349897,2008-09-02,d_cl_05,d_cl_00,d_cl_05-d_cl_00
14,103,2008-09-04 09:12:52.000,39.930290,116.298360,2008-09-04,d_cl_00,d_cl_05,d_cl_00-d_cl_05
15,103,2008-09-05 04:53:16.000,39.947073,116.350368,2008-09-05,d_cl_05,d_cl_03,d_cl_05-d_cl_03
16,103,2008-09-05 04:58:02.000,39.960688,116.348893,2008-09-05,d_cl_03,d_cl_06,d_cl_03-d_cl_06
17,103,2008-09-05 09:49:48.000,39.965632,116.347107,2008-09-05,d_cl_06,d_cl_03,d_cl_06-d_cl_03
18,103,2008-09-05 09:51:58.000,39.957508,116.347593,2008-09-05,d_cl_03,d_cl_05,d_cl_03-d_cl_05
19,103,2008-09-05 09:58:54.000,39.943590,116.350410,2008-09-05,d_cl_05,d_cl_00,d_cl_05-d_cl_00
20,103,2008-09-06 14:09:34.000,39.930978,116.297598,2008-09-06,d_cl_00,d_cl_03,d_cl_00-d_cl_03
21,103,2008-09-08 05:16:42.000,39.960682,116.348875,2008-09-08,d_cl_03,d_cl_06,d_cl_03-d_cl_06
22,103,2008-09-08 05:18:58.000,39.968508,116.348475,2008-09-08,d_cl_06,d_cl_02,d_cl_06-d_cl_02
23,103,2008-09-08 13:47:03.000,39.970920,116.301148,2008-09-08,d_cl_02,d_cl_05,d_cl_02-d_cl_05
24,103,2008-09-09 05:05:52.000,39.947055,116.350367,2008-09-09,d_cl_05,d_cl_03,d_cl_05-d_cl_03
25,103,2008-09-09 05:11:18.000,39.960513,116.348840,2008-09-09,d_cl_03,d_cl_06,d_cl_03-d_cl_06
26,103,2008-09-09 09:38:48.000,39.965512,116.347230,2008-09-09,d_cl_06,d_cl_03,d_cl_06-d_cl_03
27,103,2008-09-09 09:40:54.000,39.957310,116.348037,2008-09-09,d_cl_03,d_cl_05,d_cl_03-d_cl_05
28,103,2008-09-09 09:46:16.000,39.943578,116.350013,2008-09-09,d_cl_05,d_cl_06,d_cl_05-d_cl_06
29,103,2008-09-11 23:27:57.000,39.966212,116.350698,2008-09-11,d_cl_06,d_cl_00,d_cl_06-d_cl_00
30,103,2008-09-18 00:07:30.000,39.930335,116.298438,2008-09-18,d_cl_00,d_cl_05,d_cl_00-d_cl_05
31,103,2008-09-18 05:02:08.000,39.947020,116.350172,2008-09-18,d_cl_05,d_cl_03,d_cl_05-d_cl_03
32,103,2008-09-18 05:08:52.000,39.960420,116.348608,2008-09-18,d_cl_03,d_cl_06,d_cl_03-d_cl_06
33,103,2008-09-18 05:11:21.000,39.968482,116.348332,2008-09-18,d_cl_06,d_cl_05,d_cl_06-d_cl_05
34,103,2008-09-19 06:39:30.000,39.947052,116.350493,2008-09-19,d_cl_05,d_cl_03,d_cl_05-d_cl_03
35,103,2008-09-19 06:43:12.000,39.960692,116.349083,2008-09-19,d_cl_03,d_cl_06,d_cl_03-d_cl_06
36,103,2008-09-19 09:40:21.000,39.967437,116.347065,2008-09-19,d_cl_06,d_cl_00,d_cl_06-d_cl_00
37,103,2008-09-19 10:36:43.000,39.929830,116.297977,2008-09-19,d_cl_00,d_cl_02,d_cl_00-d_cl_02
38,103,2008-09-20 06:37:12.000,39.973975,116.300677,2008-09-20,d_cl_02,d_cl_00,d_cl_02-d_cl_00

In [26]:
for user in tqdm(geo_clusters):
    geo_clusters[user]['sta_vector'] = get_stationary_vector(geo_clusters_transit[user] )
    print('sta_vector for user {} created...'.format(user))

 68%|████████████████████████████             | 80/117 [00:00<00:00, 417.91it/s]

Shape of transitMatrix:  (12, 12)
sta_vector for user 0 created...
Shape of transitMatrix:  (5, 5)
sta_vector for user 1 created...
Shape of transitMatrix:  (8, 8)
sta_vector for user 2 created...
Shape of transitMatrix:  (13, 13)
sta_vector for user 3 created...
Shape of transitMatrix:  (7, 7)
sta_vector for user 4 created...
Shape of transitMatrix:  (2, 2)
sta_vector for user 5 created...
Shape of transitMatrix:  (4, 4)
sta_vector for user 6 created...
Shape of transitMatrix:  (3, 3)
sta_vector for user 7 created...
Shape of transitMatrix:  (7, 7)
sta_vector for user 8 created...
Shape of transitMatrix:  (2, 2)
sta_vector for user 9 created...
Shape of transitMatrix:  (35, 35)
sta_vector for user 10 created...
Shape of transitMatrix:  (15, 15)
sta_vector for user 11 created...
Shape of transitMatrix:  (6, 6)
sta_vector for user 12 created...
Shape of transitMatrix:  (13, 13)
sta_vector for user 13 created...
Shape of transitMatrix:  (24, 24)
sta_vector for user 14 created...
Shape of transitMatrix:  (9, 9)
sta_vector for user 15 created...
Shape of transitMatrix:  (12, 12)
sta_vector for user 16 created...
Shape of transitMatrix:  (16, 16)
sta_vector for user 17 created...
Shape of transitMatrix:  (10, 10)
sta_vector for user 18 created...
Shape of transitMatrix:  (5, 5)
sta_vector for user 19 created...
Shape of transitMatrix:  (2, 2)
sta_vector for user 20 created...
Shape of transitMatrix:  (26, 26)
sta_vector for user 22 created...
Shape of transitMatrix:  (4, 4)
sta_vector for user 23 created...
Shape of transitMatrix:  (18, 18)
sta_vector for user 24 created...
Shape of transitMatrix:  (22, 22)
sta_vector for user 25 created...
Shape of transitMatrix:  (6, 6)
sta_vector for user 26 created...
Shape of transitMatrix:  (22, 22)
sta_vector for user 28 created...
Shape of transitMatrix:  (16, 16)
sta_vector for user 29 created...
Shape of transitMatrix:  (11, 11)
sta_vector for user 30 created...
Shape of transitMatrix:  (6, 6)
sta_vector for user 32 created...
Shape of transitMatrix:  (6, 6)
sta_vector for user 33 created...
Shape of transitMatrix:  (20, 20)
sta_vector for user 34 created...
Shape of transitMatrix:  (5, 5)
sta_vector for user 35 created...
Shape of transitMatrix:  (3, 3)
sta_vector for user 36 created...
Shape of transitMatrix:  (18, 18)
sta_vector for user 37 created...
Shape of transitMatrix:  (14, 14)
sta_vector for user 38 created...
Shape of transitMatrix:  (10, 10)
sta_vector for user 39 created...
Shape of transitMatrix:  (8, 8)
sta_vector for user 40 created...
Shape of transitMatrix:  (11, 11)
sta_vector for user 41 created...
Shape of transitMatrix:  (37, 37)
sta_vector for user 42 created...
Shape of transitMatrix:  (16, 16)
sta_vector for user 43 created...
Shape of transitMatrix:  (18, 18)
sta_vector for user 44 created...
Shape of transitMatrix:  (6, 6)
sta_vector for user 46 created...
Shape of transitMatrix:  (18, 18)
sta_vector for user 50 created...
Shape of transitMatrix:  (6, 6)
sta_vector for user 51 created...
Shape of transitMatrix:  (13, 13)
sta_vector for user 52 created...
Shape of transitMatrix:  (3, 3)
sta_vector for user 55 created...
Shape of transitMatrix:  (3, 3)
sta_vector for user 56 created...
Shape of transitMatrix:  (2, 2)
sta_vector for user 57 created...
Shape of transitMatrix:  (9, 9)
sta_vector for user 58 created...
Shape of transitMatrix:  (6, 6)
sta_vector for user 61 created...
Shape of transitMatrix:  (19, 19)
sta_vector for user 62 created...
Shape of transitMatrix:  (4, 4)
sta_vector for user 63 created...
Shape of transitMatrix:  (10, 10)
sta_vector for user 64 created...
Shape of transitMatrix:  (7, 7)
sta_vector for user 65 created...
Shape of transitMatrix:  (9, 9)
sta_vector for user 66 created...
Shape of transitMatrix:  (9, 9)
sta_vector for user 67 created...
Shape of transitMatrix:  (20, 20)
sta_vector for user 68 created...
Shape of transitMatrix:  (5, 5)
sta_vector for user 71 created...
Shape of transitMatrix:  (4, 4)
sta_vector for user 73 created...
Shape of transitMatrix:  (7, 7)
sta_vector for user 74 created...
Shape of transitMatrix:  (4, 4)
sta_vector for user 75 created...
Shape of transitMatrix:  (3, 3)
sta_vector for user 78 created...
Shape of transitMatrix:  (11, 11)
sta_vector for user 79 created...
Shape of transitMatrix:  (6, 6)
sta_vector for user 81 created...
Shape of transitMatrix:  (17, 17)
sta_vector for user 82 created...
Shape of transitMatrix:  (3, 3)
sta_vector for user 83 created...
Shape of transitMatrix:  (33, 33)
sta_vector for user 84 created...
Shape of transitMatrix:  (31, 31)
sta_vector for user 85 created...
Shape of transitMatrix:  (12, 12)
sta_vector for user 88 created...
Shape of transitMatrix:  (14, 14)
sta_vector for user 89 created...
Shape of transitMatrix:  (8, 8)
sta_vector for user 91 created...
Shape of transitMatrix:  (10, 10)
sta_vector for user 92 created...
Shape of transitMatrix:  (4, 4)
sta_vector for user 93 created...
Shape of transitMatrix:  (2, 2)
sta_vector for user 94 created...
Shape of transitMatrix:  (5, 5)
sta_vector for user 95 created...
Shape of transitMatrix:  (10, 10)
sta_vector for user 96 created...
Shape of transitMatrix:  (4, 4)
sta_vector for user 99 created...
Shape of transitMatrix:  (8, 8)
sta_vector for user 101 created...
Shape of transitMatrix:  (7, 7)
sta_vector for user 102 created...
Shape of transitMatrix:  (7, 7)

ValueError: Length of values (7) does not match length of index (8)

In [ ]:
geo_clusters[0]

In [ ]:
def get_mmc_distances_matrix(mmc_list_a, mmc_list_b):
    '''Get MMC Distances Matrix
    
    It estimates the distances of the elements of two lists of MMCs.
    Afterwards, it stores the distances in a matrix.
    
    Parameters
    ----------
        mmc_list_a (list): List of MMCs A
        mmc_list_b (list): List of MMCs B

    Returns
    -------
        distance_matrix (np.array): Matrix with all the distances calculated.
    
    '''
    n = len(mmc_list_a)
    m = len(mmc_list_b)
    distance_matrix = np.zeros((n, m))
    for i, mmc_i in enumerate(mmc_list_a):
        for j, mmc_j in enumerate(mmc_list_b):
            distance = get_mean_distance_bw_clusters(mmc_i, mmc_j)
            distance_matrix[i,j] = round(distance,4)
            
    return distance_matrix

In [ ]:
geo_clusters[0]

In [ ]:
dm  = get_mmc_distances_matrix(list(geo_clusters.values()),list(geo_clusters.values()))

In [ ]:
# Extraction of clusters 
geo_clusters = {}
geo_clusters_img = {}
geo_clusters_transit = {}
geo_clusters_transit_df = {}
users = sorted(data['user'].unique())
for user in tqdm(users):

    geo = data[data['user']==user].reset_index(drop=True).copy()

    clusters, m, transit_matrix, transit_df = get_mmc_clusters_stavectors(geo)

    geo_clusters[user] = clusters
    geo_clusters_img[user] = m
    geo_clusters_transit[user] = transit_matrix
    geo_clusters_transit_df[user] = transit_df

In [ ]:
# Creating a Trajectory DF to analyze the impact of filtering by velocity
trgeo = skmob.TrajDataFrame(
    data[data['user']==10], 
    datetime='hour',
    user_id='user'
)

In [ ]:
# 1. Noise Filtering
print(trgeo.shape)
trgeo = filtering.filter(trgeo, max_speed_kmh=0.1)
print(trgeo.shape)

In [ ]:
for user in data[data['user']<10]['user'].unique():
    trgeo = skmob.TrajDataFrame(data[data['user']==user], datetime='hour',user_id='user')
    val1 = trgeo.shape[0]
    trgeo = filtering.filter(trgeo, max_speed_kmh=0.2)
    val2 = trgeo.shape[0]
    print('Puntos reducidos de {:,} a {:,}'.format(val1,val2))

In [ ]:
3305 / 108607

In [ ]:
print('a')

In [ ]:
aux_dict = {}
aux_dict['user'] = []
aux_dict['number_points'] = []
aux_dict['min_tmstmp'] = []
aux_dict['max_tmstmp'] = []
for usr in data['user'].unique():
    aux_dict['user'].append(usr)
    aux_dict['number_points'].append(data[data['user']==usr].shape[0])
    aux_dict['min_tmstmp'].append(data[data['user']==usr]['hour'].min())
    aux_dict['max_tmstmp'].append(data[data['user']==usr]['hour'].max())
aux_dict = pd.DataFrame(aux_dict)
aux_dict['duracion'] = (aux_dict['max_tmstmp'] - aux_dict['min_tmstmp']).dt.total_seconds()/ 60
aux_dict.sort_values(by='duracion', ascending=True, inplace=True)
display(aux_dict)

In [ ]:
fig,ax = plt.subplots(figsize=(6,4))
ax.set_xscale('log')
plt.scatter(aux_dict['duracion'].values, aux_dict['number_points'].values, color='r')
plt.plot(aux_dict['duracion'].values, aux_dict['number_points'].values , color='r', linestyle='--')
"""
plt.axvline(60,0)
plt.text(60,0, 'H')
plt.axvline(60*24,0)
plt.text(60*24,0, 'D')
"""
plt.axvline(60*24*7,0)
plt.text(60*24*7,0, 'S')
plt.axvline(60*24*7*30,0)
plt.text(60*24*7*30,0, 'M')
ax.set_xlabel('Tiempo en minutos - log')
ax.set_ylabel('Cantidad de puntos')
#plt.axvline(60*24*7*30*365,0)
#plt.text(60*24*7*30*365,0, 'Y')
#plt.show()

In [ ]:
fig,ax = plt.subplots(figsize=(12,6))
#ax.set_xscale('log')
plt.scatter(aux_dict['duracion'].values, aux_dict['number_points'].values)
plt.plot(aux_dict['duracion'].values, aux_dict['number_points'].values )

#plt.show()

In [ ]:
data['seconds_diff'].nlargest(30)

-------|-----|-----------|---------|

--xxXx--|--xX-x--|--x--xX--|

In [ ]:
data['distance_to_last_km'].nlargest(30)